<div id="snapin_manage_ticket">

  <% 
    var sServerURL = "" //$ss.psCustom.helper.GetSyncURL();
    var sUrl = _config.GetConfigValue("snapin_manage_ticket", "paremedy_chat_url", "");
    var sSupportMessagesUrl = $ss.agentcore.dal.config.GetConfigValue("preconfigured_snapin_url", "snapin_ticket") + "?pagetoLoad=create";
    var sSupportTicketsUrl = $ss.agentcore.dal.config.GetConfigValue("preconfigured_snapin_url", "snapin_ticket") + "?pagetoLoad=reload";
    %>
  <div class="cell-header"><span class="tab-menu-header"><%= $ss.agentcore.utils.LocalXLate("snapin_manage_ticket","titleSnapin")%></span></div>
  <br/>
  <div class="panel-parent-header-ss-d tickets_margin10">
    <i><%= $ss.agentcore.utils.LocalXLate("snapin_manage_ticket","notes")%></i><br><br>
  </div>
  <div class="table-heading panel-widget-body-ss tickets_margin10 tickets_width">
       <span class="tickets_margin10"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_createticket")%></span>
  </div>
  <div id="tickets" class="tickets_margin10" >
    <div class="panel panel-default panel-widget-body-ss" >
      <div id="divscrollarea" class="tickets_divscrollarea_height">
        <table width="695px" class="table borderless">
          <tr class="odd-row">
            <td class="col-sm-3"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_category")%><font color="red">*</font></td>
            <td>
              <select id="Category" name="Category" class="ticket_createform_dropdown">
                <option value="-1"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_selectcategory")%></option>
                <option value="2"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_internet")%></option>
                <option value="1"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_database")%></option>
              </select>
            </td>
          </tr>
          <tr class="even-row">
            <td><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_type")%><font color="red">*</font></td>
            <td>
              <select id="Type" name="Type" class="ticket_createform_dropdown">
                <option value="-1"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_selecttype")%></option>
                <option value="1"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_backup")%></option>
                <option value="2"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_connectivity")%></option>
                <option value="3"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_ipa")%></option>
                <option value="4"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_access")%></option>
              </select>
            </td>
          </tr>
          <tr class="odd-row">
            <td><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_item")%><font color="red">*</font></td>
            <td>
              <select id="Item" name="Item" class="ticket_createform_dropdown">
                <option value="-1"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_selectitem")%></option>
                <option value="1"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_accessinternet")%></option>
                <option value="2"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_pagenotloading")%></option>
                <option value="3"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_login")%></option>
                <option value="4"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_backupschedule")%></option>
                <option value="5"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_backup")%></option>
                <option value="6"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_slowconn")%></option>
                <option value="7"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_errormsg")%></option>
                <option value="8"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_dropdown_dbconn")%></option>
              </select>
            </td>
          </tr>
          <tr class="even-row">
            <td><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_problemtitle")%><font color="red">*</font></td>
            <td>
              <input type="text" id="short_title" class="ticket_createform_inputfields"/>
            </td>
          </tr>
          <tr>
            <td><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_problemdesc")%></td>
            <td> <textarea rows="5" class="txtActivityLog ticket_createform_inputfields"  id="short_description"></textarea> 
            </td>
          </tr>
          <!-- <tr><td>Category<br/>
            <select id="Category" name="Category" > 
                <option value="-1">---Select Category---</option>
                <option value="2">Internet</option>
                <option value="1">Database</option>
            </select>
            </td>
            <td>Type<br />
            <select id="Type" name="Type" >
                <option value="-1">---Select Type---</option>
                <option value="1">Back Up</option>
                <option value="2">Connectivity</option>
                <option value="3">Identity Portal access</option>
                <option value="4">Access</option>
            </select>
            </td>
            <td>Item<br />
            <select id="Item" name="Item">
                <option value="-1">---Select Item---</option>
                <option value="1">Unable to access internet</option>
                <option value="2">Home page not loading properly</option>
                <option value="3">Unable to login</option>
                <option value="4">Change existing Backup schedule</option>
                <option value="5">Create BackUp</option>
                <option value="6">Slow Connection</option>
                <option value="7">Specific Error Messages</option>
                <option value="8">Unable to connect to Database</option>
            </select>
            </td>
            </tr>
            
            <tr><td>Short Description<br/>
            <textarea class="form-control txtActivityLog" id="txtshortdescription"></textarea> 
            </td>
            
            <td>Summary<br/>
            <textarea class="form-control txtActivityLog"  id="Textarea1"></textarea> 
            </td>
            
            <td>Activity Log<br/>
            <textarea class="form-control txtActivityLog"  id="Textarea2"></textarea> 
            </td>
            
            </tr>    -->   
        </table>
        <div id="createMsg">
          <%
            var bNetworkStatus = $ss.helper.IsConnectionAvailable();
            if(!bNetworkStatus){
              %>
                <span class='error-msg'>
                  <%= $ss.agentcore.utils.LocalXLate("snapin_manage_ticket","sa_tck_notconnected")%>
                </span>
              <%
            }
            
          %>
        </div>
      </div>
    </div>
    <div class="tickets_padding10">
      <a href="#" id="create" class="btn btn-primary-ss btn-sm navigate createTicket pull-right"><%= $ss.agentcore.utils.LocalXLate("snapin_manage_ticket","snp_tickets_create_tooltip") %></a>
    </div>
    <div>
      <a href="#" id="scriptActionViewAllTickets" url="<%= sSupportTicketsUrl%>" class="btn btn-primary-ss btn-sm navigate pull-right"><%= $ss.agentcore.utils.LocalXLate("snapin_manage_ticket","view_all") %></a>
    </div>
  </div>
</div>
</div>