<% var oTicket = data["tickets"]; %>
<div id="snapin_manage_ticket">
  <div class="cell-header"><span class="tab-menu-header"><%= $ss.agentcore.utils.LocalXLate("snapin_manage_ticket","titleSnapin")%></span></div>
  <br/>
   <div class="panel-parent-header-ss-d tickets_margin10">
    <i><%= _utils.LocalXLate("snapin_manage_ticket","notes")%></i><br><br>
  </div>
  <div class="table-heading panel-widget-body-ss tickets_margin10 tickets_width">
       <span class="tickets_margin10"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_updateticket")%></span>
  </div>
  <div id="tickets" class="tickets_margin10">
    <div class="panel panel-default panel-widget-body-ss" >
      <div id="divscrollarea">
        <table cellpadding="0" cellspacing="0">
      <tr>
        <td class="content" align="left" valign="top">
          <table cellpadding="0" cellspacing="0" border="0" class="listTableHeader">
            <tr><td class="ticketdetails">&nbsp;</td></tr>
          </table>
          <div class="panel panel-default" >
            <div id="divscrollarea" class="tickets_divscrollarea_height">
              <table cellpadding="0" cellspacing="0" height="300px" width="695px" class="listTable">
                <tr valign="top" class="tickets" >
                  <td class="panel-widget-body-ss detail detailnone">
                    <div>
                      <%if(oTicket.disp == _utils.LocalXLate("snapin_manage_ticket","processing")){%>
                          <span class="panel-widget-body-ss clItemTitle">
                          <p id="loadarea"><img id="load" src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif" width="16" height="16" alt="" border="0" align="absmiddle"/><%=oTicket.disp%></p>
                          </span>
                      <%}else {
                          var imgload = document.getElementById("load");
                          imgload.parentNode.removeChild(imgload);
                          if(oTicket.disp === _utils.LocalXLate("snapin_manage_ticket", "notickets")){
                            document.getElementById("loadarea").innerHTML = "<span class='error-msg'>" + _utils.LocalXLate("snapin_manage_ticket", "notickets") + "</span>";
                          }else{
                            document.getElementById("loadarea").innerHTML = "<span class='error-msg'>" + _utils.LocalXLate("snapin_manage_ticket", "sa_tck_notconnected") + "</span>";
                         }
                        }
                      %>
                    </div><br />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td class="RightEnd"></td>
      </tr>
    </table>
  </div>
</div>