<% 
  var oTicket = data["tickets"];
  var sLoadingGifPath = $ss.GetLayoutSkinPath() + "\\icons\\loader.gif"
%>

<div id="snapin_manage_ticket" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">   
  <div class="panel-default-ss row-box-shadow">      
    <div class="panel-heading panel-dashboard-header-ss">
      <span class="icon-tags"></span> 
      <span><%= _utils.LocalXLate("snapin_manage_ticket","titleSnapin")%></span>&nbsp;<span class="dashboardWidgetCount">(0)</span>
      <span class="pull-right navigate" disabled><i class="fa icon-plus"></i></span>
      <a href="#" class="manageTicketsRefresh" data-tooltip title="%LOCG:glb_lbl_refresh_tooltip%"><i class="ticketsRefresh pull-right fa fa-refresh"></i></a>
    </div>
    <div id="tickets">
      <div class="panel-widget-body-ss tickets_text_align">
        <image src="<%= sLoadingGifPath %>" ></image>
        <br>
        <span><%=oTicket.disp%></span>
      </div>
    </div>
  </div> 
</div>