<%
  var oTicket = data["tickets"];
  var TotalActiveTcks = 0;
  var TotalTickets1 = 0;
  var TotalTickets = 0;
  if(oTicket.disp == undefined) {
    TotalActiveTcks = oTicket.length;
    TotalTickets1 = oTicket[oTicket.length-1].TotalTickets;
    TotalTickets = TotalTickets1;
  } else {
    TotalTickets1 = oTicket.disp;
  }
  
  var bReverse = _config.GetConfigValue("snapin_manage_ticket", "display_ticket_list_in_reverse");
  if(bReverse.toLowerCase() == "true" && oTicket.length > 0){
    oTicket = oTicket.reverse();
  }
  
  var sTotalTcks = _utils.LocalXLate("snapin_manage_ticket", "sa_tck_widget_total_txt");
  var sActiveTcks = _utils.LocalXLate("snapin_manage_ticket", "sa_tck_widget_active_txt");
  var sSupportMessagesUrl = $ss.agentcore.dal.config.GetConfigValue("preconfigured_snapin_url", "snapin_ticket") + "?pagetoLoad=refreshlist";
%>
<div id="snapin_manage_ticket" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
  <div class="panel-default-ss row-box-shadow">
    <div class="panel-heading panel-dashboard-header-ss">
      <span class="icon-tags"></span>
      <span><%= _utils.LocalXLate("snapin_manage_ticket","titleSnapin")%></span>&nbsp;<span class="dashboardWidgetCount">(<%=TotalTickets%>)</span>
      <a title="%LOCL:snp_tickets_create_tooltip%" class="pull-right navigate" href="#" url="<%= sSupportMessagesUrl %>&create=yes" ><i class="fa icon-plus"></i></a>
      <a href="#" class="manageTicketsRefresh" data-tooltip title="%LOCG:glb_lbl_refresh_tooltip%"><i class="ticketsRefresh pull-right fa fa-refresh"></i></a>
    </div>
    <div class="panel-widget-body-ss" id="scroll">
      <%if(oTicket.disp== _utils.LocalXLate("snapin_manage_ticket","processingWidget")){%>
        <span class="panel-widget-body-ss">
          <p>
            <img style="margin-left:5px;" src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif" width="16" height="16" alt="" border="0" class="profile-pic img-circle"/><%=oTicket.disp%>jeet
          </p>
        </span>
    <%}else if(oTicket.disp == _utils.LocalXLate("snapin_manage_ticket", "notickets") || oTicket.disp == _utils.LocalXLate("snapin_manage_ticket", "servererror")){%>
        <div class="WidgetNoContentDiv">
          <span class="fa icon-tags WidgetNoContentIcon" style="font-size:70pt;"></span><br />
          <span class="WidgetNoContentText"><%=oTicket.disp%></span>
        </div>
    <%}else{ var rowcount = 0;%>
        <div class="container tickets_width100" id="snapin_ticket_container">
          <%for(var i =0; i < oTicket.length; i++) {
              rowcount = rowcount + 1;
              if(rowcount < 4){ %>
                <div class="row dashboardrow">
                  <% if((i%2)==0){ %>
                    <span class="col-xs-2 icon-user dashboardcontenticon"></span>
                  <%}else{ %>
                    <span class="col-xs-2 icon-workstation dashboardcontenticon"></span>
                  <%} %>
                  <span class="col-xs-4 dashboardcontenttitle" align="left"><a class="navigate atitle" href="#" url="<%= sSupportMessagesUrl %>&RequestID=<%=oTicket[i].Request_ID%>"><%=oTicket[i].Request_ID%></a></span>
                  <span class="col-xs-3 dashboardcontenttitle ellipsis" align="left"><%=oTicket[i].Title%></span>
                </div>
            <%}%>
          <%}%>
          <%if(rowcount >= 4){
            if(oTicket.length > 3){%>
              <a hidefocus="true" href="#" class="more navigate" url="<%= _config.GetConfigValue("preconfigured_snapin_url", "snapin_ticket", "/Ticketmanager") %>" data-tooltip title="%LOCL:snp_tickets_more_txt%">
              <span  class="pull-right panel-widget-more-ss"><i class="fa fa-chevron-circle-down"></i></span>
          <%}
          }%>
        </div>
      <%}%>
    </div>
  </div>
</div>