<div id="snapin_manage_ticket">
  <%
    var sServerURL = "" //$ss.psCustom.helper.GetSyncURL();
    var sUrl = _config.GetConfigValue("snapin_manage_ticket", "paremedy_chat_url", "");
    var sSupportMessagesUrl = $ss.agentcore.dal.config.GetConfigValue("preconfigured_snapin_url", "snapin_ticket") + "?pagetoLoad=refreshlist";
    var aTickets = data["tickets"];
    
    function trimDescription(str) {
      var sText;
      var descrp = str;
      sText = descrp.split("<BR>");
      sText = sText[0];
      if(sText.length >50)  sText=sText.slice(0,50);
      return sText;
    }
    function trimChatTranscript(str) {
      var sText = str;
      var val=sText.indexOf("-------ChatTranscriptSTART");
      if(val!= -1){
        var tempdesc=sText.split("-------ChatTranscriptSTART");
        sText = tempdesc[0];
      }
      return sText;
    }
  %>
  <script>
    function changeBackGroundColor(){
      var element = document.getElementById("content");
      element.style.backgroundColor = "#fff";
    }
  </script>
  <div class="cell-header"><span class="tab-menu-header"><%= $ss.agentcore.utils.LocalXLate("snapin_manage_ticket","titleSnapin")%></span></div>
  <br/>
  <div class="panel-parent-header-ss-d tickets_margin10">
    <i><%= _utils.LocalXLate("snapin_manage_ticket","notes")%></i><br><br>
  </div>
  <div class="table-heading panel-widget-body-ss tickets_margin10 tickets_width">
    <span class="tickets_margin10"><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_ticketdetails")%></span>
  </div>
  <div id="tickets" class="tickets_margin10">
    <div class="panel panel-default panel-widget-body-ss" >
      <div id="divscrollarea" class="tickets_divscrollarea_height">
        <table cellpadding="0" cellspacing="0" width="695px"  border="0" class="table table-hover" >
          <thead>
            <tr class="tickets_subheader">
              <th><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_id")%></th>
              <th><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_status")%></th>
              <th><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_assignedto")%></th>
              <th><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_details")%></th>
            </tr>
          </thead>
          <tbody>
          <%for(var i =0; i <= aTickets.length-1; i++) {
              if((i%2)==0){ %>
                <tr valign="top">
              <%} else{ %>
                <tr valign="top">
              <%} %>
                  <td><%=aTickets[i].Request_ID%></td>
                  <td  valign="top"><%=aTickets[i].Status%></td>
                  <td  valign="top"><%=aTickets[i].Assignee%></td>
                  <td>
                    <div class="manageButton">
                      <span class="clItemTitle">
                        <%var shortdesc1 = trimDescription(aTickets[i].Title);
                        var shortdesc = trimChatTranscript(shortdesc1);%>
                        <%=shortdesc%>
                      </span>
                    </div>
                  </td>
                </tr>
                <tr class="display display_<%=aTickets[i].Request_ID%>" id="display_<%=aTickets[i].Request_ID%>" >
                  <td class="detail" colspan="4" id="content" onmouseover="changeBackGroundColor();" >   
                    <p class="clShort">
                      <div><span class="col-sm-3"><strong><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_assignedto")%> :</strong></span><%=aTickets[i].Assignee%> &nbsp;</div>
                      <div><span class="col-sm-3"><strong><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_type")%> : </strong></span><%=aTickets[i].Type%> &nbsp;</div>
                      <div><span class="col-sm-3"><strong><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_item")%> : </strong></span><%=aTickets[i].Item%> &nbsp;</div>
                      <div><span class="col-sm-3"><strong><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_createddate")%> : </strong></span><%=aTickets[i].Create_Date%> &nbsp;</div>
                      <div><span class="col-sm-3"><strong><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_modifieddate")%> : </strong></span><%=aTickets[i].Modified_Date%> &nbsp;</div>
                      <div><span class="col-sm-3"><strong><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_description")%> : </strong></span><div class="logdata1"><span><%=aTickets[i].Short_Description%> &nbsp;</span></div></div>
                      <div></div>
                      <div><span class="col-sm-3"><strong><%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_activitylog")%> : </strong></span></div>
                      <div class="panel-body col-sm-3 tickets_activitylog" id="lblactvititylog_<%=aTickets[i].Request_ID%>"><%=aTickets[i].ActivityLog%> &nbsp;</div>
                      <div class="logdata1"><textarea class="form-control txtActivityLog" rows="3" id="activitylog_<%=aTickets[i].Request_ID%>"></textarea> </div>
                      <br />
                      <div><input type="button" class="btn btn-primary-ss btn-sm UpdateActivity" role="<%=aTickets[i].Request_ID%>" pagename="viewticket" value="<%=_utils.LocalXLate("snapin_manage_ticket","sa_tck_updateactivity")%>"/>
                      <span id="activityStatus_<%=aTickets[i].Request_ID%>"></span></div>
                    </p><br/>
                  </td>
                </tr>
          <%}%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tickets_padding10">
      <a href="#" id="scriptActionViewAllTickets" url="<%= sSupportMessagesUrl%>" class="btn btn-primary-ss btn-sm navigate pull-right"><%= _utils.LocalXLate("snapin_manage_ticket","view_all") %></a>
    </div>
  </div>
</div>