
#messagesarea #scrollmessagesarea {
  height:430px;
}

#messagesarea #scrollmessagesarea #messagelistdisplay,
.detailmsgview{
  height:430px;
  overflow-y:auto;
  background-color:#fff;
}

#messagesarea #scrollmessagesarea th {
  text-align:left;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}

#messagesarea #scrollmessagesarea td {
  text-align:left;
}

#messagesarea #scrollmessagesarea td h2 {
  margin:0px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#messagesarea #scrollmessagesarea td p {
  margin:0px;
  padding-bottom:4px;
}
#messagesarea #scrollmessagesarea td ol {
  margin:0px;
  list-style-position: inside;
}

#messagesarea #scrollmessagesarea td li {
  padding-bottom:6px;
}

#messagesarea #scrollmessagesarea td .navigate {
  display:inline-block;
  background-position: left 3px;
  background-repeat: no-repeat;
  padding-left:8px;
}

#messagesarea #scrollmessagesarea td .navigate:hover {
  text-decoration:none;
}

#messagesarea #messagebuttonsarea {
  margin-top:4px;
  margin-left:0px;
  height:100px;
  text-align:right;
}
#messagesarea #messagebuttonsarea .pages .numbers {
  float:right;
  background-color: #006da1;
  width:14px;
  height:18px;
  margin-right:2px;
  text-align:center;
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
}

/* 30 December 2008 */
#messagesarea #messagebuttonsarea .pages .numbers:hover {
  /*on hover the cursor should not highlight*/
  cursor:default;
}

/* 15 January 2009 */
#messagesarea #messagebuttonsarea .pages .numbersdisabled {
  float:right;
  background-color: #006da1;
  width:14px;
  height:18px;
  margin-right:2px;
  text-align:center;
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
  filter: alpha(opacity=40);
  cursor:default;
}

/* 30 December 2008 */
#messagesarea #messagebuttonsarea .pages .numbersCK {
  float:right;
  background-color: #003d5b;
  width:14px;
  height:18px;
  margin-right:2px;
  text-align:center;
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
}
#messagesarea #messagebuttonsarea .pages .next {
  float:right;
  background-color: #006da1;
  background-image: url(../images/page_next.gif);
  background-repeat: no-repeat;
  background-position: left center;
  width:14px;
  height:18px;
  cursor:pointer;
}

/* 30 December 2008 */
#messagesarea #messagebuttonsarea .pages .next:hover {
  background-color: #003d5b;
}

/* 15 january 2009 */
#messagesarea #messagebuttonsarea .pages .nextdisabled {
  float:right;
  background-color: #006da1;
  background-image: url(../images/page_next.gif);
  background-repeat: no-repeat;
  background-position: left center;
  width:14px;
  height:18px;
  filter: alpha(opacity=40);
  cursor:default;
}
#messagesarea #messagebuttonsarea .pages .previous {
  float:right;
  background-color: #006da1;
  background-image: url(../images/page_previous.gif);
  background-repeat: no-repeat;
  background-position: left center;
  width:14px;
  height:18px;
  margin-right:2px;
  cursor: pointer;
}

/* 30 December 2008 */
#messagesarea #messagebuttonsarea .pages .previous:hover {
  background-color: #003d5b;
}

/* 15 january 2009 */
#messagesarea #messagebuttonsarea .pages .previousdisabled {
  float:right;
  background-color: #006da1;
  background-image: url(../images/page_previous.gif);
  background-repeat: no-repeat;
  background-position: left top;
  width:14px;
  height:18px;
  margin-right:2px;
  filter: alpha(opacity=40);
  cursor:default;
}

#messagesarea #messagebuttonsarea #butoncolumnright {
  margin-top:25px;
  float:right;
  height:24px;
  width:595px;
}


#messagesarea #messagebuttonsarea #pagenumbersarea {
  float:left;
  height:24px;
  width:104px;
}

#messagesarea #messageCounter th {
  padding-left:15px !important;
  
}
#messagesarea  .button {
  overflow: hidden; /*just a place holder to apply this class*/
}

#messagesarea #messagebuttonsarea #butoncolumnright .statusoffline {
  background-image: url(../images/ico_error_small.gif);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left:20px;
  color:#ae4300;
  padding-top:2px;
  padding-bottom:4px;
  padding-right:8px;
  white-space:nowrap;
  margin-left:3px;
  margin-right:3px;
}