﻿.font-primary{
  color:#337ab7;
}

.small-link-Font{
  font-size: 11px;
}

.large-text-Font{
  font-size: 18px;
}

.font-size-14{
  font-size: 14px;
}

.scroll-auto{
  overflow-y:auto;
}

.row-box-shadow{
  box-shadow:2px 2px 0px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0) inset;
  height:100%;
}

.error-msg{
  color: #CC0033;
}

.success-msg{
  color: green;
}

/* For Filter links : Start */
.cell-header{
  background-color:#1284c7;
  height:40px;
  font-size:14px;
  font-weight:bold;
  padding: 10px 0px 5px 0px;
}

.tab-menu-header {
  color:#fff;
  padding: 22px 10px 9px 10px;
}

.tab-menu-filters {
  color:#fff;
  padding: 22px 10px 9px 10px;
}

.tab-menu-filters:hover,
.tab-menu-filters-selected{
  color:#fff !important;
  background-color:#064963;
  padding: 22px 10px 12px 10px;
  text-decoration:none !important;
  font-weight:bold;
}

.dropdown-filters{
  color:#fff;
  padding: 22px 10px 12px 10px;
}

.dropdown-filters:hover,
.dropdown-filters-selected{
  color:#fff !important;
  background-color:#064963;
  padding: 22px 10px 12px 10px !important;
  text-decoration:none !important;
  font-weight:bold;
}

.dropdown-menu-background {
  background-color:#d3d3d3;  
}

.dropdown-menu-li{
  border-bottom:1px solid #fff!important;
}
/* For Filter links : End */

/* For chat-popover */
.popover {
  background: #f2f2f2;
  right:5px !important;
  max-width: 48%;
  min-width: 30%;
  height: 530px;
  font-family: Arial, Helvetica, sans-serif;
}
.popover.bottom .arrow:after {
  border-bottom-color: #f2f2f2;
}
#chat_container{
  height: 500px;
  float:left;
}
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  width: 551px !important;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: bold;
  color: #000;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

#logo{
  padding-top:10px;
}

.col-eq-width-height{
  height:70vh;
}

#container{
  display: block;
  position: relative;
  margin-top: 32px;
  width:513px !important
}

.showClearIcon {
  display: block;
  float:right;
  margin-top:-30px;
  margin-right :20px;
  color :black;
  z-index:2;
  position :relative;
  font-size:1.5em;
  cursor:pointer;
}

.hideClearIcon {
  display: none;
  float:right;
  margin-top:-30px;
  margin-right :20px;
  color :black;
  z-index:2;
  position :relative;
  font-size:1.2em;
  cursor:pointer;
}

#search-text {
  padding-right:40px;
  border-radius:0px;
}

#idClearIcon :: -webkit-search-cancel-button{
  -webkit-appearance :none !important;
}

#idClearIcon :: -ms-clear{
  -webkit-appearance :none !important;
}

label{
  font-weight:normal !important;
}

/* For Content Table Body : Start */
/* These classes are replicated in snapins/snapin_sysinfo/skins/default/en/css/sysinfo_media_style.css as this is getting used for Saved html file of System Information */
.table-heading {
  background-color:#969290;
  color:#FFF;
  text-align:left;
  font-weight:bold;
  height:30px;
  padding-top:6px;
}

.odd-row {
  height:30px;
  border-bottom:1px solid #ccc;
  padding-top:6px;
}

.even-row {
  height:30px;
  border-bottom:1px solid #ccc;
  padding-top:6px;
}
/* For Content Table Body : End */

.dashboardWidgetCount{
  color:red;
}

.dashboardrow{
  border-bottom: 1px solid #ccc;
  height:41px;
}

.dashboardrow:hover{
  background-color:#e6e6e6;
}

.dashboardcontenticon{
  padding-top:1px;
  font-size:2em;
  color:#1284c7;
}

.dashboardcontenttitle{
  padding-top:10px;
  padding-left:2px;
  text-align:left;
  height:40px;
  align:left;
}

.WidgetNoContentDiv{
	text-align:center;
}

.WidgetNoContentIcon{
  color:#B3B3B3;
  padding-top:5%;
}

.WidgetNoContentText{
  color:#999999;
}