@charset "utf-8";
/* CSS Document */

#snapin_mdetect #frcolumnmain {
	float:left;
	width:500px;
	height:341px;
	overflow:hidden;
	color:#646464;
	padding-left:20px;
	
}



#snapin_mdetect #frcolumnmain #snapin_mdetect_content{
  height:300px;
  overflow:auto;
  padding-left:2px;
}

#snapin_mdetect #frcolumnmain form {
	margin:0px;
	padding:0px;
}

#snapin_mdetect #frcolumnmain .popupfirstrun {
	position:relative;
	margin-left:0px;
	margin-top:0px;
	background-color:#f2f5d3;
	border: 3px solid #bdcc2d;
	width:475px;
	padding:1px;
	color:#000000;
}

#snapin_mdetect #frcolumnmain .popupfirstrun .popupsuccess {
	margin:0px;
	background-image: url(../images/ico_tick.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left:20px;
	padding-top:0px;
	padding-bottom:6px;
}

#snapin_mdetect #frcolumnmain .popupfirstrun .close {
	margin:0px;
	padding-top:4px;
	padding-bottom:0px;
}

#snapin_mdetect #frcolumnmain .bullink {
	display:inline-block;
	color:#595959;
	padding-bottom:6px;
	padding-left:13px;
	text-decoration: underline;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
}

#snapin_mdetect #frcolumnmain .bullink:hover {
	color:#000;
	text-decoration: none;
}

#snapin_mdetect #frcolumnmain h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #0a0e10;
	text-decoration: none;
	background-image: url(../images/h1_bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin:0px;
	padding-bottom:6px;
}

#snapin_mdetect #frcolumnmain p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #595959;
	text-decoration: none;
	margin:0px;
	padding-bottom:6px;
	padding-top:4px;
}


#snapin_mdetect #frcolumnmain .frscrollarea {
	background-color: #fbfbfb;
	border: 1px solid #d1d9dd;
	height:220px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#595959;
}

#snapin_mdetect #frcolumnmain .frscrollarea p {
	color:#595959;
}

#snapin_mdetect #frcolumnmain .frscrollarea ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_mdetect #frcolumnmain .frscrollarea ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}

#snapin_mdetect #frcolumnmain #cl_md_none_tablelist .clsModemNicName
{
	padding-left:2px;
}






#snapin_mdetect #frcolumnmain .frscrollarea2 {
	background-color: #fbfbfb;
	border: 1px solid #d2d9de;
	height:190px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#595959;
}

#snapin_mdetect #frcolumnmain .frscrollarea2 p {
	color:#595959;
}

#snapin_mdetect #frcolumnmain .frscrollarea2 ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_mdetect #frcolumnmain .frscrollarea2 ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}




#snapin_mdetect #frcolumnmain .buttonarea {
	height:22px;
	overflow:hidden;
	text-align:right;
}