<div id="snapin_acm_notification">
<%
    var amModel = data["ammodel"];
    var snapin = "snapin_acm_notification";
    var _utils = $ss.agentcore.utils;
  %>
  <div id="triggerwindow">
    <div id="triggersubject" class="panel-title">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
      <strong><%= _utils.LocalXLate(snapin,"reg_title") %></strong>
    </div>
    <div id="triggercontent">
      <span id="divDiag">
        <%=_utils.LocalXLate(snapin, "reg_msg_one", [amModel.sFirstName,amModel.sLastName]) + " " + _utils.LocalXLate(snapin, "reg_msg_two")%>  <%=_utils.LocalXLate(snapin, "reg_msg_three")%>
      </span>
      <div id="button">
        <div id="regbutton" class="btn btn-primary-ss btn-sm pull-right" ><%=_utils.LocalXLate(snapin, "Register")%></div>
      </div>
    </div>
  </div>
</div>