<div id="snapin_acm_notification">
<%
    var amModel = data["ammodel"];
    var snapin = "snapin_acm_notification";
    var _utils = $ss.agentcore.utils;
    var sdaystoExpire = amModel.dDaysToExpire;
  %>
 <div id="triggerwindow">
  <div id="triggersubject" class="panel-title">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
    <strong><%= _utils.LocalXLate(snapin,"preset_title") %></strong>
  </div>  
  <div id="triggercontent">
    <span id="divDiag">
      <%=_utils.LocalXLate(snapin, "reg_msg_one", [amModel.sFirstName,amModel.sLastName]) + " " +_utils.LocalXLate(snapin, "reg_to_expire" , sdaystoExpire.toString()) + " " + _utils.LocalXLate(snapin, "Reset_password") %>
    </span>
    <br><br>
    <div id="button">
      <div id="regbutton" class="btn btn-primary-ss btn-sm pull-right"> <%=_utils.LocalXLate(snapin, "Reset")%> </div>
    </div>   
   </div> 
    </div>
</div>