#userImage{
  padding:10px 10px 10px 10px;
  float:left;
  width:18%;
  margin-top:5px;
  margin-bottom:5px;
}
.file-upload{
  display:none !important;
}

#imgUpload:hover{
 opacity: 0.3;
 cursor:pointer !important;
}

.desc{
  position:absolute;
  bottom:30%;
  left:4%;
  visibility:hidden;
  color:#707070;
  font-weight:700;
}

.upload-button:hover .desc{
  visibility:visible;
}

.userInfoSubHeader{
  float:left;
  width:76%;
  margin-left:10px; 
  margin-top:15px;
  position:static;
  color:#808080 !important;
}
.userName{
  float:left;
  font-weight: 700;
}
.userInfoBody{
  width:76%;
  float:left;
  margin-left:10px;
  margin-top:10px;
  border-top:1.5px solid #B3B3B3;
  padding-top:10px;
  text-align:left;
}
.machineInfoTitle{
  margin-right:20%;
  float:right;
}

.itemCaption{
  color:#1284C7;
}

.userInfoBody-left{
  float:left;
  width:30%;
}

.userInfoBody-center{
  float:left;
  margin-left:5px;
  width:18%;
}

.userInfoBody-right{
  float:left;
  margin-left:2%;
  width:32%;
}
.dekstop_image{
  float:right;
  margin-top:10px;
}

.icon-user{
  font-size:1em;
}

.userInfoReset{
  color:#fff !important;
}