<%
  var displayInfo = data["info"];
  if (!displayInfo.title) displayInfo.title = $ss.agentcore.utils.LocalXLate("snapin_messagesinfo", "dm_snp_msginfo_title");
  if (!displayInfo.description) displayInfo.description = $ss.agentcore.utils.LocalXLate("snapin_messagesinfo", "dm_snp_msginfo_description");
  if (!displayInfo.dispImage) displayInfo.dispImage = "fa-info-circle";
%>
<div id="snapin_messagesinfo">
  <div id="triggerwindow">
    <div id="triggersubject">
      <i class="fa <%=displayInfo.dispImage%> fa-lg"></i>
      <strong><%=displayInfo.title%></strong>
    </div>
    <div id="triggercontent">
      <form name="" id="" method="get" action="">
        <% if(!displayInfo.requiresRestart){ %>
          <div id="divDiag"><%=displayInfo.description%></div>
        <%}else{%>
          <div id="restart">
            <span><%=displayInfo.description%></span><br><br><br>
            <div class="pull-right">
              <a href="#" id="restartYes">
                <button class="btn btn-primary-ss btn-sm">%LOCL:dm_snp_msginfo_yes%</button>
              </a>
              <a href="#" class="clsIgnore" id="restartNo">
                <button class="btn btn-primary-ss btn-sm">%LOCL:dm_snp_msginfo_no%</button>
              </a>
            </div>
            <div class="pull-left">
              <input type="checkbox" id="remindMeLater" checked="true">%LOCL:dm_snp_msginfo_remind_me_later%</input>
            </div>
          </div>
        <%}%>
      </form>
    </div>
  </div>
</div>
