<div id="ssl_header_content">
  <div id="idTitleBar" unselectable="on">
    <div id="idMainWindowTitle">
      <div id="idLogo" class="logo"><img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\logo_small.png"><!--<strong>%LOCG:glb_ProactiveAssist%</strong>--></div>
      <button id="idTitleCloseButton" title="%LOCG:glb_mini_header_close%" class="btn btn-danger btn-xs pull-right">
        <span class="fa fa-close" aria-hidden="true"></span>
      </button>
    </div> 	
  </div>
</div>