<div id="snapin_trigger">
  <div id="triggerwindow" class="panel-primary">
    <div id="snapin_trigger_panel_heading" class="panel-heading">
      <span id="snapin_trigger_panel_title" class="panel-title">
        <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:orange"></i>
        &nbsp;&nbsp;<%= GetResource("idProbMsg_" + GetTriggerType())%>
      </span>
    </div>
    <div id="triggercontent" class="panel-body">
      <form name="" id="" method="get" action="">
        <div id="divDiag">
        <%= GetResource("idDiagMsg")%>
          <a href="#" id="btnDiagnose"><span class="btn btn-primary-ss btn-xs"><%= GetResource("idBtnDiagnose") %></span></a>
          <a href="#" class="clsIgnore"><span class="btn btn-primary-ss btn-xs closecountdown"><%= GetResource("idBtnIgnore") %></span></a>
        </div>
        <div id="divBusy" style="display:none">
          <p><%= GetResource("busy_" + GetTriggerType())%></p>
          <a href="#" class="clsIgnore"><span class="btn btn-primary-ss btn-xs closecountdown"><%= GetResource("idBtnDiagnose") %></span></a>
        </div>
        <div class="hseparator"></div>
        <%= GetResource("idSaveMsg") %>
        <div class="input-group">
          <select id="selectDisableNotifications" class="form-control formdropdown">
            <option value="15">15 <%= GetResource("idMins") %></option>
            <option value="30">30 <%= GetResource("idMins") %></option>
            <option value="60">1 <%= GetResource("idHour") %></option>
            <option value="120">2 <%= GetResource("idHours") %></option>
            <option value="240">4 <%= GetResource("idHours") %></option>
            <option value="480">8 <%= GetResource("idHours") %></option>
            <option value="720">0.5 <%= GetResource("idDays") %></option>
            <option value="1440">1 <%= GetResource("idDay") %></option>
            <option value="2880">2 <%= GetResource("idDays") %></option>
            <option value="10080">1 <%= GetResource("idWeek") %></option>
            <option value="20160">2 <%= GetResource("idWeeks") %></option>
          </select>
          &nbsp;&nbsp;
          <a href="#" id="btnSave"><span class="btn btn-primary-ss btn-xs"><%= GetResource("idBtnSave") %></span></a>
        </div>
      </form>
    </div> <!-- triggercontent -->
  </div>
</div>
