<script type="text/javascript">
    $('#sprt_filter a').click(function () {
        $('#sprt_filter > li > a').removeClass('selected');
        $(this).addClass('selected');
    });
</script>

<div id="snapin_selfservicesearch">
  <div class="row panel-widget-body-ss cell-right-ss">
    <ul class="nav navbar-nav" style="margin-left:2%;">
      <li class="dropdown">
        <a id="groupsel" class="dropdown-toggle dropdown-class"data-toggle="dropdown">%LOCL:snp_search_sortby_txt%<b class="caret"></b></a>
        <ul class="dropdown-menu dropdown_background dropdown-menu-ss" id="sprt_sortby_filter">
          <li class="lisort"><a href="#" id="Category">%LOCL:snp_search_sortby_category_txt%</a></li>
          <li class="lisort"><a href="#" id="Title">%LOCL:snp_search_sortby_title_txt%</a></li>
          <li ><a href="#" id="Featured">%LOCL:snp_search_sortby_featured_txt%</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav list">
      <li class="dropdown">
        <a id="groupsel_filter" class="dropdown-toggle dropdown-class"data-toggle="dropdown">%LOCL:snp_search_filteredby_txt2% %LOCL:snp_search_filters_all%<b class="caret"></b></a>
        <ul class="dropdown-menu dropdown_background" id="sprt_filter">
            <li id="liallfilter" class="lifilter"><a href="#" id="allsolutions" class="searchfilter"><i class="fa fa-check"></i><span id="allsolutions1" class="all_ss_sprt filtertext">%LOCL:snp_search_filters_all%</span></a></li>
            <li id="lialerts" class="lifilter"><a href="#" id="alerts" class="searchfilter"><i class="fa fa-check"></i><span id="alerts1" class="all_ss_sprt filtertext">%LOCL:snp_search_filters_alerts%</span></a></li>
            <li id="liarticles" class="lifilter"><a href="#" id="articles" class="searchfilter"><i class="fa fa-check"></i><span id="articles1" class="all_ss_sprt filtertext">%LOCL:snp_search_filters_articles%</span></a></li>
            <li id="liautofix" class="lifilter"><a href="#" id="autofix" class="searchfilter"><i class="fa fa-check"></i><span id="autofix1" class="all_ss_sprt filtertext">%LOCL:snp_search_filters_autofix%</span></a></li>
            <li id="liinstall" class="lifilter"><a href="#" id="install" class="searchfilter"><i class="fa fa-check"></i><span id="install1" class="all_ss_sprt filtertext">%LOCL:snp_search_filters_install%</span></a></li>
            <li id="lisprtmsg" class="lifilter"><a href="#" id="sprtmsg" class="searchfilter"><i class="fa fa-check"></i><span id="sprtmsg1" class="all_ss_sprt filtertext">%LOCL:snp_search_filters_messages%</span></a></li>
            <li id="lioptimize" class="lifilter"><a href="#" id="optimize" class="searchfilter"><i class="fa fa-check"></i><span id="optimize1" class="all_ss_sprt filtertext">%LOCL:snp_search_filters_optimize%</span></a></li>
            <li id="lirepair"><a href="#" id="repair" class="searchfilter"><i class="fa fa-check"></i><span id="repair1" class="all_ss_sprt filtertext">%LOCL:snp_search_filters_repair%</span></a></li>
        </ul>
      </li>
    </ul>
    <br><br>
    <div class="col-md-12">
      <div class="panel-default-ss">
        <div id="myGrid" ></div>
      </div>
      <div>
        <span id="searchresults" class="pull-left"></span>
        <input type="button" id="buttn_Main" value="" class="pull-right btn btn-primary-ss cell-right"/>
      </div><br/>
      <div style="height:5px"></div>
      <div class="pull-left featured-class"id="featured"></div>
    </div>
  </div> 
</div>
