<%
  var _utils = $ss.agentcore.utils;
  var bHasApplications = false;
  var bInstalled = false;
  $ss.snapins.dm.g_sError = "";
  var sState = $ss.snapins.dm.GetCurrentState();
  var restartRequired = $ss.snapins.dm.IsRebootPending();
  var bQueState = (sState === "9");
  var bMsgRequired = restartRequired || bQueState;
  var rebootTypeMandatory = false;
  var tmpsnapin = new Object();
  var sDispMsg = "";
  if (bMsgRequired) {
    if(restartRequired) {
      rebootTypeMandatory = $ss.snapins.dm.IsMandatoryReebootPending();
      sDispMsg = _utils.LocalXLate("snapin_download_manager","ss_dm_restart_message");
      if(rebootTypeMandatory) sDispMsg = _utils.LocalXLate("snapin_download_manager","ss_dm_restart_message_mandatory");
    } else {
        sDispMsg = _utils.LocalXLate("snapin_download_manager","ss_dm_res_silentDownloadInProgess_txt");
    }
  }
  var g_bShowing = $ss.snapins.dm.g_bShowing;
  var g_bSelections = $ss.snapins.dm.g_bSelections;
  var g_sError = $ss.snapins.dm.g_sError;
  var sSelId = data["guidlist"];
  if(fromSnapin){
    var j =0;
    var tmparray =[];

    for(var NDX in $ss.snapins.dm.APPLICATIONS){
      for(var i=0;i<sSelId.length;i++){
        if(NDX == sSelId[i].id){
          tmpsnapin[NDX] = $ss.snapins.dm.APPLICATIONS[NDX];
          tmparray.push(NDX);
          j = j+1;
        }
      }
    }
    sSelId = tmparray;
  }
%>
<div id="snapin_download_manager">
  <div id="downmanagerbg">
    <div class="cell-header"><span class="tab-menu-header">%LOCL:titleSnapin%</span></div><br>
    <div id="dmContainer">
      <div class="panel-parent-header-ss-d">
        <i>
          <%if(g_bShowing && g_bSelections){%>
            <%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_makeselectiontxt")%>
          <%}%>
        </i>
      </div>
      <div class="table-heading panel-widget-body-ss">
        <strong>
          <%if(g_bShowing && g_bSelections){%>&nbsp;<input type="checkbox" id="idCheckAll" <% if (bMsgRequired) {%> DISABLED <%}%> /><%}%>
          <%if(g_bShowing && g_bSelections){%><%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_selectalltxt")%><%}else{%>&nbsp;<%}%>
        </strong>
      </div>
      <div id="dmContentDiv" class="panel-widget-body-ss">
        <%
          var nCount = 0;
          var tmpobj = {};
          var bSelected = false;
          if ($ss.snapins.dm.g_bShowing)
          {
            if(fromSnapin) tmpobj = tmpsnapin;
            else tmpobj = $ss.snapins.dm.APPLICATIONS
            for (var NDX in tmpobj)
            {
            %>
            <br>
            <%
              var iCounter = 0;
              nCount++;
              var aDisInfo = $ss.snapins.dm.GetDisplayInfo(NDX, iCounter, sState);
              var sTitle = aDisInfo[0];
              var sDescription = aDisInfo[1];
              bHasApplications = aDisInfo[2];
              bInstalled =  aDisInfo[3];
              var iErrorType = aDisInfo[4];

              if (g_sError === "" && iErrorType === 1)   $ss.snapins.dm.g_sError = nCount;
              if ($ss.snapins.dm.APPLICATIONS[NDX][iCounter]["SELECTED"] == "1")  bSelected = true;
              if(iErrorType === 2) { %>
                <i style="margin-right:10px;" class="fa fa-warning error-msg pull-right"> <%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_DO_Invalid")%></i>
            <%
              } else if(iErrorType === 1 && !bInstalled) {
              %>
                <i style="margin-right:10px;" class="fa fa-warning error-msg pull-right"> <%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_DO_Failed")%></i>
              <%
              } else if (bInstalled && (iErrorType !== 2)){
              %>
                <i style="margin-right:10px;" class="fa fa-check pull-right success-msg"> <%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_DO_Installed")%></i>
              <%
              }%>

              <%
                var strIsNoImgAvail = $ss.agentcore.dal.config.GetConfigValue("Dmanager", "Is_NoImage_Available_Required");
              %>
              <div class="dm_content_row">
                <!-- CheckBoxes for each item -->
                <div class="itemselect col-sm-1">
                  <%if(!bInstalled ||(iErrorType === 2)){
                      for(i=0;i<sSelId.length;i++){
                      //if(NDX == sSelId[i].id)  $ss.snapins.dm.selectThisDownloadApplication(NDX, true);
                      if(NDX == sSelId[i])  $ss.snapins.dm.selectThisDownloadApplication(NDX, true);
                      }
                  %>
                    <input type="checkbox" id="idCheck_<%=NDX%>" guid="<%=NDX%>" <% if (bMsgRequired || (iErrorType === 2)) {%> DISABLED <%}%> <%if($ss.snapins.dm.APPLICATIONS[NDX]["0"]["SELECTED"] == "1"){%>checked<%}%> <%if($ss.snapins.dm.APPLICATIONS[NDX]["0"]["sdc_sd_DefaultState"] == "2"){%>disabled<%}%> />
                  <%}%>
                </div>
                <!-- Showing Image for each DO -->
  
                <div class="col-sm-2">
                  <img class="img-thumbnail"
                    <%if($ss.agentcore.dal.file.FileExists($ss.snapins.dm.APPLICATIONS[NDX][iCounter]["sdc_sd_Icon"])) {%>
                      src="<%=$ss.snapins.dm.APPLICATIONS[NDX][iCounter]["sdc_sd_Icon"]%>" alt="<%=sTitle%>"
                    <% } else if( (!$ss.agentcore.dal.file.FileExists($ss.snapins.dm.APPLICATIONS[NDX][iCounter]["sdc_sd_Icon"])) && (strIsNoImgAvail=="true") ) {   %>
                      alt="<%=_utils.GetTruncatedString(_utils.LocalXLate("snapin_download_manager","ss_dm_no_image"), $ss.agentcore.dal.config.GetConfigValue("snapin_download_manager","maxStringLenToDispForNoImg"))%>" style="height:55px;" title="<%=_utils.LocalXLate("snapin_download_manager","ss_dm_no_image")%>"
                    <%}%> >
                  </img>
                </div>
                  <!-- Showing Title/Desc/Pre-req for each DO -->
                <div class="col-sm-9">
                  <%var sShortTitle = $ss.snapins.dm.GetShortTitle(sTitle);  %>
                  <a title="<%=sTitle%>" href="#" <%if(bInstalled && (iErrorType !== 2)){%> class="clRunThis" <%}else{%> class="clSelectThis"<%}%> guid="<%=NDX%>"><%=sShortTitle%></a>
                  <% if($ss.snapins.dm.APPLICATIONS[NDX][iCounter]["sdc_sd_size"] != "" && $ss.snapins.dm.APPLICATIONS[NDX][iCounter]["sdc_sd_size"] !=  undefined) {%>
                    (<%=$ss.snapins.dm.APPLICATIONS[NDX][iCounter]["sdc_sd_size"]%>)
                  <%} %>
                  <br>
                  <%
                    var sDesc = sDescription;
                    var sShortDesc = "";
                    var nI = 0;
                    var sViewType = $ss.agentcore.dal.config.GetConfigValue("snapin_download_manager", "prerequisite_view_type");
                    var maxCharLen = 80;
                    if (sDesc.length > maxCharLen || ($ss.snapins.dm.APPLICATIONS[NDX][iCounter] != undefined)){
                      nI = sDesc.indexOf(" ",maxCharLen);
                      if (nI == -1){
                        sShortDesc = sDesc.substr(0, maxCharLen) + "<span class=\"clElipsis\">...</span>";
                        sDesc = "<span class=\"clRemainingTxt\">" + sDesc.substring(80, sDesc.length) +"</span>";
                      }else{
                        if (nI > 85){
                          var nDec = 85;
                          do{
                            nI = sDesc.lastIndexOf(" ",--nDec);
                          } while (nI == -1 && nDec > 85);
                        }
                        sShortDesc = sDesc.substr(0, nI) + "<span class=\"clElipsis\">...</span>";
                        sDesc = "<span class=\"clRemainingTxt\">" + sDesc.substr(nI, sDesc.length)  +"</span>";
                      }
                    %>
                      <div class="medium-text-Font">
                        <p class="clShort" id="idTextOf_<%=NDX%>"><%=sShortDesc%><%=sDesc%>
                          <%//Pre-requisite Handling
                          if($ss.snapins.dm.APPLICATIONS[NDX][1] != undefined)
                          {
                          %>
                            <span class="spanPrerequisites" id="prerequisiteTable<%=NDX%>" guid="<%=NDX%>"><br>
                              <%
                              if(sViewType === "summary") {
                              %>
                                <b><%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_prerequisite_summary")%> </b>
                              <%
                              } else {
                              %>
                                <b><%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_prerequisite_title")%></b>
                                <%
                                for (var iPreCounter in $ss.snapins.dm.APPLICATIONS[NDX]) {
                                  if(iPreCounter === "0") continue;
                                  iPreCounter = parseInt(iPreCounter);
                                  var aPreDisInfo = $ss.snapins.dm.GetDisplayInfo(NDX, iPreCounter);
                                  var sTitle = aPreDisInfo[0];
                                  var sDescription = aPreDisInfo[1];
                                  bHasApplications = aPreDisInfo[2];
                                %>
                                  <br>
                                  <span>
                                    <%=iPreCounter%>. <%=sTitle%>
                                    <%if($ss.snapins.dm.APPLICATIONS[NDX][iPreCounter]["sdc_sd_size"] !== "" && $ss.snapins.dm.APPLICATIONS[NDX][iPreCounter]["sdc_sd_size"] != undefined) { %>
                                      (<%=$ss.snapins.dm.APPLICATIONS[NDX][iPreCounter]["sdc_sd_size"]%>)
                                    <%} %>
                                  </span>
                              <%}%>
                            <%} %>
                            </span>
                        <%}%>
                          <span id="lessmoreButton" class="LinkDetailShow small-link-Font" guid="<%=NDX%>">
                            <%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_moretxt")%>
                            <i class="fa fa-angle-double-right"></i>
                          </span>
                        </p><br><br>
                      </div>
                  <%} else{%>
                      <p><%=sDesc%></p>
                  <%}%>
              </div>
            </div>
          <p/>
          <%
            }
          } else { %>
              <%=$ss.snapins.dm.g_sNoShowReason%>
        <%}%>
      </div>
    </div>

    <div class="content">
    <br>
      <% if(($ss.snapins.dm.g_bShowing || !bHasApplications) && (!bMsgRequired)){%>
        <div id="idButtonFooter">
          <input type="button" id="idInstallButton" value="<%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_dowload_install")%>" class="btn btn-primary-ss btn-sm cell-right"/>
          <input type="button" id="idDisabledInstallButton" disabled value="<%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_dowload_install")%>" class="btn btn-primary-ss btn-sm cell-right"/>
          <input type="button" id="idViewAllButton" value="<%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_viewall_dowload")%>" class="btn btn-primary-ss btn-sm cell-right" style="margin-right:5px;"/>
          <span class="medium-text-Font error-msg" id="lblNoConnectivity">
            <i class="fa fa-times"></i>
            <%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_notconnectedtxt")%><%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_notconnectedtrylatertxt")%>
          </span>
          <span class="medium-text-Font error-msg" id="lblNoConnectivityAllDOInstalled">
            <%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_notconnectedtxt")%><%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_notconnectedtrylatertxt")%>
          </span>
        </div>
      <%}%>
    <!-- Showing Error Msg -->
      <% if (bMsgRequired) {%>
        <div class="restartbararea" id="restartMessageDisplay" style="display:block">
          <div class="medium-text-Font success-msg StatusTextdisplay">
            <i class="fa fa-info-circle"></i>
            <%=sDispMsg%>
          </div>
          <%if(restartRequired) {%>
          <br>
            <div class="pull-left">
              <input type="button" id="idRestartButton" value="<%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_restart")%>" class="btn btn-primary-ss btn-sm"/>
            </div>
        <%}%>
        </div>
      <%} else {%>
        <div class="errorbararea" id="errorMessageDisplay" style="display:none;">
          <span class="medium-text-Font error-msg">
            <i class="fa fa-warning"></i>
            <strong><%=_utils.LocalXLate("snapin_download_manager","ss_dm_err_generic_message")%></strong>
          </span>
        </div>
      <%}%>
      <!-- Progress Bar -->
	  <div style="border-width: 5px; border-style: solid; border-color: #ededed;">
		  <div id="idDMProgressBar" style="background-color:red;color:black;text-align:center;">
			<div id="idDMProgressTxt"></div>
		  </div>
	  </div>
	  <span id="idDMStatusTxt" title=""></span>
	  <br />
      <div class="progressbararea" id="idProgressFooter" style="display:none;">
          <div style="margin-right:10px;" class="pull-right" id="idCancelDownloadButton" style="display:none;">
            <input type="button" id="idCancelButton" value="<%=_utils.LocalXLate("snapin_download_manager","ss_dm_res_dowload_cancel")%>" class="btn btn-primary btn-sm"/>
          </div>
      </div>
    </div>
  </div>
</div>