<div id="snapin_download_manager">
  <div class="cell-header"><span class="tab-menu-header">%LOCL:titleSnapin%</span></div><br>
  <div id="dmContainer">
    <div class="panel-parent-header-ss-d">
      <i>%LOCL:ss_dm_res_makeselectiontxt%</i>
    </div>
    <div id="dmContentDiv" class="panel-widget-body-ss">
      <br><img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif">&nbsp;
      <%= $ss.agentcore.utils.LocalXLate("snapin_download_manager","ss_dm_processing_msg")%><br><br>
    </div>
  </div>
</div>