﻿<div id="snapin_email">	
  <div id="snapin_email_no_default_client">  
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">        
          <div class="pageheading">
              <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_addemail.png" width="58"
                  height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Add Email Account")%>"
                  class="icon" />
              <div class="headcoltwo">
                  <h3>
                      <%= $ss.agentcore.utils.LocalXLate("snapin_email","Add New Email Account")%></h3>
                  <p>
                      <%= $ss.agentcore.utils.LocalXLate("snapin_email","Fill the details below to configure your new Email account")%></p>
              </div>
          </div>
        <div class="viewemailsettings">
	    <div class="noaccount">
	        <%= $ss.agentcore.utils.LocalXLate("snapin_email","idNoDefaultEmailClients")%>
            </div>
          
        </div>
         <a href="#" class="viewemailsettingsback" id="snap_email_AccountInfo_back">
          <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_back.gif" width="65" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Back")%>" border="0" /></a>
      </td>
      <td class="right" valign="top" align="left">
      </td>
      <td class="RightEnd"> 
      </td>
    </tr>    
  </table>
  </div>
</div>
