<div id="snapin_email">
  <% 
     var clientList = data['client']; 
     var domainList = data['domain'];
     var selectionString = null;
  %> 
				<div class="pageheading">
        	<img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_addemail.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Add Email Account")%>" class="icon"/>
        	<div class="headcoltwo">
              <h3><%= $ss.agentcore.utils.LocalXLate("snapin_email","Add New Email Account")%></h3>
              <p><%= $ss.agentcore.utils.LocalXLate("snapin_email","Fill the details below to configure your new Email account")%></p>
          </div>
        </div>				
        <form id="snp_email_add_form" name="addnewemailaccount" method="get" action=""
        class="addemail">
        <div class="snp_addemail_form_area">
				<table cellpadding="0" cellspacing="0" border="0" width="90%">
          <tr>
            <td class="lable" width="30%">
            	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Email Client:")%>              
            </td>
            <td class="forms" colspan="2">
            	<select name="emailclient" id="emailclient" class="dropdown">
                <%for(var i=0; i<clientList.length; i++){
                    if( "1" === clientList[i]['IsDefault']){
                      selectionString = 'selected="selected"';
                    }
                    else{
                      selectionString = "";
                    }
                 %>
                    <option <%= selectionString %> value="<%= clientList[i]['Name'] %>"> <%= clientList[i]['Display'] %></option>
                <%} %>                
              </select>
            </td>
          </tr>
          <tr>
            <td class="lable">
            	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Account Display Name:")%>              
            </td>
            <td class="forms" colspan="2">
              <input type="text" name="displayname" id="displayname" class="fields" />
            </td>
          </tr>
					
          <tr>
            <td class="lable">
            	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Email Address:")%>                    
            </td>
            <td class="forms">
              <input type="text" name="emailid" id="emailid" class="fieldssmall"/> 
            </td>
            <td class="lable">
            	@
            	</td>
            <td class="forms">
              <select name="domain" id="domain">
                <%for(i=0; i<domainList.length; i++){ 
                    if( 0 === i ){
                      selectionString = 'selected="selected"';
                    }
                    else{
                      selectionString = "";
                    }
                %>
                    <option <%= selectionString %> value="<%= domainList[i]['Template'] %>"><%= domainList[i]['DomainName'] %></option>
                <%}%>                
                
              </select>
            </td>
          </tr>
          <tr>
            <td class="lable">
            	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Login Id:")%>                 
            </td>
            <td class="forms" colspan="2">
              <input type="text" name="loginid" id="loginid" class="fields" />
            </td>
          </tr>
          <tr>
            <td class="lable">
            	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Password:")%>  
            </td>
            <td class="forms" colspan="2">
              <input type="password" name="password" id="password" class="fields" /> 
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
            </td>
            <td class="forms">
              <input type="checkbox" name="defaultemail" id="defaultemail" />&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_email","Make this default")%>
            </td>
          </tr>
          
					<tr>          
            <td colspan="3" class="error">
              
              <label for="displayname" class="myerror" generated=true></label>
					    <label for="emailid" class="myerror" generated=true></label>
					    <label for="loginid" class="myerror" generated=true></label>
					    <label for="password" class="myerror" generated=true></label>
            </td>
           
          </tr>
					</table>
					</div>
					<table cellpadding="0" cellspacing="0" border="0" width="90%">
          <tr>
            <td class="forms" colspan="3" align="middle">
              <input name="AddAccount" type="image" hidefocus="false" id="snap_email_AddAccount" src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/buttons/btn_add_account.gif"
                alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Add Account")%>" />
              <input name="cancel" type="image" hidefocus="false" id="snap_email_AddAccount_Cancel" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_cancel.gif"
                alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Cancel")%>" />
            </td>
          </tr>
        </table>
        </form>     

  
  <%
  this.Class.emailValidateData = {
		rules: {
		  displayname : {
		    required : true,
		    valdisp  : true
		  },
		  emailid     : {
		    required : true,
		    valemail  : true
		  },
		  loginid     : {
		    required : true,
		    valusername  : true
		  },
		  password    : {
		    required: true
		  }
		},
		messages : {
		  displayname : { required : $ss.agentcore.utils.LocalXLate("snapin_email","Please enter your Display Name") + "<br>",
		    valdisp  : $ss.agentcore.utils.LocalXLate("snapin_email","Please enter a valid Display Name") + "<br>"
		  },
		  emailid     : { required : $ss.agentcore.utils.LocalXLate("snapin_email","Please enter your Email id") + "<br>",
		    valemail  : $ss.agentcore.utils.LocalXLate("snapin_email","Please enter a valid Email id") + "<br>"
		  },
		  loginid     : { required : $ss.agentcore.utils.LocalXLate("snapin_email","Please enter your User Name") + "<br>",
		    valusername  : $ss.agentcore.utils.LocalXLate("snapin_email","Please enter a valid User Name") + "<br>"
		  },
		  password: {
				required: $ss.agentcore.utils.LocalXLate("snapin_email","Please provide a password") + "<br>"				
			}
		}
	}
  %>
</div>
