<div id="snapin_email">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">        
        <div class="pageheading">
          <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_addemail.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Add Email Account")%> " align="left"><h3><%= $ss.agentcore.utils.LocalXLate("snapin_email","Add New Email Account")%></h3>
          <p>
          	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Fill the details below to configure your new Email account")%>             
          </p>
        </div>
        <form id="addnewemailaccount" name="addnewemailaccount" method="get" action="#" class="addemail">
          <table cellpadding="4" cellspacing="0" border="0" width="98%">
            <tr>
              <tr>
            	  <td class="success">
                  	<p><%= $ss.agentcore.utils.LocalXLate("snapin_email","Email Account Created")%> </p>
                  </td>
							</tr>
            </tr>
            <tr>
              <td class="forms" align="center">
                <br/>
                <a href="#" id="snap_email_add_another_account"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/buttons/btn_add_another_account.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Add Another Account")%>" width="176" height="22" border="0" /></a>
								<a href="#" id="snap_email_email_success_back"><img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_back.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Back")%>" border="0" width="74" height="22" /></a>
              </td>
            </tr>
          </table>
        </form>
      </td>
      <td class="right" valign="top" align="left">
      </td>
      <td class="RightEnd">
      </td>
    </tr>
  </table> 
</div>
