<div id="snapin_email">
  <%var infoColl = data["account_info_coll"]; %>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">        
        <div class="pageheading">
          <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_viewemailsettings.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>"
            align="left">
          <h3>
          	<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>
            </h3>
          <p>
          	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Below are the details of all your email account settings.")%>
            </p>
        </div>
        <div class="viewemailsettings">
          <span><%= $ss.agentcore.utils.LocalXLate("snapin_email","email account")%> <strong>
            <%= infoColl.length %></strong></span>
          <div class="scrollarea">
            <table cellpadding="0" cellspacing="0" border="0" width="96%">
              <% for(var i=0; i<infoColl.length; i++){%>
                    <tr>
                      <th width="35%">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Mail Client")%>
                        
                      </th>
                      <th width="65%">
                        <%= infoColl[i]["MailClient"] %>
                      </th>
                    </tr>
                    <tr>
                      <td class="row1">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Account Name")%>
                        
                      </td>
                      <td class="row1">
                        <%= infoColl[i]["Name"] %>
                      </td>
                    </tr>
                    <tr>
                      <td class="row2">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Display Name")%>
                        
                      </td>
                      <td class="row2">
                        <%= infoColl[i]["DisplayName"] %>
                      </td>
                    </tr>
                    <tr>
                      <td class="row1">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Email Address")%>
                        
                      </td>
                      <td class="row1">
                        <%= infoColl[i]["Email"] %>
                      </td>
                    </tr>
                    <tr>
                      <td class="row2">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","User Name")%>
                        
                      </td>
                      <td class="row2">
                        <%= (infoColl[i]["UserName"] === "" ? "-" : infoColl[i]["UserName"]) %>
                      </td>
                    </tr>
                    <tr>
                    <td class="row1">
                    	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Incoming Server")%>
                      
                    </td>
                    <td class="row1">
                      <%= (infoColl[i]["Incoming_Server"] === "" ? "-": infoColl[i]["Incoming_Server"])%>
                    </td>
                  </tr>
                    <tr>
                    <td class="row2">
                    	<%= $ss.agentcore.utils.LocalXLate("snapin_email","Outgoing Server")%>
                      
                    </td>
                    <td class="row2">
                      <%= (infoColl[i]["Outgoing_Server"] === "" ? "-" : infoColl[i]["Outgoing_Server"])%>
                    </td>
                  </tr>
              <% } %>             
            </table>
          </div>
        </div>
        <a href="#" class="viewemailsettingsback" id="snap_email_AccountInfo_back">
          <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_back.gif" width="65" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Back")%>" border="0" /></a>
      </td>
      <td class="right" valign="top" align="left">        
      </td>
      <td class="RightEnd">
      </td>
    </tr>
  </table>
</div>
