<div id="snapin_email">
  <%this.UpdateBreadCrumb("", "");  %>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgentXYZ">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">
        <div class="snapins" id="snap_email_landing_AddAccount" >
          <a href="#" class="ico" hidefocus="false"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_addemail.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Add Email Account")%>"></a>
          <div class="snapingcontent">
            <a href="#" class="heading" hidefocus="false"><%= $ss.agentcore.utils.LocalXLate("snapin_email","Add Email Account") %></a>
            <p>
              <%= $ss.agentcore.utils.LocalXLate("snapin_email","Configure a new Email account") %>
            </p>
          </div>
        </div>
        <div class="snapins" id="snap_email_landing_AccountInfo">
          <a href="#" class="ico" hidefocus="false"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_viewemailsettings.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>"></a>
          <div class="snapingcontent">
            <a href="#" class="heading" hidefocus="false"><%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings") %></a>
            <p>
              <%= $ss.agentcore.utils.LocalXLate("snapin_email","Keep track of your Email settings") %>
            </p>
          </div>
        </div>
        <div class="separator">
          <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/core/images/h_separator.png" width="532" height="31" alt="" border="0" />
        </div>
        <div class="snapins" id="snap_email_landing_FixAccount">
          <a href="#" class="ico" hidefocus="false"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_troubleshootemail.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Troubleshoot Email")%>"></a>
          <div class="snapingcontent">
            <a href="#" class="heading" hidefocus="false"><%= $ss.agentcore.utils.LocalXLate("snapin_email","Troubleshoot Email") %></a>
            <p>
              <%= $ss.agentcore.utils.LocalXLate("snapin_email","Find and solve common email problems") %>
            </p>
          </div>
        </div>
        <div class="separator">
          <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/core/images/h_separator.png" width="532" height="31" alt="" border="0" />
        </div>
      </td>
      <td class="right" valign="top" align="left">
      </td>
      <td class="RightEnd">
      </td>
    </tr>
  </table>
</div>
