<div id="snapin_email">
   <% 	 
    var email     = data['email'];    
    var pop3User  = data['pop3User'];
  %>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">       
        <div class="pageheading">
          <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_troubleshootemail.png" width="58"
            height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>" align="left" />
          <h3>
            <%= $ss.agentcore.utils.LocalXLate("snapin_email","TSU:Troubleshoot Email")%></h3>
          <p>
            <%= $ss.agentcore.utils.LocalXLate("snapin_email","TRU:Find and solve common Email problems")%></p>
          
        </div>
        <div class="viewemailsettings">
          <div class="scrollareatroubleshoot">
            <table cellpadding="0" cellspacing="0" border="0" width="96%">
              <tr>
                <th>
                  <div class="emailid">
                    <%= email %></div>
                  <div class="steps">
                    <%= $ss.agentcore.utils.LocalXLate("snapin_email","TSP:Step 3 of 3")%></div>
                </th>
              </tr>
              <tr>
                <td class="row3">
                  <div class="headproblem">
                    <div class="headname">
                      <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_exclamation.gif" width="12" height="13"
                        border="0" align="absmiddle" />&nbsp;&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRU:Authentication")%></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="row5">
                  <form id="snpemailloginnamechange" name="usernamechange" action="get"
                  method="get">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="40%" class="normal">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRU:Username:")%>
                        
                      </td>
                      <td width="60%" class="normal">
                        <%= pop3User %>
                      </td>
                    </tr>
                    <tr>
                      <td class="normal">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRU:New Username:")%>
                        
                      </td>
                      <td class="normal">
                        <input type="text" name="snp_email_username" id="snp_email_username" class="fields" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="error">     
												<label for="snp_email_username" class="myerror" generated=true></label>                   
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="success" style="display:none">
                        <p>
                        	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRU:Success")%>
                          </p>
                      </td>
                    </tr>
                    <tr>
                      <td class="normal">
                        &nbsp;
                      </td>
                      <td class="normal">
                        <input name="snp_email_username_submit" type="image" id="snp_email_username_submit" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_save.gif"
                          alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Save") %>" />
                        <input name="snp_email_username_cancel" type="image" id="snp_email_username_cancel" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_cancel.gif"
                          alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Cancel") %>" />
                      </td>
                    </tr>
                  </table>
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td class="right" valign="top" align="left">
      </td>
      <td class="RightEnd">
      </td>
    </tr>
  </table>

<%
  this.Class.emailValidateData = {
		rules: {		 
		  snp_email_username     : {
		    required : true
		  }
		},
		messages : {		  
		  snp_email_username     : { required : $ss.agentcore.utils.LocalXLate("snapin_email","Please enter your User Name") + "<br>"
		  }
		}
	}
  %>
</div>
