<div id="snapin_email">
  <% 
    var email     = data['email'];     
  %>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">        
        <div class="pageheading">
          <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_troubleshootemail.png" width="58"
            height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>" align="left" />
          <h3>
            <%= $ss.agentcore.utils.LocalXLate("snapin_email","TSP:Troubleshoot Email")%></h3>
          <p>
            <%= $ss.agentcore.utils.LocalXLate("snapin_email","TSP:Find and solve common Email problems")%></p>          
        </div>
        <div class="viewemailsettings">
          <div class="scrollareatroubleshoot">
            <table cellpadding="0" cellspacing="0" border="0" width="96%">
              <tr>
                <th>
                  <div class="emailid">
                    <%= email %></div>
                  <div class="steps">
                    <%= $ss.agentcore.utils.LocalXLate("snapin_email","TSP:Step 3 of 3")%></div>
                </th>
              </tr>
              <tr>
                <td class="row3">
                  <div class="headproblem">
                    <div class="headname">
                      <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_exclamation.gif" width="12" height="13"
                        border="0" align="absmiddle" />&nbsp;&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSP:Authentication")%></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="row5">
                  <form id="snpemailusernamechange" name="usernamechange" action="get"
                  method="get">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="normal">
                        <%= $ss.agentcore.utils.LocalXLate("snapin_email","TSP:Old Password:")%>
                      </td>
                      <td class="normal">
                        <input type="password" name="oldpassword" id="oldpassword" class="fields" 
                          value="********" readonly="readonly" />
                      </td>
                    </tr>
                    <tr>
                      <td class="normal">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSP:New Password:")%>                        
                      </td>
                      <td class="normal">
                        <input type="password" name="snp_email_troubleshoot_newpassword" id="snp_email_troubleshoot_newpassword" class="fields" />
                      </td>
                    </tr>
                    <tr>
                      <td class="normal">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSP:Confirm Password:")%>                        
                      </td>
                      <td class="normal">
                        <input type="password" name="snp_email_troubleshoot_conPassword" id="snp_email_troubleshoot_conPassword" class="fields" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="error" >       
                        <label for="snp_email_troubleshoot_newpassword" class="myerror" generated=true></label>
					              <label for="snp_email_troubleshoot_conPassword" class="myerror" generated=true></label>                
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="success" style="display:none">                      
                      </td>
                    </tr>
                    <tr>
                      <td class="normal">
                        &nbsp;
                      </td>
                      <td class="normal">
                        <input name="snp_email_troubleshoot_password_submit" type="image" id="snp_email_troubleshoot_password_submit" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_save.gif"
                          alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Save") %>" />
                        <input name="snp_email_troubleshoot_password_cancel" type="image" id="snp_email_troubleshoot_password_cancel" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_cancel.gif"
                          alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Cancel") %>" />
                      </td>
                    </tr>
                  </table>
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td class="RightEnd">
      </td>
    </tr>
  </table>
  <%
    this.Class.emailValidateData = {
		rules: {
		  snp_email_troubleshoot_newpassword: {
				required: true,
				minlength: 1
			},
			snp_email_troubleshoot_conPassword: {
				required: true,
				minlength: 1,
				equalTo: "#snp_email_troubleshoot_newpassword"
			}
		},
		messages : {
		  snp_email_troubleshoot_newpassword: {
				required: $ss.agentcore.utils.LocalXLate("snapin_email","Modify:Please provide a password") + "<br>",
				minlength: $ss.agentcore.utils.LocalXLate("snapin_email","Modify:Your password must be at least 5 characters long") + "<br>"
			},
			snp_email_troubleshoot_conPassword: {
				required: $ss.agentcore.utils.LocalXLate("snapin_email","Modify:Please provide a confirm password") + "<br>",
				minlength: $ss.agentcore.utils.LocalXLate("snapin_email","Modify:Your password must be at least 5 characters long") + "<br>",
				equalTo: $ss.agentcore.utils.LocalXLate("snapin_email","Modify:Please enter the same password as above") + "<br>"
			}
		}
	}
  %>
</div>
