<div id="snapin_email">
  <% 
    var email     = data['email']; 
    var client    = data['mailclient']; 
  %>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">        
        <div class="pageheading">
          <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_troubleshootemail.png" width="58"
            height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>" align="left" />
          <h3>
            <%= $ss.agentcore.utils.LocalXLate("snapin_email","TRC:Troubleshoot Email")%></h3>
          <p>
            <%= $ss.agentcore.utils.LocalXLate("snapin_email","TRC:Find and solve common Email problems")%></p>        
        </div>
        <div class="viewemailsettings">
          <div class="scrollareatroubleshoot">
            <table cellpadding="0" cellspacing="0" border="0" width="99%">
              <tr>
                <th>
                  <div class="emailid">
                    <%= email %> (<%=client %>)</div>
                  <div class="steps">
                  	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRC:Step 2 of 3")%>
                    </div>
                </th>
              </tr>
              <tr>
                <td class="row3">
                  <div class="headproblem">
                    <div class="headname">
                      <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_exclamation.gif" width="12" height="13"
                        border="0" align="absmiddle" />&nbsp;&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRC:Connectivity")%></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="row5">
                	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRC:Error")%>
                  <br />
                  <br />
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="error">
                        <p>
                        	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRC:Next")%>
                          </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="row4">
                  <a href="#" class="snpemailtroubleshootconnectivitybutton">
                    <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_back.gif" width="65" height="20"
                      alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Back")%>" border="0" /></a> 
                  <a href="#" class="snpemailtroubleshootconnectivitybutton">
                        <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_next.gif" width="65" height="20"
                          alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Next")%>" border="0" /></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td class="right" valign="top" align="left">
      </td>
      <td class="RightEnd">
      </td>
    </tr>
  </table>
</div>
