<div id="snapin_email">
  <% 
    var currAccount = data['account'];
     var autoProps = data['AutoProps'];
     var index = data['index'];
  %>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">        
        <div class="pageheading">
          <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_troubleshootemail.png" width="58"
            height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>" align="left" />
          <h3>
          	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TS:Troubleshoot Email")%>
            </h3>
          <p>
          	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TS:Find and solve common Email problems")%>
            </p>          
        </div>
        <div class="viewemailsettings">
          <div class="scrollareatroubleshoot">
            <table cellpadding="0" cellspacing="0" border="0" width="99%">
              <tr>
                <th>
                  <div class="emailid">
                    <%= currAccount.Email %> (<%=currAccount.MailClient %>)
                  </div>
                  <div class="steps">
                    <%= $ss.agentcore.utils.LocalXLate("snapin_email","TS:Step 1 of 3")%></div>
                </th>
              </tr>
              <tr>
                <td class="row3">
                  <div class="headproblem">
                    <div class="headname">
                      <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_exclamation.gif" width="12" height="13"
                        border="0" align="absmiddle" />&nbsp;&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_email","TS:Settings")%></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="row3">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th width="30%">
                        &nbsp;
                      </th>
                      <th width="40%">
                        <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_exclamation_small.gif" width="10"
                              height="10" align="absmiddle" border="0" alt="">&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_email","TS:Current Value")%>
                      </th>
                      <th width="30%">
                        <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_correct.gif" width="10" height="8"
                          align="absmiddle" border="0" alt="">&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_email","TS:Correct Value")%>
                      </th>
                    </tr>
                    <% for(iter = 0; iter < autoProps.length; iter++){ %>
                        <tr>
                          <td class="correct">                          	
                            <strong><%= $ss.agentcore.utils.LocalXLate("snapin_email","TS:" + autoProps[iter].m_strSetting)%></strong>
                          </td>
                          <td class="current">
                            <%=autoProps[iter].m_strIncorrect %>
                          </td>
                          <td class="correct">
                            <%=autoProps[iter].m_strCorrect %>
                          </td>
                      </tr>
                    <% } %>                    
                    
                    <tr>
                      <td colspan="3" class="instrustions">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TS:Instrustions")%>
                        
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="row4" id="snp_email_troubleshoot_auto_back">
                  <a href="#" >
                    <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_back.gif" width="65" height="22"
                      alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Back")%>" border="0" />
                  </a> 
                  <a href="#" id="snp_email_troubleshoot_auto" val="<%= index %>">
                        <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_next.gif" width="65" height="22"
                          alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Next")%>" border="0" />
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td class="right" valign="top" align="left">
      </td>
      <td class="RightEnd">
      </td>
    </tr>
  </table>
</div>
