<div id="snapin_email">	
  <div id="snapin_email_troubleshoot_main">  
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">        
        <div class="pageheading">
          <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_troubleshootemail.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>"
            align="left" />
          <h3>
            <%= $ss.agentcore.utils.LocalXLate("snapin_email","TRM:Troubleshoot Email")%></h3>
          <p>
          	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TRM:Find and solve common Email problems")%>
            </p>         
        </div>
        <div class="viewemailsettings">
          <div class="scrollareatroubleshoot" id="snp_email_troubleshoot_main">            
          </div>
        </div>
        <a href="#.html" class="viewemailsettingsback" id="snp_troubleshoot_main_back" hidefocus="false">
          <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_done.gif" width="68" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Done")%>" border="0" /></a>
      </td>
      <td class="right" valign="top" align="left">
      </td>
      <td class="RightEnd"> 
      </td>
    </tr>    
  </table>
  </div>
</div>
