<div id="snapin_email">
 <% 
    var email     = data['email'];    
    var pop3User  = data['pop3User'];
    var client = data['mailclient'];
    var value = email + "_" + pop3User;
  %>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" id="SubscriberAgent">
    <tr>
      <td class="LeftStart">
      </td>
      <td class="content" valign="top" align="left">        
        <div class="pageheading">
          <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_troubleshootemail.png" width="58"
            height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_email","View Email settings")%>" align="left" />
          <h3>
          	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:Troubleshoot Email")%>
            </h3>
          <p>
          	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:Find and solve common Email problems")%>
            </p>         
        </div>
        <div class="viewemailsettings">
          <div class="scrollareatroubleshoot">
            <table cellpadding="0" cellspacing="0" border="0" width="99%">
              <tr>
                <th>
                  <div class="emailid">
                     <%= email %> (<%=client %>)
                  </div>
                  <div class="steps">
                  	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:Step 3 of 3")%>
                    </div>
                </th>
              </tr>
              <tr>
                <td class="row3">
                  <div class="headproblem">
                    <div class="headname">
                      <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_exclamation.gif" width="12" height="13"
                        border="0" align="absmiddle" />&nbsp;&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:Authentication")%></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="row5">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="normal">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:Username:")%>
                        
                      </td>
                      <td class="normal">
                        <%= pop3User %>
                      </td>
                      <td>
                        <a href="#" id="snp_email_modify_user" class="link" val="<%= value %>"><%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:MOD_Username")%></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="normal">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:Password:")%>
                        
                      </td>
                      <td class="normal">
                        ********
                      </td>
                      <td>
                        <a href="#" class="link" id="snp_email_modify_password" ><%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:MOD_Password")%></a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="instrustions">
                      	<%= $ss.agentcore.utils.LocalXLate("snapin_email","TSR:Instrustions")%>                        
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="row4">
                  <a href="#" id="snp_email_auth_back">
                    <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_back.gif" width="71" height="20"
                      alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Back")%>" border="0" />
                      </a> 
                      <a href="#" id="snp_email_auth_finish">
                        <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_finish.gif" width="65" height="20"
                          alt="<%= $ss.agentcore.utils.LocalXLate("snapin_email","Finish")%>" border="0" /></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td class="right" valign="top" align="left">
      </td>
      <td class="RightEnd">
      </td>
    </tr>
  </table>
</div>
