<div id="snapin_protectrestore">
  <div class="row">
    <div class="cell-header">
      <ul id="protect_filters" class="nav-ss navbar-nav">
        <li>
          <span id="lnkProtect" class="sinavlinks">
            <a href="#" class="tab-menu-filters"><%= _utils.LocalXLate("snapin_protectrestore","titleProtect") %></a>
          </span>
        </li>
        <li>
          <span id="lnkRestore" class="sinavlinks">
            <a href="#" class="tab-menu-filters"><%= _utils.LocalXLate("snapin_protectrestore","titleRestore") %></a>
          </span>
        </li>
        <li>
          <span id="lnkUndo" class="sinavlinks">
            <a href="#" class="tab-menu-filters"><%= _utils.LocalXLate("snapin_protectrestore","titleUndo") %></a>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div id="protectContainer">
    <div class="panel-parent-header-ss-d">
    <i><%= _utils.LocalXLate("snapin_protectrestore","titleDesc") %></i><br><br>
    </div>
    <div id="protectBody" class="panel-widget-body-ss">
      <%
      var pageData = data["page"] || "\\views\\protectsettings.html";
      var snapinContent = this.RenderPage(this, "snapin_protectrestore", pageData);
      %>
      <div id="divContent" class="scrollareaProtect">
        <%if(snapinContent) { %>
          <%= snapinContent %>
        <%}%>
      </div>
      <br>
      <input type="button" id="btnAction" <%=data["bttnStatus"] %> value="<%=data["bttnTxt"] %>" class="btn btn-primary-ss btn-sm pull-right"/>
    <%if(data["bttnTxt"] != _utils.LocalXLate("snapin_protectrestore","btnUndo")){%>
        <input type="button" id="viewallbtn_<%=data["bttnTxt"] %>" value="<%=_utils.LocalXLate("snapin_protectrestore","btnViewAll")%>" class="btn btn-primary-ss btn-sm pull-right viewall"/>
    <%}%>
      <br><br>
      </div>
    </div>
  </div>
