<div>
  <%
  var protections = GetItems();
  if(fromSnapin){
    var j =0;
    var tmparray =[];
    for(var i=0; i < protections.length; i++){
      if($.inArray(protections[i].guid, sProtectId) > -1){
        tmparray.push(protections[i]);
        j = j+1;
      }
    }
    protections = tmparray;
  }

  if(!protections || protections.length == 0)
  {
  %>
    <center><%= _utils.LocalXLate("snapin_protectrestore", "noItems") %></center>
  <%
  } else
  {
  %>
    <div class="col-md-1 table-heading"><input name="chkProtectAll" hidefocus="hidefocus" id="chkProtectAll" type="checkbox" value="" /></div>
    <div class="col-md-5 table-heading"><%= _utils.LocalXLate("snapin_protectrestore", "settings") %></div>
    <div class="col-md-6 table-heading"><%= _utils.LocalXLate("snapin_protectrestore", "lastProtDate") %></div>
   <%
    var aClass = ["odd-row", "even-row"]
    for(var i=0; i < protections.length; i++)
    {
      var count=0;
      var cls = aClass[i % 2];
    %>
      <div class="col-md-1 <%= cls %>">
       <%
        if(sProtectId.length > 0 ) {
          for(var j = 0;j< sProtectId.length;j++){
              if($.inArray(protections[i].guid, sProtectId) > -1){
            count = 1;
                break;
           }
          }
          if(count == 1){%>
            <input type="checkbox" checked hidefocus="hidefocus" name="<%=i%>" id="<%=i%>" class="clsProtections" value="" />
        <%}else{%>
            <input type="checkbox" hidefocus="hidefocus" name="<%=i%>" id="<%=i%>" class="clsProtections" value="" />
        <%}

        }else{%>
          <input type="checkbox" hidefocus="hidefocus" name="<%=i%>" id="<%=i%>" class="clsProtections" value="" />
       <%}%>
      </div>
      <div class="col-md-5 <%= cls %>" title="<%=protections[i].displayName%>">
        <img id="img_<%= i %>" src="" width="0" height="0" alt="" border="0" align="absmiddle"/>
        <%= _utils.GetTruncatedString(protections[i].displayName, maxStrLength) %>
      </div>
      <div class="col-md-6 <%= cls %>" id="cellLastProtected_<%= i %>" title="<%=protections[i].lastProtected%>">
        <%= _utils.GetTruncatedString(protections[i].lastProtected, maxStrLength) %>
      </div>

    <%
    }
  }%>
</div>