<div>
  <%
  var restores = GetItems();
  if(fromSnapin){
    var j =0;
    var tmparray =[];
    for(var i=0; i < restores.length; i++){
      if(restores[i].guid == sProtectId[j].id){
        tmparray.push(restores[i]);
      }
    }
    restores = tmparray;
  }
  if(!restores || restores.length == 0)
  {
  %>
    <center><%= _utils.LocalXLate("snapin_protectrestore", "noItems") %></center>
  <%
  } else
  {
  %>
    <div class="col-md-1 table-heading">&nbsp;</div>
    <div class="col-md-5 table-heading"><%= _utils.LocalXLate("snapin_protectrestore", "settings") %></div>
    <div class="col-md-6 table-heading"><%= _utils.LocalXLate("snapin_protectrestore", "protDates") %></div>
    <%
    var aClass = ["odd-row", "even-row"]
    for(var i=0; i < restores.length; i++)
    {
      var aGuid = [];
      var cls = aClass[i % 2];
      var rDisabled = (restores[i].neverSaved) ? "disabled" : "";
    %>
      <div class="col-md-1 <%= cls %>">
        <%if(rDisabled == ""){
            if(sProtectId.length > 0 ) {
              for(var j = 0;j< sProtectId.length;j++){
                if(sProtectId[j].id == aGuid[0]){
        %>
                  <input type="radio" name="rbRestores" checked <%=rDisabled%> hidefocus="hidefocus" class="clsRestores" id="rbRestores_<%=i %>" value="<%=i %>" />

              <%}else{ %>
                  <input type="radio" name="rbRestores" <%=rDisabled%> hidefocus="hidefocus" class="clsRestores" id="rbRestores_<%=i %>" value="<%=i %>" />
              <%}
              }
          }else{ %>
             <input type="radio" name="rbRestores" <%=rDisabled%> hidefocus="hidefocus" class="clsRestores" id="rbRestores_<%=i %>" value="<%=i %>" />
        <%}
        }else{%>
          <input type="radio" name="rbRestores" <%=rDisabled%> hidefocus="hidefocus" class="clsRestores" id="rbRestores_<%=i %>" value="<%=i %>" />
        <%}%>
      </div>
      <div class="col-md-5 <%= cls %>" title="<%=restores[i].displayName%>">
        <img id="img_<%= i %>" src="" width="0" height="0" alt="" border="0" align="absmiddle"/>
        <%= _utils.GetTruncatedString(restores[i].displayName, maxStrLength) %>
      </div>
      <div class="col-md-6 <%= cls %>" title="<%=restores[i].neverSaved%>">
        <%
        if(restores[i].neverSaved)
        {%>
          <%= _utils.GetTruncatedString(restores[i].neverSaved, maxStrLength) %>
      <%} else
        {
      %>
          <select id="selVersion<%=i %>">
          <%
          for(var c=0;c < restores[i].listVersions.length;c++)
          {
            aGuid[c] = restores[i].listVersions[c].guid;%>
            <option id="selVersion<%=i %>option<%=c %>"  guid="<%=restores[i].listVersions[c].guid%>" version="<%=restores[i].listVersions[c].ver%>">
              <%=restores[i].listVersions[c].date%>
            </option>
        <%}%>
          </select>
        <%}%>
      </div>

  <%}%>
  <%}%>
</div>