<div>
  <%
    var listUndo = GetItems();
    var flag = 0;
    for(var guid in listUndo) {
      flag = 1;
      break;
    }

    if(flag === 0)
    {
  %>
    <center><%= _utils.LocalXLate("snapin_protectrestore", "noItems") %></center>
  <%
    } else
    {
  %>
    <div class="col-md-1 table-heading">&nbsp;</div>
    <div class="col-md-5 table-heading"><%= _utils.LocalXLate("snapin_protectrestore", "settings") %></div>
    <div class="col-md-6 table-heading"><%= _utils.LocalXLate("snapin_protectrestore", "resDates") %></div>
    <%
    var aClass = ["odd-row", "even-row"]
    var i = 0;
    for(var guid in listUndo)
    {
      var cls = aClass[i % 2];
    %>
      <div class="col-md-1 <%= cls %>">
        <%if(sProtectId.length > 0 ){
            if(guid == sProtectId[0].id){
        %>
              <input type="radio" name="rbUndo" checked hidefocus="hidefocus" class="clsUndo" id="<%= i %>" displayName="<%=listUndo[guid].displayName %>"  key="<%=listUndo[guid].key %>" guidvalue="<%=listUndo[guid].guid %>" value="<%=listUndo[guid].key %>" />

          <%}else{%>
              <input type="radio" name="rbUndo" hidefocus="hidefocus" class="clsUndo" id="<%= i %>" displayName="<%=listUndo[guid].displayName %>" key="<%=listUndo[guid].key %>" guidvalue="<%=listUndo[guid].guid %>" value="<%=listUndo[guid].key %>" />
          <%}
          }else{ %>
              <input type="radio" name="rbUndo" hidefocus="hidefocus" class="clsUndo" id="<%= i %>"  displayName="<%=listUndo[guid].displayName %>" key="<%=listUndo[guid].key %>" guidvalue="<%=listUndo[guid].guid %>" value="<%=listUndo[guid].key %>" />
        <%}%>
      </div>
      <div class="col-md-5 <%= cls %>" title="<%=listUndo[guid].displayName%>">
          <img id="img_<%= i %>" src="" width="0" height="0" alt="" border="0" align="absmiddle" />
          <td id="img_text_<%= i %>">
          <%= _utils.GetTruncatedString(listUndo[guid].displayName, maxStrLength) %>
          </td>
      </div>
      <div class="col-md-6 <%= cls %>" title="<%=listUndo[guid].undoDate%>">
        <%= _utils.GetTruncatedString(listUndo[guid].undoDate, maxStrLength) %>
      </div>
    <%
      i++;
    }
   }
   %>
</div>