<%
  var sLoadingGifPath = $ss.GetLayoutSkinPath() + "\\icons\\loader.gif"
%>
<div id="snapin_user_information" class="col-sm-12 col-md-12 col-lg-12">
  <div class="panel-default-ss row-box-shadow">
    <div class="panel-heading panel-dashboard-header-ss">
      <span class="icon-user"></span>
      <%= _utils.LocalXLate("snapin_user_information","title_user_info")%>
    </div>
    <div class="panel-widget-body-ss" style="text-align:center;">
      <image src="<%= sLoadingGifPath %>" ></image>
      <br>
      <span>%LOCL:snp_loading%</span>
    </div>
    <br><br><br><br><br><br>
  </div>
</div>