<div id="snapin_langselect">

	<div id="frcolumnmain">
    <div id="snapin_langselect_content">

    </div>

  <div id="snapin_langselect_buttons" class="buttonarea">
    <input type="image" alt="<%= $ss.agentcore.utils.LocalXLate('snapin_langselect','cl_ls_back_button') %>" src="%LSKINPATH%/buttons/%LANGCODE%/btn_back.gif" id="prevbutton">
    <input type="image" alt="<%= $ss.agentcore.utils.LocalXLate('snapin_langselect','cl_ls_next_button') %>" src="%LSKINPATH%/buttons/%LANGCODE%/btn_next.gif" id="nextbutton" class="nextbutton">
  </div>
</div>
</div>
