#selectAll,
.colCheckBox, 
.colIcon,
.colRightText,
.colLaunch,
.colResultIcon,
.category .colResultText,
.category .colRightText
{
    display: none;
}

.OptTestConditionNotSatisfied,
.OptNotApplied,
.OptOptimal
{ color:#537A00; }

.OptReloginRequired,
.OptRebootRequired,
.OptTargetBusy,     
.OptError,          
.OptAbort
{ color:#CC2929; }

table { margin-bottom: 10px; }
.category table { margin-bottom: 0px; }

.category 
{
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title 
{
    font-weight:bold;
}

.opt_description_more 
{
    display: block;
}
