#snapin_perfman_quick #OptBtnStop  {
  display: none;
}

#selectAll{
  padding-left:50px;
  border-radius:0px;
}

.padding-left{
  padding-left:10px;
}

.padding-right{
  padding-right:10px;
}

#snapin_perfman a
{
    cursor: pointer;
}

#snapin_perfman .pmnavlinks,
#snapin_perfman .pmnavlinksCK 
{
  color:#FFFFFF;
  padding-top: 10px;
  cursor: pointer;  
}
#snapin_perfman .pmnavlinks:hover
{
    color: #E6EC85;
}
#snapin_perfman .pmnavlinksCK  
{
  background: transparent url(../images/start.gif) no-repeat scroll right top; 
  color:#000000; 
  margin-top: -8px;
}

#snapin_perfman .pmnavlinks div,
#snapin_perfman .pmnavlinksCK div
{
  background: transparent url("../images/hseparator.jpg") no-repeat scroll 8px bottom;
  padding: 0px;
  padding-bottom: 10px;
}
#snapin_perfman .pmnavlinksCK div { background: transparent url(../images/end.gif) no-repeat scroll right bottom; }

#snapin_perfman .pmnavlinks div div,
#snapin_perfman .pmnavlinksCK div div
{
  background: transparent none no-repeat scroll right bottom;
  padding: 0px;
  height: 30px;
  padding-left: 14px;  
}

#snapin_perfman .pmnavlinksCK div div
{
  background: transparent url("../images/linkpref_ck.gif") repeat-y scroll right center;
}

#snapin_perfman .pmnavlinks div div div.ico, 
#snapin_perfman .pmnavlinksCK div div div.ico 
{
  width:26px;
  height:26px;
  overflow: hidden;
  padding: 0px;
  float: left;
  margin-right: 5px;
}

#snapin_perfman .pmnavlinks div div div.text, 
#snapin_perfman .pmnavlinksCK div div div.text,
#snapin_perfman .pmnavlinks div div div.oneline, 
#snapin_perfman .pmnavlinksCK div div div.oneline
{
  padding: 0px;
  font-weight:bold;
  text-decoration:none;
  height: auto;
}

#snapin_perfman .pmnavlinks div div div.oneline, 
#snapin_perfman .pmnavlinksCK div div div.oneline
{
  padding-top: 5px;
}

#snapin_perfman h2 {
  color:#000000;
  font-weight:bold;
  margin:0;
  padding-bottom:4px;
  padding-top:3px;
  text-decoration:none;
}

#snapin_perfman p {
  padding:10px 0 10px;
  color:#404040;
  font-weight:normal;
  text-decoration:none;
  margin: 0;
}

#snapin_perfman_history .scrollarea{
  height:470px !important;
  width:100%;
  overflow-x:hidden;
  overflow-y:auto;
}

#perfman_history_table tbody tr{
  width:100%;
}

.snapin_perfman_schedule_frequency{
  margin-top:20px !important;
}

#perfman_history_table_head,
#perfman_history_table {
  background-color:#FFF;
  margin:0;
  padding: 0;
  text-align:left;
  width: 100%;
}

#perfman_history_table_head a,
#perfman_history_table a {
  text-decoration: underline;
  color:grey !important;
}

#perfman_history_table_head thead tr th,
#perfman_history_table thead tr th{
  background-color:#969290;
  padding:4px;
  color: #FFFFFF;
}

#perfman_history_table tbody tr td,
#perfman_history_table_head thead tr th  {
  padding-left:100px;
}

#perfman_history_table tbody td {
  padding:4px;
}

#snapin_perfman_schedule #snapin_perfman_schedule_content_body {
    padding: 15px 0px 15px 25px;
}

#snapin_perfman_schedule #snapin_perfman_schedule_content_body div {
    padding-bottom: 10px;
    display: none;
}

.prefcontent #snapin_perfman_schedule h2
{
    display: none;
}

#snapin_perfman_quick #OptBtnSaveReport
{
    display: none;
}

#OptBtnQuickBack 
{
    display: none;
}
#snapin_perfman_quick #lnkSaveDefaultOptimization,
#snapin_perfman_schedule #lnkSelectScheduledOptimizations { padding-right: 15px; }

#snapin_perfman_schedule #lnkSelectScheduledOptimizations,
#snapin_perfman_schedule_select #lnkWhatCreateRestorePoint,
#snapin_perfman_schedule_select #lnkSaveScheduledOptimizations,
#snapin_perfman_quick #lnkWhatCreateRestorePoint,
#snapin_perfman_quick #lnkSaveDefaultOptimization,
#snapin_perfman_history_detail #lnkRestoreComputer
{
  text-decoration: underline;
}

#snapin_perfman_schedule_select #optList{
  height: 390px;
}

#optList {
  height: 450px;
  overflow-y: auto;
  background-color:#fff;
}

#snapin_perfman #optList .colText {
   padding-left: 50px; 
 } 

#snapin_perfman #optList .colResultText { padding-right: 20px;}
#snapin_perfman #optList .colRightText { padding-right: 20px;}


#snapin_perfman #optTemplate,
#snapin_perfman #optList .colCheckBox, 
#snapin_perfman #optList .colIcon,
#snapin_perfman #optList .colLaunch,
#snapin_perfman #optList .colToggle,
#snapin_perfman #optList .category .colResultIcon,
#snapin_perfman #optList .category .colResultText,
#snapin_perfman #optList .category .colRightText,
#snapin_perfman_quick #optList .colResultIcon, 
#snapin_perfman_quick #optList .colResultText,
#snapin_perfman_advanced #optList .category,
#snapin_perfman_advanced #optList .colRightText,
#snapin_perfman_advanced #optList .colResultIcon,
#snapin_perfman_advanced #optList .colResultText { display:none; }

#snapin_perfman_quick #optList .colCheckBox, 
#snapin_perfman_quick #optList .colRightText,
#snapin_perfman_schedule_select #optList .colCheckBox, 
#snapin_perfman_schedule_select #optList .colRightText,
#snapin_perfman_advanced #optList .colIcon,
#snapin_perfman_advanced #optList .colLaunch,
#snapin_perfman #optList .category .colToggle,
#snapin_perfman #optList .category .colIcon { display: block; }

#snapin_perfman #optList .category .colText { padding-left: 0px; }
#snapin_perfman #optList .category .colToggle .iconToggle,
#snapin_perfman #optList .category .iconDownArrow .iconToggle
{
    display:block; 
    width: 14px;
    height: 14px;
    background-image:url(../images/icon_dropdown.gif); 
    background-repeat:no-repeat; 
    background-position:0 0;
    overflow:hidden;
    cursor: pointer;
}
#snapin_perfman #optList .category .iconDownArrow .iconToggle
{
    background-position: 0 -14px;
}


#optList .icon
{
   margin-left: 10px;
   margin-right: 10px;   
   width: 33px;
   height: 24px;
   overflow: hidden;
   background: transparent url(../images/icon_categories.gif) no-repeat scroll 0 0;
}

#optList #opt_programs          .icon { background-position:0 0px; }
#optList #opt_disk              .icon { background-position:0 -24px; }
#optList #opt_system_security   .icon { background-position:0 -48px; }
#optList #opt_restore           .icon { background-position:0 -72px; }
#optList #opt_privacy           .icon { background-position:0 -96px; }
#optList #opt_system_clean      .icon { background-position:0 -120px; }
#optList #opt_system_perf       .icon { background-position:0 -144px; }
#optList #opt_desktop_clean     .icon { background-position:0 -168px; }
#optList #opt_browser_perf      .icon { background-position:0 -192px; }
#optList #opt_browser_clean     .icon { background-position:0 -216px; }

.loading,
.popup_body .loading,
.resultIcon 
{
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;    
}

.loading,
#optList .OptRunning        { background-image:url("../images/loader.gif"); }
#optList .OptTestConditionNotSatisfied,
#optList .OptNotApplied,
#optList .OptOptimal        { background-image:url("../images/tick.gif");   color:#537A00; }
#optList .OptReloginRequired{ background-image:url("../images/login.gif");  color:#CC2929; }
#optList .OptRebootRequired { background-image:url("../images/reboot.gif"); color:#CC2929; }
#optList .OptTargetBusy     { background-image:url("../images/abort.gif");  color:#CC2929; }
#optList .OptError          { background-image:url("../images/cross.gif");  color:#CC2929; }
#optList .OptAbort          { background-image:url("../images/abort.gif");  color:#CC2929; }

#optList .colResultText     { background-image:none;}

#snapin_perfman_advanced #optList .text
{
    padding-left: 50px;
}

#optList .opt {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 30px;
}

#optList .category {
  background-color:#eee;
}

#optList .colRightText {
  font-weight:bold;
}

#snapin_perfman #optList .colRightText a {
  text-decoration:underline;
  color:grey !important;
}

#snapin_perfman_advanced #optList {
  overflow-y:auto;
  height:470px;
}

#snapin_perfman_summary #optList,
#snapin_perfman_history_detail #optList { margin-bottom: 5px; }

.modal-dialog{
  position: fixed;
  top:30%;
  left:30%;
  color:#707070;
  font-size:12px;
}

.modal-header-primary{
  padding-top: 1px;
  height:25px !important;
  color:#FFF;
  background-color: #428bca;
}

#perfScheduler{
 background-color:#fff;
 height:450px!important; 
}

#snapin_perfman_history_detail #optList .colText,
#snapin_perfman_summary #optList .colText{
  width:20% !important;
}

#snapin_perfman_history_detail #optList .colIcon,
#snapin_perfman_summary #optList .colIcon{
  width:1%;
}

#snapin_perfman_history_detail #optList .colRightText,
#snapin_perfman_summary #optList .colRightText{
  width:3%;
}

#snapin_perfman_history_detail  #optList .colResultIcon,
#snapin_perfman_summary #optList .colResultIcon{
  width:1%;
  padding-left:10px;
}

#snapin_perfman_history_detail   #optList .colResultText,
#snapin_perfman_summary #optList .colResultText{
  width:3%;
}

#snapin_perfman_quick #optList .colText,
#snapin_perfman_schedule_select #optList .colText{
  width:70% !important;
}

#snapin_perfman_advanced #optList .colIcon,
#snapin_perfman_quick  #optList .colIcon,
#snapin_perfman_schedule_select  #optList .colIcon{
  width:1%;
}


#snapin_perfman_quick #optList .colRightText,
#snapin_perfman_schedule_select #optList .colRightText{  
  width:10%;
}


#snapin_perfman_quick  #optList .colResultIcon,
#snapin_perfman_schedule_select  #optList .colResultIcon{
  width:1%;
  padding-left:10px;
}


#snapin_perfman_quick   #optList .colResultText,
#snapin_perfman_schedule_select   #optList .colResultText{
  width:3%;
}


#snapin_perfman_quick  #optList .colCheckBox,
#snapin_perfman_schedule_select  #optList .colCheckBox{
  width:1%;  
}


#snapin_perfman_advanced #optList .colLaunch{
  width:5%;
}