@charset "utf-8";
/* CSS Document */
#snapin_personal_firewall {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	height: 345px;
	width: 710px;
	overflow:hidden;
	padding-left:22px;
	padding-top:16px;
	padding-right:20px;
	padding-bottom:10px;
}

#snapin_personal_firewall #frcolumnone {
	float:left;
	width:169px;
	height:321px;
	overflow:hidden;
	padding:10px;
}


#snapin_personal_firewall #frcolumnone .frlinks {
	background-image: url(../images/frlinks_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#505050;
	display:block;
	padding-bottom:7px;
	width:169px;
}

#snapin_personal_firewall #frcolumnone .frlinks:hover {
	color:#000000;
}

#snapin_personal_firewall #frcolumnone .frlinks span {
	float:left;
	background-image: url(../images/frlinks_span_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:21px;
	height:17px;
	text-align:center;
	color:#fff;
	padding-top:3px;
	margin-right:5px;
}

#snapin_personal_firewall #frcolumnone .frlinks div {
	float:left;
	padding-top:2px;
	cursor:hand;
}


#snapin_personal_firewall #frcolumnone .frlinkslast {
	background-image: url(../images/frlinks_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#505050;
	display:block;
	width:169px;
}

#snapin_personal_firewall #frcolumnone .frlinkslast:hover {
	color:#000000;
}

#snapin_personal_firewall #frcolumnone .frlinkslast span {
	float:left;
	background-image: url(../images/frlinks_span_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:21px;
	height:17px;
	text-align:center;
	color:#fff;
	padding-top:3px;
	margin-right:5px;
}

#snapin_personal_firewall #frcolumnone .frlinkslast div {
	float:left;
	padding-top:2px;
	cursor:hand;
}






#snapin_personal_firewall #frcolumnone .frlinkslastCK {
	background-image: url(../images/frlinks_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#505050;
	display:block;
	width:169px;
}

#snapin_personal_firewall #frcolumnone .frlinkslastCK:hover {
	color:#000000;
}

#snapin_personal_firewall #frcolumnone .frlinkslastCK span {
	float:left;
	background-image: url(../images/frlinks_span_bg_ck.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:21px;
	height:17px;
	text-align:center;
	color:#000000;
	padding-top:3px;
	margin-right:5px;
}

#snapin_personal_firewall #frcolumnone .frlinkslastCK div {
	float:left;
	padding-top:2px;
	cursor:hand;
}








#snapin_personal_firewall #frcolumnone .frlinksCK {
	background-image: url(../images/frlinks_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#000000;
	font-weight:bold;
	display:block;
	width:169px;
	padding-bottom:7px;
}

#snapin_personal_firewall #frcolumnone .frlinksCK:hover {
	color:#000000;
}

#snapin_personal_firewall #frcolumnone .frlinksCK span {
	float:left;
	background-image: url(../images/frlinks_span_bg_ck.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:23px;
	height:23px;
	text-align:center;
	color:#000000;
	padding-top:4px;
	margin-right:5px;
}

#snapin_personal_firewall #frcolumnone .frlinksCK div {
	float:left;
	padding-top:2px;
	cursor:hand;
}

#snapin_personal_firewall #frcolumnmain {
	float:right;
	width:500px;
	height:341px;
	overflow:hidden;
	color: #595959;
}

#snapin_personal_firewall #frcolumnmain form {
	margin:0px;
	padding:0px;
}

#snapin_personal_firewall #frcolumnmain .bullink {
	display:inline-block;
	color:#595959;
	padding-bottom:6px;
	padding-left:13px;
	text-decoration: underline;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
}

#snapin_personal_firewall #frcolumnmain .bullink:hover {
	color:#000;
	text-decoration: none;
}

#snapin_personal_firewall #frcolumnmain h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #0a0e10;
	text-decoration: none;
	background-image: url(../images/h1_bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin:0px;
	padding-bottom:6px;
}

#snapin_personal_firewall #frcolumnmain p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #595959;
	text-decoration: none;
	margin:0px;
	padding-bottom:6px;
	padding-top:4px;
}


#snapin_personal_firewall #frcolumnmain .frscrollarea {
	background-color: #fbfbfb;
	border: 1px solid #d1d9dd;
	height:220px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#595959;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea p {
	color:#595959;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}








#snapin_personal_firewall #frcolumnmain .frscrollarea2 {
	background-color: #fbfbfb;
	border: 1px solid #d2d9de;
	height:190px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#595959;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea2 p {
	color:#595959;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea2 ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea2 ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}




#snapin_personal_firewall #frcolumnmain .buttonarea {
	height:22px;
	overflow:hidden;
	text-align:right;
}