<%
var sRegRoot, sRegKey, providerID, prodName, brandName, sBuild, sBuildVersion, sShowBuildInfo, sUser , SInstalldate , sInstalltime;
var bMac = $ss.agentcore.utils.IsRunningInMacMachine(); 
sRegRoot = "HKLM";
providerID = $ss.agentcore.dal.config.GetProviderID();
prodName = $ss.agentcore.dal.config.ParseMacros("%PRODUCT%");
brandName = $ss.agentcore.dal.config.ParseMacros("%BRANDNAME%");
sUser = $ss.agentcore.dal.config.ExpandSysMacro("%USER%");
sRegKey = "Software\\SupportSoft\\ProviderList\\" + providerID + "\\SubAgent\\" + prodName;
sBuild = $ss.agentcore.dal.registry.GetRegValue(sRegRoot, sRegKey, "BuildInstalled");
sShowBuildInfo = $ss.agentcore.dal.registry.GetRegValue(sRegRoot, sRegKey, "ShowBuildInfo");

sRegKey="Software\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\" + brandName + "_is1";
sBuildVersion = $ss.agentcore.dal.registry.GetRegValue(sRegRoot, sRegKey, 
"DisplayVersion");

sRegKey = "Software\\SupportSoft\\ProviderList\\" + providerID + "\\installinfo\\";
SInstalldate = $ss.agentcore.dal.registry.GetRegValue(sRegRoot, sRegKey, "InstallDate");
sInstalltime = $ss.agentcore.dal.registry.GetRegValue(sRegRoot, sRegKey, "InstallTime");
if(bMac) {
  var jsBridge = window.JSBridge;
  var message = {'JSClassNameKey':'SystemUtility','JSOperationNameKey':'GetInstallInfo', 'JSArgumentsKey':[], 'JSISSyncMethodKey' : '1'};
        var result = jsBridge.execute(message);
        var parsedJSONObject = JSON.parse(result);
        var installInfo = parsedJSONObject.Data;

        sBuildVersion = installInfo["DisplayVersion"];
        SInstalldate  = installInfo["InstallDate"];
        sInstalltime  = installInfo["InstallTime"];
        sBuild        = installInfo["InstalledSetup"];
}
%>
<div id="build_preference" class="panel-widget-body-ss scrollareaPref" style="padding-top:20px;">
  <table id="tablebuildinfo" style=" width:100%;" >
    <% if (sShowBuildInfo.toLowerCase() === "yes") { %>
      <tr class="odd-row">
        <td><b>%LOCL:build_setup%</b></td>
        <td><%= sBuild %></td>
      </tr>
    <%}%>
    <tr class="even-row">
      <td><b>%LOCL:build_version%</b></td>
      <td><%= sBuildVersion %></td>
    </tr>
    <tr class="odd-row">
      <td><b>%LOCL:build_date%</b></td>
      <td><%= SInstalldate %></td>
    </tr>
    <tr class="even-row">
      <td><b>%LOCL:build_time%</b></td>
      <td><%= sInstalltime %></td>
    </tr>
  </table>
</div>