<div id="frm_general">
  <div id="Triggers" class="panel-widget-body-ss scrollareaPref" style="padding-left:20px;">
    <br>
    <div id="TriggerList">
      <%var appList = $ss.snapin.preference.triggers.GetTriggerAppList();
      var flag = true;
      for(var app in appList)
      {
        if(flag)
        {%>
          <input type="checkbox" id="chk_trigger" name="chk_trigger" checked="checked" />
          <label for="chk_trigger"><b><%= _utils.LocalXLate("snapin_preference","lblTrigger_header")%></b></label><br>
          <%flag = false;
        }
        var appName = _utils.LocalXLate("snapin_preference","lblTrigger_" + app);
        if(appName.indexOf("lblTrigger_") == 0) appName = app;
        var sChecked = (appList[app] == "1") ? "" : "checked='checked'";
        %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input class="clsTriggers" type="checkbox" id="<%=app%>" <%= sChecked%> />
        <label for='<%= app %>'><%= appName %></label>
        <br>
      <%}%>
    </div>
    <br>
    <div id="language_selection">
      <strong><%=_utils.LocalXLate("snapin_preference","language")%></strong>
      <select id="ss_ls_LangSel">
        <%
        var _general = $ss.snapin.preference.general;
        var aSupportedLang = _config.GetValues("language", "supported", "en");
        for (var i = 0; i < aSupportedLang.length; i++) {
          var bSelected = (aSupportedLang[i] === _config.GetConfigLanguage()) ? "selected" : "";%>
          <option value="<%=aSupportedLang[i]%>"<%=bSelected%>><%=_general.LangCodeToLangLong(aSupportedLang[i])%></option>
        <%}%>
      </select>
    </div>
    <br>
    <div id="savingwait" class="success-msg" style="display:none">
      <img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif">
      <b><%= _utils.LocalXLate("snapin_preference","savingwait")%></b>
    </div>
  </div>
  <div class="panel-widget-body-ss success success-msg" style="position: absolute; bottom: 40px; display: none">
    <b><%= _utils.LocalXLate("snapin_preference","savedinfo")%><b>
  </div>
  <div class="error error-msg" style="display:none"></div>
</div>
<br><br>