<div id="snapin_preference">
  <div class="cell-header">
    <%
    var arrObjPref = data["preferenceInfoColl"];
    var selectedFilePath ="";
    var selectedSnapin = "";
    var displayText = "";
    var maxLen = $ss.agentcore.dal.config.GetConfigValue("snapin_preference","maxStringLenToDisp");
    if(arrObjPref && arrObjPref.length)
    {
      for (var x=0; x < arrObjPref.length; x++ )
      {
        if(arrObjPref[x].Selected) {
          selectedFilePath = arrObjPref[x].ViewPage;
          selectedSnapin =  arrObjPref[x].SnapinName;
          displayText = arrObjPref[x].DisplayText;
        } %>
        <ul id="protect_filters" class="nav-ss navbar-nav">
          <li>
            <span id="<%= arrObjPref[x].Name%>">
              <a href="#" hidefocus="false" class="snapinPrefSelTab tab-menu-filters" id="<%= arrObjPref[x].Name%>" title="<%=arrObjPref[x].DisplayText%>"><%= _utils.GetTruncatedString(arrObjPref[x].DisplayText, maxLen) %></a>
            </span>
          </li>
        </ul>
    <%}
    }%>
  </div><br>
  <div id="prefContainer">
    <form id="snp_preference_form" name="contact" action="" method="get">
      <%
      var displayContent = $ss.snapin.preference.helper.RenderPreferenceDetail(this,selectedSnapin,selectedFilePath)
      if(displayContent)
      { %>
        <%= displayContent %>
        <div id="btnTable" style="display:block;" class="pull-right">
          <input type="button" id="snapin_preference_save" name="Submit" value="<%= _utils.LocalXLate("snapin_preference","Save") %>" class="btn btn-primary-ss btn-sm"/>
          <input type="button" id="snapin_preference_reset" name="Reset" value="<%= _utils.LocalXLate("snapin_preference","Reset") %>" class="btn btn-primary-ss btn-sm"/>
        </div>
    <%}%>
    </form>
  </div>
</div>