<%
  var content = $ss.snapin.preference.general.CreateSyncInfoHTML();
%>
<div id="sync_preference" >
  <div id="Sync_Content" class="panel-widget-body-ss scrollareaPref">
    <br><br><%= content%>
  </div>
  <br>
  <div class="pull-right">
    <input name="Submit" class ="btn btn-primary-ss btn-sm" type="button" id="snapin_preference_forcesync" value = "<%= $ss.agentcore.utils.LocalXLate("snapin_preference","forcesync") %>" />
    <input type="button" class ="btn btn-primary-ss btn-sm" id="snapin_preference_refresh" value ="<%= $ss.agentcore.utils.LocalXLate("snapin_preference","Refresh") %>"/>
  </div>
   <div class="waitindicator panel-widget-body-ss" style="display:none;"><img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif">&nbsp;<%= $ss.agentcore.utils.LocalXLate("snapin_preference","forcesyncingwait") %></div>
   <div id="success" style="display:none; margin-top: 2px;" class="panel-widget-body-ss"><%= $ss.agentcore.utils.LocalXLate("snapin_preference","forcesync_message") %></div>
</div>