<%
  var oDictionary = data["oDictionary"];
  var sContentTitle = oDictionary.ContentTitle;
  var bEnableFixBtn = (oDictionary.sFixType == NOTIFY_TO_FIX);
  var sLoadingGifPath = $ss.GetLayoutSkinPath() + "\\icons\\loader.gif"
%>

<div id="snapin_wmitrigger">
  <div id="snapin_wmitrigger_panel">
    <div id="triggersubject" class="panel-title">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
      <strong><%= sContentTitle %></strong>
    </div>
    <div id="snapin_wmitrigger_panel_body" class="panel-body" style="max-height:100px">
      <div id="idLoading">
        <image src="<%= sLoadingGifPath %>"></image>
        <br>
        <span>%LOCL:solution_in_progress%</span>
      </div>
      <div id="idMessage"></div>
    </div>
  </div>
  <% if(bEnableFixBtn) { %>
    <button id="idFixBtn" title="%LOCL:fixbtnname%" type="button" class="btn btn-primary-ss btn-sm pull-right">%LOCL:fixbtnname%</button>
  <% } %>
</div>
<%
  oDictionary = null;
%>