<div id="snapin_mdetect">
	<div id="frcolumnmain">
    <div id="snapin_mdetect_content">

    </div>

  <div id="snapin_mdetect_buttons" class="buttonarea">
    <input type="image" alt="<%= $ss.agentcore.utils.LocalXLate('snapin_mdetect','cl_md_back_button') %>" src="%LSKINPATH%/buttons/%LANGCODE%/btn_back.gif" id="prevbutton">
    <input type="image" alt="<%= $ss.agentcore.utils.LocalXLate('snapin_mdetect','cl_md_next_button') %>" src="%LSKINPATH%/buttons/%LANGCODE%/btn_next.gif" id="nextbutton" class="nextbutton">
  </div>
  </div>
</div>