<div id="snapin_extcontent">
  <div id="snapin_extcontent_content">
    <% 
       var qObjs = data["content"];
       var fName = data["fileName"];
       var lFile = data["resFileName"];
       var opt;
       if(qObjs && qObjs.length) {
         opt = {
           contentType : qObjs[0].ctype,
           GUID: qObjs[0].cid,
           version: qObjs[0].version,
           file: fName,
           locFile: lFile
         }
       }
    %>
    <% if(opt) { %>
    <% var result= this.renderExContentView(opt) %>
    <%= result %>
    <% 
      result=null;
      } 
    %>
</div>
</div>    