<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	

<h2>Firewall</h2>
<p>A firewall is a secure system that is set up between a private and public network to determine which network information to 
block and which one to pass.</p>
<h2>Software Firewall</h2>
<p>A Software firewall is an application that can be installed and customized on your computer. It helps protect against malicious attempts to access your computer, file, or printer sharing through privacy control
<h2>Hardware Firewall</h2>
<p>A Hardware firewall can be standalone or a part of broadband routers. 
It helps protect a machine on a local network against malicious attempts at access. 
</div>
