<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	
<div id="selectanimation">
<p id="ss_gc_cfl_Figure" alt="" width="165" height="159" border="0" usemap="#checkfilters"></p>
</div>
	<p>
	  <map name="checkfilters" id="checkfilters">
		<area id="show_filter" shape="circle" coords="26,62,23" target="gcrsanimframe"/>
	  </map>
	</p>
    <div class="animramegc" id="gcrsanimframe" name="gcrsanimframe" width="133" height="134" scrolling="no" marginheight="0" marginwidth="0" 
allowtransparency="true">
<img id="gcrsimg_modem" src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/show_filter.gif"><br />
<h2>Splitter</h2>
<p>A Splitter or DSL filter separates the data transmission for internet connectivity from the voice signals for telephony. This enables both the data and voice networks to perform simultaneously.</p>

</div>
<div id="gc_modem_image" style="display:none;">
<div id="filter_images" style="display:none">
  <!-- Use the resource below as a model for other modem/connections.. see ss_gc_connectiondiagram.xml -->   
  <div id="ss_gc_cfl_common_ethernet">
  <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/checkcables_socket.gif"></IMG></div>
  <div id="ss_gc_cfl_common_wireless">
  <IMG  src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/checkcables_socket.gif"></IMG></div>
  <div id="ss_gc_cfl_common_usb">
  <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/checkcables_socket.gif"></IMG></res>
</div>
