<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	

            <h2>Common Network Connectivity issues:</h2>
<p>
The commonly encountered connectivity issues are due to:
<ul><li>Loose cables connecting the modem, adapter, router, and the computer</li>
<li>Network provider (ISP) downtime</li></ul>
</p>
<h2>Troubleshooting Network Connectivity Issues:</h2>
<p>
You can usually solve connectivity issues by:
<ul><li>Ensuring that all the cables are secured correctly</li>
<li>	Ensuring that all the components are powered on</li>
<li>	Restarting the modem and/or computer</li>
<li>	Contacting your ISP for support</li></p>
</div>
