<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
<h2>Work Offline mode in browsers</h2><p>
 When browsers are set to the offline mode, clicking on online content causes a dialog box to appear asking if Internet Explorer should connect to the network to download the requested content. If the connection is made, Internet Explorer will automatically change from offline mode to online mode for the remainder of the session, until you reselect Work Offline.  </p>
</div>
