<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
<div id="selectanimation">
<p id="ss_gc_cdm_Figure" alt="" width="165" height="159" border="0" usemap="#checkcables"></p>
</div>
	<p>
	  <map name="checkcables" id="checkcables">
		<area id="show_filter" shape="circle" coords="26,62,23" target="gcrsanimframe"/>
		<area id="show_modem" shape="circle" coords="68,67,18" target="gcrsanimframe"/>
		<area id="show_pc" shape="circle" coords="130,93,13" target="gcrsanimframe"/>
	  </map>
	</p>
    <div class="animramegc" id="gcrsanimframe" name="gcrsanimframe" width="133" height="134" scrolling="no" marginheight="0" marginwidth="0" 
allowtransparency="true">
<img id="gcrsimg_modem" style="display:none" src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-ethernet/ethernet.gif">
<img id="gcrsimg_filter" src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-ethernet/wall.gif">
<img id="gcrsimg_pc" style="display:none" src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-ethernet/pc.gif">
</div>
<p>
 <map name="checkcables_usb" id="checkcables_usb">
		  <area id="show_filter_usb" shape="circle" coords="26,62,23" target="gcrsanimframe_usb"/>
		  <area id="show_modem_usb" shape="circle" coords="68,67,18" target="gcrsanimframe_usb"/>
		  <area id="show_pc_usb" shape="circle" coords="130,93,13" target="gcrsanimframe_usb"/>
	  </map></p>
    <div class="animramegc" id="gcrsanimframe_usb" name="gcrsanimframe_usb" width="133" height="134" scrolling="no" marginheight="0" marginwidth="0" 
allowtransparency="true">
<img id="gcrsimg_modem-usb" style="display:none" src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/usb_modem.gif">
<img id="gcrsimg_filter-usb" src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/wall.gif">
<img id="gcrsimg_pc-usb" style="display:none" src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/usb_pc.gif">
</div>
<div id="gc_modem_image" style="display:none;">

	<!-- Common connections suported by all modems that do not have specific images -->
  <div id="ss_gc_cdm_common_ethernet">
		<IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-ethernet/Ethernet_socket.gif" border=0 alt="Modem Connections" usemap="#checkcables"></IMG>
	</div>
  <div id="ss_gc_cdm_common_ethernet_filter">
		<IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-ethernet/Ethernet_socket.gif"  border=0 alt="Modem Connections" usemap="#checkcables"></IMG>
  </div>
  <div id="ss_gc_cdm_common_ethernet_modem">
		<IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-ethernet/Ethernet_modem.gif" border=0 alt="Modem Connections" usemap="#checkcables"></IMG>
  </div>
  <div id="ss_gc_cdm_common_ethernet_pc">
    <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-ethernet/Ethernet_pc.gif" border=0 alt="Modem Connections" usemap="#checkcables"></IMG>
  </div>

  <!-- Null Modem USB Connection Images -->
  <div id="ss_gc_cdm_common_usb">
    <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/Ethernet_socket.gif" border=0 alt="Modem Connections" usemap="#checkcables_usb"></IMG>  
  </div>
  <div id="ss_gc_cdm_common_usb_filter">  
    <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/Ethernet_socket.gif" border=0 alt="Modem Connections" usemap="#checkcables_usb"></IMG>    
  </div>
  <div id="ss_gc_cdm_common_usb_modem">  
    <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/Ethernet_modem.gif" border=0 alt="Modem Connections" usemap="#checkcables_usb"></IMG>
   </div>
  <div id="ss_gc_cdm_common_usb_pc" >  
    <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/Ethernet_pc.gif" border=0 alt="Modem Connections" usemap="#checkcables_usb"></IMG>  
  </div>
<div id="ss_gc_cdm_st330_usb">
      <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/Ethernet_socket.gif" border=0 alt="Modem Connections" usemap="#checkcables_usb"></IMG>
	</div>
	<div id="ss_gc_cdm_st330_usb_filter">
    <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/Ethernet_socket.gif" border=0 alt="Modem Connections" usemap="#checkcables_usb"></IMG>
	</div>
	<div id="ss_gc_cdm_st330_usb_modem">
    <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/Ethernet_modem.gif" border=0 alt="Modem Connections" usemap="#checkcables_usb"></IMG>
	</div>
	<div id="ss_gc_cdm_st330_usb_pc">
    <IMG src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/%LANGCODE%/dsl-usb/Ethernet_pc.gif" border=0 alt="Modem Connections" usemap="#checkcables_usb"></IMG>
  </div>
</div>