<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	
<h2>Binding</h2>
<p>Binding is the process of creating a simple reference between a network adapter and the network.</p>

<h2>TCP/IP</h2>
<p>TCP (Transmission Control Protocol/Internet Protocol) is the basic language of communication for Internet or local network (Local Area Network)</p>

<h2>Why to bind TCP/IP</h2>
<p>Network adapters communicate with other computers or devices via TCP/IP and hence TCP/IP has to be bound to it.</p>

</div>
