<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
<h2>Proxy server</h2>
<p>Proxy server is a computer system or an application program that services the requests of its users by forwarding their requests to other servers.</p>
</div>
