<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>

<h2>Router</h2>
<p>Router is a device that forwards data along networks(for most home users, ISP allows you to use a router to connect multiple computers to a single Internet connection and pay a nominal fee for each additional computer sharing the connection)</p>
</div>
