<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	
<h2>Why bind Nortel Network?</h2>
<p>It is important to bind Nortel Network to safeguard login name and passwords for trusted Websites against Internet theft or other malicious attacks. The DNS vulnerability may direct users to a fake Website to steal the credentials.</p>

</div>
