<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
<h2>Ethernet</h2>
<p>Ethernet is a wired LAN (Local Area Network) technology which connects end computers to the network.</p>
</div>
