<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	
<h2>DNS Spoofing</h2>
<p>DNS spoofing compromises a domain server or a computer by assuming the DNS name of that computer or server.</p>

</div>
