<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	
<h2>Modem</h2>
<p>Derived from the terms modulator-demodulator, a modem is a device that enable you to connect to the internet. The digital data stored in your computer is transmitted in the form of analog waves through telephone or cable lines</p>
<h2>Types of modems</h2>
<p>Modems can be external or internal.</p>
<ul>
<li>External: High-speed broadband modems that reside outside the computer system and are connected to the computer by means of 
cable or wireless signal.</li>
<li>Internal: A circuit board that can be added to the CPU expansion board. </li>
</li></ul>

</div>
