<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
<h2>RAS</h2>
<p>A Remote Access Server (RAS) when attached to a LAN enables dial-up connection from other LAN or individual computers.</p>

</div>
