<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>

  <p id="ss_gc_cph_Figure" alt="" border="0" usemap="#checkphoneline"></p>    	

<div id="phone_images" style="display:none">
 <div id="ss_gc_cph_common_ethernet">
  <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ssanim_phoneline_check.gif" xalt="PhoneLineCheck">    
 </div>
  <div id="ss_gc_cph_common_wireless">
  <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ssanim_phoneline_check.gif" xalt="PhoneLineCheck">  
  </div>
  <div id="ss_gc_cph_common_usb">
  <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ssanim_phoneline_check.gif" xalt="PhoneLineCheck">  
 </div>
   </div>