<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>

<h2>Dial-up connection</h2>
<p>Dial-up connection is a method of using a telephone line to connect to the Internet. A modem within the computer is used to communicate with other computers.</p>

</div>
