<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
<h2>DHCP</h2>
<p>Dynamic Host Configuration Protocol is a protocol for assigning dynamic IP addresses to devices on a network. A device can have a different IP address every time it connects to the network. In some cases, the device's IP address can even change while it is still connected. DHCP supports a mix of static and dynamic IP addresses. </p>
</div>
