<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	
<h2>
Account Activation Process</h2>
<p>Account activation is an authentication process that usually involves a unique username and password.</p>


</div>
