<div id="gcknowmoreright">
	<h1>
	  <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>

<h2>What is a wireless profile?</h2>
<p>A wireless profile is the network connection details for your wireless network adapter that is added to the profile store of your Operating System. Example: In Windows OS, all the cable and wireless profiles are added to the Network Connections system folder.</p>

</div>
