<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
	
<h2>Network Adapters</h2>
<p>Network Adapters is part of computer's hardware that allows computers to communicate with other computers.</p>

</div>
