<div id="gcknowmoreright">
	<h1>
    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
  </h1>
<h2>Static IP</h2>
<p>Static IP address is a number (in the form of a dotted quad e.g. 255.255.0.0) that is assigned to a computer by an Internet service provider (ISP) to be its permanent address on the Internet. Computers use IP addresses to locate and talk to each other on the Internet</p>
<h2>DHCP</h2>
<p>Dynamic Host Configuration Protocol is a protocol for assigning dynamic IP addresses to devices on a network. A device can have a different IP address every time it connects to the network. In some cases, the device's IP address can even change while it is still connected. DHCP supports a mix of static and dynamic IP addresses. </p>
</div>
