<div id="wrlknowmoreright"> 
    <h1>
	    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
	  </h1>
	  <p><strong><h2>Wireless Network Connection</h2></strong> </p>
	  <p>You can set up shared information at home or at work for multiple users/devices and allow mobility within a permissible range.</p>
</div> 
