	<div id="wrlknowmoreright"> 
	  <h1>
	    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
	  </h1>
	  <p><strong><h2>Wireless Network Adapter</h2></strong></p>
    <p>A wireless network adapter is an external network card that must be plugged into your computer. Ensure that the appropriate driver is installed on your computer.</p>
    <p><strong><h2>Wireless Router</h2></strong></p>
    
    <p>A router broadcasts radio technology based internet access, within a permissible range, without the aid of cables.</p>
    <p><strong><h2>Wireless Network</h2></strong></p>
    <p>A Wireless network helps you to share files, printers, internet connection, internet games and entertaintment, use VOIP, and other advanced features without the aid of cables</p>
  </div> 
            
