<div id="wrlknowmoreright"> 
    <h1>
	    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
	  </h1>
	  <p><strong><h2>Wireless Network Encryption</h2></strong> </p>
	  <p>You can choose to connect to a wireless network through a secure, encrypted channel that provides authenticated access only or through an insecure channel that provides open access.</p>
	  
</div> 
