<div id="wrlknowmoreright"> 
    <h1>
	    <span id="KnowmoreIconImage"></span>&nbsp;Know more...
	  </h1>
	  <p><strong><h2>WEP</h2></strong></p>
	  <p>Wired Equivalent Privacy or Wireless Encryption Protocol that provides a secure network access.</p>
    <p><strong><h2>WPA</h2> </strong></p>
	  <p>Wi-Fi Protected Access that provides higher level of security than a WEP and uses an improved data encryption for user authentication.</p>
	  <p><strong><h2>Passphrase</h2></strong></p>
	  <p>A suitable authentication string that acts as a password to connect to a secure wireless network.</p>

</div> 

