<%
  var err_desc = "";
  var _utils = $ss.agentcore.utils;
  var maxStrLen = $ss.agentcore.dal.config.GetConfigValue("snapin_problemsolved","maxStringLenToDisp");
  var cSelfService = _utils.LocalXLate("snapin_problemsolved","snp_self_service"),
    cSelfHeal = _utils.LocalXLate("snapin_problemsolved","snp_self_heal");

  if(oContent.error_code) err_desc = _utils.LocalXLate("snapin_problemsolved", oContent.error_code);
%>
<div id="snapin_problemsolved" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
  <div class="panel-default-ss row-box-shadow">
    <div class="panel-heading panel-dashboard-header-ss">
      <span class="icon-exclamation-circle"></span>
      <%= _utils.LocalXLate("snapin_problemsolved","titleSnapin")%>
      <a href="#" class="problemSolvedRefresh" data-tooltip title="%LOCG:glb_lbl_refresh_tooltip%"><i class="pull-right fa fa-refresh"></i></a>
    </div>
    <div id="snapin_problemsolved_container" class="panel-widget-body-ss">
      <%if (oContent.success === true && (oContent.iSelfServiceInPercentage || oContent.iSelfHealInPercentage)){ %>
        <div id="divChart" class="panel-widget-pad-left-ss">
          <canvas id="myChart" style="height:130px;margin-bottom:6px;"></canvas>
        </div>
        <div id="divChartData">
          <span class="selfserviceSpan" title="<%=cSelfService%>"><i class="fa fa-square selfservice"></i>  <%=_utils.GetTruncatedString(cSelfService, maxStrLen)%></span>
          <span class="selfHealSpan" title="<%=cSelfHeal%>"><i class="fa fa-square selfHeal"></i>  <%=_utils.GetTruncatedString(cSelfHeal, maxStrLen)%></span>
        </div>
      <%} else {%>
        <div class="WidgetNoContentDiv">
          <span class="fa fa-exclamation-circle WidgetNoContentIcon" style="font-size:78pt;"></span><br>
          <span class="WidgetNoContentText"><%= err_desc %></span>
        </div>
       <%}%>
    </div>
  </div>
</div>
