<%
  var sLoadingGifPath = $ss.GetLayoutSkinPath() + "\\icons\\loader.gif"
%>
<div id="snapin_problemsolved" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
  <div class="panel-default-ss row-box-shadow">
    <div class="panel-heading panel-dashboard-header-ss">
      <span class="icon-exclamation-circle"></span>
      <%= _utils.LocalXLate("snapin_problemsolved","titleSnapin")%>
    </div>
    <div class="panel-widget-body-ss">
      <center>
        <image src="<%= sLoadingGifPath %>" ></image>
        <br>
        <span>%LOCL:snp_loading%</span>
      </center>
   </div>
  </div>
</div>