<div class="clsPageWrapper" id="clientmodem_Wrapper">
  <div class="tablewrapper" id="messages_table_wrapper">
    <div class="panel-parent-header-ss-d">
      <i><%= _utils.LocalXLate("snapin_messageviewer","cl_msg_preference") %></i>
    </div>
    <div id="notifyBody" class="panel-widget-body-ss scrollareaPref" style="padding-left:20px;padding-top:20px;">
      <div class="preferencerow" id="snap_pref_enable">
        <label class="wide left" id="snap_pref_lbl_Notification" for="notification">
          <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_notification") %>
        </label><br />
        <input id="notification_settings_enable_radio" type="radio" checked="checked" value="enabled"
               name="notification_settings_radio" />
        <label id="notification_settings_enabled" for="notification_settings_enable_radio">
            <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_enable") %>
        </label><br />
        <input id="notification_settings_disable_radio" type="radio" value="disabled" name="notification_settings_radio" />
        <label id="notification_settings_disabled" for="notification_settings_disable_radio">
            <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_disable") %>
        </label>
        <label id="lbl_notification_error" style="visibility: hidden; display: none;">
            <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_error") %>
        </label>
      </div>
      <div id="snp_pref_enable_disable">
          <div class="preferencerow" id="snap_pref_method">
              <br />
              <label class="wide left" id="snap_pref_lbl_Method" s tyle="font-weight: bold" for="notification">
                  <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_notification_message") %>
              </label><br />
              <div id="snap_pref_notification_options">
                  <div id="systray_option">
                      <input type="radio" checked="checked" value="systray" name="snap_pref_Notification_method"
                             id="snap_pref_Notification_systray" /><%= _utils.LocalXLate("snapin_messageviewer","cl_msg_systemtray_message") %>
                  </div>
                  <div id="popup_option">
                      <input type="radio" value="popup" name="snap_pref_Notification_method" id="snap_pref_Notification_popup" />
                      <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_popup_message") %>
                  </div>
                  <label id="lbl_notification_type_error" style="visibility: hidden; display: none;">
                      <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_checkmessages") %>
                  </label>
              </div>
          </div>
          <div class="preferencerow" id="snap_pref_freq">
              <br />
              <label class="wide left" id="snap_pref_lbl_Frequency" style="font-weight: bold" for="notification">
                  <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_checkmessages") %>
              </label><br />
              <div id="snap_pref_notification_frequencies">
                  <select id="snap_pref_Notification_frequency" name="snap_pref_Notification_frequency">
                      <option value="24"><%= _utils.LocalXLate("snapin_messageviewer","cl_msg_check_dailymessage") %></option>
                      <option value="168" selected="selected"><%= _utils.LocalXLate("snapin_messageviewer","cl_msg_check_every7days") %></option>
                      <option value="240"><%= _utils.LocalXLate("snapin_messageviewer","cl_msg_check_every10days") %></option>
                      <option value="480"><%= _utils.LocalXLate("snapin_messageviewer","cl_msg_check_every20days") %></option>
                  </select>
                  <label id="lbl_notification_freq_error" style="display: none;">
                      <%= _utils.LocalXLate("snapin_messageviewer","cl_msg_information_savedmessage") %>
                  </label>
              </div>
          </div>
      </div>
    </div>
  </div>
  <br />
  <table width="100%" cellpadding="4" cellspacing="0" border="0">
      <tr>
          <td colspan="2" class="panel-widget-body-ss success success-msg" style="position: absolute; bottom: 40px; display: none">
              <b><%= _utils.LocalXLate("snapin_messageviewer","cl_msg_information_savedmessage") %></b>
          </td>
      </tr>
  </table>
</div>