  <div id="snapin_messageviewer">
  <div id="idMsgCounter" style="display:none;"></div>
  <div id="idMessages" style="display:none;"><div id="cl_msg_busy"></div></div>
  <xml id="idTmp"></xml>    
  <xml id="idXsl" src="%SNAPINPATH%/views/%LANGCODE%/xsl/detailview.xsl"></xml>
  </div> 