  <div id="snapin_messageviewer">
  <xml id="idTmp"></xml>
  <xml id="idXsl" src="%SNAPINPATH%/views/%LANGCODE%/xsl/listview.xsl"></xml>
  <div id="noMsgTable" cellpadding="4" cellspacing="0" border="0" style="display:none;">
    <span class="list-group-item font-size-14">%LOCL:sa_msg_lbl_no_msg%</span>
  </div>
  <div id="idMessages">
    <div id="messagesarea">
        <div class="cell-header"><span class="tab-menu-header">%LOCL:sa_msg_msgs%</span></div><br/>
      <div class="panel-parent-header-ss-d">
        <i>%LOCL:cl_msglist_viewmessages%</i><br><br>
      </div>
      <form name="messageslist" method="get" action="#">
        <div id="scrollmessagesarea" class="panel panel-body panel-widget-body-ss">
          <img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif">&nbsp;
          <b>%LOCL:sa_msg_processing_msg%</b>
      </div>  
      </form>
    </div>
  </div>
</div>
