<div id="snapin_perfman_summary">
    <% var _config = $ss.agentcore.dal.config;
    var _utils = $ss.agentcore.utils;
    %>
    <div id="perSummaryContainer">
        <div id="perfBody" class="panel-parent-header-ss-d">
          <div id="snapin_perfman_summary_options" class="small-link-Font">
            <i>
              <span class="padding-left">
                <%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_schedule_optimization")%>
                <b><span id="PerfManSummaryScheduleOptimization"></span></b>
                <a class="PerfManSummaryGoToSchedule"><%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_change")%></a>
              </span>
              <span class="pull-right padding-right">
                <%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_schedule_type")%>
                <b><span id="PerfManSummaryScheduleType"></span></b>
                <a class="PerfManSummaryGoToSchedule"><%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_change")%></a>
              </span>
              <br>
              <span class="padding-left">
                <%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_last_optimization_performed")%>
                <b><span id="PerfManSummaryLastOptPerfomedDate"></span></b>
              </span>
            </i>
          </div>
        </div>
        <div class="panel-widget-body-ss">
            <div id="containerDiv">
                <div id="optList">
                    <div id="selectAll" class="table-heading">
                      <%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_last_optimization_summary")%>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <input type="button" id="PerfManSummaryStartQuickOptimization" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_strt_quick_opt")%>" class="btn btn-primary-ss btn-sm cell-right"/>
        <br><br>
    </div>
</div>