<div id="snapin_perfman">
  <% var _utils = $ss.agentcore.utils; %>
  <div class="row">
    <div class="cell-header" style="margin-left:15px;">
      <ul id="protect_filters" class="nav-ss navbar-nav">
        <li>
          <span id="perfman_nav_summary" class="pmnavlinks">
            <a href="#" class="tab-menu-filters"><%= _utils.LocalXLate("snapin_perfman","nav_summary") %></a>
          </span>
        </li>
        <li>
          <span id="perfman_nav_quick" class="pmnavlinks">
            <a href="#" class="tab-menu-filters"><%= _utils.LocalXLate("snapin_perfman","nav_quick_optimization") %></a>
          </span>
        </li>
        <li>
          <span id="perfman_nav_advanced" class="pmnavlinks">
            <a href="#" class="tab-menu-filters"><%= _utils.LocalXLate("snapin_perfman","nav_advanced_optimization") %></a>
          </span>
        </li>
        <li>
          <span id="perfman_nav_schedule" class="pmnavlinks">
            <a href="#" class="tab-menu-filters"><%= _utils.LocalXLate("snapin_perfman","nav_scheduler") %></a>
          </span>
        </li>
        <li>
          <span id="perfman_nav_history" class="pmnavlinks">
            <a href="#" class="tab-menu-filters"><%= _utils.LocalXLate("snapin_perfman","nav_history") %></a>
          </span>
        </li>
      </ul>
    </div>
    <br>
    </div>
  <div id="col_perfman_content"></div>

    <!-- Modal Dialog -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header modal-header-primary"></div>
            <div class="modal-body" align="left"></div>
          </div>
        </div>
       </div>
    </div>

    <!-- start template used for creating row data -->
    <div id="optTemplate" class="opt">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="colCheckBox"><input type="checkbox" value="" /></td>
                <td class="colIcon"><div class="icon" /></td>
                <td class="colText">
                    <b><div class="title" /></b>
                    <div class="description" />
                </td>
                <td class="colRightText"></td>
                <td class="colResultIcon"><div class="resultIcon" /></td>
                <td class="colResultText"></td>
                <td class="colLaunch">
                  <input type="button" value="<%=$ss.agentcore.utils.LocalXLate("snapin_perfman","snp_perfman_bttn_launch")%>" class="btn btn-primary-ss btn-sm PerfManAdvancedLaunch"/>
                </td>
                <td class="colToggle"><div class="iconToggle"></div></td>
            </tr>
        </table>

        </div>

    <!-- end template used for creating rows -->
</div>