<div id="snapin_perfman_history_detail">
  <% var _utils = $ss.agentcore.utils; 
     var bEnableCreateRestorePoint = (_config.GetConfigValue("snapin_perfman", "enable_create_restore") ===  "true");
  %>
  <div>
    <div class="datecreated panel-parent-header-ss-d"><i><%= $ss.agentcore.utils.LocalXLate("snapin_perfman","snp_perfman_history_detail_perfomed_on")%></i></div>
    <div class="panel-widget-body-ss">
      <div id="containerDiv">
        <div id="optList">
          <div id="selectAll" class="table-heading"><%= _utils.LocalXLate("snapin_perfman","snp_perfman_history_detail") %></div>
        </div>
      </div>
     <span class="pull-right">
       <input type="button" id="OptBtnSaveReport" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_save_report")%>" class="btn btn-primary-ss btn-sm"/>
       <input type="button" id="OptHistoryDetailBack" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_back")%>" class="btn btn-primary-ss btn-sm"/>
     </span>
      <%if (bEnableCreateRestorePoint){%>
        <span class="pull-right padding-right">
          <a id="lnkRestoreComputer"><%= _utils.LocalXLate("snapin_perfman","snp_perfman_history_detail_restore_computer")%></a>
        </span>
      <%}%>
    </div>
  </div><br><br>
</div>