<div id="snapin_perfman_quick">
    <%
    var _utils = $ss.agentcore.utils;
    var bEnableCreateRestorePoint = (_config.GetConfigValue("snapin_perfman", "enable_create_restore") ===  "true");
    %>
  <div>
    <div class="panel-parent-header-ss-d">
      <i><%= _utils.LocalXLate("snapin_perfman","snp_perfman_quick_desc") %></i>
    </div>
    <div class="panel-widget-body-ss">
      <div id="containerDiv">
        <div id="selectAll" class="table-heading">
          <span class="colCheckBox">
            <input type="checkbox" id="selectAllCheckBox" />
            <b><%= _utils.LocalXLate("snapin_perfman","snp_perfman_quick_select_all")%></b>
          </span>
        </div>
        <div id="optList"></div><br>
        <div id="restorePt_defaultOpt">
          <%if (bEnableCreateRestorePoint){%>
          <input type="checkbox" id="OptRestore" value="OptRestore" class="padding-left" />
          <span class="small-link-Font">
            <%= _utils.LocalXLate("snapin_perfman","snp_perfman_quick_create_restore_point")%>
            (<a data-toggle="modal" data-target="#myModal" id="lnkWhatCreateRestorePoint">
              <%= _utils.LocalXLate("snapin_perfman","snp_perfman_quick_what_is_this")%>
            </a>)
          </span>
          <%}%>
        </div>
        <span>
          <a id="lnkSaveDefaultOptimization">
            <%= _utils.LocalXLate("snapin_perfman","snp_perfman_quick_save_as_default_optimization")%>
          </a>
        </span>
        <input type="button" id="exOptButton" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_strt_quick_opt")%>" class="btn btn-primary-ss btn-sm cell-right"/>
        <input type="button" id="exOptButtonViewAll" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_strt_quick_opt_viewall")%>" class="btn btn-primary-ss btn-sm cell-right" style="margin-right:5px;"/>
        <input type="button" id="OptBtnStop" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_stop")%>" class="btn btn-primary-ss btn-sm cell-right"/>
        <input type="button" id="OptBtnSaveReport" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_save_report")%>" class="btn btn-primary-ss btn-sm cell-right"/>
        <input type="button" id="OptBtnQuickBack" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_back")%>" class="btn btn-primary-ss btn-sm cell-right" style="margin-right:5px;"/>
      </div>
    </div>
  </div>
</div>