<div id="snapin_perfman_advanced">
  <div>
    <div class="panel-widget-body-ss">
        <div id="containerDiv">
          <div id="selectAll" class="table-heading">
            <%= _utils.LocalXLate("snapin_perfman","snp_perfman_advanced")%>
          </div>
          <div id="optList"></div><br />
          <input type="button" id="exAdvOptButtonViewAll" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_strt_quick_opt_viewall")%>" class="btn btn-primary-ss btn-sm cell-right" style="margin-right:5px;"/>
        </div>
    </div>
  </div>
</div>