<div id="snapin_perfman_schedule">
  <% var _utils = $ss.agentcore.utils; %>
  <div>
    <div class="panel-parent-header-ss-d" style="height:80px;">
      <i><%= _utils.LocalXLate("snapin_perfman","snp_perfman_schedule_desc") %></i>
    </div>
    
    <div class="panel-widget-body-ss" id="perfScheduler">
      <div id="selectAll" class="table-heading">
        <%= _utils.LocalXLate("snapin_perfman","snp_perfman_schedule")%>
      </div>
      <div>
        <center>
          <input type="radio" class="snapin_perfman_schedule_frequency" name="frequency" value="0" checked="checked" />
            <b class="padding-right"> <%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_frequency_0") %></b>
          <input type="radio" class="snapin_perfman_schedule_frequency" name="frequency" value="1" />
            <b class="padding-right"> <%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_frequency_1")%></b>
          <input type="radio" class="snapin_perfman_schedule_frequency" name="frequency" value="7" />
            <b class="padding-right"> <%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_frequency_7")%></b>
          <input type="radio" class="snapin_perfman_schedule_frequency" name="frequency" value="30" />
            <b class="padding-right"> <%= _utils.LocalXLate("snapin_perfman","snp_perfman_summary_frequency_30")%></b>
        </center>
      </div>
      <br>
      <div id="snapin_perfman_schedule_content_body">
        <div id="snapin_perfman_schedule_30">
          <b class="padding-right"><%= _utils.LocalXLate("snapin_perfman","snp_pm_setDay")%></b>
          <select name="dayofmonth">
            <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option>
          </select>
          <b><%= _utils.LocalXLate("snapin_perfman","snp_pm_txtMonth")%></b>
        </div>

        <div id="snapin_perfman_schedule_7">
          <b class="padding-right"><%= _utils.LocalXLate("snapin_perfman","snp_pm_setDay")%></b>
          <select name="dayofweek">
            <option value="1"><%= _utils.LocalXLate("snapin_perfman","snp_pm_week_Mon")%></option>
            <option value="2"><%= _utils.LocalXLate("snapin_perfman","snp_pm_week_Tue")%></option>
            <option value="3"><%= _utils.LocalXLate("snapin_perfman","snp_pm_week_Wed")%></option>
            <option value="4"><%= _utils.LocalXLate("snapin_perfman","snp_pm_week_Thu")%></option>
            <option value="5"><%= _utils.LocalXLate("snapin_perfman","snp_pm_week_Fri")%></option>
            <option value="6"><%= _utils.LocalXLate("snapin_perfman","snp_pm_week_Sat")%></option>
            <option value="0"><%= _utils.LocalXLate("snapin_perfman","snp_pm_week_Sun")%></option>
          </select>
          <%= _utils.LocalXLate("snapin_perfman","snp_pm_txtWeek")%>
        </div>

        <div id="snapin_perfman_schedule_1" style="height:300px;">
          <b class="padding-right"><%= _utils.LocalXLate("snapin_perfman","snp_pm_setTime")%></b>
          <%= _utils.LocalXLate("snapin_perfman","snp_pm_hour")%>
          <select name="hour">
            <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option>
          </select>
          <%= _utils.LocalXLate("snapin_perfman","snp_pm_min")%>
          <select name="minute">
            <option>00</option><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option><option>32</option><option>33</option><option>34</option><option>35</option><option>36</option><option>37</option><option>38</option><option>39</option><option>40</option><option>41</option><option>42</option><option>43</option><option>44</option><option>45</option><option>46</option><option>47</option><option>48</option><option>49</option><option>50</option><option>51</option><option>52</option><option>53</option><option>54</option><option>55</option><option>56</option><option>57</option><option>58</option><option>59</option>
          </select>
        </div>
        <br><br>
      </div>      
    </div><br/>
        <input type="button" id="PerfManSchedulerSaveSchedule" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_save_schedule")%>" class="btn btn-primary-ss btn-sm cell-right"/>
        <span class="panel-widget-body-ss">
          <a id="lnkSelectScheduledOptimizations"><%= $ss.agentcore.utils.LocalXLate("snapin_perfman","snp_perfman_schedule_select_scheduled_optimization")%></a>
        </span>
      </div>
    </div>