<div id="snapin_perfman_history">
  <% var _utils = $ss.agentcore.utils; %>
  <div>
    <div class="panel-parent-header-ss-d">
      <i><%= _utils.LocalXLate("snapin_perfman","snp_perfman_history_desc") %></i>
    </div>
    <div class="panel-widget-body-ss">
      <table id="perfman_history_table_head" border="0" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th width="300px"><%= _utils.LocalXLate("snapin_perfman","snp_perfman_hist_date") %></th>
            <th><%= _utils.LocalXLate("snapin_perfman","snp_perfman_hist_title") %></th>
          </tr>
        </thead>
      </table>
      <div class="scrollarea">
        <table id="perfman_history_table" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </div>    
    </div>
  </div>
</div>
