<div id="snapin_perfman_schedule_select">
  <% var _utils = $ss.agentcore.utils; %>
  <div>
    <div class="panel-parent-header-ss-d">
      <i><%= _utils.LocalXLate("snapin_perfman","snp_perfman_schedule_select_desc") %></i>
    </div>
    <div class="panel-widget-body-ss">
    <div id="containerDiv">
      <div id="selectAll" class="table-heading">
        <span class="colCheckBox">
          <input type="checkbox" id="selectAllCheckBox" />
          <b><%= _utils.LocalXLate("snapin_perfman","snp_perfman_quick_select_all")%></b>
        </span>
      </div>
      <div id="optList"></div>
      <br>
       <span>
        <a data-toggle="modal" data-target="#myModal" id="lnkSaveScheduledOptimizations">
          <%= _utils.LocalXLate("snapin_perfman","snp_perfman_schedule_select_save_scheduled_optimizations")%>
        </a>
      </span>
      <input type="button" id="OptBtnScheduleSelectBack" value="<%=_utils.LocalXLate("snapin_perfman","snp_perfman_bttn_back")%>" class="btn btn-primary-ss btn-sm cell-right"/>
    </div>
    </div>
  </div>
</div>