<div id="snapin_personal_firewall">

	<div id="frcolumnmain">
        <div id="snapin_personal_firewall_content"/>
		<div class="buttonarea">
     	  <input type="image" hidefocus=true alt="<%= $ss.agentcore.utils.LocalXLate('snapin_personal_firewall','cl_pfw_back_button') %>"
     	       src="%LSKINPATH%/buttons/%LANGCODE%/btn_back.gif" id="backbutton">
          <input type="image" hidefocus=true alt="<%= $ss.agentcore.utils.LocalXLate('snapin_personal_firewall','cl_pfw_next_button') %>"
               src="%LSKINPATH%/buttons/%LANGCODE%/btn_next.gif" id="nextbutton" class="nextbutton">
          <input type="hidden" value="<%= $ss.agentcore.utils.LocalXLate('snapin_personal_firewall','cl_pfw_product_name') %>" id="prodname">
		</div>

	</div>

</div>