#downmanagerbg  #lessmoreButton{
  float:right;
}

#downmanagerbg .content .progressbararea .progressbar {
	background-image: url(../images/DownloadManager/progressbar.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:7px;
}

#downmanagerbg .content .progressbararea .progressbar .textpercent {
	text-align:right;
	width:45px;
	height:22px;
	color:red;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#downmanagerbg .LinkDetailShow,
#downmanagerbg .LinkDetailClose{
  cursor:pointer;
  color: #015281;
  text-decoration:underline;
}

#downmanagerbg .content .listTable .itemdetailDownloaded {
	padding:5px 3px 5px 5px;
	font-size: 11px;
	font-weight: normal;
	color: #595959;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #1678a6;
	background-color:#e4f4fa;
}

#downmanagerbg .content .listTable .DownloadCompleted {
	float:left;
	padding-left:15px;
	margin-left:3px;
	background-image: url(../images/DownloadManager/ico_downloaded_01.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
}

#downmanagerbg .content .listTable .Downloading {
	float:left;
	background-image: url(../images/DownloadManager/loader.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:18px;
	padding-right:10px;

}

#downmanagerbg  .clShort .clElipsis{
  display:inline;
}

#downmanagerbg .clLong .clElipsis{
  display:none;
}

#downmanagerbg .clShort .clRemainingTxt{
  display:none;
}
#downmanagerbg .clLong .clRemainingTxt{
  display:inline;
}

#downmanagerbg .clShort .spanPrerequisites{
  display:none;
}
#downmanagerbg .clLong .spanPrerequisites{
  display:inline;
}

#downmanagerbg .clErr a, .clErr a:link, .clErr a:visited{
  color:#666666;
  text-decoration:underline;
}

#downmanagerbg .clErr a:hover, .clErr a:active{
  color:#990000;
}

#downmanagerbg .clErr{
  position:absolute;
  width:655px;
  top:45%;
  text-align:center;
  color:#660000;
  font-Weight:bold;
  padding:10px;
}

#downmanagerbg .clErrReason{
  display:none;
  position:absolute;
  bottom:31%;
  right:100px;
  color:#666;
  font-size:xx-small;
}

#downmanagerbg .StatusTextdisplay {
  padding-top:5px;
}

#downmanagerbg  .clItemTitle{
  padding-right:10px;
  width:480px;
}

#downmanagerbg #lblNoConnectivity{
  color:red;
}

#downmanagerbg #lblNoConnectivityAllDOInstalled{
  color:yellow;
}
#dmContainer{
  margin-left:12px;
}

#dmContentDiv{
  max-height:400px;
  overflow-x:hidden !important;
  overflow-y:auto!important;
  overflow-y:auto;
  border-bottom:thin solid #a8a8a8;
  border-radius:0px;
  background-color:#fff;
}

#idViewAllButton{
  margin-right:1%!important;
}

#idCheckAll{
  margin-left:12px;
}

.dm_content_row{
  overflow:auto;
}
