﻿<div id="snapin_getconnect">
	<div id="getconnectedmain"> <!--OLD: snapin_getconnect NEW: getconnectedmain-->
			<!-- Visual Flow section -->
			<% var isModemFlowRequired = $ss.agentcore.dal.config.GetConfigValue("modems", "modem_flow_required", "true"); %>
			<%if (isModemFlowRequired != "false"){ %> 
			<div id="gc_vflowdiv" class="cls_gc_vflowdiv">
				<div id="gc_vflow_computer" class="cls_gc_vflowcomp"></div>
				<div id="gc_vflow_link1" class="cls_gc_vflowlink1_anim"></div>
				<div id="gc_vflow_modem" class="cls_gc_vflowmodem"></div>
				<div id="gc_vflow_link2" class="cls_gc_vflowlink2_anim"></div>
				<div id="gc_vflow_network" class="cls_gc_vflownetwork"></div>
				<div id="gc_vflow_link3" class="cls_gc_vflowlink3_anim"></div>
				<div id="gc_vflow_internet" class="cls_gc_vflowinternet"></div>
			</div>
			<%} %> 
			<!-- GetConnect Content Section -->
			<div id="gccontentarea" >
				      <h1>%LOCL:ss_gc_initalizing%</h1>

			</div><!--NEW: gccontentarea OLD:gc_snapin_content-->
			<!-- Buttons section -->
			<div id="gccontentbuttonsarea"><!--OLD snapin_firstrun_buttons NEW gccontentbuttonsarea-->
	<!--			<a id="prevbutton" ><img id="prevbutton_img" src="../images/btn_back_disable.gif" class="prevbutton_disabled" alt="Back"/></a>
	-->			 
				<table align="right"><tr>
					<td><div id="prevbuttondiv" style="display:none"><a id="prevbuttonhref" href="#"><img id="prevbutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_back.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_getconnect","ss_gc_back") %>"></img></a></div></td>
					<td><div id="retrybuttondiv" style="display:none"><a id="retrybuttonhref" href="#"><img id="retrybutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_retry.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_getconnect","ss_gc_retry") %>"></img></a></div></td>
					<td><div id="nextbuttondiv" style="display:none" ><a id="nextbuttonhref" href="#"><img id="nextbutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_next.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_getconnect","ss_gc_next") %>"></img></a></div></td>
					<td><div id="closebuttondiv" style="display:none"><a id="closebuttonhref" href="#"><img id="closebutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_done.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_getconnect","ss_gc_done") %>"></img></a></div></td>
				</tr></table>
			</div>
	</div>
</div>