#imageIcon{
  background-repeat: no-repeat;
  background-position: left top;
  width: 20px;
  height: 20px;
  float: right;
}

.content-sprt_actionlight{
  background-image: url(../images/cic_supportaction16.gif);
}

.content-sprt_download{
  background-image: url(../images/cic_supportdownload16.gif);
}

.content-sprt_protection{
  background-image: url(../images/cic_supportprotection16.gif);
}

.content-sprt_optimize{
  background-image: url(../images/cic_supportoptimization16.gif);
}

.content-sprt_articlefaq,.content-sprt_rawdoc, .content-sprt_rawdoc_inline{
  background-image: url(../images/cic_faq16.gif);
}

.content-sprt_alertevents{
  background-image: url(../images/cic_user_alert16.gif);
}

.content-sprt_msg{
  background-image: url(../images/cic_support_message16.gif);
}

.panel-body {
  padding: 0px !important;
}

.cell-inner {
  height: 80px;  
  padding: 10px;
  background: #fafafa;
  width:100%;
}

.cell-inner:hover {
  background: #f0f0f0;
}

.cell-left {
  width: 10%;
  height: 100%;
  float: left;
}

.cell-main {
  margin-left: 30px;
  font-size:12px;  
}   

.cell-right{
  display:inline;
  float:right;
}

.fa-exclamation-circle ,.fa-star  {
 font-size:1.4em;
}

.btn-xs{
  height:17px !important;
  font-size:11px !important;
}
.featuredsoln{
  color:#E74C3C;
  float:left;
  font-size:1.1em;
  padding-left:20%;
}

.featuredtext{
  color:#E74C3C;
  font-size:1.0em;
  margin-top:10px;
}

.featured-class{
  margin-left:8.8%;
  margin-top:5px;
}

.displaycategory{
  font-size:10px;
  color:#00008B;
}

.cell-left-contents{
  justify-content:center;
}

.cell-main-contents{
  margin-left:80px !important;
  overflow:hidden !important;
  text-overflow:ellipsis;    
}

#searchresults{
  height:10px;
  margin-top:10px;
  padding-left:7.5%;
}

#myGrid{
  height:470px;
  overflow-x:hidden !important;
}

.slick-viewport{
  overflow-x:hidden !important;
}

#buttn_Main{
  display:none;
  margin-top:5px; 
}

/*overwriting slickgrid.css and jquery-ui-1.8.16.custom.css*/
.slick-header.ui-state-default, .slick-headerrow.ui-state-default
.slick-header-columns, .slick-headerrow-columns 
.slick-header-column.ui-state-default 
.slick-headerrow-column.ui-state-default
.slick-header-column-sorted 
.slick-headerrow-column
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  display:none !important;
}