/***********************************************************************************/
/************************ sa_layout.htm Styles**************************************/
/***********************************************************************************/
#snapin_wireless #animarea {
	height:77px;
	padding-left:10px;
	overflow:hidden;
	background-image: url(../images/animarea_start.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-left:8px;
}

#snapin_wireless #animarea .wrlanimicons {
	float:left;
	height:77px;
	width:76px;
}

 #snapin_wireless #animarea .wrlanimconnectors {
	float:left;
	height:77px;
	width:64px;
	background-image: url(../images/bg_connectors.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#snapin_wireless #animarea .wrlanimconnectorsend {
	float:left;
	height:77px;
	width:6px;
	background-image: url(../images/connectors_end.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#snapin_wireless #wrlcontentbuttonsarea 
{
	height:25px;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	text-align:right; 
}
 
#snapin_wireless #wrlcontentbuttonsarea .wrlback
{
	width:65px;
	height:20px;
	border-style:none; 
	cursor:hand; 
}

#snapin_wireless #wrlcontentbuttonsarea .wrlprint
{
	width:65px;
	height:20px;
	border-style:none; 
	cursor:hand; 
}

#snapin_wireless #wrlcontentbuttonsarea .wrlretry
{
	width:69px;
	height:20px;
	border-style:none; 
	cursor:hand;
}

#snapin_wireless #wrlcontentbuttonsarea .wrlnext
{
	width:65px;
	height:20px;
	border-style:none; 
  cursor:hand;   
}

#snapin_wireless #wrlcontentbuttonsarea .wrldone
{
	width:68px;
	height:20px;
	border-style:none; 
  cursor:hand;   
}

#snapin_wireless .btndisabled
{
  cursor:default; 
   
}

/************************************************/
   /****wrl styles********/
/************************************************/

.cls_wrl_vflowdiv
{
	border: green 2px solid;
	height:77px;
	padding-top:0px;
	padding-left:25px;
}

.cls_wrl_vflowcomp
{
	height:77px;
	width:76px;
	background-image: url(../images/wrl_icon_pc.png);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink1_nr
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_nr.png);
	background-repeat: no-repeat;
	float:left; 
	
}
.cls_wrl_vflowlink1_anim
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_anim.gif);
	background-repeat: no-repeat;
	float:left; 
	
}
.cls_wrl_vflowlink1_pass
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_pass.png);
	background-repeat: no-repeat;
	float:left; 
	
}
.cls_wrl_vflowlink1_fail
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_fail.png);
	background-repeat: no-repeat;
	float:left; 
	
}
.cls_wrl_vflowadapter
{
	width:76px;
	height:77px; 
	background-image: url(../images/wrl_icon_adapter.png);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink2_nr
{
	width:64px;
	height:77px; 
	background-image: url(../images/wrl_wconnect_nr.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink2_anim
{
	width:64px;
	height:77px; 
	background-image: url(../images/wrl_anim.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink2_pass
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_pass.png);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink2_fail
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_fail.png);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowrouter
{
	width:76px;
	height:77px; 
	background-image: url(../images/wrl_icon_router.png);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink3_nr
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_nr.png);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink3_anim
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_anim.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink3_pass
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_pass.png);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowlink3_fail
{
	width:64px;
	height:77px; 
	background-image: url(../images/connect_fail.png);
	background-repeat: no-repeat;
	float:left; 
}
.cls_wrl_vflowinternet
{
	width:76px;
	height:77px; 
	background-image: url(../images/wrl_icon_internet.png);
	background-repeat: no-repeat;
	float:left;
}




/*************************************************************************************************/

#snapin_wireless #snapin_wireless_content {
	height:190px;
	padding-left:10px;
	padding-right:10px;
	overflow:auto;
	margin-top:18px;
	margin-bottom:4px;
	
}

#snapin_wireless #snapin_wireless_content h1 {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #646464;
	padding-bottom:6px;
}

#snapin_wireless #snapin_wireless_content p {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #646464;
	padding-bottom:6px;
}

#snapin_wireless #snapin_wireless_content .infoactionbox {
	color:#404040;
	background-color:#fcfcfc;
	border: 1px solid #d2d9de;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	margin-top:6px;
	margin-bottom:6px;
}

#snapin_wireless #snapin_wireless_content .infoactionbox .bullinstructions {
	background-image: url(../images/bull_arrow.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	padding-left:15px;
	white-space:pre;
}

#snapin_wireless #snapin_wireless_content .bigdropdown {
	width:450px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

#snapin_wireless .listtable th {
	background-color:#4d80ab;
	color:#fff;
}


#snapin_wireless  .listtable td 
{
  background-color:#c9dced;
	color:#000000;
	border-bottom: 1px solid #93b7c9;
}
#snapin_wireless  .listtable tr {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #c5ecff;
	padding-bottom:6px;
}

#snapin_wireless .working {
	color:#404040;
	background-color:#fcfcfc;
	border: 1px solid #d2d9de;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:30px;
	padding-right:8px;
	background-image: url(../images/loading_01.gif);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	margin-top:6px;
	margin-bottom:6px;
}

#snapin_wireless .textbox
 {
   width:250px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	border: 1px solid #3b86ac;
}

#snapin_wireless .wrlpassphrasecol
{
	 padding-left:58px; 
}

#snapin_wireless .wrlpassphrase_setsecuritycol
{
	padding-left:10px; 
}

#snapin_wireless .wrl_sms_problem
{
  margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #c5ecff;
	padding-bottom:6px;	
}

#snapin_wireless .wrl_mansel_problem
{
  margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #c5ecff;
	padding-bottom:6px;		
}

#snapin_wireless .success {
	background-color:#f1f5d4;
	border: 2px solid #bccc2d;
	color:#413f40;
	font-weight: bold;
	text-decoration: none;
	background-image: url(../images/ico_success.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left:25px;
}

#snapin_wireless .success p .highlight {
	background-color:#e9f297;
	padding:1px;
	color:#6f8d0f;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #bdcc2d;
	border-bottom-color: #bdcc2d;
}

#snapin_wireless .wrl_already_conn
{
	color:Black; 
}

#snapin_wireless #snapin_wireless_content #dvmainSurveyNetworks #pageStatusMessage {
  color:Navy;
}

#snapin_wireless #snapin_wireless_content #dvmainManualSelection #ss_wrl_mansel_keyproblem{
  color:Navy;
}

#snapin_wireless #snapin_wireless_content #dvmainManualSelection #ss_wrl_mansel_problem{
  color:Navy;
}

#snapin_wireless #snapin_wireless_content #dvMainSetupSecurity #ss_wrl_sms_problem{
  color:Navy;
}
/*  classes for the Know More section /
/* SubscriberAgent wireless Right Column Classes Start */

#wrlknowmoreright {
	padding:5px 0px 0px 0px;
}

#wrlknowmoreright h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	margin:0px;
	background-image: url(../images/rtc_tab_bg_ck.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height:30px;
	height:18px;
	padding:6px 12px;
}
  
#wrlknowmoreright h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #515151;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
	padding-left: 5px;
 }
#wrlknowmoreright p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #515151;
	text-decoration: none;
	margin:0px;
	padding-left:5px;
	padding-bottom:5px;
}

#wrlknowmoreright p a {
	color:#015b99;
	text-decoration:underline;
	padding:0px;
}

#wrlknowmoreright p a:hover {
	color:#000;
	text-decoration:none;
}

