<div id="snapin_account_manager"> 
  <%
    var amModel = data["ammodel"];
    var _utils = $ss.agentcore.utils;
    var snapin = "snapin_account_manager";
  %>
	<div id="col_account_manager_navigation">
		<div id="account_manager_nav_summary"  class="pmnavlinksCK">
      <div>
        <div>
          <div class="ico icon_welcome"></div>
        <div class="text oneline"><%= $ss.agentcore.utils.LocalXLate("snapin_account_manager","snp_nav_summary")%>
        </div>
      </div>
    </div>
  </div>	
	</div>
	<div id="col_account_manager_content">
    <div class="content">
      <h2><%= $ss.agentcore.utils.LocalXLate("snapin_account_manager","snp_accman_external_summary_welcome")%></h2>
      <div class="content_body">
        <%= $ss.agentcore.utils.LocalXLate("snapin_account_manager","snp_accman_external_getting_started")%>
      </div>
      <div class="btnRegister button" url="<%= amModel.sExtUrl %>">
        <div class="icon"></div>
        <div class="text"><%= _utils.LocalXLate(snapin,"snp_accman_extrn_btn_name") %></div>
      </div>
    </div>
  </div>
</div>
	