<div id="snapin_account_manager_history">
  <%
    var amModel = data["ammodel"];
    var _utils = $ss.agentcore.utils;
    var snapin = "snapin_account_manager";
  %>
  <div class="loadingDetails medium-text-Font" style="display:none;">
    <img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif">&nbsp;
    <%= _utils.LocalXLate(snapin,"snp_accman_loading")%>
	</div>

  <div class="historycontent" style="display:block;">
    <br>&nbsp;&nbsp;
    <span class="font-primary large-text-Font"><b><%= _utils.LocalXLate(snapin,"snp_accman_hist")%></b></span><br><br>
    <span class="acc_content"><%= _utils.LocalXLate(snapin,"snp_accman_history_desc") %></span><br><br>
    <span class="acc_content"><%= _utils.LocalXLate(snapin,"snp_accman_last_unlock_time") %><b><%= amModel.dLastUnlock %></b></span><br><br>
    <span class="acc_content"><%= _utils.LocalXLate(snapin,"snp_accman_last_reset_time") %><b><%= amModel.dLastReset %></b></span><br><br>
    <div class="btnrefresh" style="padding-left:20px;padding-right:10px;">
      <input type="button" class="btn btn-primary-ss btn-sm pull-left" value="<%=$ss.agentcore.utils.LocalXLate(snapin,"snp_accman_refresh")%>" />
    </div>
    <br><br>
</div>	
</div>	
