<div id="snapin_account_manager"> 
  <%
    var amModel = data["ammodel"];
    var _utils = $ss.agentcore.utils;
    var snapin = "snapin_account_manager";
  %>
  <ul class="nav nav-tabs" >
    <li id="account_manager_nav_summary" class="pmnavlinksCK active">
      <a data-toggle="tab" href="#welcome">
        <i class="fa fa-home fa-1x font-primary">
          <b><%= $ss.agentcore.utils.LocalXLate(snapin,"snp_nav_summary")%></b>
        </i>
      </a>
    </li>
    <% if(/(ACTIVE|LOCKED)/i.test(amModel.sStatus))
      {%>
        <li id="account_manager_nav_history" class="pmnavlinks">
          <a data-toggle="tab" href="#myaccount">
            <i class="fa fa-key fa-1x font-primary"> <b><%= $ss.agentcore.utils.LocalXLate(snapin,"snp_nav_history")%></b></i>
          </a>
        </li>
	<%}%>
  </ul>

	<div id="col_account_manager_content" class="tab-content">
    <br>
    <% if(/(INACTIVE|UNKNOWN)/i.test(amModel.sStatus)){%>
        <div class="acc_content"><%= _utils.LocalXLate(snapin,"snp_accman_quest_enroll") %></div>
        <div class="btnRedirect acc_content" url="<%= amModel.sRegUrl %>" status="<%=amModel.sStatus%>">
          <input type="button" class="btn btn-primary-ss btn-sm pull-right" value="<%=$ss.agentcore.utils.LocalXLate(snapin,"snp_accman_register")%>" />
	</div>
        <br><br>
    <%} else if(/(ACTIVE|LOCKED)/i.test(amModel.sStatus))
      {%>
        <div class="acc_content"><%=_utils.LocalXLate(snapin, "snp_accman_quest_reset", [amModel.sFirstName,amModel.sLastName])%></div>
        <div class="row"><!-- center-block -->
          <div class="btnRedirect acc_content" url="<%= amModel.sResetUrl %>">
            <input type="button" class="btn btn-primary-ss btn-sm pull-right btn_reset_pad"   value="<%=$ss.agentcore.utils.LocalXLate(snapin,"snp_accman_reset")%>" />			
      </div>
          <div class="btnRedirect acc_content" url="<%= amModel.sRegUrl %>" status="<%=amModel.sStatus%>">
            <input type="button" class="btn btn-primary-ss btn-sm pull-right" value="<%=$ss.agentcore.utils.LocalXLate(snapin,"snp_accman_editreg")%>" />
      </div>
				</div>
        <br>
    <%} else if(/(BLOCKED)/i.test(amModel.sStatus))
      {%>
        <span class="acc_content error-msg" style="font-size: 14px;">
          <i class="fa fa-warning fa-stack-1x"> <b><%= amModel.sName %></b> <%=_utils.LocalXLate(snapin,"snp_accman_blocked") %> <%= _utils.LocalXLate(snapin,"snp_accman_contact_help") %></i>
        </span>
    <%} else
      {%>
        <span class="acc_content error-msg" style="font-size: 14px;">
          <i class="fa fa-warning fa-stack-1x"> <b><%= amModel.sName %></b> <%= _utils.LocalXLate(snapin,"snp_accman_invalid") %></i>
        </span>
      <%} %>
    </div>
  </div>
