<div id="snapin_account_manager_summary">
  <% var sUrl = data["url"]; %>
	<iframe id="snapin_acc_content" name="adsframe" runat="server" target="self" frameborder="0" width="710px" height="500px" src="<%= sUrl %>"></iframe>	
</div>	