<div id="snapin_account_manager"> 
  <%
    var amModel = data["ammodel"];
    var _utils = $ss.agentcore.utils;
    var snapin = "snapin_account_manager";
  %>

  <div id="account_manager_nav_summary">
    <ul class="nav nav-tabs" >
      <li class="active" id="account_manager_nav_summary">
        <a data-toggle="tab" href="#welcome">
          <i class="fa fa-home fa-1x font-primary"> <b><%= $ss.agentcore.utils.LocalXLate(snapin,"snp_nav_summary")%></b></i>
        </a>
      </li>
    </ul>
	</div>

  <div id="col_account_manager_content" class="tab-content">
    <%if(amModel === null) {  %>
      <br>
      <div class="loadingDetails medium-text-Font" style="display:none;">
        <img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif">&nbsp;
        <%= $ss.agentcore.utils.LocalXLate(snapin,"snp_accman_loading")%>
      </div>
    <% } else if(amModel.bError){ %>  
      <div class="acc_content"><%= amModel.sErrMessage %></div>
    <% } %>
    <br>
     <div class="contentinfo" style="display:block;">
      &nbsp;&nbsp;
      <span class="font-primary large-text-Font"><b><%= _utils.LocalXLate(snapin,"snp_accman_summary_welcome")%></b></span>
      <div class="acc_content"><%= _utils.LocalXLate(snapin,"snp_accman_summary_getting_started")%></div>
      <div class="acc_content"><%= _utils.LocalXLate(snapin,"snp_accman_next_enroll")%></div>
      <div class="btnNext">
        <input type="button" class="btn btn-primary-ss btn-sm pull-right" value="<%=$ss.agentcore.utils.LocalXLate(snapin,"snp_accman_next")%>" />
      </div>
      <br><br>
    </div>
  </div>
</div>
