<div id="snapin_account_manager" >
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default-ss row-box-shadow">
      <div class="panel-heading panel-dashboard-header-ss">%LOCL:snp_am_widget_title%</div>
      <div class="panel-body panel-widget-body-ss">
        <img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif">
        <br>
        <span>%LOCL:snp_am_loading_txt%</span>
     </div>
    </div>
  </div>
</div>