<%
  var _oConfig = $ss.agentcore.dal.config;
  var sPaUrl = _oConfig.GetConfigValue("preconfigured_snapin_url", "snapin_pendingactionwidget", "/paction");
  var sAlerturl = _oConfig.GetConfigValue("preconfigured_snapin_url", "snapin_alert","/sa/alert");
  _oConfig = null;
%>
<div id="snapin_actionwidget">
  <div class="cell-header"><span class="tab-menu-header">%LOCL:dashboardtitle%</span></div>
  <div id="ActionWidgetContainer">
  <% if(NavigationController.IsUrlValid(sPaUrl)) { %>
    <div id="snapin_pendingactionwidget"></div>
  <% } %>
  <% if(NavigationController.IsUrlValid(sAlerturl)) { %>
    <div id="snapin_alert"></div>
  <% } %>
  </div>
</div>