<div id="snapin_systool">
  <%
  var bResetStatus = "none";
  if(data){
  if( true === data.displayResetModem )
  {
  bResetStatus = "block"
  }
  } %>
  <div class="snapins" id="snp_st_restart">
    <a href="#" hidefocus="false" class="ico"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_restartsystem.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart Your System") %>"></a>
    <div class="snapingcontent">
      <a href="#" hidefocus="false" class="heading"><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart Your System") %></a>
      <p>
        <%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restarting your system can resolve common computer problems.") %>
      </p>
    </div>
  </div>
  <div class="snapins" id="snap_ipconfig_renew_restart">
    <a href="#" hidefocus="false" class="ico"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_ip.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Release and Renew Your IP Address") %>"></a>
    <div class="snapingcontent">
      <a href="#" hidefocus="false" class="heading"><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Release and Renew Your IP Address") %></a>
      <p>
        <%= $ss.agentcore.utils.LocalXLate("snapin_systool","Request a new network address for your system.") %>
      </p>
    </div>
  </div>
  <div class="separator">
    <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/core/images/h_separator.png" width="532" height="31" alt="" border="0" />
  </div>
  <% var isModemFlowRequired = $ss.agentcore.dal.config.GetConfigValue("modems", "modem_flow_required", "true"); %>
  <%if (isModemFlowRequired != "false"){ %>
    <div class="snapins" id="snap_modem_restart" style="display:<%= bResetStatus %>">
      <a href="#" hidefocus="false" class="ico"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_restartmodem.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart Your Modem")%>"></a>
      <div class="snapingcontent">
        <a href="#" hidefocus="false" class="heading"><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart Your Modem") %></a>
        <p>
          <%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart your modem to potentially resolve a connection issue.") %>
        </p>
      </div>
    </div>
    <div class="snapins" id="snp_st_detectmodem">
      <a href="#" hidefocus="false" class="ico"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_detectmodem.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Detect Your Modem")%>"></a>
      <div class="snapingcontent">
        <a href="#" hidefocus="false" class="heading"><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Detect Your Modem") %></a>
        <p>
          <%= $ss.agentcore.utils.LocalXLate("snapin_systool","Detect Your Modem Desc") %>
        </p>
      </div>
    </div>
  <%} %>
  <div class="separator">
    <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/core/images/h_separator.png" width="532" height="31" alt="" border="0" />
  </div>
</div>