<div id="snapin_systool">
  <div id="systemtools">
    <div class="pageheading">
      <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_ip.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Release and Renew Your IP Address")%>" class="icon"/>
      <div class="headcoltwo">
        <h3><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Release and Renew Your IP Address")%></h3>
        <p>
          <%= $ss.agentcore.utils.LocalXLate("snapin_systool","Request a new network address for your system.")%>
        </p>
      </div>
    </div>
    <div class="stcontent">
      <p>
        <strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","RERE:Information")%></strong>
      </p>
      <p>
        <%= $ss.agentcore.utils.LocalXLate("snapin_systool","RERE:Instruction1")%> <strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","RERE:Instruction2")%></strong>
        <%= $ss.agentcore.utils.LocalXLate("snapin_systool","RERE:Instruction3")%> <strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","RERE:Instruction4")%></strong>
        <%= $ss.agentcore.utils.LocalXLate("snapin_systool","RERE:Instruction5")%>
      </p>
      <br/>
      <br/>
      <div class="working" id="ipRenewProgress" style="display:none"><%= $ss.agentcore.utils.LocalXLate("snapin_systool","RERE:ipconfig progress")%></div>
      <p align="center" id="ipRenewButtons" style="display:block">
        <a href="#" hidefocus="false" id="snp_st_ipconfig_ok">
                    <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_ok.gif" width="53" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Ok")%>" border="0" /></a>
				<a href="#" hidefocus="false" id="snp_st_ipconfig_cancel">
                        <img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_cancel.gif" width="77" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Cancel")%>" border="0" /></a>
      </p>
    </div>
  </div>
</div>
 