<div id="snapin_systool"> 
<%
	var displaymessage = "";
	if( data  ){
		displaymessage = data.message;
		displaymessage += " " + $ss.agentcore.utils.LocalXLate("snapin_systool","RERE:ipconfig done");
	}
%>
	<div id="systemtools">
	  <div class="pageheading">
    	<img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_ip.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Release and Renew Your IP Address")%>" class="icon"/>
    	<div class="headcoltwo">
          <h3><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Release and Renew Your IP Address")%></h3>
          <p><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Request a new network address for your system.")%></p>
      </div>
    </div>
    
    <div class="stcontent">
<table cellpadding="4" cellspacing="0" border="0" width="99%">
      	<tr>
          	<td class="success"><p><%= displaymessage%></p></td>
          </tr>
      </table>
      <br/><br/>
      <p align="center">
      	<a href="#" hidefocus="false" id="snp_st_ipconfig_done"><img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_done.gif" width="68" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Done") %>"  border="0" /></a>
      </p>
    </div>
  </div>  
</div>
