<div id="snapin_systool"> 
	<div id="systemtools">
  	  <div class="pageheading">
      	<img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_restartmodem.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart Your Modem")%>" class="icon"/>
      	<div class="headcoltwo">
            <h3><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart Your Modem")%></h3>
            <p><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart your modem to potentially resolve a connection issue.")%></p>
        </div>
      </div>
      
      <div class="stcontent">
      	<p><strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:Information")%></strong></p>
        <p><%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:Instruction1")%> <strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:Instruction2")%></strong> <%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:Instruction3")%> <strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:Instruction4")%></strong> <%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:Instruction5")%></p>
        <div class="working" id="reBootModemProgress" style="display:none"><%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:rebootModem progress")%></div>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="error" id="snp_st_reboot_err_status" style="display:none">
              <p>
              	<%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:Error")%>
                </p>
            </td>
          </tr>
					<tr>
            <td class="success" id="snp_st_reboot_succ_status" style="display:none">
              <p>
              	<%= $ss.agentcore.utils.LocalXLate("snapin_systool","REMO:Success")%>
                </p>
            </td>
          </tr>
        </table>
				<br/><br/>
        <p align="center">
        	<a href="#" hidefocus="false" id="snp_st_rebootmodem_ok" class="snp_st_rebootmodem_okcancel"><img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_ok.gif" width="53" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Ok")%>" border="0" /></a>
          <a href="#" hidefocus="false" id="snp_st_rebootmodem_cancel" class="snp_st_rebootmodem_okcancel"><img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_cancel.gif" width="77" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Cancel")%>" border="0" /></a>
					<a href="#" hidefocus="false" id="snp_st_rebootmodem_done" style="display:none"><img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_done.gif" width="74" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Back")%>" border="0" /></a>
        </p>
      </div>
    </div>  
</div>
