<div id="snapin_systool">
  <div id="systemtools">
    <div class="pageheading">
      <img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_restartsystem.png" width="58" height="70" title="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart Your System") %>" class="icon"/>
      <div class="headcoltwo">
        <h3><%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restart Your System") %></h3>
        <p>
          <%= $ss.agentcore.utils.LocalXLate("snapin_systool","Restarting your system can resolve common computer problems.") %>
        </p>
      </div>
    </div>
    <div class="stcontent">
      <p>
        <strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","STSR:Information1") %>
          <br/>
          <%= $ss.agentcore.utils.LocalXLate("snapin_systool","STSR:Information2") %>
        </strong>
      </p>
      <p>
        <%= $ss.agentcore.utils.LocalXLate("snapin_systool","STSR:Instruction1") %>&nbsp<strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","STSR:Instruction2") %></strong>
        <%= $ss.agentcore.utils.LocalXLate("snapin_systool","STSR:Instruction3") %>&nbsp<strong><%= $ss.agentcore.utils.LocalXLate("snapin_systool","STSR:Instruction4") %></strong>
        <%= $ss.agentcore.utils.LocalXLate("snapin_systool","STSR:Instruction5") %>
      </p>
      <br/>
      <p align="center">
        <a href="#" hidefocus="false" id="snp_st_reboot_system_ok"><img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_ok.gif" width="53" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Ok")%>" border="0" /></a>
				<a href="#" hidefocus="false" id="snp_st_reboot_system_cancel"><img src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_cancel.gif" width="77" height="20" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_systool","Cancel")%>" border="0" /></a>
      </p>
    </div>
  </div>
</div>