body1 {
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:  #7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1; 
                scrollbar-width:5px;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#snapin_chat{
  font-size:12px;
  width:100%;
}

#content .form-horizontal .control-label {
  text-align: left;
}

#content .form-control {
  border-radius: 0px;
  border-color: #000000;
}
.chat_plugin{
  margin-left:auto;
  margin-right:auto;
  overflow-y:auto;
  overflow-x:hidden;
  margin-top:0px;
}

.chat_Window {
  margin-top:0px;
  margin-left:-10px;
  width:100%;
  height:500px;
}

 #ChatRichContentDisplay, .collapsible {
  width: 100% !important;
}

.collapsible {
 height: 40px !important;
}

/*------------rich content (start)------------*/
#ChatRichContentDisplay {
  text-align: center; 
  border-style: solid; 
  height: 20em; 
  background-color:#f0f0f0;
  word-wrap:break-word;
  font-color: yellow;
  -moz-opacity: 0.8;
  opacity: 0.8;
  width:80%;
  background-position: 180px 225px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 1px solid Navy;
  overflow: hidden;
}

#placeHolder
{
  position:relative;
  left: 27px;
	height: 80%;
	width: 80%;
  z-index:1000;
}
.noContentsAvailable{
	margin-top:40%;
}

.hide {
display: none;
}

.show {
height: 20em;
display: block;
}

.gallery-view-container{
text-align: center; height:80vh; width:auto;  background-color:#FFF;
}

.gallery {
margin-top: 20px;
object-fit: contain;
-moz-object-fit:contain;
-ms-object-fit:contain;
-o-object-fit:contain;
-webkit-object-fit:contain;
margin:auto;
height:100vh;
}

.show-gallery {
position: relative;
display: block;
float:left;
left: 12px;
margin: 5px auto auto auto ;
}

.traverse-left{
position: relative;
display: block;
float:left;
margin: 5px 0px auto auto ;
text-align: center;
background:url(../images/rcc_left_dim.gif) center center no-repeat;
}

.traverse-right{
position: relative;
display: block;
float:right;
margin: 5px auto auto auto ;
background:url(../images/rcc_right_dim.gif) center center no-repeat;
}

.gallery-view-mini {
margin:auto;
position: absolute;
bottom:10px;
width: 100%;
}
.mini {
display: inline-block;
position: relative;
object-fit:cover;
-moz-object-fit:contain;
-ms-object-fit:contain;
-o-object-fit:contain;
-webkit-object-fit:contain;
height: 10vh;
width: 10%;
border-radius: 5px;
padding: 5px 0px;
border: 2px solid orange;
margin: 0px auto;
}

.scrollable {
overflow: scroll;
white-space: nowrap;
}

object[type*="application/video/x-ms-wmv"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"], object[classid*="d27cdb6e-ae6d-11cf-96b8-444553540000"], object[classid*="22D6F312-B0F6-11D0-94AB-0080C74C7E95"], video, .video, .image, embed {
	height: 90%;
	width: 90%;
	object-fit: contain;
	-moz-object-fit:contain;
	-ms-object-fit:contain;
	-o-object-fit:contain;
	-webkit-object-fit:contain;
}
/*------------rich content (end)------------*/

#inputTextNode{
  height:2em;
  max-height:2em;
  width:250px;
  border:2px solid grey;
  word-wrap:break-word;
  overflow-y:hidden;
}

#surveyDiv,#transcriptDiv{
   width:270px !important;
	 margin-top:10px;
 }
#errorDisplayDiv{
  font-size:15px;
	color:red;
	text-align:left;
}

.message-text {
  padding-right:15px !important;
}

.msgtime{
  float:right;
  padding-right:5px;
  font-size: 11px;
  color: black;
  display: inline;
}

.useractivity-typing {
	color: #1a1aff;
	font-style: italic;
	width: 100% !important;
	position: relative;
	bottom: 5px;
}

.message-user-name{
  padding-left:10px;
}

.col-md-2, .col-md-10{
  padding:0;
}

.panel{
  margin-bottom: 0px;
}

.chat-window{
  bottom:0;
  position:fixed;
  float:right;
  margin-left:10px;
}

.chat-window > div > .panel{
    border-radius: 5px 5px 5px 5px;
}
.icon_minim{
    padding:2px 10px;
}

.msg_container_base {
  height:100% !important;
  width:110% !important;
  border:2px solid #f2f2f2;
  word-wrap:break-word;
  /*overflow-y:auto;*/
  margin: 0;
  padding: 0 10px 10px;
  max-height:400px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }

.msg_container {
    width: 60%;
    padding-left: 10px;
    display: flex;
    margin: 0 15px 8px 15px !important;
    padding-right: 10px !important;
}
.content>.package,
.content>.surveywebpage, 
.content>.surveyinline ,
.content>.iframe,
.content>.url{
  width: 60%;
  padding-left: 10px;
  display1: flex;
  margin: 0 15px 8px 15px !important;
  padding-right: 10px !important;
}

.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}


.bubble{
    border-radius: 10px;
    display: inline-block;
    padding: 1px 18px;
    position: relative;
    vertical-align: top;
    width:  180px;
    
}

.bubble::before {
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

#useractivity{
  height:1em;
}

.mine {
  color: #00b300;
  background-color: #e6ffe6;
  float: left;
  margin: 5px 45px 5px 20px;
  padding-bottom:10px !important;
  margin-right:0;
  box-shadow:0 1px 8px grey !important;
}
.mine::before {
  background-color: #e6ffe6;
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
}

.others {
  color: #1a1aff;
  background-color: #cce0ff;
  float: right;
  margin: 5px 20px 5px 45px;
  padding-bottom:10px !important;
  margin-left:0;
  box-shadow:0 1px 8px grey !important;
}

.others::before {
  background-color: #cce0ff;
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;
}

.system{
  color: red;
  padding-top:5px !important;
  padding-bottom:5px !important;
  margin-left:0;
  width:100% !important;
  float:left;
}

.advtool {
color: dimgray;
font-style: italic;
width:100% !important;
float:left;
}

.message-user-name, .message-text {
display: inline;
}

.msg_container_base::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}