.sprtBlockedUI {
z-index: 1000; border: none;margin-top: 70px;margin-left:695px; padding: 0px; width: 30%; height: 68%; top: 0px; left: 0px; opacity: 0.6; cursor: normal; position: fixed; background-color: rgb(0, 0, 0);
}

.sprtswirling{
position: fixed;top: 0%;left: 0%;display: block;background: url(../images/canim_clock_looping_32.gif) no-repeat; background-position: 83% 45%; width:100%; height:100%;
}

.chatNotification{
display:none;padding: 10px; float: left;font-size: 1.2em;position: fixed;top: 50%; left: 50%;z-index: 99999; padding:6px 6px 4px; color: white;
} 

.chatNotificationText{
	-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;
}
