.collapsible{
    margin: 0;
    padding:10px;
    height:20px;
	  width:282px;
	  border-top:#f0f0f0 1px solid;
	  background:#808080;
    text-decoration:none;
    text-transform:uppercase;
    color: #fff;    
}

.collapse-open {    
	  background:#D8D8D8;
    color: #000;
}

.collapse-open span {
    display:block;
    float:right;
    padding:10px;
}

.collapse-open span {
    background:url(../images/up_arrow.png) center center no-repeat;
}
.collapse-close span {
	  background:#D8D8D8;
    display:block;
    float:right;
    background:url(../images/down_arrow.png) center center no-repeat;
    padding:10px;
}


div.content-container {
    padding:0;
    margin:0;
}
