/*TODO: Check when you havem ore alerts in dashboard before delete.*/
.alertcontainerbody{
  overflow-x:hidden;
  overflow-y:auto
}

#snapin_alert .dashboardcontenticon{
  margin-left:10px;
}

#alertDiv{
  overflow-y:auto;
  border:thin solid #a8a8a8;
  border-radius:0px;
  margin:5px;
  margin-left: 10px;
}

#alertBody{
  height:480px;
  overflow-y:auto;
  background-color:#fff;
}

#alert_date{
  padding-left:15px;
  background-color:#e4e4e4;
} 

#alert_title{
  padding-top:5px;
  padding-left:5px;
  font-weight:700;
}