/* 03 December 2008 */
#systemtools {
	overflow:hidden;
	height:324px;
	padding:0px;
	margin:0px;
}

#systemtools .pageheading {
	display:block;
	overflow:hidden;
	height:50px;
	margin-left:0px;
	margin-right:10px;
	margin-top:3px;
}

#systemtools .pageheading .icon {
	float:left;
}

#systemtools .pageheading .headcoltwo {
	float:left;
	margin:0px;
}

#systemtools .pageheading .headcoltwo h3 {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom:2px;
	padding-top:4px;
}

#systemtools .pageheading .headcoltwo p {
	margin:0px;
	color:#acdcef;
}


#systemtools .stcontent {
	height:240px;
	margin-left:20px;
	margin-right:10px;
	margin-top:10px;
	color:#d3edfa;
}

#systemtools .stcontent p {
	margin:0px;
	padding-top:0px;
	padding-bottom:10px;
}

#systemtools .stcontent .working {
	color:#d2e9f3;
	background-color:#1e93c5;
	border: 1px solid #64bae1;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:30px;
	padding-right:8px;
	background-image: url(../images/loading_01.gif);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	margin-top:6px;
	margin-bottom:6px;
	height:15px;
}