@charset "utf-8";
/* CSS Document */

.acc_content{
  padding-left:20px;
  padding-right:10px;
  font-size: 12px;
}

.btn_reset_pad
{
margin-left:5px;
margin-right:5px;
}

#col_account_manager_content {
  padding-left: 1px;
}

#snapin_account_manager .heading {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  float: left;
}

#snapin_account_manager a 
{
    cursor: pointer;
}

#snapin_account_manager .pmnavlinks,
#snapin_account_manager .pmnavlinksCK,
{	
	color:#FFFFFF;
	padding-top: 0px;
	cursor: pointer;
}
#snapin_account_manager .pmnavlinks:hover
{
    color: #E6EC85;
}

#snapin_account_manager .pmnavlinks div div,
#snapin_account_manager .pmnavlinksCK div div,
{
	background: transparent none repeat-x scroll right center;
	padding: 5px;
	height: 40px;
	padding-left: 20px;	
	padding-right: 20px;
	float:left;
}

#snapin_account_manager .pmnavlinksCK div div,
{
	/*background: transparent url("../images/linkpref2_ck.jpg")  repeat-x scroll 158px;*/
	background-color: #81C8E8;
}

#snapin_account_manager .pmnavlinks div div div.ico, 
#snapin_account_manager .pmnavlinksCK div div div.ico,
{
	overflow: hidden;
	padding: 0px;
	float: left;
	margin-right: 5px;
}

#snapin_account_manager .pmnavlinks div div div.text, 
#snapin_account_manager .pmnavlinksCK div div div.text,
#snapin_account_manager .pmnavlinks div div div.oneline, 
#snapin_account_manager .pmnavlinksCK div div div.oneline,
{
	padding: 20px;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	height: auto;
}

#snapin_account_manager .pmnavlinks div div div.oneline, 
#snapin_account_manager .pmnavlinksCK div div div.oneline, 
{
{
	padding-top: 5px;
	padding-bottom:5px;
}

#snapin_account_manager h2 {
	color:#000000;
	font-size:14px;
	font-weight:bold;
	margin:0;
	padding-bottom:4px;
	padding-top:3px;
	text-decoration:none;
}
