<%
  var oCategories = data["oCategories"];
  var LinksToBeShown = $ss.agentcore.dal.config.GetConfigValue("layout_layout1", "LinksToBeShown", 4);
  var bAddCloseDropdown = false;
  var _utils = $ss.agentcore.utils;
  var maxLen = $ss.agentcore.dal.config.GetConfigValue("snapin_system_information","maxStringLenToDispForSIFilters");
%>
<div id="snapin_system_information">
  <div class="row">
    <div class="cell-header">
      <ul id="sysinfo_filters" class="nav-ss navbar-nav">
       <%
        for (i in oCategories) {
          if(oCategories[i].index != null && oCategories[i].name != null){
            if (oCategories[i].index < LinksToBeShown && oCategories[i].hidden != "true") {
             %>
                <li>
                  <span id="<%= oCategories[i].id %>" class="sinavlinks">
                    <a hidefocus="true" href="#" class="tab-menu-filters" title="<%= oCategories[i].name %>"><%= _utils.GetTruncatedString(oCategories[i].name, maxLen) %></a>
                  </span>
                </li>
              <%
            } else {%>
            <% if (oCategories[i].index == LinksToBeShown) {
                bAddCloseDropdown = true;
            %>
              <li class="dropdown" >
                <a id="filterDropdown" style="cursor:pointer;" class="dropdown-toggle dropdown-class dropdown-filters" data-toggle="dropdown"><%= _utils.LocalXLate("snapin_system_information","snp_dropdown_more")%><b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-background dropdown-menu-ss dropdown-menu-left">
            <% } %>
                <li class="dropdown-menu-li" title="<%= oCategories[i].name %>">
                  <a hidefocus="true" href="#" id="<%= oCategories[i].id %>" class="sinavlinks"><%= _utils.GetTruncatedString(oCategories[i].name, maxLen) %></a>               
                </li>
          <%}
          }
        }
       %>
        <% if (bAddCloseDropdown) { %>
              </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div><br>
  <div id="sysInfoContent">
    <!-- <div id="catnamedisplay" class="panel-parent-header-ss"></div> -->
    <div class="panel-parent-header-ss-d">
    <i><%= _utils.LocalXLate("snapin_system_information","snp_sysinfo_desc")%></i><br><br>
    </div>
    <div class="scrollarea panel-widget-body-ss" id="scrollarea"/><br>

    <!-- Modal Dialog -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header modal-header-primary"></div>
            <div class="modal-body" align="center"></div>
          </div>
        </div>
       </div>
    </div>
    <span class="pull-right">
      <input type="button" id="snapin_sysinfo_save" data-toggle="modal" data-target="#myModal" value="<%= _utils.LocalXLate("snapin_system_information","snp_action_save")%>" class="btn btn-primary-ss btn-sm "/>
      <input type="button" id="snapin_sysinfo_refresh" value="<%= _utils.LocalXLate("snapin_system_information","snp_action_refresh")%>" class="btn btn-primary-ss btn-sm "/>
      <input type="button" id="snapin_sysinfo_print" value="<%= _utils.LocalXLate("snapin_system_information","snp_action_print")%>" class="btn btn-primary-ss btn-sm "/>
    </span>
  </div>
  <br><iframe id="print_frame" width="0" height="0"></iframe>
</div>

<script>
  $(".dropdown-menu li a").click(function(){
    $(this).parents(".dropdown").find('#filterDropdown').html($(this).text() + ' <span class="caret"></span>');
  });
</script>