<%
  var imagePath = objCachedUserInfo["uImage"],
    fullName = objCachedUserInfo["uFullName"] ? objCachedUserInfo["uFullName"].toUpperCase() : "",
    domain = objCachedUserInfo["uDomain"],
    loginID = objCachedUserInfo["uLoginID"],
    machineType = objCachedUserInfo["uMachineType"] ? objCachedUserInfo["uMachineType"].toUpperCase() : "",
    hostName = objCachedUserInfo["uHostName"],
    pswrdExpiry = objCachedUserInfo["uPswrdExpiry"],
    IPAddress = objCachedUserInfo["uIPAddress"],
    dnsName = objCachedUserInfo["uDNSName"],
    operatingSystem = objCachedUserInfo["uOS"],
    macId = objCachedUserInfo["uMACId"],
    totalPhysicalMem = objCachedUserInfo["uTotalPhysicalMem"],
    amResetURL = objCachedUserInfo["uAMResetURL"];

  if(pswrdExpiry === "") pswrdExpiry = "empty";

  var maxStrLenForSubHeader = _config.GetConfigValue("snapin_user_information", "maxStringLenToDispForSubHeader"),
    maxStrLenForCaption = _config.GetConfigValue("snapin_user_information", "maxStringLenToDispForCaption"),
    maxStrLenForInfo = _config.GetConfigValue("snapin_user_information", "maxStringLenToDispForInfo"),
    maxStrLenForLongStr = _config.GetConfigValue("snapin_user_information", "maxStringLenToDispForLongStr");

  var cLoginID = _utils.LocalXLate("snapin_user_information","title_loginID"),
    cDomain =  _utils.LocalXLate("snapin_user_information","title_domain"),
    cMachine =  _utils.LocalXLate("snapin_user_information","title_machine"),
    cPswrdExpires =  _utils.LocalXLate("snapin_user_information","title_passwrdExpiresDec"),
    cPswrdAlreadyExpires =  _utils.LocalXLate("snapin_user_information","title_passwrdAlreadyExpiresDec"),
    cPswrdExpiresToday =  _utils.LocalXLate("snapin_user_information","title_passwrdExpiresTodayDec"),
    cPswrdExpiresNoInfo =  _utils.LocalXLate("snapin_user_information","title_passwrdExpiresNoInfo"),
    bttnReset =  _utils.LocalXLate("snapin_user_information","title_reset"),
    cDNS =  _utils.LocalXLate("snapin_user_information","title_dnsName"),
    cIPAdd =  _utils.LocalXLate("snapin_user_information","title_IPaddress"),
    cMacID =  _utils.LocalXLate("snapin_user_information","title_macID"),
    cPhyMem =  _utils.LocalXLate("snapin_user_information","title_totalPhysicalMem"),
    cMore =  _utils.LocalXLate("snapin_user_information","snp_userinfo_more_txt"),
    cImgDesc = _utils.LocalXLate("snapin_user_information","upload_img_desc");
  
  var sSysInfoUrl = _config.GetConfigValue("preconfigured_snapin_url", "subagent_system_information", "/sa/sysinfo");
%>

<div id="snapin_user_information" class="col-sm-12 col-md-12 col-lg-12">
  <div class="panel-default-ss row-box-shadow">
    <div class="panel-heading panel-dashboard-header-ss">
      <span class="icon-user"></span>
      <%= _utils.LocalXLate("snapin_user_information","title_user_info")%>
      <a href="#" class="userInfoRefresh" data-tooltip title="%LOCG:glb_lbl_refresh_tooltip%"><i class="pull-right fa fa-refresh"></i></a>
    </div>
    <div class="panel-body panel-widget-body-ss" >
      <div id="userImage">
        <div class="upload-button" title="<%=cImgDesc%>">
          <img src="<%= imagePath%>" id="imgUpload" class="profile-pic img-circle" height="133" width="133" />
          <p class="desc" ><%=cImgDesc%></p>
        </div>
        <input class="file-upload" type="file" accept="image/*"/>
      </div>
      <div class="userInfoSubHeader">
        <span class="userName" title="<%=fullName%>">
          <%=_utils.GetTruncatedString(fullName, maxStrLenForSubHeader)%>
        </span>
        <div class="machineInfoTitle">
          <span title="<%=machineType%>"><%=_utils.GetTruncatedString(machineType, maxStrLenForSubHeader)%></span> : 
          <span title="<%=operatingSystem%>"><%=_utils.GetTruncatedString(operatingSystem, maxStrLenForSubHeader)%></span><br />
        </div>
      </div>
      <div class="userInfoBody">
        <div class="userInfoBody-left">
          <span>
            <span class="itemCaption" title="<%=cLoginID%>"><%=_utils.GetTruncatedString(cLoginID, maxStrLenForCaption)%></span> :
            <span title="<%=loginID%>"><%=_utils.GetTruncatedString(loginID,maxStrLenForInfo)%></span><br />
          </span>
          <span>
            <span class="itemCaption" title="<%=cDomain%>"><%=_utils.GetTruncatedString(cDomain, maxStrLenForCaption)%></span> :
            <span title="<%=domain%>"><%=_utils.GetTruncatedString(domain,maxStrLenForInfo)%></span><br />
          </span>
          <span>
            <span class="itemCaption" title="<%=cMachine%>"><%=_utils.GetTruncatedString(cMachine, maxStrLenForCaption)%></span> :
            <span title="<%=hostName%>"><%=_utils.GetTruncatedString(hostName,maxStrLenForInfo)%></span>
          </span>
        </div>
        <div class="userInfoBody-center">
          <%
              var sUrl = _config.GetConfigValue("preconfigured_snapin_url", "snapin_account_manager", "/Accountmanager");
              var cWidgetNum = "X";
              var pswrdTxt = _utils.LocalXLate("snapin_user_information","title_passwrdExpiresNoInfo");
              if (pswrdExpiry != "empty"){
                cWidgetNum = pswrdExpiry;
                if (pswrdExpiry === 0)  pswrdTxt = _utils.LocalXLate("snapin_user_information","title_passwrdExpiresTodayDec");
                if (pswrdExpiry < 0)  pswrdTxt = _utils.LocalXLate("snapin_user_information","title_passwrdAlreadyExpiresDec");
                else  pswrdTxt = _utils.LocalXLate("snapin_user_information","title_passwrdExpiresDec");
              }
              var pDisable = "disabled";
              if (amResetURL != "") pDisable = "";
          %>
          <span class="label-danger panel-widget-number-ss"><%=cWidgetNum%></span><br />
            <span class="error-msg" title="<%=pswrdTxt.replace("<br>" ,"")%>"><%=_utils.GetTruncatedString(pswrdTxt, maxStrLenForLongStr)%></span><br />
            <% if(NavigationController.IsUrlValid(sUrl)){ %>
              <a hidefocus="hidefocus" class="navigate userInfoReset btn btn-primary-ss btn-xs" <%=pDisable%> url="<%= sUrl %>?id=account_manager_nav_summary" href="#" subUrl="<%= amResetURL %>">
                <%= bttnReset%>
              </a>
            <%}%>
        </div>
        <div class="userInfoBody-right">
          <span>
            <span class="itemCaption" title="<%=cDNS%>"><%=_utils.GetTruncatedString(cDNS, maxStrLenForCaption)%></span> :
            <span title="<%=dnsName%>"><%=_utils.GetTruncatedString(dnsName,maxStrLenForInfo)%></span><br>
          </span>
          <span>
            <span class="itemCaption" title="<%=cIPAdd%>"><%=_utils.GetTruncatedString(cIPAdd, maxStrLenForCaption)%></span> :
            <span title="<%=IPAddress%>"><%=_utils.GetTruncatedString(IPAddress,maxStrLenForInfo)%></span><br />
          </span>
          <span>
            <span class="itemCaption" title="<%=cMacID%>"><%=_utils.GetTruncatedString(cMacID, maxStrLenForCaption)%></span> :
            <span title="<%=macId%>"><%=_utils.GetTruncatedString(macId, maxStrLenForInfo)%></span><br />
          </span>
          <span>
            <span class="itemCaption" title="<%=cPhyMem%>"><%=_utils.GetTruncatedString(cPhyMem, maxStrLenForCaption)%></span> :
            <span title="<%=totalPhysicalMem%>"><%=_utils.GetTruncatedString(totalPhysicalMem,maxStrLenForInfo)%></p<br />
          </span><br>
          <% if(NavigationController.IsUrlValid(sSysInfoUrl)) { %>
            <a hidefocus="true" href="#" class="more navigate" url="<%= sSysInfoUrl %>" data-tooltip title="<%= cMore%>"><u><%= cMore%></u></a>
          <%}%>
        </div>
        <div class="dekstop_image">
          <i class="fa fa-desktop fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>