<div id="snapin_messagespopup">
     <div id="triggerwindow">
       <div id="idMessages" class="messagearea"></div>
     </div>

  <xml id="idTmp"></xml>
  <xml id="idXsl" src="%SNAPINPATH%/views/%LANGCODE%/xsl/popview.xsl"></xml>
   
    <div id="divdialog" style="display:none">
    <div id="titlemsgtrigger"><%=_utils.LocalXLate("snapin_messagespopup","trgr_title")%></div>
      <div id="iddialogmsg" >
       <div id="idtxtmsgreason"><%=_utils.LocalXLate("snapin_messagespopup","trgr_reason")%></div>
       <div style="float:right;">
         <span id="btnOK" class="btn btn-primary-ss btn-sm"><%=_utils.LocalXLate("snapin_messagespopup","bttn_ok")%></span>
         <span id="btnCancel" class="btn btn-primary-ss btn-sm"><%=_utils.LocalXLate("snapin_messagespopup","bttn_cancel")%></span>
       </div>
      </div>
    </div>
 </div>