body {
  overflow: hidden;
  margin:0px;
  padding:0px;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  border: solid grey;
}

#triggerwindow #triggercontent {
  height:124px;
  overflow:hidden;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:12px;
  padding-right:12px;
}

/* Company Name Header : Start */
#idMainWindowTitle {
  margin:0;
  background-color:#f8f8f8;
  border-color: #e7e7e7;
  border-radius: 4px;
  border: 1px solid transparent;
  position: relative;
  min-height: 30px;
  display: block;
  box-sizing: block;
}

#idTitleBar #idMainWindowTitle .logo {
	float:left;
	width:130px;
	margin-left:3px;
  padding: 2px;
  padding-top: 4px;
  font-size: 13px;
}

#idMainWindowTitle, #idLogo, #idTitleCloseButton {
  height: 30px;
}
/* Company Name Header : End */

#triggersubject{
  background-color:#287fb0;
  background-repeat: repeat-x;
  background-position: left top;
  padding-top:12px;
  padding-bottom:8px;
  padding-left:12px;
  padding-right:12px;
  font-size: 12px;
  font-weight: bold;
  color:#FFF;
  text-decoration: none;
}