<h1><div id="subheader">Modem Detection</div></h1>
<p><div id="subcontent"></div></p>
<div class="frscrollarea2" id="sa_fr_Content">
  <div id="cl_md_globalWorkingAnimation"><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/loader.gif" align="absmiddle" width="16" height="16" alt="" border="0"/>&nbsp;</div>
  <div id="cl_md_detect_msg" class="clsPageContent">Please wait while we attempt to detect your modem...</div>
  <div id="cl_md_admin_creds" style="display:none;">
    <div>
      <div id="ss_glb_admin1"></div>
      <div id="ss_glb_admin_box">
        <div id="ss_glb_enterpwd">If you know the changed settings enter them below and click <b>Retry</b>.</div>
        <table>
          <tr>
          <td>
          <label id="ss_glb_adminname" for="adminname">Admin Name:</label>
          </td>
          <td>
          <input class="textfields" type="text" id="adminname" SIZE="40" NAME="adminname" /><br>
          </td>
          </tr>
          <tr>
          <td>
          <label id="ss_glb_adminpwd" for="adminpass">Admin Password:</label>
          </td>
          <td>
          <input class="textfields" type="password" id="adminpass" SIZE="40" NAME="adminpass"/>
          </td>
          </tr>
        </table>
        <div id="ss_glb_resetpwd">If you do not know the admin name and password, do the following:</div>
        <ul>
          <li id="ss_glb_pboption1">Push the factory reset button on the back of the modem</li>
          <li id="ss_glb_pboption2">Wait for all blinking lights to turn solid green</li>
          <li id="ss_glb_pboption3">Click <b>Retry</b></li>
        </ul>
        <div id="ss_glb_getassistance">If the problem persists, click <b>Next</b> for assistance.</div>
      </div>
    </div>
  </div>
</div>
<div class="popupfirstrun" id="popupfirstrun" style="display:none;">
  <p class="popupsuccess">Please enter a User Name and click Retry.</p>
</div>