<h1>Modem Detection</h1>
<p></p>
<div class="frscrollarea2" id="sa_fr_Content">
<div id="cl_md_none_Wrapper" class="clsPageWrapper">
  <div id="cl_md_none_Header" class="clsPageHeader">Unable to detect your modem!</div>
  <div id="cl_md_none_Description" class="clsPageContent">What is your situation?</div>
  <div id="cl_md_none_Content" class="clsPageContent">
    <form id="cl_md_none_modemform" name="cl_md_none_modemform">
      <div id="cl_md_none_selectradios">
        <table id="cl_md_none_selectradioTable">
          <tr><td><input teardown508="true" name="typeradio" type="radio" id="cl_md_none_radio1" VALUE="cl_md_none_radio1"/></td><td><label for=cl_md_none_radio1 id="cl_md_none_radio1_txt">I have one of the modems on the list below and I have not changed my modem password.</label></td></tr>
          <tr style="DISPLAY: none"><td><input teardown508="true" name="typeradio" type="radio" id="cl_md_none_radio2" VALUE="cl_md_none_radio2"/></td><td><label for=cl_md_none_radio2 id="cl_md_none_radio2_txt">I have one of the modems on the list below and I <b>have</b> changed my modem password.</label>
          <div id="cl_md_none_pwdBlock" style="DISPLAY: none"><label for="cl_md_none_pwd" id="cl_md_none_password"></label><input teardown508="true" type=password id="cl_md_none_pwd" size=10  onkeypress="ChangePwd()" NAME="cl_md_none_pwd"/></div></td></tr>
          <tr><td><input teardown508="true" name="typeradio" type="radio" id="cl_md_none_radio3" VALUE="cl_md_none_radio3"/></td><td><label for=cl_md_none_radio3 id="cl_md_none_radio3_txt">I do not have a modem on the list below.</label></td></tr>
        </table>
          <div id="cl_md_none_list" class="cls500x200Frame">
        </div>
      </div>
    </form>
  </div>
</div>
</div>