@charset "utf-8";

#snapin_firstrun_main {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	height: 345px;
	width: 710px;
	overflow:hidden;
	padding-left:22px;
	padding-top:16px;
	padding-right:20px;
	padding-bottom:10px;
}

#snapin_firstrun_main #frcolumnone {
	float:left;
	width:169px;
	height:321px;
	overflow:hidden;
	padding:10px;
}



#snapin_firstrun_main #frcolumnone .frlinks {
	background-image: url(../images/frlinks_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#FFFFFF;
	display:block;
	padding-bottom:7px;
	width:169px;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinks:hover {
	color:#000000;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinks span {
	float:left;
	background-image: url(../images/frlinks_span_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:21px;
	height:17px;
	text-align:center;
	color:#87cafc;
	padding-top:3px;
	margin-right:5px;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinks div {
	float:left;
	padding-top:2px;
  padding-left:1px;
	cursor:default;
}


#snapin_firstrun_main #frcolumnone .frlinkslast {
	background-image: url(../images/frlinks_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#FFFFFF;
	display:block;
	width:169px;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinkslast:hover {
	color:#000000;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinkslast span {
	float:left;
	background-image: url(../images/frlinks_span_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:21px;
	height:17px;
	text-align:center;
	color:#87cafc;
	padding-top:3px;
	margin-right:5px;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinkslast div {
	float:left;
	padding-top:2px;
	cursor:default;
  padding-left:1px;
}






#snapin_firstrun_main #frcolumnone .frlinkslastCK {
	background-image: url(../images/frlinks_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#000000;
	display:block;
	width:169px;
	font-weight:bold;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinkslastCK:hover {
	color:#000000;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinkslastCK span {
	float:left;
	background-image: url(../images/frlinks_span_bg_ck.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:21px;
	height:17px;
	text-align:center;
	color:#000000;
	padding-top:3px;
	margin-right:5px;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinkslastCK div {
	float:left;
	padding-top:2px;
  cursor:default;
  padding-left:1px;
}








#snapin_firstrun_main #frcolumnone .frlinksCK {
	background-image: url(../images/frlinks_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	color:#000000;
	font-weight:bold;
	display:block;
	width:169px;
	padding-bottom:7px;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinksCK:hover {
	color:#000000;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinksCK span {
	float:left;
	background-image: url(../images/frlinks_span_bg_ck.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:23px;
	height:23px;
	text-align:center;
	color:#000000;
	padding-top:4px;
	margin-right:5px;
	cursor:default;
}

#snapin_firstrun_main #frcolumnone .frlinksCK div {
	float:left;
	padding-top:2px;
  padding-left:1px;
	cursor:default;
}

#snapin_firstrun #frcolumnmain {
	float:right;
	width:500px;
	height:341px;
	overflow:hidden;
}

#snapin_firstrun #frcolumnmain #snapin_firstrun_content{
  height:310px;
  overflow:auto;
}

#snapin_firstrun #frcolumnmain .popupfirstrun {
	position:relative;
	margin-left:0px;
	margin-top:0px;
	background-color:#f2f5d3;
	border: 3px solid #bdcc2d;
	width:475px;
	padding:1px;
	color:#000000;
}

#snapin_firstrun #frcolumnmain .popupfirstrun .popupsuccess {
	margin:0px;
	background-image: url(../images/ico_tick.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left:20px;
	padding-top:0px;
	padding-bottom:6px;
	color: black;
}

#snapin_firstrun #frcolumnmain .popupfirstrun .close {
	margin:0px;
	padding-top:4px;
	padding-bottom:0px;
}


#snapin_firstrun #frcolumnmain form {
	margin:0px;
	padding:0px;
}

#snapin_firstrun #frcolumnmain .bullink {
	display:inline-block;
	color:#abdbf1;
	padding-bottom:6px;
	padding-left:13px;
	text-decoration: underline;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
}

#snapin_firstrun #frcolumnmain .bullink:hover {
	color:#fff;
	text-decoration: none;
}


#snapin_firstrun #frcolumnmain h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/h1_bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin:0px;
	padding-bottom:6px;
}

#snapin_firstrun #frcolumnmain p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #a2d8f1;
	text-decoration: none;
	margin:0px;
	padding-bottom:6px;
	padding-top:4px;
}


#snapin_firstrun #frcolumnmain .frscrollarea {
	background-color: #1e93c5;
	border: 1px solid #67bfe6;
	height:220px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#e9f9ff;
}

#snapin_firstrun #frcolumnmain .frscrollarea p {
	color:#e9f9ff;
}

#snapin_firstrun #frcolumnmain .frscrollarea ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_firstrun #frcolumnmain .frscrollarea ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}








#snapin_firstrun #frcolumnmain .frscrollarea2 {
	background-color: #1e93c5;
	border: 1px solid #67bfe6;
	height:190px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#e9f9ff;
}

#snapin_firstrun #frcolumnmain .frscrollarea2 p {
	color:#e9f9ff;
}

#snapin_firstrun #frcolumnmain .frscrollarea2 ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_firstrun #frcolumnmain .frscrollarea2 ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}



#snapin_firstrun #frcolumnmain .frscrollarea3 {
	background-color: #1e93c5;
	border: 1px solid #67bfe6;
	height:220px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#e9f9ff;
}

#snapin_firstrun #frcolumnmain .frscrollarea3 p {
	color:#e9f9ff;
}

#snapin_firstrun #frcolumnmain .frscrollarea3 ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_firstrun #frcolumnmain .frscrollarea3 ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}



#snapin_firstrun #frcolumnmain .buttonarea {
	height:22px;
	overflow:hidden;
	text-align:right;
}

#sta_accountinfo table
{
	border-collapse: collapse;	
	padding: 0px;
	margin: 0px;
	width: 95%;
}

#sta_accountinfo td
{
	width: 50%;
}

#sta_accountinfo input
{
	border: 1px solid #2070a1;
	margin-bottom: 4px;
}


#accountnumber,#username,#firstname,#password,#lastname,#cpassword,#question,#answers
{
	width: 90%;
	
}

#countrycode,#areacode
{
	width: 40px;
}

#phonenumber
{
	width: 88px;
}
 