
/************************************************/
   /****wrl styles********/
/************************************************/

.cls_wrl_vflowcomp
{
	height:77px;
	width:76px;
	background-image: url(../images/wrl_icon_pc.gif);
	background-repeat: no-repeat;
	float:left; 
}
	
.cls_wrl_vflowadapter
{
	width:76px;
	height:77px; 
	background-image: url(../images/wrl_icon_adapter.gif);
	background-repeat: no-repeat;
	float:left; 
}

.cls_wrl_vflowrouter
{
	width:76px;
	height:77px; 
	background-image: url(../images/wrl_icon_router.gif);
	background-repeat: no-repeat;
	float:left; 
}

.cls_wrl_vflowinternet
{
	width:76px;
	height:77px; 
	background-image: url(../images/wrl_icon_internet.gif);
	background-repeat: no-repeat;
	float:left;
}






