<%
var contentData = data["contentData"];
var arrFAQContents = contentData["arrFAQContents"];
var arrOneClickSolns = contentData["arrOneClickSolns"];
var arrFAQCTypes = contentData["arrFAQCTypes"];
var arrOneClickSolnCTypes = contentData["arrOneClickSolnCTypes"];
var arrCategories = contentData["arrCategories"];
var nFAQsToDisplay = contentData["nFAQsToDisplay"];
var nOneClickSolnsToDisplay = contentData["nOneClickSolnsToDisplay"];
var sBackToUrl = contentData["sBackToUrl"];
var arrFAQExtTypes = contentData["arrFAQExtTypes"];
var isMoreLinkSupported = contentData["isMoreLinkSupported"];
var oLinkData = null;
var helper = $ss.snapin.solutions.helper;
$ss.agentcore.dal.databag.SetValue("snp_soln_oneclick_back", null, "true"); %>
<div id="snapin_solutions">
  <div id="snapin_solutions_list" class="Accordion">
    <% if( 0 < arrFAQContents.length ) { %>
      <div class="AccordionPanel">
        <div class="AccordionPanelTab <%= arrOneClickSolns.length? "" : "selected" %>">
          <span id="AccordianFaqImage"></span><h1><%= $ss.agentcore.utils.LocalXLate("snapin_solutions","FAQ") %></h1>
        </div>
        <div class="AccordionPanelContent">
          <%
          // display content links for FAQ Content Types
          var ulimit = (nFAQsToDisplay < arrFAQContents.length)? nFAQsToDisplay : arrFAQContents.length;
          var sContentLink;
          for(var i=0; i<ulimit; i++)
          {
          oLinkData = helper.GetFAQLinkData(arrFAQContents[i],arrFAQExtTypes); %>
          <a href="<%= oLinkData.sHref %>"<%= oLinkData.sTarget %> hidefocus="false" class="SolutionFaq LinkFaqSol" guid="<%=arrFAQContents[i].cid%>" version="<%=arrFAQContents[i].version%>" ctype="<%=arrFAQContents[i].ctype%>" externalview="<%= oLinkData.bExternalView %>"><%= arrFAQContents[i].title %></a>
          <%} %>
          <%
          if( "1" === isMoreLinkSupported ){
          var moreURL = "/sa/soln?snpsoln_template=SolutionListTemplate.html"+
          "&snpsolution_ctype="+arrFAQCTypes.join(",")+
          "&snpsoln_categories="+arrCategories.join(",") +
          "&snpsoln_doneurl="+sBackToUrl;
          if(arrFAQContents.length > nFAQsToDisplay) { %>
          <div class="more">
            <a href="#" hidefocus="false" class="navigate" url="<%=moreURL%>"><%= $ss.agentcore.utils.LocalXLate("snapin_solutions","SA_MORE") %></a>
          </div>
          <% }
          } %>
        </div>
      </div>
  <%  }
      if( 0 < arrOneClickSolns.length ) {
  %>
      <div class="AccordionPanel">
        <div class="AccordionPanelTab selected">
          <span id="AccordianOneClickImage"></span><h1><%= $ss.agentcore.utils.LocalXLate("snapin_solutions","SUPPORT_ACTION") %></h1>
        </div>
        <div class="AccordionPanelContent">
          <% // display content links for One Click Solutions
          ulimit = (nOneClickSolnsToDisplay < arrOneClickSolns.length)? nOneClickSolnsToDisplay : arrOneClickSolns.length;
          for(var i=0; i<ulimit; i++)
          {
          sContentLink = helper.GetContentLinkUrl(arrOneClickSolns[i],"/sa/soln","SolutionView",sBackToUrl); %>
          <a href="#" hidefocus="false" class="SolutionAction LinkFaqSol" url="<%= sContentLink %>"><%=arrOneClickSolns[i].title %></a>
          <%}
          if( "1" === isMoreLinkSupported ){
          // display More link for One Click Solutions
          // if there are more than nOneClickSolnsToDisplay
          moreURL = "/sa/soln?snpsoln_template=SolutionListTemplate.html"+
          "&snpsolution_ctype="+arrOneClickSolnCTypes.join(",")+
          "&snpsoln_categories="+arrCategories.join(",") +
          "&snpsoln_doneurl="+sBackToUrl;
          if(arrOneClickSolns.length > nOneClickSolnsToDisplay)
          { %>
          <div class="more">
            <a href="#" hidefocus="false" class="navigate" url="<%=moreURL%>"><%= $ss.agentcore.utils.LocalXLate("snapin_solutions","SA_MORE") %></a>
          </div>
          <% }
          } %>
        </div>
      </div>
    <%}%>
  </div>
</div>
