<%

var contentData = data["contentData"];
var oFolder = contentData["oFolder"];
var arrContents = contentData["arrContents"];
var arrFolderBreadCrumb = contentData["arrFolderBreadCrumb"];
var sBackToUrl = contentData["sBackToUrl"]; 
var arrFAQExtTypes = contentData["arrFAQExtTypes"];
var oLinkData = null;
var sContentLink = "";
var sBackURLForOneClickSol = "";

%>

<script>
    $('.tree-toggle').click(function () {
  $(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(200);
})
</script>
<div id="snapin_solutions">
  <div id="solutionbg">
   <div class="cell-header"><span class="tab-menu-header"><%= _utils.LocalXLate("snapin_solutions","SOLUTIONS") %><br></span></div><br>
   <div class="panel-parent-header-ss-d">
     <i><%= _utils.LocalXLate("snapin_solutions","Solutions_DETAILS") %></i>
   </div>
    <div id="solareascroll" class="panel-widget-body-ss">
      <div id="snapin_solutions_folders">
        <ul class="nav nav-list" style="cursor:pointer;">
            <%
            var helper = $ss.snapin.solutions.helper;
            if (oFolder && oFolder.fid){
                function build_tree(id){
                    var _list = $ss.agentcore.dal.content;
                    var _utils = $ss.agentcore.utils;
                    var folders = _list.GetFolderDetails(id);
                    if(!folders.subfolders.length){
                        var list = _list.GetAllContents();
                        var userPrefLang = $ss.agentcore.utils.GetLanguage();
                        var contents = _list.GetContentsByAnyFolder(["sprt_articlefaq","sprt_rawdoc","sprt_rawdoc_inline","sprt_actionlight"],id,userPrefLang)
                        for(var k=0;k<contents.length;k++){
                            if(contents[k].fid == id){
                                if(contents[k].ctype == "sprt_actionlight"){
                                    sContentLink = helper.GetContentLinkUrl(contents[k],"/sa/soln","SolutionView",sBackToUrl);
                                 %><li class="SolutionAction" url="<%= sContentLink %>" > <%=contents[k].title %></li><%
                                }
                                else{
                                    oLinkData = helper.GetFAQLinkData(contents[k],arrFAQExtTypes); %>
                                    <li>
                                    <a href="<%= oLinkData.sHref %>" <%= oLinkData.sTarget %> hidefocus="false" class="SolutionFaq" guid="<%=contents[k].cid%>" version="<%=contents[k].version%>" ctype="<%=contents[k].ctype%>" externalview="<%= oLinkData.bExternalView %>" ><%= contents[k].title %></a>
                                    </li>
              <%}  
                            }              
                        }
                    }
                    for(var i=0;i<folders.subfolders.length;i++){
                        var fid = folders.subfolders[i].fid;
                        var sLocalizedFName = helper.GetLocalizedFolderName(fid,folders.subfolders[i].name)                        
                        %>
                          <li>
                            <i class="fa fa-folder"></i>&nbsp;&nbsp;<span class="tree-toggle nav-header"><%=sLocalizedFName%></span>
                            <ul class="navigate nav nav-list tree" style="display:none"><% build_tree(folders.subfolders[i].fid); %></ul>
                          </li><%
                        }
                    }
                    build_tree(oFolder.fid);
                }%>
         </ul>
    </div>
  </div>
</div>