<div id="snapin_solutions">
<%
  var _utils = $ss.agentcore.utils;
  var sUrl = $ss.agentcore.dal.config.GetConfigValue("preconfigured_snapin_url", "subagent_solutions", "/sa/soln");
  var bttnCaption = _utils.LocalXLate("snapin_solutions","SA_SCAN");
  if (contentDetail["ExecType"] == "AUTO_FIX")  bttnCaption = _utils.LocalXLate("snapin_solutions","SA_RUN_SA");
%>
  <div id="solContainer">
    <div class="cell-header"><span class="tab-menu-header"><%= _utils.LocalXLate("snapin_solutions","SOLUTIONS") %><br></span></div><br>
    <div class="panel-parent-header-ss-d">
      <i><%= _utils.LocalXLate("snapin_solutions","Solutions_DETAILS") %></i>
    </div>
    <div id="soldetailareascroll" class="infoactionbox panel-widget-body-ss">
    <br>
        <strong><%= contentDetail["title"] %></strong>
      <br/><br/>
        <p><%= contentDetail["description"] %></p>

      <br/>
      <div class="infoactionbox">
        <div class="supportActAuthInit supportActAuth ">
          <p>
            <i class="fa fa-angle-right"></i>
            <span class="action"><%= _utils.LocalXLate("snapin_solutions","SA_TO_AUTH") %></span>
          </p>
        </div>
        <div class="working supportActAuthDoing supportActAuth" style="display:none">
          <strong><%= _utils.LocalXLate("snapin_solutions","SA_AUTH") %></strong>
        </div>
        <div class="supportActAuthFail supportActAuth " style="display:none">
          <p>
            <i class="fa fa-close"></i>&nbsp;<strong><%= _utils.LocalXLate("snapin_solutions","SA_AUTH_FAILED") %></strong>
          </p>
        </div>
        <div class="supportActAuthSucess supportActAuth " style="display:none">
          <p>
            <i class="fa fa-check"></i>&nbsp;<strong><%= _utils.LocalXLate("snapin_solutions","SA_AUTH_SUCCESS") %></strong>
          </p>
        </div>
        <div class="supportActExecInit supportActExec ">
          <p>
            <i class="fa fa-angle-right"></i>
            <span class="action"><%= _utils.LocalXLate("snapin_solutions","SA_AUTH_EXE") %></span>
          </p>
        </div>
        <div class="working supportActExecDoing supportActExec" style="display:none">
          <strong><%= _utils.LocalXLate("snapin_solutions","SA_AUTH_EXECUTING") %></strong>
        </div>
        <div class="working supportActExecWaitUserInput supportActExec" style="display:none">
          <strong><%= _utils.LocalXLate("snapin_solutions","SA_WAIT_USER") %></strong>
        </div>
        <div class="supportActExecFail supportActExec " style="display:none">
          <p>
            <i class="fa fa-close"></i>&nbsp;
            <strong></strong>
          </p>
        </div>
        <div class="supportActExecSucess supportActExec " style="display:none">
          <p>
            <i class="fa fa-check"></i>&nbsp;
            <strong></strong>
          </p>
        </div>
        <div class="supportActExecNotApplicable supportActExec " style="display:none">
          <p>
            <i class="fa fa-ban"></i>&nbsp;
            <strong></strong>
          </p>
        </div>
        <div class="supportActExecAbort supportActExec " style="display:none">
          <p>
            <i class="fa fa-close"></i>&nbsp;<strong><%= _utils.LocalXLate("snapin_solutions","SA_ABORT") %></strong>
          </p>
        </div>
      </div>
      <form id="gcform" name="gcform" method="get" action="#">
        <div class="infoactionbox " id="supportActionInput" style="display:none;">
          <div>
            <p>
              <%= _utils.LocalXLate("snapin_solutions","SA_USER_INPUT") %>
            </p>
          </div>
          <div id="supportActionInputContent">
          </div>
          <div id="inputXMLButtons">
            <br>
            <a id="scriptActionContinue" guid="<%= contentDetail["guid"]%>" version="<%= contentDetail["version"]%>" class="clsTextButton1">
              <input type="button" class="btn btn-primary-ss btn-sm" value="<%=_utils.LocalXLate("snapin_solutions","SA_SUBMIT")%>" title="<%= _utils.LocalXLate("snapin_solutions","SA_SUBMIT") %>">
            </a>
            <a id="scriptActionQuit" guid="<%= contentDetail["guid"]%>" version="<%= contentDetail["version"]%>" class="clsTextButton1">
              <input type="button" class="btn btn-primary-ss btn-sm" value="<%=_utils.LocalXLate("snapin_solutions","SA_QUIT")%>" title="<%= _utils.LocalXLate("snapin_solutions","SA_QUIT") %>">
            </a>
          </div>
        </div>
      </form>
      <div class="infoactionbox" id="SATextOutput" style="display:none; max-height: 330px; overflow-y: auto;">
        <br>
        <p>
          <strong><%= _utils.LocalXLate("snapin_solutions","SA_OUTPUT") %></strong>
        </p>
        <p id="SATextOuputContentArea">
        </p>
      </div>
    </div>
    <div id="soldetailareabuttons">
      <%if(contentDetail["callerSnapinname"] != "Search_Snapin"){%>
        <a href="#" id="scriptActionCancel" class="navigate" style="display:none" url="<%= contentDetail["sBackToUrl"]%>"><i class="btn btn-primary-ss btn-sm navigate"><%= _utils.LocalXLate("snapin_solutions","SA_RUN_CANCEL1") %></i></a>
      <%}%>
    <a href="#" id="scriptActionViewAll" guid="<%= contentDetail["guid"]%>" url="<%= sUrl%>" version="<%= contentDetail["version"]%>" class="clsTextButton1 btn btn-primary-ss btn-sm navigate"><%= _utils.LocalXLate("snapin_solutions","SA_VIEW_ALL") %></a>
      <a href="#" id="scriptActionRun" guid="<%= contentDetail["guid"]%>" version="<%= contentDetail["version"]%>" class="clsTextButton1 btn btn-primary-ss btn-sm navigate"><%= bttnCaption %></a>
      <a href="#" id="scriptActionFix" style="display:none" guid="<%= contentDetail["guid"]%>" version="<%= contentDetail["version"]%>" title="<%= contentDetail["title"]%>" class="clsTextButton1 btn btn-primary-ss btn-sm navigate"><%= _utils.LocalXLate("snapin_solutions","SA_FIX")%></a>
    </div>
  </div>
</div>