<%
  var arrContents = data["contentData"].arrContents;
  var sBackToUrl = data["contentData"].sBackToUrl;
%>
<div id="snapin_solutions">
  <div id="snapin_solutions_list">
    <%
    for(var i=0; i<arrContents.length;i++)
    {
      var sContentLink = $ss.snapin.solutions.helper.GetContentLinkUrl(arrContents[i],"/sa/soln","SolutionView",sBackToUrl);
  %>
  <a href="#" class="navigate LinkFaqSol" url="<%= sContentLink %>" ><%= arrContents[i].title %></a> <br/>
  <%
    }
  %>
  </div>
</div>