﻿<div id="snapin_wireless">
  <!-- Visual Flow section -->
  <div id="animarea">
        <div id="wrl_vflow_computer" class="cls_wrl_vflowcomp"></div>
				<div id="wrl_vflow_link1" class="cls_wrl_vflowlink1_nr"></div>
				<div id="wrl_vflow_adapter" class="cls_wrl_vflowadapter"></div>
				<div id="wrl_vflow_link2" class="cls_wrl_vflowlink2_nr"></div>
				<div id="wrl_vflow_router" class="cls_wrl_vflowrouter"></div>
				<div id="wrl_vflow_link3" class="cls_wrl_vflowlink3_nr"></div>
				<div id="wrl_vflow_internet" class="cls_wrl_vflowinternet"></div>
  </div>
  <!-- Content section -->
  <div id="snapin_wireless_content"></div>
  <!-- Button Bar section -->
  <div id="wrlcontentbuttonsarea">
    <img id="prevbutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_back.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_back") %>" class="wrlback">
    <img id="printbutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_print.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_print") %>" style="display:none" class="wrlprint">
	  <img id="retrybutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_retry.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_retry") %>" style="display:none" class="wrlretry" >
    <img id="nextbutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_next.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_next") %>" class="wrlnext">  
    <img id="donebutton" src="%LAYOUTPATH%/skins/%MACRO:SKINNAME%/buttons/%LANGCODE%/btn_done.gif" alt="<%= $ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_done") %>" style="display:none" class="wrldone">    
  </div>

</div>