<div id="snapin_firstrun_main">
	<div id="frcolumnone">
    <div  name="welcome" class="frlinksCK"><span>1</span><div>Welcome</div></div>
    <div  name="language" class="frlinks"><span>2</span><div>Choose Language</div></div>
    <div  name="information" class="frlinks"><span>3</span><div>Installation Information</div></div>
    <div name="eula" class="frlinks"><span>4</span><div>License Agreement</div></div>
    <div  name="fwintro" class="frlinks"><span>5</span><div>Firewall Introduction</div></div>
    <div  name="sprtcmd" class="frlinks"><span>6</span><div>Desktop Support Service</div></div>
    <div  name="getconnect" class="frlinks"><span>7</span><div>Verify Connectivity</div></div>
    <div  name="accountinfo" class="frlinks"><span>8</span><div>Account Information</div></div>

	<% var isModemFlowRequired = $ss.agentcore.dal.config.GetConfigValue("modems", "modem_flow_required", "true"); %>
	<%if (isModemFlowRequired != "false"){ %> 
    <div  name="modemdetect" class="frlinks"><span>9</span><div>Detect Modem</div></div>
    <div  name="complete" class="frlinkslast"><span>10</span><div>Installation Complete</div></div>  
	<%}else{ %>
		<div  name="complete" class="frlinkslast"><span>9</span><div>Installation Complete</div></div>  
	
	<%} %> 
  </div>
  <div id="firstRunRightArea">

  </div>

</div>
