<div id="sta_accountinfo">
    <h1>
        Account Information</h1>
    <p>
        Please verify your account information. This information will be used to activate
        the FastNet. If your account information is incorrect or incomplete please update
        your information in the fields below.</p>
    <div class="frscrollarea3" id="sa_fr_Content">
        <form class="ContactForm" id="ContactForm" method="get" action="">
            <table id="tableaccountinfo">
                <tr>
                    <td>
                        Account Number:
                    </td>
                    <td>
                        Username:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="accountnumber" id="accountnumber" class="textfields" tabindex="1" />
                    </td>
                    <td>
                        <input type="text" name="username" id="username" class="textfields" tabindex="2" />
                    </td>
                </tr>
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        Last Name:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="firstname" id="firstname" class="textfields" tabindex="3" />
                    </td>
                    <td>
                        <input type="text" name="lastname" id="lastname" class="textfields" tabindex="4" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Telephone:
                    </td>
                    <td>
                        Birth Date
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="phonefields" style="font-size:1.5em">
                            (<input name="countrycode" type="text" class="textfieldssmall number" id="countrycode"
                                size="4" tabindex="5" maxlength="3" />)
                            <input name="areacode" type="text" class="textfieldssmall number" id="areacode" size="4"
                                tabindex="6" maxlength="4" />-
                            <input name="phonenumber" type="text" class="textfieldssmall required number" id="phonenumber"
                                size="10" tabindex="7" maxlength="12" />
                        </div>
                    </td>
                    <td>
                        <div class="birstdate">
                            <select name="BirthMonth" id="BirthMonth" class="selectfieldssmall" tabindex="8">
                                <option value="" selected="selected">Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select name="BirthDay" id="BirthDay" class="selectfieldssmall" tabindex="9">
                                <option value="" selected="selected">Day</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            <select name="BirthYear" id="BirthYear" class="selectfieldssmall" tabindex="10">
                                <option value="" selected="selected">Year</option>
                                <option value="1">1900</option>
                                <option value="2">1901</option>
                                <option value="3">1902</option>
                                <option value="4">1903</option>
                                <option value="5">1904</option>
                                <option value="6">1905</option>
                                <option value="7">1906</option>
                                <option value="8">1907</option>
                                <option value="9">1908</option>
                                <option value="10">1909</option>
                                <option value="11">1910</option>
                                <option value="12">1911</option>
                                <option value="13">1912</option>
                                <option value="14">1913</option>
                                <option value="15">1914</option>
                                <option value="16">1915</option>
                                <option value="17">1916</option>
                                <option value="18">1917</option>
                                <option value="19">1918</option>
                                <option value="20">1919</option>
                                <option value="21">1920</option>
                                <option value="22">1921</option>
                                <option value="23">1922</option>
                                <option value="24">1923</option>
                                <option value="25">1924</option>
                                <option value="26">1925</option>
                                <option value="27">1926</option>
                                <option value="28">1927</option>
                                <option value="29">1928</option>
                                <option value="30">1929</option>
                                <option value="31">1930</option>
                                <option value="32">1931</option>
                                <option value="33">1932</option>
                                <option value="34">1933</option>
                                <option value="35">1934</option>
                                <option value="36">1935</option>
                                <option value="37">1936</option>
                                <option value="38">1937</option>
                                <option value="39">1938</option>
                                <option value="40">1939</option>
                                <option value="41">1940</option>
                                <option value="42">1941</option>
                                <option value="43">1942</option>
                                <option value="44">1943</option>
                                <option value="45">1944</option>
                                <option value="46">1945</option>
                                <option value="47">1946</option>
                                <option value="48">1947</option>
                                <option value="49">1948</option>
                                <option value="50">1949</option>
                                <option value="51">1950</option>
                                <option value="52">1951</option>
                                <option value="53">1952</option>
                                <option value="54">1953</option>
                                <option value="55">1954</option>
                                <option value="56">1955</option>
                                <option value="57">1956</option>
                                <option value="58">1957</option>
                                <option value="59">1958</option>
                                <option value="60">1959</option>
                                <option value="61">1960</option>
                                <option value="62">1961</option>
                                <option value="63">1962</option>
                                <option value="64">1963</option>
                                <option value="65">1964</option>
                                <option value="66">1965</option>
                                <option value="67">1966</option>
                                <option value="68">1967</option>
                                <option value="69">1968</option>
                                <option value="70">1969</option>
                                <option value="71">1970</option>
                                <option value="72">1971</option>
                                <option value="73">1972</option>
                                <option value="74">1973</option>
                                <option value="75">1974</option>
                                <option value="76">1975</option>
                                <option value="77">1976</option>
                                <option value="78">1977</option>
                                <option value="79">1978</option>
                                <option value="80">1979</option>
                                <option value="81">1980</option>
                                <option value="82">1981</option>
                                <option value="83">1982</option>
                                <option value="84">1983</option>
                                <option value="85">1984</option>
                                <option value="86">1985</option>
                                <option value="87">1986</option>
                                <option value="88">1987</option>
                                <option value="89">1988</option>
                                <option value="90">1989</option>
                                <option value="91">1990</option>
                                <option value="92">1991</option>
                                <option value="93">1992</option>
                                <option value="94">1993</option>
                                <option value="95">1994</option>
                                <option value="96">1995</option>
                                <option value="97">1996</option>
                                <option value="98">1997</option>
                                <option value="99">1998</option>
                                <option value="100">1999</option>
                                <option value="101">2000</option>
                                <option value="102">2001</option>
                                <option value="103">2002</option>
                                <option value="104">2003</option>
                                <option value="105">2004</option>
                                <option value="106">2005</option>
                                <option value="107">2006</option>
                                <option value="108">2007</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        Confirm Password:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="password" id="password" class="textfields" tabindex="11" />
                    </td>
                    <td>
                        <input type="password" name="cpassword" id="cpassword" class="textfields" tabindex="12" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Select Question:
                    </td>
                    <td>
                        Answer:
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="question" id="question" class="selectfields" tabindex="13">
                            <option value="" selected="selected">Select a Question</option>
                            <option value="1">Favorite pet's name</option>
                            <option value="2">Favorite movie</option>
                            <option value="3">Anniversary[mmddyy]</option>
                            <option value="4">Father's middle name</option>
                            <option value="5">Spouse's middle name</option>
                            <option value="6">First child's middle name</option>
                            <option value="7">High school name</option>
                            <option value="8">Favorite teacher's name</option>
                            <option value="9">Favorite sports</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="answers" id="answers" class="textfields" tabindex="14" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="error">
                        <label for="accountnumber" class="myerror" generated="true">
                        </label>
                        <label for="username" class="myerror" generated="true">
                        </label>
                        <label for="firstname" class="myerror" generated="true">
                        </label>
                        <label for="lastname" class="myerror" generated="true">
                        </label>
                        <label for="password" class="myerror" generated="true">
                        </label>
                        <label for="cpassword" class="myerror" generated="true">
                        </label>
                        <label for="countrycode" class="myerror" generated="true">
                        </label>
                        <label for="areacode" class="myerror" generated="true">
                        </label>
                        <label for="phonenumber" class="myerror" generated="true">
                        </label>
                        <label for="question" class="myerror" generated="true">
                        </label>
                        <label for="BirthMonth" class="myerror" generated="true">
                        </label>
                        <label for="BirthDay" class="myerror" generated="true">
                        </label>
                        <label for="BirthYear" class="myerror" generated="true">
                        </label>
                        <label for="answers" class="myerror" generated="true">
                        </label>
                    </td>
                </tr>
            </table>
    </div>
    <% 
	
	 this.Class.prefValidateData = {
		rules: {
			accountnumber: "required",
			username: "required",
			firstname: "required",
			lastname : "required",
			password: {
				required: true,
				minlength: 1
			},
			cpassword: {
				required: true,
				minlength: 1,
				equalTo: "#password"
			},
			countrycode: {
			 	required: true,
			        digits: true
			},
			areacode: {
			        required: true,
    		                digits: true
		        },
			phonenumber: {
				required: true,
				digits: true
					},
			question: {
				required: true,
				minlength: 1
			},
			BirthMonth: {
				required: true,
				minlength: 1
			},
			BirthDay: {
				required: true,
				minlength: 1
			},
			BirthYear: {
				required: true,
				minlength: 1
			},
			answers: "required"
		},
		messages: {
			accountnumber: "Please enter your account number<br>",
			username: "Please enter your user name<br>",
			firstname: "Please enter your first name<br>",
			lastname: "Please enter your last name<br>",
			password: {
				required: "Please provide a password<br>",
				minlength: "Your password must be at least 5 characters long<br>"
			},
			cpassword: {
				required: "Please provide a confirm password<br>",
				minlength: "Your confirm password must be at least 5 characters long<br>",
				equalTo: "Please enter the same password as above<br>"
			},
			countrycode: {
			  required: "Please enter a Country code<br>",
			  number: "Country code should be a number<br>"
			},
			areacode:	
			{
			  required: "Please enter an Area code<br>",
			  number: "Area code should be a number<br>"
			},
			phonenumber: {
				required: "Please enter a Phone number<br>",
				number: "Phone number should be a number<br>"
			},
			question: {
				required: "Please select a question<br>",
				minlength: "Please select a question<br>"
			},
			BirthMonth: {
				required: "Please select a month<br>",
				minlength: "Please select a month<br>"
			},
			BirthDay: {
				required: "Please select a day<br>",
				minlength: "Please select a day<br>"
			},
			BirthYear: {
				required: "Please select a year<br>",
				minlength: "Please select a year<br>"
			},
			answers: "Please enter the secret question's answer"
		}
	}

    %>
