<div id="sta_requiresconnection">
 <div id="snap_firstrun_accountinfo_requiresconnection_wrapper" class="clsPageWrapper">
   <div id="snap_firstrun_accountinfo_requiresconnection_h1" class="clsPageHeader">Connection Required</div>
   <div id="snap_firstrun_accountinfo_requiresconnection_msg" class="clsPageContent"><p>A connection to the Internet is required to validated your account information.  Please connect to the Internet and try again.</p><p>Press <b>Back</b> for options to automatically resolve your connection problems.</p></div> 
   <div id="ContinueStatement" class="clsContinue"></div>
 </div>
</div>