<h1>Connectivity</h1>
<div id="cl_fr_gc_Header"><p>Verifying Connectivity...</p></div>
<div class="frscrollarea">
  <div id="sta_getconnected">

    <div id="cl_fr_gc_Content">Please wait while the connection to the Internet is verified...</div>
    
    <div id="cl_fr_gc_offlineoption" style="display:none;">
      <div id="cl_fr_gc_offline">Please choose one of the following options:</div> 
        <input type="radio" id="chkbxDiagnoseConnection_true"  name="checkdiagnose" value="true">
          <label for="chkbxDiagnoseConnection_true">Help me to restore my connection.</label>
        </input>
        <input type="radio" id="chkbxDiagnoseConnection_false" name="checkdiagnose" value="false">
          <label for="chkbxDiagnoseConnection_false">I will connect to the Internet later.</label>
        </input>
    </div>
    <div id="cl_fr_gc_onlyofflineoption" style="display:none;">You can not complete %LOCG:glb_lbl_sub_agent% First Run Flow with out having proper connection to the internet. Please try again later.</div>
    <span id="cl_fr_gc_pressnext" style="display:none;"><p id="cl_fr_gc_ContinueStatement">Press <b>Next</b> to continue.</p></span>
  </div>

</div>