<h1>Congratulations</h1>
<p></p>
<div class="frscrollarea" id="sa_fr_Content">
You have successfully configured the %LOCG:glb_lbl_sub_agent%.  You may now start to use the %LOCG:glb_lbl_sub_agent% whenever you want to:
    <ul>
      <li>Resolve problems with connecting to the Internet</li>
      <li>Overcome issues with retrieving your email</li>
      <li>Scan your system for common computer problems</li>
      <li>Find answers to frequently asked questions</li>
      <li>Contact your support provider regarding your applications or service</li>        
    </ul>
</div>