<script type="text/javascript">
  $(".dropdown-menu li a").click(function(){
    $(this).parents(".dropdown").find('#filterDropdown').html($(this).text() + ' <span class="caret"></span>');
  });
</script>
<%
var cFiltMore = _utils.LocalXLate("snapin_selfservicesearch","snp_search_dropdown_more"),
  cSortBy = _utils.LocalXLate("snapin_selfservicesearch","snp_search_sortby_txt"),
  cSortByCat = _utils.LocalXLate("snapin_selfservicesearch","snp_search_sortby_category_txt"),
  cSortByTitle = _utils.LocalXLate("snapin_selfservicesearch","snp_search_sortby_title_txt"),
  cSortByFeat = _utils.LocalXLate("snapin_selfservicesearch","snp_search_sortby_featured_txt");
%>
<div id="snapin_selfservicesearch">
  <div class="cell-header">
    <ul id="search_filters" class="nav-ss navbar-nav">
      <li class="filter-li" title="<%=cFiltAll%>"><a href="#" id="allsolutions" class="searchfilter tab-menu-filters"><span id="allsolutions1"><%=_utils.GetTruncatedString(cFiltAll, maxStrLen)%></span></a></li>
      <li class="filter-li" title="<%=cFiltAlert%>"><a href="#" id="alerts" class="searchfilter tab-menu-filters"><span id="alerts1"><%=_utils.GetTruncatedString(cFiltAlert, maxStrLen)%></span></a></li>
      <li class="filter-li" title="<%=cFiltArticle%>"><a href="#" id="articles" class="searchfilter tab-menu-filters"><span id="articles1"><%=_utils.GetTruncatedString(cFiltArticle, maxStrLen)%></span></a></li>
      <li class="filter-li" title="<%=cFiltAutoFix%>"><a href="#" id="autofix" class="searchfilter tab-menu-filters"><span id="autofix1"><%=_utils.GetTruncatedString(cFiltAutoFix, maxStrLen)%></span></a></li>
      <li class="filter-li" title="<%=cFiltInstall%>"><a href="#" id="install" class="searchfilter tab-menu-filters"><span id="install1"><%=_utils.GetTruncatedString(cFiltInstall, maxStrLen)%></span></a></li>
      <li class="dropdown">
        <a id="filterDropdown" class="dropdown-toggle dropdown-class dropdown-filters" data-toggle="dropdown" title="<%=cFiltMore%>"><%=_utils.GetTruncatedString(cFiltMore, maxStrLen)%><b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-menu-background dropdown-menu-ss dropdown-menu-left">
          <li class="dropdown-menu-li" title="<%=cFiltMsg%>"><a href="#" id="sprtmsg" class="searchfilter"><span id="sprtmsg1"><%=_utils.GetTruncatedString(cFiltMsg, maxStrLen)%></span></a></li>
          <li class="dropdown-menu-li" title="<%=cFiltOtimize%>"><a href="#" id="optimize" class="searchfilter"><span id="optimize1"><%=_utils.GetTruncatedString(cFiltOtimize, maxStrLen)%></span></a></li>
          <li title="<%=cFiltRepair%>"><a href="#" id="repair" class="searchfilter"><span id="repair1"><%=_utils.GetTruncatedString(cFiltRepair, maxStrLen)%></span></a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav-ss navbar-nav cell-right">
      <li class="dropdown" class="caret">
        <a id="groupsel" class="dropdown-toggle dropdown-class dropdown-filters" data-toggle="dropdown"><%=_utils.GetTruncatedString(cSortBy, maxStrLen)%><b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-menu-background dropdown-menu-ss dropdown-menu-right" id="sprt_sortby_filter">
          <li class="dropdown-menu-li"><a href="#" id="Category"><%=_utils.GetTruncatedString(cSortByCat, maxStrLen)%></a></li>
          <li class="dropdown-menu-li"><a href="#" id="Title"><%=_utils.GetTruncatedString(cSortByTitle, maxStrLen)%></a></li>
          <li ><a href="#" id="Featured"><%=_utils.GetTruncatedString(cSortByFeat, maxStrLen)%></a></li>
        </ul>
      </li>
    </ul>
  </div><br>
  <div class="row panel-widget-body-ss">
    <div class="col-md-12">
      <div class="panel-default-ss">
        <div id="myGrid" ></div>
      </div>
      <div>
        <span id="searchresults" class="pull-left"></span>
        <input type="button" id="buttn_Main" value="" class="pull-right btn btn-primary-ss cell-right"/>
      </div><br/>
      <div style="height:5px"></div>
      <div class="pull-left featured-class"id="featured"></div>
    </div>
  </div>
</div>
