﻿@charset "utf-8";
/* CSS Document */

body {
  margin:0px;
  padding:0px;
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif;
  border: solid black;
  width:100%;
  height:100%;
  color:black;
  background-color:#ededed;
  cursor:default;
}

body a {
  color: #337ab7;
}

#idTopStaticNav {
  margin-bottom: 0; /*removes space between Top navigation and sidebar or content body*/
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  height: 100%;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#wrapper.toggled #ssl_content_area {
  position: relative;
  margin-right: 0px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}
.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #337ab7;
}

.build-sync-info{
   display: none;
   padding-bottom:20px;
   font-size:10px;
   color:#fff;
   width:24.7%;
}

.powered_By{
  color:#fff;
  font-size:10px;
}

.build-sync-info-visible {
  display: block;
}

.nav-version{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #337ab7 ;
}

.nav-SyncStatus{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.nav-powered-by{
  padding-left:4%;
  padding-bottom:3px;
  display: none;
}

.nav-powered-by-visible {
  display: block;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand{
    width: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 50px;
    overflow-x: hidden; /*To disable Scroll when Left Nav is Toggled*/
  }

  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 50px; /*This will expand Left Nav on hover, set to 50 if hover shouldn't expand the nav or disable hover class*/
  }

  #ssl_content_area {
    padding: 0px 20px 20px 20px;
    /* padding: 20px; *//*Default padding for all snapins*/
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #ssl_content_area {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  #wrapper.toggled-2 #ssl_content_area {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;
  }
} /*@media(min-width:768px)*/

#chatOverlay{
  margin-top:9px;
  background:transparent;
  border-style:none;
}

#prefIcon{
  margin-top:12px;
  margin-left:10px;
  background:transparent;
  border-style:none;
}

#backToSearch{
  margin-top:10px;
}