﻿<%
var objContents = data["oContents"];
var protectCount = 0;
var installCount = 0;
var msgsCount = 0;

var strProtect = _utils.LocalXLate("snapin_pendingactionwidget", "sa_msg_Apps_to_Protect");
var strInstall = _utils.LocalXLate("snapin_pendingactionwidget", "sa_msg_Download_Offers_to_install");
var strMsg = _utils.LocalXLate("snapin_pendingactionwidget", "sa_msg_Unread_Messages");

if(objContents.guidListToProtect && objContents.guidListToProtect.length >0){
  protectCount = objContents.guidListToProtect.length;
  totalActions = totalActions +1;
}
if(objContents.guidListToInstall && objContents.guidListToInstall.length >0){
  installCount = objContents.guidListToInstall.length;
  totalActions =totalActions +1;
}
if(objContents.toBeReadMsgs && objContents.toBeReadMsgs >0){
  msgsCount = objContents.toBeReadMsgs;
  totalActions = totalActions +1;
}
%>
<div id="snapin_pendingactionwidget" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
  <div class="panel-default-ss row-box-shadow">
    <div class="panel-heading panel-dashboard-header-ss totalcount">
      <span class="fa fa-check-circle"></span>
      &nbsp;&nbsp;%LOCL:sa_msg_All_Actions%
      <span class="dashboardWidgetCount">(<%=totalActions%>)</span>
    </div>
    <div class="panel-widget-body-ss pendingactionbody">
      <div class="container" style="width:100%">
        <%if(totalActions == 0){%>
          <div class="WidgetNoContentDiv" style="display:none;">
            <span class="fa fa-check-circle WidgetNoContentIcon" style="font-size:80pt;"></span><br />
            <span class="WidgetNoContentText">%LOCL:sa_msg_No_Actions%</span>
          </div>
        <%}
        if(protectCount > 0){%>
          <div class="row dashboardrow">
            <span class="col-xs-2 icon-padlock-unlocked dashboardcontenticon"></span>
            <span class="col-xs-10 dashboardcontenttitle">
              <a hidefocus="true" href="#" class="navigate protectlink" title="<%=protectCount%> <%=strProtect%>">
                <%=protectCount%> <%= _utils.GetTruncatedString(strProtect, maxStrLen)%>
              </a>
            </span>
          </div>
        <%}%>
        <%if(installCount > 0){%>
          <div class="row dashboardrow">
            <span class="col-xs-2 icon-box-closed dashboardcontenticon"></span>
            <span class="col-xs-10 dashboardcontenttitle">
              <a hidefocus="true" href="#" class="navigate installlink" title="<%=installCount%> <%= strInstall%>">
                <%=installCount%> <%= _utils.GetTruncatedString(strInstall, maxStrLen) %>
              </a>
            </span>
          </div>
        <%}%>
        <%if(msgsCount > 0){%>
          <div class="row dashboardrow">
            <span class="col-xs-2 icon-message dashboardcontenticon"></span>
            <span class="col-xs-10 dashboardcontenttitle">
              <a hidefocus="true" href="#" class="navigate msgslink" title="<%=msgsCount%> <%=strMsg%>">
                <%=msgsCount%> <%= _utils.GetTruncatedString(strMsg, maxStrLen) %>
              </a>
            </span>
          </div>
        <%}%>
          <div class="row dashboardrow amrow" style="display:none;">
            <span class="col-xs-2 icon-key2 dashboardcontenticon"></span>
            <span class="col-xs-10 dashboardcontenttitle">
              <a hidefocus="true" href="#" class="navigate accupdate"></a>
            </span>
          </div>
      </div>
    </div>
  </div>
</div>