#snapin_messagespopup #triggerwindow form {
  margin: 0px;
  padding: 0px;
}

/* 30 December 2008 */
#snapin_messagespopup #triggerwindow #triggermesssage {
  height:124px;
  overflow:hidden;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:12px;
  padding-right:12px;
  background-repeat: no-repeat;
  background-position: left 97px;
}

/* 30 December 2008 */
#snapin_messagespopup #triggerwindow #triggermesssage .messagearea {
  height:60px;
  overflow:auto;
}

#snapin_messagespopup #divdialog #iddialogmsg
{
  overflow:hidden;
  margin:0px;
  padding-top:35px;
  padding-left:7px;  
  padding-bottom:6px;
  padding-right:7px; 
  font-size : 11px;
  font-weight: normal;
}

/* 09 January 2009 */
#snapin_messagespopup #triggerwindow #triggermesssage .messagearea .linkmore {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left:8px;
  cursor:pointer;
}

/* 09 January 2009 */
#snapin_messagespopup #triggerwindow #triggermesssage .messagearea .linkmore:hover {
  color: blue;
  text-decoration: none;
}

/* 09 January 2009 */
#snapin_messagespopup #triggerwindow #triggermesssage .buttonarea {
  height:28px;
  margin-top:2px;
  overflow:hidden;
  text-align :right;
}

/* 30 December 2008 */
#snapin_messagespopup #triggerwindow #triggermesssage .messagemore {
  height:25px;
  margin-top:7px;
  overflow:hidden;
}

/* 30 December 2008 */
#snapin_messagespopup #triggerwindow #triggermesssage .messagemore .coleft .moremmesages {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left:14px;
  cursor:pointer;
  height:20px;
  float:left;
  width:195px;
  padding-top:5px;
  color:red;
}

/* 30 December 2008 */
#snapin_messagespopup #triggerwindow #triggermesssage .messagemore .coleft .moremmesages:hover {
  color: #bad858;
}


/* 30 December 2008 */
#snapin_messagespopup #triggerwindow #triggermesssage .messagemore .coright {
  height:25px;
  float:right;
  width:120px;
  padding-top:5px;  
  font-weight: bold;
}

/* 30 December 2008 */
#snapin_messagespopup #triggerwindow #triggermesssage p {
  margin:0px;
  padding-bottom:6px;
  font-size: 11px;
  font-weight: normal;
}

#snapin_messagespopup #triggerwindow .pages .next {
  cursor:pointer;
}
#snapin_messagespopup #triggerwindow .pages .previous {
  cursor:pointer;
}
#messagedesc{
  font-size:12px !important;
}
.placeholder{
  width:1px;
  display:none;
}