﻿<div style="MARGIN: 0in 0in 10pt">Account Manager</div>
<div style="MARGIN: 0in 0in 0pt 0.5in; TEXT-INDENT: -0.25in"><span>1.<span style="FONT: 7pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Go to Advance Configuration</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">Check both the option</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">Click on Next</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">In LDAP&nbsp;Page</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">Click on Test AD Connection</div>
<div style="MARGIN: 0in 0in 0pt 0.5in; TEXT-INDENT: -0.25in"><span>2.<span style="FONT: 7pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Replace the Account Manager file in sdadmin,healtop and usr present in program files(x86)-&gt;Supportsoft-&gt;www-&gt;sdcadmin -&gt;Configure-&gt;Account Manager</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&lt;?xml version="1.0" encoding="utf-8"?&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&lt;!--This is where you can configure the various settings for SupportSoft Account Manager --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&lt;!--SAMPLE SETTINGS</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;AccountManager&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;AppSettings&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AutoAssignGlobalQuestionNo" Value =""/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="EnablePerfLog" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/AppSettings&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;TargetSystem ID= "&lt;GUID&gt;" IsPrimary="" TargetType=""&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="ServerIP" Value="xx.xx.xx.xx" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Port" Value="389" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SSLPort" Value="636" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="UseSSL" Value="true" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateVerifyMode" Value ="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateFilePath" Value ="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AuthMode" Value="Basic" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Timeout" Value="30" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPSearchPageSize" Value="500" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Domain" Value="accdc.com" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainName" Value="accdc" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainRoot" Value="DC=accdc,DC=com" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SearchBase" Value="DC=com,DC=com" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="administrator" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value="Sprt2013" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AutoAssignGlobalQuestionNo" Value="2" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="EnablePerfLog" Value ="false" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;/AccountManager&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&lt;AccountManager&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;AppSettings&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Property Name ="AutoAssignGlobalQuestionNo" Value ="2"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Property Name="EnablePerfLog" Value="true" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Property Name ="MultipleSystemEnabled" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/AppSettings&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;TargetSystem ID="692F07E3-C5EF-4F86-8FBA-6CE7D06176A6" IsPrimary="true" EnableLinking="false" TargetType="DirectoryServices" Description ="child1"&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--LDAP Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- LDAPV3= 3, LDAPVer2 = 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--This can be same as the Active Directory Settings==&gt;Domain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="ServerIP" Value="10.183.224.202" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Port" Value="389" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SSLPort" Value="636" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- enabled = true, diabled = false--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="UseSSL" Value="false" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateVerifyMode" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&lt;Property Name="CertificateFilePath" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AuthMode" Value="Negotiate" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- In Seconds--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Timeout" Value="10" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Value should be greater than 0 to enable pagination--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPSearchPageSize" Value="500" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Active Directory Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain.com--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Domain" Value="child1.customerlab.local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainName" Value="child1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainRoot" Value="dc=child1,dc=customerlab,dc=local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. OU=myusers,DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SearchBase" Value="dc=child1,dc=customerlab,dc=local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Credentials--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="sanjaya.k" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value="Password12" IsSecured="FALSE" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Application settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specify the the value if QnA is to be configured outside SS DB e.g.&nbsp;0(for ActiveDirectoryServices)--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="LoginIDSameAsPrimary" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&lt;Property Name ="AllowPasswordReset" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowAccountUnlock" Value ="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;TargetSystem ID="B3261B18-132A-4C0E-919B-4883AB55B445" IsPrimary="true" EnableLinking="false" TargetType="DirectoryServices" Description ="child2"&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--LDAP Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- LDAPV3= 3, LDAPVer2 = 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--This can be same as the Active Directory Settings==&gt;Domain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="ServerIP" Value="10.183.224.203" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Port" Value="389" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SSLPort" Value="636" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- enabled = true, diabled = false--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="UseSSL" Value="false" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateVerifyMode" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateFilePath" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AuthMode" Value="Negotiate" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- In Seconds--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Timeout" Value="10" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Value should be greater than 0 to enable pagination--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPSearchPageSize" Value="500" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Active Directory Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain.com--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Domain" Value="child2.customerlab.local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainName" Value="child2" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainRoot" Value="dc=child2,dc=customerlab,dc=local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. OU=myusers,DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SearchBase" Value="dc=child2,dc=customerlab,dc=local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Credentials--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="sanjaya.k" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value="uC2oh/kkQ2KlmIuaApgkFg==" IsSecured="TRUE" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Application settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specify the the value if QnA is to be configured outside SS DB e.g.&nbsp;0(for ActiveDirectoryServices)--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="LoginIDSameAsPrimary" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&lt;Property Name ="AllowPasswordReset" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowAccountUnlock" Value ="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;TargetSystem ID="F08DFEE3-D217-488A-90FE-F10E41A11FB8" IsPrimary="false" TargetType="DirectoryServices" EnableLinking="true" Description ="customerlab"&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--LDAP Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- LDAPV3= 3, LDAPVer2 = 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--This can be same as the Active Directory Settings==&gt;Domain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="ServerIP" Value="10.183.224.201" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Port" Value="389" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SSLPort" Value="636" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- enabled = true, diabled = false--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="UseSSL" Value="false" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Property Name="CertificateVerifyMode" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateFilePath" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AuthMode" Value="Negotiate" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- In Seconds--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Timeout" Value="10" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Value should be greater than 0 to enable pagination--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPSearchPageSize" Value="500" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Active Directory Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain.com--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Domain" Value="customerlab.local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainName" Value="customerlab" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainRoot" Value="dc=customerlab,dc=local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. OU=myusers,DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SearchBase" Value="dc=customerlab,dc=local" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Credentials--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="sanjaya.k" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value="Password1" IsSecured="FALSE" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Application settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specify the the value if QnA is to be configured outside SS DB e.g.&nbsp;0(for ActiveDirectoryServices)--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="LoginIDSameAsPrimary" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&lt;Property Name ="AllowPasswordReset" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowAccountUnlock" Value ="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;TargetSystem ID="5DD86434-633C-40B6-B999-B117D3B7FECE" IsPrimary="true" TargetType="DirectoryServices" EnableLinking="false" Description ="blrrdc"&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--LDAP Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!-- LDAPV3= 3, LDAPVer2 = 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="LDAPVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--This can be same as the Active Directory Settings==&gt;Domain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="ServerIP" Value="147.183.224.73" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="Port" Value="389" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="SSLPort" Value="636" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!-- enabled = true, diabled = false--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="UseSSL" Value="true" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="CertificateVerifyMode" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="CertificateFilePath" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="AuthMode" Value="Negotiate" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!-- In Seconds--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="Timeout" Value="10" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!-- Value should be greater than 0 to enable pagination--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="LDAPSearchPageSize" Value="500" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--Active Directory Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--e.g. mydomain.com--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="Domain" Value="blrrdc.lab" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="DomainName" Value="blrrdc" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--e.g. mydomain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--e.g. DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="DomainRoot" Value="dc=blrrdc,dc=lab" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--e.g. OU=myusers,DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="SearchBase" Value="dc=blrrdc,dc=lab" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--Credentials--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="supportsoftqa" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value="abc-123" IsSecured="FALSE" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!--Application settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;!-- Specify the the value if QnA is to be configured outside SS DB e.g.&nbsp;0(for ActiveDirectoryServices)--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--System Settings --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specifies whether the system is allowed to be linked --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="SystemEnabled" Value ="false"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specifies whether the Login Name/Id would be same as Primary Account ; Value : true/false--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="LoginIDSameAsPrimary" Value=""/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Enable/Disable Password Resest for the System; Value : true/false --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowPasswordReset" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Enable/Disable Account Unlock for the System ; Value : true/false--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowAccountUnlock" Value ="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Password history honoring --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&lt;Property Name="HonorHistoryWhileReset" Value="true"/&gt; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Set this as true if you want to honor history while resetting AD password. Note AD should have required OID enabled--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&lt;Property Name="LDAPServerPolicyOID" Value="1.2.840.113556.1.4.2066"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;TargetSystem ID="cb9016b5-9863-420b-9c71-531d6365f774" IsPrimary="false" EnableLinking="true" TargetType="DirectoryServices" Description ="accdc"&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--LDAP Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- LDAPV3= 3, LDAPVer2 = 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--This can be same as the Active Directory Settings==&gt;Domain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="ServerIP" Value="10.183.228.242" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Port" Value="389" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- 389,3268 --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SSLPort" Value="636" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- 636,3269 --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- enabled = true, diabled = false--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="UseSSL" Value="false" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateVerifyMode" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateFilePath" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AuthMode" Value="Negotiate" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- In Seconds--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Timeout" Value="10" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Value should be greater than 0 to enable pagination--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPSearchPageSize" Value="500" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Active Directory Settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain.com--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Domain" Value="accdc.com" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainName" Value="accdc" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainRoot" Value="dc=accdc,dc=com" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. OU=myusers,DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SearchBase" Value="dc=accdc,dc=com" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Credentials--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="administrator" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value="ddZ+dX8BT4zl9ari2wEO6Mbm2gZa4qzBw5kKSh+LWjc=" IsSecured="TRUE" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--Application settings--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specify the the value if QnA is to be configured outside SS DB e.g.&nbsp;0(for ActiveDirectoryServices)--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- System Settings--&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specifies if the Login ID for this system is same as of the domain Login --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="LoginIDSameAsPrimary" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&lt;Property Name ="AllowPasswordReset" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowAccountUnlock" Value ="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;TargetSystem ID="6B905A3E-C4E3-4259-AF10-4017B898845D" IsPrimary="false" EnableLinking="true" TargetType="SapServices" Description ="SAP System-1"&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="RfcConnectorVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--This can be same as the Active Directory Settings==&gt;Domain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="ServerIP" Value="10.183.131.145" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LogonGroup" Value="PUBLIC" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SystemID" Value="NSP" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SystemNumber" Value="00" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="AM_ADMIN" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value ="service@1234" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Client" Value ="001" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Language" Value="en" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- In Seconds--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="IdleTimeout" Value="30" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="PoolSize" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="MaxPoolSize" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowPasswordReset" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowAccountUnlock" Value ="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&lt;!-- Specifies if the Login ID for this system is same as of the domain Login --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="LoginIDSameAsPrimary" Value="false"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="UseTempPassword" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- false : means we will use single step password reset--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="TempPasswordPattern" Value="Monier@1234"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Sample pattern password which will work for this system --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowedSpecialCharecters" Value="!@#$%*"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Default values using in code are !@#$%*--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Domain" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainName" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainRoot" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specify the the value if QnA is to be configured outside SS DB e.g.&nbsp;0(for ActiveDirectoryServices)--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPVersion" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Port" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SSLPort" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="UseSSL" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateVerifyMode" Value ="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateFilePath" Value ="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AuthMode" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Timeout" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&lt;Property Name="LDAPSearchPageSize" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SearchBase" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AutoAssignGlobalQuestionNo" Value="2" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;TargetSystem ID="b7e6b37b-1ce2-49bb-a87f-38903999af56" IsPrimary="false" EnableLinking="true" TargetType="SapServices" Description ="SAP System-2"&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="RfcConnectorVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--This can be same as the Active Directory Settings==&gt;Domain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="ServerIP" Value="10.183.131.145" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LogonGroup" Value="PUBLIC" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SystemID" Value="NSP" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SystemNumber" Value="00" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="AM_ADMIN" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value ="service@1234" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Client" Value ="001" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Language" Value="en" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- In Seconds--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="IdleTimeout" Value="30" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="PoolSize" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="MaxPoolSize" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowPasswordReset" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowAccountUnlock" Value ="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specifies if the Login ID for this system is same as of the domain Login --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="LoginIDSameAsPrimary" Value="false"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Domain" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainName" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainRoot" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specify the the value if QnA is to be configured outside SS DB e.g.&nbsp;0(for ActiveDirectoryServices)--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPVersion" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Port" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SSLPort" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="UseSSL" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateVerifyMode" Value ="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateFilePath" Value ="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AuthMode" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Timeout" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPSearchPageSize" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SearchBase" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AutoAssignGlobalQuestionNo" Value="2" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;TargetSystem ID="b7e6b37b-1ce2-49bb-a87f-38903999af12" IsPrimary="false" EnableLinking="true" TargetType="SapServices" Description ="SAP System-QA"&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="RfcConnectorVersion" Value="3" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--This can be same as the Active Directory Settings==&gt;Domain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="ServerIP" Value="10.183.133.58" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LogonGroup" Value="PUBLIC" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SystemID" Value="NSP" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SystemNumber" Value="00" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminLogin" Value="AM_ADMIN" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AdminPassword" Value ="service@1234" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Client" Value ="001" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Language" Value="en" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- In Seconds--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="IdleTimeout" Value="30" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="PoolSize" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="MaxPoolSize" Value="1" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowPasswordReset" Value="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="AllowAccountUnlock" Value ="true"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specifies if the Login ID for this system is same as of the domain Login --&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name ="LoginIDSameAsPrimary" Value="false"/&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Domain" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. mydomain--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainName" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!--e.g. DC=mydomain,DC=COM--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="DomainRoot" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;!-- Specify the the value if QnA is to be configured outside SS DB e.g.&nbsp;0(for ActiveDirectoryServices)--&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="QuestionnaireProviderID" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPVersion" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Port" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SSLPort" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="UseSSL" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateVerifyMode" Value ="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="CertificateFilePath" Value ="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AuthMode" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="Timeout" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="LDAPSearchPageSize" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="SearchBase" Value="" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;Property Name="AutoAssignGlobalQuestionNo" Value="2" /&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&nbsp;&nbsp; &lt;/Properties&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;&lt;/TargetSystem&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&lt;/AccountManager&gt;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in; TEXT-INDENT: -0.25in"><span>3.<span style="FONT: 7pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Then do changes in Config file of common,sxuser and heal top</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">-Search for Connection String</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">- Select from “data till True”</div>
<div style="MARGIN: 0in 0in 0pt 0.5in">-copy the same thing&nbsp;to connection =”” and add the datauser and pwd and dsprt </div>
<div style="MARGIN: 0in 0in 0pt 0.5in">&nbsp;</div>
<div style="MARGIN: 0in 0in 0pt 0.5in; TEXT-INDENT: -0.25in"><span>4.<span style="FONT: 7pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Verify the user (in the admin website)</div>
<div style="MARGIN: 0in 0in 10pt 0.5in">&nbsp;</div>