   <%    
    var DataEnc_List = data["DE_levels"];
   %> 
  
  <div id="ss_wrl_mansel_Header"><h1>Network Name Setup</h1></div>
  <div  id="dvmainManualSelection">
     <p>Enter a new wireless network address</p>
      <!-- Error display -->
     <p id="ss_wrl_mansel_keyproblem"></p>
    <!-- Enter SSID manually -->
     <div class="infoactionbox"> 
       <table cellpadding="2" cellspacing="0" width="90%" border="0">
       <tr>
            <td>Network Name:</td>
            <td><input type="text" class="textbox" id="ss_wrl_mansel_wifi_ssid" name="ss_wrl_mansel_wifi_ssid" ></td>
       </tr>
       <tr>
          <td>Wireless security:</td>
          <td>
                         <div id="ss_wrl_mansel_Options">
                         <table cellpadding="2" cellspacing="0" width="95%" border="0">
                            <tr>
                          <%
                             for(var i = 0; i <DataEnc_List.length; i++) 
                                {
                                  if (DataEnc_List[i].bHide) continue;
                                  var selectedLevel = null;
                                  var displayName  = $ss.agentcore.utils.GlobalXLate(DataEnc_List[i].sDisplayName);
                                  var displayId    = DataEnc_List[i].id;
                                  var checked      = $ss.snapin.wireless.viewhelper.doad_ss_wrl_setupsecurity.IsSelected(displayId) ? " checked " : "";
                                  var notsupported = !$ss.snapin.wireless.utils.IsSecuritySupportedByNIC($ss.agentcore.dal.databag.GetValue("ss_wrl_db_NICServiceName"), DataEnc_List[i]) ? " disabled " : "";
                                  
                                  if (checked) selectedLevel = displayId;
                                  
                                  
                          %>
                           
                              <td width="33%">
                                <div id="ss_wrl_mansel_div<%=displayId%>" style="font-size:12px; ">
                                  <input id="ss_wrl_mansel_Opt<%=displayId%>" type="radio" class="clsRadioButton" value=<%=displayId%>  name="optSecurityLevel" hidefocus="true">
                                    <label class="clsRadioButton" for="ss_wrl_mansel_Opt<%=displayId%>"  > <%=displayName%>   </label>
                                  </input>
                                </div>
                            </td> 
                            
                          <%
                                } 
                          %> 
                           </tr>
                           </table> 
                        </div>
                   
          </td>
       </tr> 
        <tr>
          <td colspan="2">
               <div id="ss_wrl_mansel_passphrase_div">
                
                   <label id="ss_wrl_mansel_lbl_Passphrase"> Passphrase:</label>
                   <input id="ss_wrl_mansel_Passphrase" class="textbox" type="password" />
               
              </div>
          </td>
        </tr>
       </table> 
       </div>
     <!-- Network Key - mandatory validation -->
     <div id="ss_wrl_mansel_problem" class="wrl_mansel_problem"></div>
   
  </div>


  