

<h1>Troubleshooting Connection: Restart Wireless Adapter</h1>    
<div id="ss_wrl_rsa_Prompt" class="clsPageContent"></div>
<div id="ss_wrl_rsa_PromptInProgress"  style="display:none">
  <div id="ss_wrl_rsa_WorkingImg" class="working">Restarting wireless adapter ...</div>    
</div>


