  <%      
         var wifilist = data["wifi_list"];
          var bDispdBm = $ss.agentcore.dal.config.GetConfigValue("wireless","DisplaydBmValues") === "true" ? true : false ;
  %> 
  
  <div id="ss_wrl_snw_Header"><h1>Network Name Setup</h1></div>
  <div id="dvmainSurveyNetworks">
    <p>Select from the available wireless networks</p>
    <!-- Error display -->
    <p id="pageStatusMessage"></p>
    <div id="ss_wrl_snw_wifi_table_div" >
      <form name="ss_wrl_snw_frmCreateWifi" id="ss_wrl_snw_frmCreateWifi">
      
        <table id="ss_wrl_snw_wifi_table" cellpadding="2" cellspacing="0" width="96%" border="0" class="listtable" >
            <tr >
              <th width="1%">&nbsp;</th>
              <th align="left"><span id="ss_wrl_snw_network">Network (SSID)</span></th>
              <th align="center"><span id="ss_wrl_snw_signal">Signal</span></th>
              <th align="center"><span id="ss_wrl_snw_channel">Channel</span></th>
              <th align="center"><span id="ss_wrl_snw_privacy">Encrypted?</span></th>
            </tr>
          <% 
		     var hasSSID = false;
             for(var i in wifilist)
             { 
               hasSSID = true;			 
               var wf = wifilist[i]; 
               if(wf["SSID"]!="")
                 {        
          %>       
                  <tr class="clsTableRow1">
                    <td scope="row">
                        <input type='radio'  class='clsRadioButton' name='ssid' value='<%=wf["SSID"]%>' hidefocus="true"/>
                    </td>
                    <td align="left"><%=wf["SSID"]%></td> 
                    <% var signal="";
                       if(parseInt(wf["RSSI"]) < -90 )      signal=$ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_snw_signal_none");
                       else if(parseInt(wf["RSSI"]) < -81 ) signal=$ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_snw_signal_vlow");
                       else if(parseInt(wf["RSSI"]) < -71)  signal=$ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_snw_signal_low");
                       else if (parseInt(wf["RSSI"])< -67)  signal=$ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_snw_signal_good");
                       else if (parseInt(wf["RSSI"])< -57)  signal=$ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_snw_signal_vgood");
                       else signal=$ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_snw_signal_excellent"); 
                    %>
                    <td align="center"><%if(bDispdBm) {
                                       %> <%=wf["RSSI"]%>(<%=signal%>) 
                                       <%} else {%>
                                        <%=signal%>
                                        <%} %></td> 
                    <td align="center"><%=wf["Channel"] %></td> 
                    <td align="center" id=<%=wf["SSID"]%>><%=wf["Privacy"]?$ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_snw_yes"):$ss.agentcore.utils.LocalXLate("snapin_wireless","ss_wrl_snw_no") %></td> 
          <% 
                  } 
              }
          %>
          </tr> 
        </table>
      </form>
    </div>  
</div>
<% if(!hasSSID){
	$ss.snapin.wireless.buttonhelper.updatelayoutbuttons("DISABLE_NEXT");
	%>
	<p>No networks found in the range</p>
	<% }%>


  
