<div id="ss_wrl_selmode_Header"><h1>Network Name Setup</h1></div>
  <div  id="dvmainSelectMode">
    <p>Select a suitable option.</p>
    <p>
      <input type="radio" name="ModeGrp" value="automatic" id="ss_wrl_selmode_automatic" checked hidefocus="true" ><label id="ss_wrl_selmode_lbl_automatic" for="ss_wrl_selmode_automatic">Select from existing wireless networks</label></input><br /> 
      <input type="radio" name="ModeGrp" value="manual" id="ss_wrl_selmode_manual" hidefocus="true"><label id="ss_wrl_selmode_lbl_manual"  for="ss_wrl_selmode_manual">Enter a new wireless network address</label></input>
    </p>
    <p>Select option and click <strong>Next</strong> to proceed</p>
 </div>


  