           
<h1>Applying Wireless Settings</h1>         
<div id="ss_wrl_cpl_Main" class="infoactionbox">
<p><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_tick.gif" align="absmiddle" width="23" height="20" alt="" border="0"/>&nbsp;<strong>Connection to Wireless Network successful</strong></p>
<p>Congratulations! You have successfully configured your wireless network settings.Print the following details for future reference.</p>
<div id="ss_wrl_cpl_Selection" >
  <div id="div_ssid">
   <p class="bullinstructions"><span id="ss_wrl_cpl_chosen_ssid" ><b>Network Name (SSID):</b></span>
   <span id="ssid"></span></p>
  </div>        
  <div id="div_security" style="display:none;">
    <p class="bullinstructions"><span id="ss_wrl_cpl_chosen_security"   ><b>Security Level:  </b></span>
    <span id="security"></span></p>
   </div>            
  <div id="div_authentication">
     <p class="bullinstructions"><span id="ss_wrl_cpl_chosen_authentication" ><b>Network Authentication:   </b></span>
     <span id="authType"></span></p>
  </div>
  <div id="div_encryption">
     <p class="bullinstructions"><span id="ss_wrl_cpl_chosen_encryption" ><b>Data Encryption:</b>    </span>
     <span id="encType"></span></p>
  </div>
  <div id="div_password">
    <p class="bullinstructions"><span id="ss_wrl_cpl_chosen_password" ><b>Password:</b>    </span>
    <span id="password"></span></p>
  </div>            
  <div id="div_key">
    <p class="bullinstructions"><span id="ss_wrl_cpl_chosen_key" ><b>Network Key</b>:   </span>
    <span id="key"></span></p>
  </div>
</div>
</div>
<iframe id="wrl_print_frame" width="0" height="0"></iframe>

