 <!-- Automatic Selection - Encryption flow  -->
 <%  
    var SecurityList = data["security_levels"];
 %> 

<div id="ss_wrl_sms_Header"><h1>Select Wireless Security</h1></div><br /> 
  <div id="dvMainSetupSecurity">
      <p id='ss_wrl_sms_SelectNicSecurity'>Select a security level and enter the authentication details to proceed</p>
      <div class="infoactionbox">
         <table cellpadding="2" cellspacing="0" width="90%" border="0">
           <tr>
             <td>
                  <div id="ss_wrl_sms_Options">
                    <table cellpadding="2" cellspacing="0" width="95%" border="0">
                     <tr>
                        <%
                           for(var i = 0; i <SecurityList.length; i++) 
                              {
                                if (SecurityList[i].bHide) continue;
                                var selectedLevel = null;
                                var displayName  = $ss.agentcore.utils.GlobalXLate(SecurityList[i].sDisplayName);
                                var displayId    = SecurityList[i].id;
                                var checked      = $ss.snapin.wireless.viewhelper.doad_ss_wrl_setupsecurity.IsSelected(displayId) ? " checked " : "";
                                var notsupported = !$ss.snapin.wireless.utils.IsSecuritySupportedByNIC($ss.agentcore.dal.databag.GetValue("ss_wrl_db_NICServiceName"), SecurityList[i]) ? " disabled " : "";
                                
                                if (checked) selectedLevel = displayId;
                                
                                
                        %>
                                <td width="33%">
                                  <div id="ss_wrl_sms_div<%=displayId%>" style="font-size:12px; ">
                                  <input id="ss_wrl_sms_Opt<%=displayId%>" type="radio" class="clsRadioButton" value=<%=displayId%>  name="optSecurityLevel" hidefocus="true">
                                    <label class="clsRadioButton" for="ss_wrl_sms_Opt<%=displayId%>"  > <%=displayName%>   </label>
                                  </input>
                                </div>
                                </td> 
                        <%
                              } 
                        %> 
                      </tr>
                     </table>  
                  </div>
             </td>
           </tr>
           <tr>
              <td class="wrlpassphrase_setsecuritycol" >
                  <div id="passphrase_div">
                    <label id="ss_wrl_sms_lbl_Passphrase"  >Passphrase:</label>
                    <input id="ss_wrl_sms_Passphrase" class="textbox" type="password" ></input>
                  </div>
              </td>
           </tr>     
         </table> 
      </div> 
       
      <div id="ss_wrl_sms_problem" class="wrl_sms_problem"></div>
    
  </div>



