  <div id="ss_wrl_aws_Header"><h1>Applying Wireless Settings</h1></div>
  <div id="ss_wrl_aws_Content">
    <div id="ss_wrl_aws_statustext">
    <p>Please wait while we update your wireless settings. Your network could temporarily go offline for up to 3 minutes...</p>
    </div>
       
      <%
        if( data['modemStatusDisplay']) 
        { 
      %>
        <div id="ss_wrl_aws_modem">
          <span id="ss_wrl_aws_modemlight"></span>
          <span id="ss_wrl_aws_modemstatus"><b>Waiting..</b></span>
          <span id="ss_wrl_aws_modemtext"><b>Modem Settings</b></span>
        </div>
      <% 
        } 
        if( data['adpStatusDisplay']) 
        { 
      %>
     
       <div id="ss_wrl_aws_adapter" class="working" style="display:none"></div>   
        <div id="ss_wrl_aws_connection" class="working" style="display:none"></div>
        
       <% 
        } 
       %>
      
    <div id="ss_wrl_aws_finished" style="display:none"><br>Wireless configuration successful. Click <b>Next</b> to move onto the next step.</b></div>
    <br />
    <div id="ss_wrl_aws_problem" style="display:none" class="infoactionbox">
    <p><img src="%SNAPINPATH%/skins/%MACRO:SKINNAME%/images/ico_cross.gif" align="absmiddle" width="18" height="19" alt="" border="0"/>&nbsp;<strong>Connection to Wireless Network Failed</strong></p>
     <p>%MACRO:PRODUCT% encountered a problem configuring your wireless setting.</p>
    <p class="bullinstructions">Click <strong>Retry</strong> to try again</p>
    <p class="bullinstructions">Click <strong>Back</strong> to enter a different password</p>
    <p class="bullinstructions">Click <strong>Next</strong> to Troubleshoot the program.</p>
   </div>

 