   <!-- Populate option Box -->
   <%          
         var adaptors = data["adaptor_array"];
         if (adaptors)
         {  
           var optAdaptorHtml;         
           for (var i in adaptors)
           {
             var displayName = adaptors[i];
             optAdaptorHtml += "<option value='"+ i +"'>" + displayName +"</option>";
           }          
         }        
  %>
   
  
 <div id="ss_wrl_selectnic_Header"><h1>Select Network Adapter</h1></div>
 <div id="ss_wrl_selectnic_Content">
      <p>Multiple wireless adapters detected. Select a suitable adapter for your broadband connection.</p>
      <div class="infoactionbox">
        <p><strong>Wireless adapters:</strong></p>
        <table cellpadding="2" cellspacing="0" width="90%" border="0">
      	  <tr>
          	  <td>
          	  <select id='ss_wrl_selectnic_adapter' class='bigdropdown'><%=optAdaptorHtml%></select>
          	  </td>
            </tr>
        </table>          
      </div>
      <p>Click <strong>Next</strong> to proceed</p>     
     </div>
  


