<%
var ssid = data['curSSID'];
%>

<div class="success"><p><strong><span class="wrl_already_conn">You are already connected to the network with SSID </span><span class="highlight" ><%= ssid%></span>.</strong></p></div>
<br /> 
<p>If you still want to go ahead,please click Next</p>



