@charset "utf-8";
/* CSS Document */

#snapin_personal_firewall #frcolumnmain {
	float:right;
	width:500px;
	height:341px;
	overflow:hidden;
	color:#abdbf1;
}

#snapin_personal_firewall #frcolumnmain #snapin_personal_firewall_content{
  height:310px;
  overflow:auto;
}

#snapin_personal_firewall #frcolumnmain form {
	margin:0px;
	padding:0px;
}

#snapin_personal_firewall #frcolumnmain .bullink {
	display:inline-block;
	color:#abdbf1;
	padding-bottom:6px;
	padding-left:13px;
	text-decoration: underline;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
}

#snapin_personal_firewall #frcolumnmain .bullink:hover {
	color:#fff;
	text-decoration: none;
}

#snapin_personal_firewall #frcolumnmain h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/h1_bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin:0px;
	padding-bottom:6px;
}

#snapin_personal_firewall #frcolumnmain p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #a2d8f1;
	text-decoration: none;
	margin:0px;
	padding-bottom:6px;
	padding-top:4px;
}


#snapin_personal_firewall #frcolumnmain .frscrollarea {
	background-color: #1e93c5;
	border: 1px solid #67bfe6;
	height:220px;
	width:482px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#e9f9ff;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea p {
	color:#e9f9ff;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}


#snapin_personal_firewall #frcolumnmain .frscrollarea2 {
	background-color: #1e93c5;
	border: 1px solid #67bfe6;
	height:190px;
	margin-top:2px;
	overflow:auto;
	padding:8px;
	color:#e9f9ff;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea2 p {
	color:#e9f9ff;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea2 ul {
	margin:0px;
	padding:10px 0px 10px 20px;
}

#snapin_personal_firewall #frcolumnmain .frscrollarea2 ul li {
	padding-left:15px;
	background-image: url(../images/li.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	list-style-position: outside;
	padding-bottom:8px;
}




#snapin_personal_firewall #frcolumnmain .buttonarea {
	height:22px;
	overflow:hidden;
	text-align:right;
}