﻿/* SubscriberAgent getconnected Classes Start */
#snapin_getconnect #getconnectedmain {
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:0px;
	height:315px;
	overflow:hidden;
}

#snapin_getconnect #getconnectedmain form {
	margin:0px;
	padding:0px;
}

#snapin_getconnect #getconnectedmain #animarea {
	height:77px;
	padding-left:0px;
	overflow:hidden;
	margin-left:15px;
}

/* 20 December 2008 */
#snapin_getconnect #getconnectedmain #animarea .start {
	float:left;
}

#snapin_getconnect #getconnectedmain #animarea .gcanimicons {
	float:left;
	height:77px;
	width:76px;
}


#snapin_getconnect #getconnectedmain #animarea .gcanimconnectors {
	float:left;
	height:77px;
	width:60px;
}

#snapin_getconnect #getconnectedmain #animarea .gcanimconnectorsend {
	float:left;
	height:77px;
	width:6px;
}


#snapin_getconnect #getconnectedmain #gccontentarea {
	height:190px;
	padding-left:10px;
	padding-right:10px;
	overflow:auto;
	margin-top:18px;
	margin-bottom:4px;
	color: #eedfad;
}
#snapin_getconnect #getconnectedmain #gccontentarea .textlink {
	color:#FFF;
	text-decoration:underline;
}

#snapin_getconnect #getconnectedmain #gccontentarea .textlink:hover {
	text-decoration:none;
}

#snapin_getconnect #getconnectedmain #gccontentarea h1 {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #eedfad;
	padding-bottom:6px;
}

#snapin_getconnect #getconnectedmain #gccontentarea p {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #c5ecff;
	padding-bottom:6px;
}

#snapin_getconnect #getconnectedmain #gccontentarea .success p {
	color:#404040;
}

#snapin_getconnect #getconnectedmain #gccontentarea ul {
	margin:0px;
	padding:0px;
	color: #c5ecff;
}

#snapin_getconnect #getconnectedmain #gccontentarea ul li {
	padding-left:10px;
	background-image: url(../images/bull_li.gif);
	background-repeat: no-repeat;
	background-position: 2px 4px;
	padding-bottom:6px;
}

#snapin_getconnect #getconnectedmain #gccontentarea .working {
	color:#d2e9f3;
	background-color:#1e93c5;
	border: 1px solid #64bae1;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:30px;
	padding-right:8px;
	background-image: url(../images/loading_01.gif);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	margin-top:6px;
	margin-bottom:6px;
	height:15px;
}

#snapin_getconnect #getconnectedmain #gccontentarea .infoactionbox {
	color:#d2e9f3;
	background-color:#1e93c5;
	border: 1px solid #64bae1;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	margin-top:6px;
	margin-bottom:6px;
}


#snapin_getconnect #getconnectedmain #gccontentarea .infoactionbox .bullinstructions {
	background-image: url(../images/bull_arrow.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	padding-left:15px;
	white-space:pre;
}

#snapin_getconnect #getconnectedmain #gccontentarea .textbox {
	width:250px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	border: 1px solid #3b86ac;
}

#snapin_getconnect #getconnectedmain #gccontentarea .bigdropdown {
	width:450px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

#snapin_getconnect #getconnectedmain #gccontentarea .listtable th {
	background-color:#006496;
	color:#c5ecff;
}

#snapin_getconnect #getconnectedmain #gccontentarea .listtable td {
	background-color:#addaed;
	color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7abdda;
}

#snapin_getconnect #getconnectedmain #gccontentbuttonsarea {
	height:25px;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	text-align:right;
}

/* SubscriberAgent getconnected Right Column Classes Start */

#gcknowmoreright {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}

#gcknowmoreright h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #eedfad;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
}

#gcknowmoreright h1 #KnowmoreIconImage {
  display:block;
	float:left;
	height:19px;
	width:19px;
  background-image: url(../images/ico_knowmore.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#gcknowmoreright h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ecdead;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
}

#gcknowmoreright p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #c5ecff;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
	padding-left:2px;
}

#gcknowmoreright p a {
	color:#c5ecff;
	text-decoration:underline;
}

#gcknowmoreright p a:hover {
	color:#c5ecff;
	text-decoration:none;
}


#gcknowmoreright ul {
	margin:0px;
	padding:0px;
	color: #c5ecff;
}

#gcknowmoreright ul li {
	list-style-type: none;
	background-image: url(../images/bull_li.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	padding-left:10px;
}


#gcanimationright {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}


#gcanimationright h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #eedfad;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
}

#gcanimationright p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #c5ecff;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
	padding-left:2px;
}

#gcanimationright .animramegc {
	text-align:center;
}

#gccontentbuttonsarea img{
  height:20;
  width:69; 
  border:0;
}