.cls_gc_body{
background-color:White;height:342px;width:751px;
}

.clsLeftDiv
{
	 width:555px;
	 height:100%; 
	 float:left;    
	 background-repeat: no-repeat;
	 overflow:hidden;
}

.clsRightDiv
{
  width:auto;
  height:100%;  
	background-repeat: no-repeat;
	background-position: left top; 
	overflow:hidden;	 

}

.cls_gc_breadcrumbcontent
{
	height:20px;
	padding-top:4px;
	padding-bottom:4px;
  padding-left :10px;
  padding-right :10px; 
	font-family: Arial, Helvetica, sans-serif;
  font-size : 10px;
  font-weight : normal;
	color: #d3edfa;

}

.cls_gc_breadcrumbseparator
{
	height:1px;
	overflow:hidden;
	background-repeat: no-repeat;
  vertical-align:bottom;  

}
.cls_gc_vflowdiv
{
      height:77px;
      padding-top:0px;
      padding-left:10px;
}
.cls_gc_vflowcomp
{
	height:77px;
	width:76px;
	background-image: url(../images/gc_icon_pc.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink1_nr
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_nr.gif);
	background-repeat: no-repeat;
	float:left; 
	
}
.cls_gc_vflowlink1_anim
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_anim.gif);
	background-repeat: no-repeat;
	float:left; 
	
}
.cls_gc_vflowlink1_pass
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_pass.gif);
	background-repeat: no-repeat;
	float:left; 
	
}
.cls_gc_vflowlink1_fail
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_fail.gif);
	background-repeat: no-repeat;
	float:left; 
	
}
.cls_gc_vflowmodem
{
	width:76px;
	height:77px; 
	background-image: url(../images/gc_icon_modem.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink2_nr
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_nr.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink2_anim
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_anim.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink2_pass
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_pass.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink2_fail
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_fail.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflownetwork
{
	width:76px;
	height:77px; 
	background-image: url(../images/gc_icon_net.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink3_nr
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_nr.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink3_anim
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_anim.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink3_pass
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_pass.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowlink3_fail
{
	width:60px;
	height:77px; 
	background-image: url(../images/connect_fail.gif);
	background-repeat: no-repeat;
	float:left; 
}
.cls_gc_vflowinternet
{
	width:76px;
	height:77px; 
	background-image: url(../images/gc_icon_internet.gif);
	background-repeat: no-repeat;
	float:left;
}

.cls_gc_pagecontrols
{
	 display:none; 
	 padding-left:175px;
	 height:34px;	  
}
.clsSingleButton
{
	float:left;  
}
.prevbutton_enabled
{
	width:74px;
	height:22px;
	border:0px;
}
.prevbutton_disabled
{
	width:"74";
	height:"22";
	border:"0";
}
#snapin_getconnect .btndisabled
{
  cursor:default; 
   
}