#SubscriberAgent .viewemailsettings {
	clear:both;
	margin-top:-15px;
	margin-left:11px;
	margin-right:11px;
	padding:1px;	
	background-color:#fcfcfc;
	border:1px solid #d2d9de;
	height:220px;
	width:512px;
}

#SubscriberAgent .viewemailsettings span {
	display:block;
	text-align:right;
	color:#515151;
	padding-bottom:4px;
	padding-right:4px;
}

#SubscriberAgent .viewemailsettings .scrollarea {
	padding:0px;
	margin:0px;
	height:200px;
	overflow:auto;
}

#SubscriberAgent .viewemailsettings .scrollareatroubleshoot {
	padding:0px;
	margin:0px;
	height:220px;
	overflow:auto;
}

#SubscriberAgent .viewemailsettings th {
	background-color:#4d80ab;
	text-align:left;
	color:#ffffff;
	font-size:12px;
	padding:4px;
	border-bottom: 1px solid #93b7c9;
}

#SubscriberAgent .viewemailsettings th .emailid {
	float:left;
}

#SubscriberAgent .viewemailsettings th .expandcollapse {
	float:right;
	color:#acdbef;
	font-size:11px;
	text-decoration:underline;
	font-weight:normal;
}

#SubscriberAgent .viewemailsettings th .expandcollapse:hover {
	color:#fff;
	text-decoration:none;
}

#SubscriberAgent .viewemailsettings th .steps {
	float:right;
}

#SubscriberAgent .viewemailsettings td th {
	background-color:#addbee;
	text-align:left;
	color:#000;
	font-size:11px;
	padding:3px;
	border-bottom: 1px solid #d3d7db;
}

#SubscriberAgent .viewemailsettings td .normal {
	background-color:#cce2f2;
	text-align:left;
	font-size:11px;
	padding:6px;
	border-bottom: 1px solid #739bbd;
	color:#537a00;
}

#SubscriberAgent .viewemailsettings td .normalblack {
	color:#000;
	font-size:12px;
	padding:4px;
}

#SubscriberAgent .viewemailsettings td .correct {
	background-color:#cce2f2;
	text-align:left;
	color:#000;
	font-size:11px;
	padding:3px;
	border-bottom: 1px solid #739bbd;
	color:#537a00;
}

#SubscriberAgent .viewemailsettings td .current {
	background-color:#cce2f2;
	text-align:left;
	color:#000;
	font-size:11px;
	padding:3px;
	border-bottom: 1px solid #739bbd;
	color:#b64900;
}

#SubscriberAgent .viewemailsettings .row1 {
	background-color:#e2f3ff;
	text-align:left;
	color:#003366;
	font-size:12px;
	padding:4px;
	border-bottom: 1px solid #739bbd;
}

#SubscriberAgent .viewemailsettings .row2 {
	background-color:#cce2f2;
	text-align:left;
	color:#003366;
	font-size:12px;
	padding:4px;
	border-bottom: 1px solid #739bbd;
}

#SubscriberAgent .viewemailsettings .row3 {
	background-color:#e2f3ff;
	text-align:left;
	color:#003366;
	font-size:12px;
	padding:6px;
	border-bottom: 1px solid #739bbd;
}

#SubscriberAgent .viewemailsettings .row3 .headproblem {
	display:block;
	color:#000;
	font-weight:bold;
	padding-bottom:2px;
	padding-top:0px;
	height:10px;
}

#SubscriberAgent .viewemailsettings .row3 .headproblem .headname {
	float:left;
}

#SubscriberAgent .viewemailsettings .row3 .headproblem .collapse {
	float:right;
}

#SubscriberAgent .viewemailsettings .row3 .detailes {
	padding-left:20px;
	padding-right:10px;
	display:block;
	padding-bottom:5px;
	padding-top:5px;
	font-size:11px;
}

#SubscriberAgent .viewemailsettings .row3 .detailes .noproblem {
	padding-left:15px;
	padding-right:0px;
	display:block;
	padding-bottom:1px;
	padding-top:1px;
	color:#537a00;
	background-image: url(../images/ico_correct.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
}

/* 04 December 2008 */
#SubscriberAgent .viewemailsettings .row3 .detailes .problem {
	padding-left:15px;
	padding-right:0px;
	display:block;
	padding-bottom:1px;
	padding-top:1px;
	color:#b64900;
	background-image: url(../images/ico_error_small.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
}

#SubscriberAgent .viewemailsettings .row4 {
	background-color:#9fbed9;
	text-align:right;
	color:#003366;
	font-size:12px;
	padding-left:4px;
	padding-right:4px;
	padding-top:6px;
	padding-bottom:1px;
	border-bottom: 1px solid #739bbd;
	margin-bottom:6px;
}

#SubscriberAgent .viewemailsettings .row5 {
	background-color:#c2e4f4;
	text-align:left;
	color:#000;
	font-size:11px;
	padding:6px;
	border-bottom: 1px solid #d3d7db;
}

#SubscriberAgent .viewemailsettings form {
	margin:0px;
}

#SubscriberAgent .viewemailsettings .row5 td {
	text-align:left;
	color:#000;
	font-size:11px;
}

#SubscriberAgent .viewemailsettings .row5 td .link {
	color:#0169af;
	text-decoration:underline;
}

#SubscriberAgent .viewemailsettings .row5 td .link:hover {
	text-decoration:none;
}

#SubscriberAgent .viewemailsettings .row5 td .fields {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border: 1px solid #3b86ac;
	padding:3px;
	width:250px;
}

#SubscriberAgent .viewemailsettings .row5 td .fields:hover {
	background-color:#bce7fc;
}

#SubscriberAgent .viewemailsettingsback {
	float:right;
	padding-right:28px;
	padding-top:5px;
}
#SubscriberAgent .viewemailsettingsback0ne {
	float:right;
	padding-right:5px;
	padding-top:5px;
}

#SubscriberAgent .addemail {
	clear:both;
	margin-top:-10px;
	padding-left:20px;
	padding-right:20px;
}

#SubscriberAgent .addemail .lable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #595959;
	text-decoration: none;
	padding:4px;
	white-space:nowrap;
}

#SubscriberAgent .addemail .forms {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #595959;
	text-decoration: none;
	padding:4px;
}

/* December 02, 2008*/
#SubscriberAgent .addemail .dropdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border: 1px solid #3b86ac;
	padding:3px;
	width:177px;
}

/* December 02, 2008*/
#SubscriberAgent .addemail .fieldssmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border: 1px solid #3b86ac;
	padding:3px;
	width:170px;
}

/* December 02, 2008*/
#SubscriberAgent .addemail .fields {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border: 1px solid #3b86ac;
	padding:3px;
	width:170px;
}

#SubscriberAgent .addemail .fields:hover {
	background-color:#bce7fc;
}

#SubscriberAgent .addemail .snp_addemail_form_area{
	height : 215px;
	overflow : auto;
}
