.selfservice {
  color:#1284C7;
}

.selfserviceSpan{
  float:left;
  padding-top:60px;
}

.selfHeal{
  color:#87B840;
}

.selfHealSpan{
  float:left;
}

#myChart{
  margin-left:-80px;
}

#divChart{
  float:left;
  width:130px;
  padding-top:10px;
}

#divChartData{
  padding-right:-2px;
  float:right;
  height:110px;
  width:180px;
}

.icon-exclamation-circle{
  font-size:1em;
}