    <h1>Unknown Firewall</h1>
    <p></p>
    <div class="frscrollarea">
      <p>If you do not know what <b>firewall</b> you are running or you are running a firewall other than one of those listed on the firewall selection page, you will need to refer to your firewall product documentation to allow the applications listed below to communicate with the Internet.</p>
      <p>The following <%= $("#prodname")[0].value %> applications require unrestricted access to the Intenet:</p>
      <ul>
        <li><strong>Bcont_nm.exe</strong>   - This application needs to access the Internet to perform certain functions such as determining if you are online, or testing the performance of your Internet connection.  Blocking this application will result in the <%= $("#prodname")[0].value %> incorrectly indicating that you are offline when you are able to access the Internet via your browser.  Many features of the <%= $("#prodname")[0].value %> are unavailable when the software believes it is offline.</li>
        <li><strong>Sprtcmd.exe</strong> - This application checks the Internet for updates to the <%= $("#prodname")[0].value %>.  New features, FAQs, support solutions and messages from your support provider will downloaded.  Blocking this application will prevent the <%= $("#prodname")[0].value %> from retrieving updates or content from your support provider.</li>
        <li><strong>Sprtsvc.exe</strong> - This application may be installed on your system.  It performs the same function as Sprtcmd.exe however, this application can check for updates even when you are not logged onto your computer.  Blocking this application will prevent the <%= $("#prodname")[0].value %> from retrieving updates or content from your support provider.</li>
      </ul>
    </div>

    <p>Click <strong><%= $("#nextbutton")[0].alt %></strong> to proceed.</p>