  <h1>Personal Firewall Settings</h1>
  <p>
       If you have a <b>firewall</b> installed on your system, you will need to configure it
       to allow the <%= $("#prodname")[0].value %> to connect to the Internet to retrieve updates.
  </p>
  <div class="frscrollarea2">

     <p>A personal firewall helps to keep your computer more secure.
      You can think of a personal firewall as a barrier that controls
      communications between your computer and the internet.  It only
      permits transmission of the information that you explicitly allow
      via setting a security policy.
      </p>
      
      <p>To use the <%= $("#prodname")[0].value %> you will need to configure your personal firewall to allow several executables to communicate with the Internet.  The list of files and a description of the function they perform is provided below:
      </p>

      <li><strong>Bcont_nm.exe</strong> - This application needs to access
      the Internet to perform certain functions such as determining if
      you are online, or testing the performance of your Internet
      connection.  Blocking this application will result in the <%= $("#prodname")[0].value %>
      incorrectly indicating that you are offline
      when you are able to access the Internet via your browser.
      Many features of the <%= $("#prodname")[0].value %> are unavailable
      when the software believes it is offline.</li>

      <li><strong>Sprtcmd.exe</strong> - This application checks the Internet for updates to the <%= $("#prodname")[0].value %>.  New features, FAQs, support solutions and messages from your support provider will downloaded.  Blocking this application will prevent the <%= $("#prodname")[0].value %> from retrieving updates or content from your support provider.</li>
      <li><strong>Sprtsvc.exe</strong> - This application may be installed on your system.  It performs the same function as Sprtcmd.exe however, this application can check for updates even when you are not logged onto your computer.  Blocking this application will prevent the <%= $("#prodname")[0].value %> from retrieving updates or content from your support provider.</li>
  </div>

  <p>Click <strong><%= $("#nextbutton")[0].alt %></strong> to proceed.</p>