   <h1>Desktop Support Service</h1>
    <p><div id="subheader">Please wait while the Desktop Support Service is started...</div></p>
  <div class="frscrollarea2" id="cl_pfw_Content">
		The support services will assist you by delivering messages from your support
		provider, protecting computer settings and detecting system problems that the
		FastNet can resolve for you automatically.
  </div>
  <p>&nbsp;</p>