  <script id="user-presence-template" type="text/x-jquery-tmpl">
    {{if Event=="2"}}
      <div class="useractivity-typing"><strong>${User.UserName}</strong> %LOCL:snp_chat_typing_txt%</div>
    {{else}} {{if Event == "1"}}
      <p>{{if $.isMe(User)}}%LOCL:snp_chat_you_have_joined_room_txt%{{else}}${User.UserName} %LOCL:snp_chat_has_joined_room_txt%{{/if}}</p>
    {{else}} {{if (Event == "0" || Event == "3" || Event == "5")}}
      <p>{{if $.isMe(User)}}%LOCL:snp_chat_you_have_left_room_txt%{{else}}${User.UserName} %LOCL:snp_chat_has_left_room_txt%{{/if}}</p>
    {{/if}} {{/if}} {{/if}}
  </script>

  <script id="new-Message-template" type="text/x-jquery-tmpl">
    {{if (typeof MessageType !== "undefined")}}
      {{if (MessageType !== "private" && MessageType !== "advlog_none" && MessageType !== "advlog_an" && MessageType !== "control")}}
        <div class ="msg_container
		      {{if From == 'system'}} system
		      {{else}} {{if isMe}}   bubble mine
		      {{else}} {{if From == 'advanced_tool_log'}} advtool
		      {{else}} bubble others
		      {{/if}}{{/if}}{{/if}}
	      ">
          {{if (!(From == 'system' || From == 'advanced_tool_log'))}}
            <div class="message-user-name" id="user_name-${From}"><b>${From}</b></div>
            <span id="msg-time-${Id}" class="msgtime" >${formatTime(Created.toLocalDateTime())}</span>
            <br/>
          {{/if}}
          <div id="message-text-${Id}" class="message-text"></div>
        </div>
        <scr{{= ""}}ipt type="text/javascript">
          var val = unescape('${Content}');
          $('#message-text-${Id}').html(val);
        </scr{{= ""}}ipt>
      {{/if}}
    {{/if}}
  </script>

  <script id="new-Content-template" type="text/x-jquery-tmpl">
    <div id="content-id-${Id}" class="content">
      {{if Type==='image'}}
        {{tmpl "#image-content-template"}}
      {{else Type==='video'}}
        {{tmpl "#video-content-template"}}
      {{else}}
        {{tmpl "#inline-content-template"}}
      {{/if}}
    </div>
  </script>

  <script id="inline-content-template" type="text/x-jquery-tmpl">
    <div class="${Type} bubble
      {{if From == 'system'}} system
          {{else}} {{if isMe}} mine
          {{else}} others {{/if}}{{/if}}">
        <div class="message-user-name" id="user_name-${From}"><b>${From}</b></div><br/>
        <span id="msg-time-${Id}" class="msgtime" >${formatTime(CreatedDate.toLocalDateTime())}</span>
        {{if Type==='package'}}
          {{tmpl "#package-content-template"}}
        {{else Type==='surveyinline' || Type==='surveywebpage'}}
          {{tmpl "#survey-content-template"}}
        {{else Type==='iframe'}}
          {{tmpl "#page-content-template"}}
        {{else Type==='url'}}
          {{tmpl "#url-content-template"}}
        {{else}}
          {{tmpl "#not-supported-content-template"}}
        {{/if}}
    </div>
  </script>

  <script id="image-content-template" type="text/x-jquery-tmpl">
    <img src="${Source}" class="image img-thumbnail"></img>
  </script>

  <script id="url-content-template" type="text/x-jquery-tmpl">
    %LOCL:snp_chat_push_url_txt% <a href="${Source}" target="_blank">${Source}</a>
    <scr{{= ""}}ipt type="text/javascript">
      var url = '${Source}';
      window.open(url);
    </scr{{= ""}}ipt>
  </script>

  <script id="package-content-template"  type="text/x-jquery-tmpl">
    %LOCL:snp_chat_push_package_txt% <b> ${Title} </b>
    <a href="${Source}" target="_blank">%LOCL:snp_chat_dwnld_install_txt%</a>
  </script>

  <script id="page-content-template" type="text/x-jquery-tmpl">
    <iframe  scrolling='auto' data-scroll='true' frameborder='0' width='100%' height='100%' src='${Source}'></iframe>
  </script>

  <script id="survey-content-template" type="text/x-jquery-tmpl">
    %LOCL:snp_chat_push_survey_txt%
    {{if Type==='surveyinline'}}
      <iframe scrolling="no" frameborder="0" width="100%" height="100%" src="${Source}" target="_blank"></iframe>
    {{else}}
      <a href="${Source}" target="_blank">%LOCL:snp_chat_view_txt%</a>
    {{/if}}
  </script>

  <script id="video-content-template" type="text/x-jquery-tmpl">
    <scr{{= ""}}ipt type="text/javascript">
      var url = '${Source}',
      contentData = '${Content}',
      mimeType = '${MimeType}' || '',
      nonStandardContent = '<object classid="clsid:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
                            type="application/x-oleobject" width="80%" height="80%"> <param name="Filename" value="{0}"><param name="AutoStart"
                            value="false"><param name="ShowControls" value="true"><param name="InvokeURLs" value="false"><param
                            name="AutoSize" value="false"> <embed width="80%" height="80%" src="{0}" autostart="0" showcontrols="1"
                            ></embed></object>';
      if(contentData===''){
        if (!ContentSupport.video
          ||  mimeType===''
          || (mimeType.search(/webm/i) > -1 && !ContentSupport.video.webm)
          || (mimeType.search(/ogv/i) > -1 && !ContentSupport.video.ogv)
          || (mimeType.search(/wmv/i) > -1)){
            contentData = nonStandardContent;
        }else{
            contentData = '<video width="80%" height="80%" controls loop preload="auto"><source width="80%" height="80%"
            src="{0}" type="{1}" >' + nonStandardContent  + '</video>';
        }
        contentData = contentData.format(url, mimeType || '');
      }
      $('#content-id-${Id}').html(contentData);
    </scr{{= ""}}ipt>
  </script>

  <script id="not-supported-content-template" type="text/x-jquery-tmpl">
    %LOCL:snp_chat_not_supported_txt%
  </script>

  <script>
    $("input[placeholder]").each(function () {
      var $this = $(this);
      if($this.val() == ""){
        $this.val($this.attr("placeholder")).focus(function(){
          if($this.val() == $this.attr("placeholder"))  $this.val("");
        }).blur(function(){
          if($this.val() == "") $this.val($this.attr("placeholder"));
        });
      }
      });

    $('input').keydown(function (e) {
      if (e.keyCode == 13) {
        if (/(probTextNode|emailTxt|fnameTxt)/i.test(document.activeElement.id))  $("#startChatBttn").trigger("click");
      }
    });
  </script>

<div class="chat_plugin container" id="snapin_chat" style="width:100% !important;">
<br/>
  <div class="form-horizontal" id="problemDialogDiv" style="width:100% !important;">
    <div class="input-group margin-bottom-sm col-sm-15">
      <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
      <input class="form-control" id="probTextNode" type="text" size="30" value="" placeholder="%LOCL:snp_chat_prob_des_txt%"/>
    </div><br/>
    <div class="input-group margin-bottom-sm col-sm-15">
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <input class="form-control" id="emailTxt" type="text" size="30" value="" placeholder="%LOCL:snp_chat_email_add_txt%"/>
    </div><br/>
    <div class="input-group margin-bottom-sm col-sm-15">
      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
      <input class="form-control" id="fnameTxt" type="text" size="30" value="" placeholder="%LOCL:snp_chat_name_txt%"/>
    </div><br/>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-5">
        <button id="startChatBttn" type="button" class="btn btn-primary-ss">%LOCL:snp_chat_bttn_strt_chat%</button>
      </div>
    </div>
	<p style="color:red; font-style:italic;">%LOCL:snp_chat_mandatory_txt%</p>
  </div>

  <div id="chatDialogDiv" class="chat_Window" style="display:none;">
    <div id = "msgDisplayNode" class="panel-body msg_container_base row"></div>
    <!-- Container showing using activity--typing etc-->
    <div id="useractivity"></div>
    <div class="input-group" style="width:110% !important;padding-top:20px;">
      <textarea id="inputTextNode" class="form-control" style="width:97%"></textarea>
      <span class="input-group-btn">
        <input type="button" value="%LOCL:snp_chat_bttn_send%" id="sendMsgBttn" class="btn btn-sm btn-info navigate" />
      </span>
    </div> <!-- /input-group -->
    <input type="button" value="%LOCL:snp_chat_bttn_close_chat%" id="closeChatBttn" class="btn btn-warning btn-sm" />
  </div>

  <div id="transcriptDiv" style="display:none;"><a id = "chatTranscriptLink" name="chatTranscriptLink" >%LOCL:snp_chat_wait_txt%</a><br><br></div>

  <div id="surveyDiv" style="display:none;">
    <div id="andferswerDiv">%LOCL:snp_chat_survey_txt%
      <div id="q1Answer">
        <span>
          <input type="radio" name="issueresolved" checked="checked" id="issueresolved1" value="yes" class="radio-inline">
          <label for="issueresolved1">&nbsp;%LOCL:snp_chat_survey_op_yes%</label>
        </span>&nbsp;&nbsp;
        <span>
          <input type="radio" name="issueresolved" id="issueresolved2" value="no" class="radio-inline">
          <label for="issueresolved2">&nbsp;%LOCL:snp_chat_survey_op_no%</label>
        </span>
      </div>
    </div>
    <br>
    <div id="ratingsDiv">%LOCL:snp_chat_survey_rating_txt%<br></div><br>
    <input type="button" value="%LOCL:snp_chat_bttn_submit_survey%" id="submitSurveyBttn" class="btn btn-primary-ss"/>
  </div><br>

  <div id="errorDisplayDiv"></div>
</div>
