﻿<%
  var _oConfig = $ss.agentcore.dal.config;
  var sUrl = _oConfig.GetConfigValue("preconfigured_snapin_url", "subagent_home", "/sa/home");
%>
<div id="sysInfo" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
  <div class="panel-default-ss row-box-shadow ">
    <div class="panel-heading panel-dashboard-header-ss">
      <%sUrl = _oConfig.GetConfigValue("preconfigured_snapin_url", "snapin_system_information", "/sa/sysinfo");
        if(NavigationController.IsUrlValid(sUrl)) { %>
          <a class="textlinks navigate panel-tools-links" hidefocus="hidefocus" url="<%= sUrl %>" href="#">%LOCG:glb_lbl_sub_agent_sysinfo%</a>
      <%}%>
    </div>
    <div class="panel-tools-container-ss panel-widget-body-ss">
      <center>
        <a class="textlinks navigate panel-tools-links" hidefocus="hidefocus" url="<%= sUrl %>" href="#"><i class="fa fa-laptop fa-5x"></i></a>
        <br>
        <%= _utils.LocalXLate("snapin_system_information","snp_sysinfo_desc") %>
      </center>
    </div>
  </div>
</div>
<%
  _oConfig = null;
%>