@charset "UTF-8";

@font-face {
  font-family: "apteanico-mini";
  src:url("apteanico-mini.eot");
  src:url("apteanico-mini.eot?#iefix") format("embedded-opentype"),
    url("apteanico-mini.woff") format("woff"),
    url("apteanico-mini.ttf") format("truetype"),
    url("apteanico-mini.svg#apteanico-mini") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "apteanico-mini" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "apteanico-mini" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e000";
}
.icon-add:before {
  content: "\e001";
}
.icon-address-book2:before {
  content: "\e002";
}
.icon-alarmclock:before {
  content: "\e003";
}
.icon-antenna:before {
  content: "\e004";
}
.icon-arrow-join:before {
  content: "\e005";
}
.icon-arrow-circle2:before {
  content: "\e006";
}
.icon-arrow-cross:before {
  content: "\e007";
}
.icon-arrow-join2:before {
  content: "\e008";
}
.icon-arrow-spread:before {
  content: "\e009";
}
.icon-arrow-spread2:before {
  content: "\e00a";
}
.icon-arrow-u-turn:before {
  content: "\e00b";
}
.icon-arrow-up:before {
  content: "\e00c";
}
.icon-arrow-up-left:before {
  content: "\e00d";
}
.icon-arrow-up-right:before {
  content: "\e00e";
}
.icon-bag:before {
  content: "\e00f";
}
.icon-bags:before {
  content: "\e010";
}
.icon-barcode:before {
  content: "\e012";
}
.icon-barcode-scanner:before {
  content: "\e011";
}
.icon-bars:before {
  content: "\e013";
}
.icon-beaker:before {
  content: "\e014";
}
.icon-beaker2:before {
  content: "\e015";
}
.icon-bell:before {
  content: "\e016";
}
.icon-bible:before {
  content: "\e017";
}
.icon-blackboard:before {
  content: "\e018";
}
.icon-book:before {
  content: "\e019";
}
.icon-book2:before {
  content: "\e01a";
}
.icon-book-bookmark:before {
  content: "\e01b";
}
.icon-books:before {
  content: "\e01c";
}
.icon-box-closed:before {
  content: "\e01d";
}
.icon-box-into:before {
  content: "\e01e";
}
.icon-box-open:before {
  content: "\e01f";
}
.icon-box-out:before {
  content: "\e020";
}
.icon-box-software:before {
  content: "\e021";
}
.icon-box-tall:before {
  content: "\e022";
}
.icon-breakpoint-selection:before {
  content: "\e023";
}
.icon-breakpoint:before {
  content: "\e024";
}
.icon-breakpoints:before {
  content: "\e025";
}
.icon-breakpoints-selection:before {
  content: "\e026";
}
.icon-briefcase2-document:before {
  content: "\e027";
}
.icon-briefcase-document:before {
  content: "\e028";
}
.icon-briefcase2:before {
  content: "\e029";
}
.icon-briefcase:before {
  content: "\e02a";
}
.icon-businessmen:before {
  content: "\e02b";
}
.icon-businesspeople:before {
  content: "\e02c";
}
.icon-businessperson:before {
  content: "\e02d";
}
.icon-businessperson2:before {
  content: "\e02e";
}
.icon-businesswoman:before {
  content: "\e02f";
}
.icon-cabinet:before {
  content: "\e030";
}
.icon-cabinet2:before {
  content: "\e031";
}
.icon-calculator:before {
  content: "\e032";
}
.icon-calendar:before {
  content: "\e033";
}
.icon-calendar-1:before {
  content: "\e034";
}
.icon-calendar-3:before {
  content: "\e035";
}
.icon-calendar-5:before {
  content: "\e036";
}
.icon-calendar-7:before {
  content: "\e037";
}
.icon-calendar-31:before {
  content: "\e038";
}
.icon-calendar-52:before {
  content: "\e039";
}
.icon-calendar-clock:before {
  content: "\e03a";
}
.icon-calibration-mark:before {
  content: "\e03b";
}
.icon-can-closed:before {
  content: "\e03c";
}
.icon-can-open:before {
  content: "\e03d";
}
.icon-card-terminal:before {
  content: "\e03e";
}
.icon-card-terminal2:before {
  content: "\e03f";
}
.icon-cash-flow:before {
  content: "\e040";
}
.icon-cd:before {
  content: "\e041";
}
.icon-chart-area:before {
  content: "\e042";
}
.icon-chart-bar:before {
  content: "\e043";
}
.icon-chart-bubble:before {
  content: "\e044";
}
.icon-chart-candlestick:before {
  content: "\e045";
}
.icon-chart-column:before {
  content: "\e046";
}
.icon-chart-column-stacked:before {
  content: "\e047";
}
.icon-chart-donut:before {
  content: "\e048";
}
.icon-chart-dot:before {
  content: "\e049";
}
.icon-chart-funnel:before {
  content: "\e04a";
}
.icon-chart-gantt:before {
  content: "\e04b";
}
.icon-chart-hi-lo:before {
  content: "\e04c";
}
.icon-chart-line:before {
  content: "\e04d";
}
.icon-chart-pie:before {
  content: "\e04e";
}
.icon-chart-pyramid:before {
  content: "\e04f";
}
.icon-chart-radar:before {
  content: "\e050";
}
.icon-chart-renko:before {
  content: "\e051";
}
.icon-chart-spline:before {
  content: "\e052";
}
.icon-chart-step:before {
  content: "\e053";
}
.icon-check:before {
  content: "\e054";
}
.icon-checkbox:before {
  content: "\e055";
}
.icon-checkbox-unchecked:before {
  content: "\e056";
}
.icon-checks:before {
  content: "\e057";
}
.icon-chest:before {
  content: "\e058";
}
.icon-chest-into:before {
  content: "\e059";
}
.icon-chest-open:before {
  content: "\e05a";
}
.icon-chest-open-full:before {
  content: "\e05b";
}
.icon-chest-out:before {
  content: "\e05c";
}
.icon-clipboard:before {
  content: "\e05d";
}
.icon-clipboard-check-edit:before {
  content: "\e05e";
}
.icon-clipboard-checks:before {
  content: "\e05f";
}
.icon-clipboard-empty:before {
  content: "\e060";
}
.icon-clipboard-paste-no-format:before {
  content: "\e061";
}
.icon-clipboard-paste:before {
  content: "\e062";
}
.icon-clock:before {
  content: "\e063";
}
.icon-clock-back:before {
  content: "\e064";
}
.icon-clock-forward:before {
  content: "\e065";
}
.icon-close:before {
  content: "\e066";
}
.icon-cloud:before {
  content: "\e067";
}
.icon-cloud-dark:before {
  content: "\e068";
}
.icon-cloud-download:before {
  content: "\e069";
}
.icon-cloud-flash:before {
  content: "\e06a";
}
.icon-cloud-hail:before {
  content: "\e06b";
}
.icon-cloud-moon:before {
  content: "\e06c";
}
.icon-cloud-network:before {
  content: "\e06d";
}
.icon-cloud-rain:before {
  content: "\e06e";
}
.icon-cloud-refresh:before {
  content: "\e06f";
}
.icon-cloud-snow:before {
  content: "\e070";
}
.icon-cloud-sun:before {
  content: "\e071";
}
.icon-cloud-updown:before {
  content: "\e072";
}
.icon-cloud-upload:before {
  content: "\e073";
}
.icon-code:before {
  content: "\e074";
}
.icon-code-beanshell:before {
  content: "\e075";
}
.icon-code-c:before {
  content: "\e076";
}
.icon-code-cplusplus:before {
  content: "\e077";
}
.icon-code-csharp:before {
  content: "\e078";
}
.icon-code-java:before {
  content: "\e079";
}
.icon-code-javascript:before {
  content: "\e07a";
}
.icon-code-line:before {
  content: "\e07b";
}
.icon-code-php:before {
  content: "\e07c";
}
.icon-code-ruby:before {
  content: "\e07d";
}
.icon-code-vbasic:before {
  content: "\e07e";
}
.icon-compass:before {
  content: "\e07f";
}
.icon-contract:before {
  content: "\e080";
}
.icon-control-panel:before {
  content: "\e081";
}
.icon-copy:before {
  content: "\e082";
}
.icon-courthouse:before {
  content: "\e083";
}
.icon-document-text:before {
  content: "\e084";
}
.icon-document-notebook:before {
  content: "\e085";
}
.icon-document-orientation-landscape:before {
  content: "\e086";
}
.icon-document-orientation-portrait:before {
  content: "\e087";
}
.icon-document-page-number:before {
  content: "\e088";
}
.icon-document-pinned:before {
  content: "\e089";
}
.icon-document-pulse:before {
  content: "\e08a";
}
.icon-document-selection:before {
  content: "\e08b";
}
.icon-document-size:before {
  content: "\e08c";
}
.icon-document-stop:before {
  content: "\e08d";
}
.icon-document-tag:before {
  content: "\e08e";
}
.icon-document-width:before {
  content: "\e08f";
}
.icon-document-zip:before {
  content: "\e090";
}
.icon-document-zoom-in:before {
  content: "\e091";
}
.icon-document-zoom-out:before {
  content: "\e092";
}
.icon-door-closed:before {
  content: "\e093";
}
.icon-door-enter:before {
  content: "\e094";
}
.icon-door-exit:before {
  content: "\e095";
}
.icon-door-open:before {
  content: "\e096";
}
.icon-dot-matrix:before {
  content: "\e097";
}
.icon-facebook-square:before {
  content: "\e098";
}
.icon-facebook:before {
  content: "\e099";
}
.icon-fingerprint:before {
  content: "\e09a";
}
.icon-first-aid:before {
  content: "\e09b";
}
.icon-flatscreen-tv:before {
  content: "\e09c";
}
.icon-folder3:before {
  content: "\e09d";
}
.icon-folder3-document:before {
  content: "\e09e";
}
.icon-folder3-mail:before {
  content: "\e09f";
}
.icon-folder3-movie:before {
  content: "\e0a0";
}
.icon-folder:before {
  content: "\e0a1";
}
.icon-folder-document:before {
  content: "\e0a2";
}
.icon-folder-cubes:before {
  content: "\e0a3";
}
.icon-folder-into:before {
  content: "\e0a4";
}
.icon-folder-document2:before {
  content: "\e0a5";
}
.icon-folder-open:before {
  content: "\e0a6";
}
.icon-folder-out:before {
  content: "\e0a7";
}
.icon-folder-shared:before {
  content: "\e0a8";
}
.icon-folder-window:before {
  content: "\e0a9";
}
.icon-folder-zip:before {
  content: "\e0aa";
}
.icon-folders:before {
  content: "\e0ab";
}
.icon-folders2:before {
  content: "\e0ac";
}
.icon-gearwheel:before {
  content: "\e0ad";
}
.icon-gearwheels:before {
  content: "\e0ae";
}
.icon-gauge:before {
  content: "\e0af";
}
.icon-globe:before {
  content: "\e0b0";
}
.icon-hand-card:before {
  content: "\e0b1";
}
.icon-hand-count-four:before {
  content: "\e0b2";
}
.icon-hand-count-one:before {
  content: "\e0b3";
}
.icon-hand-count-three:before {
  content: "\e0b4";
}
.icon-hand-count-zero:before {
  content: "\e0b5";
}
.icon-hand-drill:before {
  content: "\e0b6";
}
.icon-hand-fist2:before {
  content: "\e0b7";
}
.icon-hand-four:before {
  content: "\e0b8";
}
.icon-hand-gun:before {
  content: "\e0b9";
}
.icon-hand-money:before {
  content: "\e0ba";
}
.icon-hand-offer:before {
  content: "\e0bb";
}
.icon-hand-paper:before {
  content: "\e0bc";
}
.icon-hand-point-left:before {
  content: "\e0bd";
}
.icon-hand-point-left2:before {
  content: "\e0be";
}
.icon-hand-point-right:before {
  content: "\e0bf";
}
.icon-hand-point-right2:before {
  content: "\e0c0";
}
.icon-hand-point-up:before {
  content: "\e0c1";
}
.icon-hand-point-up2:before {
  content: "\e0c2";
}
.icon-hand-spread:before {
  content: "\e0c3";
}
.icon-hand-stop2:before {
  content: "\e0c4";
}
.icon-hand-thumb-down:before {
  content: "\e0c5";
}
.icon-hand-thumb-up:before {
  content: "\e0c6";
}
.icon-hand-touch:before {
  content: "\e0c7";
}
.icon-hand-truck:before {
  content: "\e0c8";
}
.icon-hand-truck-bag:before {
  content: "\e0c9";
}
.icon-hand-truck-box:before {
  content: "\e0ca";
}
.icon-hand-truck-suitcase:before {
  content: "\e0cb";
}
.icon-handshake:before {
  content: "\e0cc";
}
.icon-heart:before {
  content: "\e0cd";
}
.icon-houses:before {
  content: "\e0ce";
}
.icon-home:before {
  content: "\e0cf";
}
.icon-history:before {
  content: "\e0d0";
}
.icon-history2:before {
  content: "\e0d1";
}
.icon-inbox-out:before {
  content: "\e0d2";
}
.icon-inbox-into:before {
  content: "\e0d3";
}
.icon-indent-decrease:before {
  content: "\e0d4";
}
.icon-indent-increase:before {
  content: "\e0d5";
}
.icon-key2:before {
  content: "\e0d6";
}
.icon-keyboard:before {
  content: "\e0d7";
}
.icon-keyboard-wireless:before {
  content: "\e0d8";
}
.icon-laptop:before {
  content: "\e0d9";
}
.icon-link:before {
  content: "\e0da";
}
.icon-link-broken:before {
  content: "\e0db";
}
.icon-list-style-bullets:before {
  content: "\e0dc";
}
.icon-list-style-numbered:before {
  content: "\e0dd";
}
.icon-list-style-roman:before {
  content: "\e0de";
}
.icon-location-pin:before {
  content: "\e0df";
}
.icon-lock:before {
  content: "\e0e0";
}
.icon-lock-open:before {
  content: "\e0e1";
}
.icon-mail:before {
  content: "\e0e2";
}
.icon-mail2:before {
  content: "\e0e3";
}
.icon-mail-attachment:before {
  content: "\e0e4";
}
.icon-mail-cloud:before {
  content: "\e0e5";
}
.icon-mail-earth:before {
  content: "\e0e6";
}
.icon-mail-exchange:before {
  content: "\e0e7";
}
.icon-mail-filter:before {
  content: "\e0e8";
}
.icon-mail-forward:before {
  content: "\e0e9";
}
.icon-mail-into:before {
  content: "\e0ea";
}
.icon-mail-open:before {
  content: "\e0eb";
}
.icon-mail-open2:before {
  content: "\e0ec";
}
.icon-mail-out:before {
  content: "\e0ed";
}
.icon-mail-reply-all:before {
  content: "\e0ee";
}
.icon-mail-sealed:before {
  content: "\e0ef";
}
.icon-mail-write:before {
  content: "\e0f0";
}
.icon-mails:before {
  content: "\e0f1";
}
.icon-map:before {
  content: "\e0f2";
}
.icon-map-location2:before {
  content: "\e0f3";
}
.icon-map-location:before {
  content: "\e0f4";
}
.icon-map-route:before {
  content: "\e0f6";
}
.icon-map-roads:before {
  content: "\e0f5";
}
.icon-mda:before {
  content: "\e0f7";
}
.icon-media-beginning:before {
  content: "\e0f8";
}
.icon-media-eject:before {
  content: "\e0f9";
}
.icon-media-end:before {
  content: "\e0fa";
}
.icon-media-fast-forward:before {
  content: "\e0fb";
}
.icon-media-pause:before {
  content: "\e0fc";
}
.icon-media-play:before {
  content: "\e0fd";
}
.icon-media-record:before {
  content: "\e0fe";
}
.icon-media-rewind:before {
  content: "\e0ff";
}
.icon-media-step-back:before {
  content: "\e100";
}
.icon-media-step-forward:before {
  content: "\e101";
}
.icon-media-stop:before {
  content: "\e102";
}
.icon-medical-bag:before {
  content: "\e103";
}
.icon-megaphone:before {
  content: "\e104";
}
.icon-message:before {
  content: "\e105";
}
.icon-messages:before {
  content: "\e106";
}
.icon-minimize:before {
  content: "\e107";
}
.icon-minus:before {
  content: "\e108";
}
.icon-mobilephone3:before {
  content: "\e109";
}
.icon-money:before {
  content: "\e10a";
}
.icon-monitor:before {
  content: "\e10b";
}
.icon-mouse:before {
  content: "\e10c";
}
.icon-mouse-pointer:before {
  content: "\e10d";
}
.icon-moving-truck:before {
  content: "\e10e";
}
.icon-nav-down:before {
  content: "\e10f";
}
.icon-nav-down-left:before {
  content: "\e110";
}
.icon-nav-down-right:before {
  content: "\e111";
}
.icon-nav-left:before {
  content: "\e112";
}
.icon-nav-redo:before {
  content: "\e113";
}
.icon-nav-refresh:before {
  content: "\e114";
}
.icon-nav-right:before {
  content: "\e115";
}
.icon-nav-undo:before {
  content: "\e116";
}
.icon-nav-up:before {
  content: "\e117";
}
.icon-nav-up-left:before {
  content: "\e118";
}
.icon-nav-up-right:before {
  content: "\e119";
}
.icon-navigate-beginning:before {
  content: "\e11a";
}
.icon-navigate-check:before {
  content: "\e11b";
}
.icon-navigate-close:before {
  content: "\e11c";
}
.icon-navigate-cross:before {
  content: "\e11d";
}
.icon-navigate-down:before {
  content: "\e11e";
}
.icon-navigate-down2:before {
  content: "\e11f";
}
.icon-navigate-end:before {
  content: "\e120";
}
.icon-navigate-left:before {
  content: "\e121";
}
.icon-navigate-left2:before {
  content: "\e122";
}
.icon-navigate-minus:before {
  content: "\e123";
}
.icon-navigate-open:before {
  content: "\e124";
}
.icon-navigate-plus:before {
  content: "\e125";
}
.icon-navigate-right:before {
  content: "\e126";
}
.icon-navigate-right2:before {
  content: "\e127";
}
.icon-navigate-up:before {
  content: "\e128";
}
.icon-navigate-up2:before {
  content: "\e129";
}
.icon-newspaper:before {
  content: "\e12a";
}
.icon-note:before {
  content: "\e12b";
}
.icon-note-pinned:before {
  content: "\e12c";
}
.icon-note-text:before {
  content: "\e12d";
}
.icon-notebook:before {
  content: "\e12e";
}
.icon-notebook2:before {
  content: "\e12f";
}
.icon-notebook3:before {
  content: "\e130";
}
.icon-object-ball:before {
  content: "\e131";
}
.icon-object-cone:before {
  content: "\e132";
}
.icon-object-cube:before {
  content: "\e133";
}
.icon-object-cylinder:before {
  content: "\e134";
}
.icon-objects:before {
  content: "\e135";
}
.icon-objects2:before {
  content: "\e136";
}
.icon-objects3:before {
  content: "\e137";
}
.icon-objects4:before {
  content: "\e138";
}
.icon-objects-exchange:before {
  content: "\e139";
}
.icon-objects-transform:before {
  content: "\e13a";
}
.icon-objects-transform2:before {
  content: "\e13b";
}
.icon-office-building2:before {
  content: "\e13c";
}
.icon-ok:before {
  content: "\e13d";
}
.icon-opportunities:before {
  content: "\e13e";
}
.icon-packaging-tape:before {
  content: "\e13f";
}
.icon-paint-roller:before {
  content: "\e140";
}
.icon-paper-jet:before {
  content: "\e141";
}
.icon-paper-jet2:before {
  content: "\e142";
}
.icon-paperclip:before {
  content: "\e143";
}
.icon-paperclip2:before {
  content: "\e144";
}
.icon-paper-roll:before {
  content: "\e145";
}
.icon-pastor:before {
  content: "\e146";
}
.icon-pencil:before {
  content: "\e147";
}
.icon-piece:before {
  content: "\e148";
}
.icon-piece2:before {
  content: "\e149";
}
.icon-piggy-bank:before {
  content: "\e14a";
}
.icon-pill:before {
  content: "\e14b";
}
.icon-platform-truck-box:before {
  content: "\e14c";
}
.icon-platform-truck-empty:before {
  content: "\e14d";
}
.icon-platform-truck-suitcase:before {
  content: "\e14e";
}
.icon-plug:before {
  content: "\e14f";
}
.icon-plug2:before {
  content: "\e150";
}
.icon-plus:before {
  content: "\e151";
}
.icon-portable-barcode-scanner:before {
  content: "\e152";
}
.icon-power-drill:before {
  content: "\e153";
}
.icon-print-layout-continous:before {
  content: "\e154";
}
.icon-print-layout-single:before {
  content: "\e155";
}
.icon-print-calculator:before {
  content: "\e156";
}
.icon-question:before {
  content: "\e157";
}
.icon-recycle:before {
  content: "\e158";
}
.icon-schoolbus2:before {
  content: "\e159";
}
.icon-scientist:before {
  content: "\e15a";
}
.icon-scroll:before {
  content: "\e15b";
}
.icon-rss:before {
  content: "\e15c";
}
.icon-rotate-left:before {
  content: "\e15d";
}
.icon-rotate-right:before {
  content: "\e15e";
}
.icon-rocket:before {
  content: "\e15f";
}
.icon-registry:before {
  content: "\e160";
}
.icon-refresh:before {
  content: "\e161";
}
.icon-redo:before {
  content: "\e162";
}
.icon-resize:before {
  content: "\e163";
}
.icon-rfq:before {
  content: "\e164";
}
.icon-security-agent:before {
  content: "\e165";
}
.icon-sd-card:before {
  content: "\e166";
}
.icon-server-client:before {
  content: "\e167";
}
.icon-server-client-exchange:before {
  content: "\e168";
}
.icon-server-cloud:before {
  content: "\e169";
}
.icon-server-document:before {
  content: "\e16a";
}
.icon-server-earth:before {
  content: "\e16b";
}
.icon-server-from-client:before {
  content: "\e16c";
}
.icon-server-id-card:before {
  content: "\e16d";
}
.icon-server-into:before {
  content: "\e16e";
}
.icon-server-mail:before {
  content: "\e16f";
}
.icon-server-mail-download:before {
  content: "\e170";
}
.icon-server-mail-upload:before {
  content: "\e171";
}
.icon-server-network:before {
  content: "\e172";
}
.icon-server-out:before {
  content: "\e173";
}
.icon-shelf-full:before {
  content: "\e174";
}
.icon-shelf-empty:before {
  content: "\e175";
}
.icon-shield:before {
  content: "\e176";
}
.icon-signal-flag:before {
  content: "\e177";
}
.icon-signboard-empty:before {
  content: "\e178";
}
.icon-signpost:before {
  content: "\e179";
}
.icon-signpost2:before {
  content: "\e17a";
}
.icon-signpost3:before {
  content: "\e17b";
}
.icon-small-truck:before {
  content: "\e17c";
}
.icon-soccer-ball:before {
  content: "\e17d";
}
.icon-sort-az-ascending:before {
  content: "\e17f";
}
.icon-sort-az-ascending2:before {
  content: "\e180";
}
.icon-sort-az-descending:before {
  content: "\e181";
}
.icon-sort-az-descending2:before {
  content: "\e182";
}
.icon-speech-balloon:before {
  content: "\e17e";
}
.icon-speech-balloon-question:before {
  content: "\e183";
}
.icon-speech-balloon-answer:before {
  content: "\e184";
}
.icon-sticky-note:before {
  content: "\e185";
}
.icon-sticky-note-text:before {
  content: "\e186";
}
.icon-suitcase:before {
  content: "\e187";
}
.icon-tablet-computer:before {
  content: "\e188";
}
.icon-tag:before {
  content: "\e189";
}
.icon-tags:before {
  content: "\e18a";
}
.icon-telephone:before {
  content: "\e18b";
}
.icon-text:before {
  content: "\e18c";
}
.icon-timer:before {
  content: "\e18d";
}
.icon-toilet-paper:before {
  content: "\e18e";
}
.icon-tools:before {
  content: "\e18f";
}
.icon-trafficlight-green:before {
  content: "\e190";
}
.icon-trafficlight-off:before {
  content: "\e191";
}
.icon-trafficlight-on:before {
  content: "\e192";
}
.icon-trafficlight-red:before {
  content: "\e193";
}
.icon-trafficlight-red-yellow:before {
  content: "\e194";
}
.icon-trafficlight-yellow:before {
  content: "\e195";
}
.icon-tree:before {
  content: "\e196";
}
.icon-twitter:before {
  content: "\e197";
}
.icon-twitter-square:before {
  content: "\e198";
}
.icon-user:before {
  content: "\e199";
}
.icon-user-earth:before {
  content: "\e19a";
}
.icon-user-glasses:before {
  content: "\e19b";
}
.icon-user-headphones:before {
  content: "\e19c";
}
.icon-user-headset:before {
  content: "\e19d";
}
.icon-user-message:before {
  content: "\e19e";
}
.icon-user-mobilephone:before {
  content: "\e19f";
}
.icon-user-monitor:before {
  content: "\e1a0";
}
.icon-user-smartphone:before {
  content: "\e1a1";
}
.icon-user-telephone:before {
  content: "\e1a2";
}
.icon-users:before {
  content: "\e1a3";
}
.icon-users2:before {
  content: "\e1a4";
}
.icon-users4:before {
  content: "\e1a5";
}
.icon-users3:before {
  content: "\e1a6";
}
.icon-users5:before {
  content: "\e1a7";
}
.icon-users-relation2:before {
  content: "\e1a8";
}
.icon-users-relation:before {
  content: "\e1a9";
}
.icon-vector-circle:before {
  content: "\e1aa";
}
.icon-view-1-1:before {
  content: "\e1ab";
}
.icon-zoom-out:before {
  content: "\e1ac";
}
.icon-zoom-in:before {
  content: "\e1ad";
}
.icon-wordpress:before {
  content: "\e1af";
}
.icon-wooden-pallet-box:before {
  content: "\e1b0";
}
.icon-wooden-pallet:before {
  content: "\e1b1";
}
.icon-worker2:before {
  content: "\e1ae";
}
.icon-worker:before {
  content: "\e1b2";
}
.icon-workplace:before {
  content: "\e1b3";
}
.icon-workstation:before {
  content: "\e1b4";
}
.icon-workstation-network:before {
  content: "\e1b5";
}
.icon-wlan-antenna:before {
  content: "\e1b6";
}
.icon-window-gear:before {
  content: "\e1b7";
}
.icon-window-information:before {
  content: "\e1b8";
}
.icon-window-key:before {
  content: "\e1b9";
}
.icon-window-close:before {
  content: "\e1ba";
}
.icon-window-dialog:before {
  content: "\e1bb";
}
.icon-window-earth:before {
  content: "\e1bc";
}
.icon-window-environment:before {
  content: "\e1bd";
}
.icon-window-equalizer:before {
  content: "\e1be";
}
.icon-window-explorer:before {
  content: "\e1bf";
}
.icon-window-font:before {
  content: "\e1c0";
}
.icon-window-logon:before {
  content: "\e1c1";
}
.icon-window-network:before {
  content: "\e1c2";
}
.icon-window-oscillograph:before {
  content: "\e1c3";
}
.icon-window-sidebar:before {
  content: "\e1c4";
}
.icon-window-height:before {
  content: "\e1c5";
}
.icon-window-time:before {
  content: "\e1c6";
}
.icon-woman:before {
  content: "\e1c7";
}
.icon-woman2:before {
  content: "\e1c8";
}
.icon-woman3:before {
  content: "\e1c9";
}
.icon-youtube-play:before {
  content: "\e1ca";
}
.icon-youtube:before {
  content: "\e1cb";
}
.icon-youtube-square:before {
  content: "\e1cc";
}
.icon-businesswomen:before {
  content: "\e1cd";
}
.icon-businesspeople2:before {
  content: "\e1ce";
}
.icon-accounts-payable:before {
  content: "\e1cf";
}
.icon-accounts-receivable:before {
  content: "\e1d0";
}
.icon-activities:before {
  content: "\e1d1";
}
.icon-add-invitee:before {
  content: "\e1d2";
}
.icon-assign-task:before {
  content: "\e1d3";
}
.icon-calendar-close:before {
  content: "\e1d4";
}
.icon-calendar-month:before {
  content: "\e1d5";
}
.icon-crm:before {
  content: "\e1d6";
}
.icon-dartboard:before {
  content: "\e1d7";
}
.icon-dashboard:before {
  content: "\e1d8";
}
.icon-extension-form:before {
  content: "\e1d9";
}
.icon-file:before {
  content: "\e1da";
}
.icon-file2:before {
  content: "\e1db";
}
.icon-file-archive:before {
  content: "\e1dc";
}
.icon-file-audio:before {
  content: "\e1dd";
}
.icon-file-code:before {
  content: "\e1de";
}
.icon-file-excel:before {
  content: "\e1df";
}
.icon-file-image:before {
  content: "\e1e0";
}
.icon-file-movie:before {
  content: "\e1e1";
}
.icon-file-pdf:before {
  content: "\e1e2";
}
.icon-file-photo:before {
  content: "\e1e3";
}
.icon-file-picture:before {
  content: "\e1e4";
}
.icon-file-powerpoint:before {
  content: "\e1e5";
}
.icon-file-sound:before {
  content: "\e1e6";
}
.icon-file-text:before {
  content: "\e1e7";
}
.icon-file-video:before {
  content: "\e1e8";
}
.icon-file-word:before {
  content: "\e1e9";
}
.icon-file-zip2:before {
  content: "\e1ea";
}
.icon-files:before {
  content: "\e1eb";
}
.icon-influencers:before {
  content: "\e1ec";
}
.icon-link2:before {
  content: "\e1ed";
}
.icon-meeting:before {
  content: "\e1ee";
}
.icon-opportunities-1:before {
  content: "\e1ef";
}
.icon-plan-trip:before {
  content: "\e1f0";
}
.icon-products:before {
  content: "\e1f1";
}
.icon-proximity-search:before {
  content: "\e1f2";
}
.icon-purchase-order2:before {
  content: "\e1f3";
}
.icon-qualification:before {
  content: "\e1f4";
}
.icon-quote:before {
  content: "\e1f5";
}
.icon-remove-attachments:before {
  content: "\e1f6";
}
.icon-revenue:before {
  content: "\e1f7";
}
.icon-smartphone2:before {
  content: "\e1f8";
}
.icon-summary:before {
  content: "\e1f9";
}
.icon-terms-and-conditions:before {
  content: "\e1fa";
}
.icon-unlink-task:before {
  content: "\e1fb";
}
.icon-user-hierarchy:before {
  content: "\e1fc";
}
.icon-file-text2:before {
  content: "\e1fd";
}
.icon-add-list:before {
  content: "\e1fe";
}
.icon-list-alt:before {
  content: "\e1ff";
}
.icon-exclamation:before {
  content: "\e200";
}
.icon-exclamation-circle:before {
  content: "\e201";
}
.icon-delete:before {
  content: "\e202";
}
.icon-edit:before {
  content: "\e203";
}
.icon-garbage-can:before {
  content: "\e204";
}
.icon-magnifying-glass:before {
  content: "\e205";
}
.icon-maximize:before {
  content: "\e206";
}
.icon-sign-forbidden:before {
  content: "\e207";
}
.icon-fa-arrow-circle-down:before {
  content: "\e208";
}
.icon-fa-arrow-circle-left:before {
  content: "\e209";
}
.icon-fa-arrow-circle-o-down:before {
  content: "\e20a";
}
.icon-fa-arrow-circle-o-left:before {
  content: "\e20b";
}
.icon-fa-arrow-circle-o-right:before {
  content: "\e20c";
}
.icon-fa-arrow-circle-o-up:before {
  content: "\e20d";
}
.icon-fa-arrow-circle-right:before {
  content: "\e20e";
}
.icon-fa-arrow-circle-up:before {
  content: "\e20f";
}
.icon-fa-arrow-down:before {
  content: "\e210";
}
.icon-fa-arrow-left:before {
  content: "\e211";
}
.icon-fa-arrow-right:before {
  content: "\e212";
}
.icon-fa-arrow-up:before {
  content: "\e213";
}
.icon-fa-times-circle-o:before {
  content: "\e214";
}
.icon-fa-times-circle:before {
  content: "\e215";
}
.icon-fa-plus-circle:before {
  content: "\e216";
}
.icon-program-switch1:before {
  content: "\e218";
}
.icon-program-switch2:before {
  content: "\e219";
}
.icon-program-switch4:before {
  content: "\e21b";
}
.icon-program-switch-03:before {
  content: "\e21a";
}
.icon-fa-location-arrow-01:before {
  content: "\e217";
}
.icon-fa-ellipsis-vertical-01:before {
  content: "\e21c";
}
.icon-fa-ellipsis-horizontal-01:before {
  content: "\e21d";
}
.icon-fa-check-square-o-01:before {
  content: "\e21e";
}
.icon-yammer-01:before {
  content: "\e21f";
}
.icon-fa-check-01:before {
  content: "\e220";
}
.icon-fa-check-circle-01:before {
  content: "\e221";
}
.icon-fa-check-circle-o-01:before {
  content: "\e222";
}
.icon-fa-check-square-01:before {
  content: "\e223";
}
.icon-padlock-unlocked:before {
  content: "\e224";
}
.icon-padlock-locked:before {
  content: "\e225";
}
.icon-fa-chevron-circle-down:before {
  content: "\e226";
}
.icon-fa-minus-circle:before {
  content: "\e227";
}
.icon-laptop-01:before {
  content: "\e228";
}
.icon-pocket-computer-01:before {
  content: "\e229";
}
.icon-add-folder:before {
  content: "\e22a";
}
.icon-backflush:before {
  content: "\e22b";
}
.icon-global-search:before {
  content: "\e22c";
}
.icon-insert-between:before {
  content: "\e22d";
}
.icon-company-status-01:before {
  content: "\e22e";
}
.icon-company-status-02:before {
  content: "\e22f";
}
.icon-company-status-03:before {
  content: "\e230";
}
.icon-contact-status-01:before {
  content: "\e231";
}
.icon-contact-status-02:before {
  content: "\e232";
}
.icon-contact-status-03:before {
  content: "\e233";
}
.icon-map-location-1:before {
  content: "\e234";
}
.icon-phone-02:before {
  content: "\e235";
}
.icon-thumbs-down:before {
  content: "\e236";
}
.icon-advance:before {
  content: "\e237";
}
.icon-all:before {
  content: "\e238";
}
.icon-attachment:before {
  content: "\e239";
}
.icon-between:before {
  content: "\e23a";
}
.icon-blank:before {
  content: "\e23b";
}
.icon-first-record:before {
  content: "\e23c";
}
.icon-greater-than:before {
  content: "\e23d";
}
.icon-grid:before {
  content: "\e23e";
}
.icon-grid-to-open:before {
  content: "\e23f";
}
.icon-join:before {
  content: "\e240";
}
.icon-last-record:before {
  content: "\e241";
}
.icon-less-than:before {
  content: "\e242";
}
.icon-not-between:before {
  content: "\e243";
}
.icon-not-blank:before {
  content: "\e244";
}
.icon-not-like:before {
  content: "\e245";
}
.icon-phone-03:before {
  content: "\e246";
}
.icon-report-to-run:before {
  content: "\e247";
}
.icon-save:before {
  content: "\e248";
}
.icon-signature-pad:before {
  content: "\e249";
}
.icon-url:before {
  content: "\e24a";
}
.icon-aptean:before {
  content: "\e24b";
}
.icon-address:before {
  content: "\e24c";
}
.icon-addressnotvalid:before {
  content: "\e24d";
}
.icon-addressvalid:before {
  content: "\e24e";
}
.icon-addressvalidate:before {
  content: "\e24f";
}
.icon-addsales:before {
  content: "\e250";
}
.icon-addservice:before {
  content: "\e251";
}
.icon-addsupport:before {
  content: "\e252";
}
.icon-alert:before {
  content: "\e253";
}
.icon-checknames:before {
  content: "\e254";
}
.icon-clone:before {
  content: "\e255";
}
.icon-columndefinition:before {
  content: "\e256";
}
.icon-count:before {
  content: "\e257";
}
.icon-customeron:before {
  content: "\e258";
}
.icon-email-text-area:before {
  content: "\e259";
}
.icon-emailnotvalidate:before {
  content: "\e25a";
}
.icon-emailnotvalidated:before {
  content: "\e25b";
}
.icon-emailtemplate:before {
  content: "\e25c";
}
.icon-emailvalid:before {
  content: "\e25d";
}
.icon-emailvalidate:before {
  content: "\e25e";
}
.icon-erase:before {
  content: "\e25f";
}
.icon-externaluser:before {
  content: "\e260";
}
.icon-gendoc:before {
  content: "\e261";
}
.icon-hidefilter:before {
  content: "\e262";
}
.icon-htmldocument:before {
  content: "\e263";
}
.icon-linkuser:before {
  content: "\e264";
}
.icon-maxsavednotes:before {
  content: "\e265";
}
.icon-mbquestion:before {
  content: "\e266";
}
.icon-mergerecord:before {
  content: "\e267";
}
.icon-nonwatch:before {
  content: "\e268";
}
.icon-notvalidated:before {
  content: "\e269";
}
.icon-openwindow:before {
  content: "\e26a";
}
.icon-printresults:before {
  content: "\e26b";
}
.icon-quote2forecast:before {
  content: "\e26c";
}
.icon-reply:before {
  content: "\e26d";
}
.icon-restore:before {
  content: "\e26e";
}
.icon-retrieve:before {
  content: "\e26f";
}
.icon-returntosearch:before {
  content: "\e270";
}
.icon-salesincident:before {
  content: "\e271";
}
.icon-salestask:before {
  content: "\e272";
}
.icon-saveclose:before {
  content: "\e273";
}
.icon-serviceincident:before {
  content: "\e274";
}
.icon-serviceon:before {
  content: "\e275";
}
.icon-servicetask:before {
  content: "\e276";
}
.icon-showfilter:before {
  content: "\e277";
}
.icon-spell:before {
  content: "\e278";
}
.icon-splitnotes:before {
  content: "\e279";
}
.icon-sqi:before {
  content: "\e27a";
}
.icon-summaryview:before {
  content: "\e27b";
}
.icon-supportincident:before {
  content: "\e27c";
}
.icon-supporttask:before {
  content: "\e27d";
}
.icon-watch:before {
  content: "\e27e";
}
.icon-workticket:before {
  content: "\e27f";
}
.icon-refresh-clock:before {
  content: "\e280";
}
.icon-refresh-clock-1:before {
  content: "\e281";
}
.icon-icon-go-to-form-01:before {
  content: "\e282";
}
.icon-emoticon-angry:before {
  content: "\e283";
}
.icon-emoticon-clown:before {
  content: "\e284";
}
.icon-emoticon-confused:before {
  content: "\e285";
}
.icon-emoticon-cry:before {
  content: "\e286";
}
.icon-emoticon-frown:before {
  content: "\e287";
}
.icon-emoticon-happy:before {
  content: "\e288";
}
.icon-emoticon-indifferent:before {
  content: "\e289";
}
.icon-emoticon-smile:before {
  content: "\e28a";
}
.icon-emoticon-surprised:before {
  content: "\e28b";
}
.icon-emoticon-wink:before {
  content: "\e28c";
}
.icon-subscription:before {
  content: "\e28d";
}
.icon-link-to-pivotal:before {
  content: "\e28e";
}
.icon-related-links:before {
  content: "\e28f";
}
.icon-look-to-add-links-01:before {
  content: "\e290";
}
