body {
  padding-left:10px;
  padding-right:10px;
}

#faqheader{
  position: absolute;
  width: 100%;
  height: calc(90% - 80px);
}

#faqheader h1 {
  float:left;
  font-size: 20px;
  font-weight: bold;
  color: #0278aa;
  background-repeat: no-repeat;
  background-position: left top;
  padding-left:30px;
  padding-top:4px;
  padding-bottom:5px;
}

.faqImg{
  background-image: url(../images/faq_h1_bullet.gif);
}

.docImg{
  background-image: url(../images/doc_h1_bullet.gif);
}
#faqheader .rating {
  float:right;
  width:173px;
  height:16px;
  padding-top:2px;
  margin-left:10px;
}

#faqheader .print {
  float:right;
  padding-top:2px;
  margin-left:10px;
  margin-right:10px;
  background-image: url(../images/ico_print.gif);
  background-repeat: no-repeat;
  background-position: left 4px;
  padding-left:20px;
  padding-bottom:4px;
  padding-top:4px;
  color:#6a6a6a;
  text-decoration:none;
}

#faqheader .print:hover {
  color:#5a9135;
}

#faqcontent {
  position: absolute;
  width: 100%;
  height: calc(90% - 80px);
}

#faqcontent > iframe {
  display: block;
  width: 95%;
  height: 100%;
  border: none;
}

#faqcontent .imgleft { /* powered by */
  background-color:black;
  top:15%;
}
#poweredby{
  color:#FFF;
  font-size:10px;
  background-color:black;
  margin-left:7px;
  
}
.powered_by_image{
  background-color:black;
 
}
/* Ranking START */

#faqheader .rating span {
  float:left;
  padding-top:2px;
  color:#6a6a6a;
}

.lblRating {
  color:#6a6a6a;
}
/* Ranking END */