﻿#soldetailareascroll ,
#solutionbg #solareascroll {
  height:470px;
  overflow-y:hidden;
  background-color:white;
}

#soldetailareascroll{
   padding-left:2% !important;
}

#solutionbg #solareascroll {
  padding-top:2%;
}

#solutionbg #solareascroll ul {
  padding:0px;
  margin:0px;
}

#solutionbg #solareascroll ul li {
  margin:0px;
  padding-left:20px;
  padding-right:0px;
  padding-top:3px;
  padding-bottom:3px;
  list-style-type: none;
}

#solutionbg #solareascroll .faq {
  text-decoration: none;
  background-image: url(../images/icon_faq.gif);
  background-repeat: no-repeat;
  background-position: left 2px;
  padding-left:16px;
}

#solutionbg #solareascroll .faq:hover {
  color: #ffea9a;
}

#solutionbg #solareascroll .oneclick {
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left 2px;
  padding-left:16px;
}

#solutionbg #solareascroll .oneclick:hover {
  color: #ffea9a;
}

#soldetailareabuttons {
  height:20px;
  margin-top:20px;
  text-align:right;
  float:right;
}