<div id="ss_gc_bae_Wrapper">
  <h1>Connection: Bind Network Adapter to Nortel Networking Component</h1>
  <div class="working">
    <div id="ss_gc_bae_Progress">Binding network adapter to the Nortel networking component...</div>
  </div>
</div>
  