<div id="ss_gc_dun_odl_Wrapper">
	<div id="ss_gc_dun_odl_title"><h1>Troubleshooting Connection: Check Dial-up Settings</h1></div>
	<div id="ss_gc_dun_odl_Content">
		<div id="question">
			<div id="ss_gc_dun_odl_opendialer">
				<p>The username or password entered was incorrect. Enter the correct credentials and try again. 
				</p>
			</div>
			<div id="ss_gc_dun_odl_dialogBubble" class="infoactionbox">
		    <p><strong>Do you remember the correct username and password?</strong></p>
				<table cellpadding="2" cellspacing="0" width="90%" border="0">
					<tr>
						<td width="1%"><input type="radio" name="decision" id="Know" value="yes" checked /></td>
						<td width="99%"><label id="ss_gc_dun_odl_knowpassword" for="Know">Yes</label></td>
					</tr>
					<tr>
						<p>
						  <div id="ss_gc_dun_odl_previouslogin" style="display:none;float:left;">Here is your previous login :</div>
						  <div id="ss_gc_dun_odl_spacer" style="display:none;width:5px;border:20px;float:left;"></div>
							<div id="lblPrevLogin" style="display:block;"></div>
							<div id="ss_gc_dun_odl_none" style="display:none;">None found.</div> 
						</p>
					</tr>
					<tr>
						<td><input type="radio" name="decision" id="DoNotKnow" value="no" /></td>
						<td><label for="DoNotKnow">No</label></td>
					</tr>
				</table>
			</div>
			<p id="ContinueStatement">Press <b>Next</b> to continue.</p></div>
			<div id="ss_gc_dun_odl_entercredentials" style="display: none;">
				<p>The dialer will now open, please enter your username and password into the appropriate	fields.</p>
			</div>
			<div id="ss_gc_dun_odl_getcredentials" style="display: none;">
				<p><b>Password Recovery:</b></p>
				<p>
					
        If you have forgotten your login credentials, create a temporary connection with the following credentials:
								
					<ul>
						<li><p>Username (login): xxx@yyy</p></li>
						<li><p>Password: zzz</p></li>
					</ul>	
				</p>		
				<p>As soon as the connection is established, open your browser and type this URL www.xxxyyyzz.com.</p>
				<p>
Once the connection is established, access the URL www.xxxyyyzz.com and follow the instructions to recover your original credentials. </p>
<p>Re-establish the internet connection.</p><p>
You can also contact 650-555-5555 for assistance or any Point of Sales to recover the credentials.</p>
				
		</div>
		<div id="ss_gc_dun_odl_waitingfordial" style="display: none;">Waiting for you to enter your login and password and press dial to connect</div>
		<div id="ss_gc_dun_odl_nextwhendialed" style="display: none;">Press <b>Next</b> when your connection attempt has ended.</div>
		<p id="globalWorkingAnimation" style="display: none;">TEST: Animation needed here</p>
	</div>
	<!-- content -->
</div>
<!-- wrapper -->