<div id="ss_gc_hwa_Wrapper">
	<div id="ss_gc_hwa_Header"><h1>Troubleshooting Connection: Restore Wireless Settings</h1></div>
	<div class="working">		
		<div id="ss_gc_hwa_Progress">Restoring wireless settings ...</div>
	</div>
</div>
