<div id="ss_gc_cph_Wrapper">
  <h1>Network Connection: Check Phone Line</h1>
  <div id="ss_gc_cph_Content">
		<ul>
			<li>Ensure that one end of the telephone cable is connected to the phone line jack.</li>
			<li>Ensure that the other end of the telephone cable is connected to your DSL modem.</li>
			<li> There is no DSL filter on the line that is connected to the DSL modem.</li>
		</ul>
  </div>
  
  <div id="ss_gc_cph_dialogBubble" class="infoactionbox">
		<p><strong>Did you make any changes to your phone line connections?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input type="radio" name="bubble" id="bubble_yes" value="yes"/></td>
				<td width="99%"><label for="bubble_yes">Yes</label></td>
			</tr>
			<tr>
				<td><input type="radio" name="bubble" id="bubble_no" value="no"/></td>
				<td><label for="bubble_no">No</label></td>
			</tr>
		</table>
	</div>
</div>
