<div id="ss_gc_rwl_PromptWrapper">
	<div id="ss_gc_rwl_PromptHeader"><h1>Troubleshooting Connection: Restart Wireless Adapter</h1></div>
	<% var dispStr = data['dispStr'];%>
	<div id="ss_gc_rwl_PromptContent">
		<p>
			Your wireless network adapter<br/> <b><%=dispStr%></b>  
			is unable to communicate with your preferred wireless network. 
		</p>
		<p>Restarting the wireless network adapter may solve the problem.</p>
		<p>Click <b>Next</b> to restart your wireless network adapter.</p>  
	</div>
</div>