<div id="ss_gc_rwa_Wrapper">
	<div id="ss_gc_rwa_Header"><h1>Troubleshooting Connection: Restart Wireless Adapter</h1></div>
	<div id="ss_gc_rwa_Content" class="working">
		<div id="ss_gc_rwa_Progress">Restarting Wireless Adapter ...</div>
	</div>
</div>
