<div id="ss_gc_hff_Wrapper">
	<div id="ss_gc_hff_Header"><h1>Troubleshooting Connection: Restore Firefox Settings</h1></div>
	<div class="working">
		<div id="ss_gc_hff_Progress">Restoring Firefox settings ...</div><br />
    <div id="ss_gc_hff_CloseFirefox" style="display:none"><p>If Firefox is running, please quit the application before hitting the Ok button.</p></div>
	</div>
</div>
