 <div id="ss_gc_dun_reb_Wrapper">
   <div id="ss_gc_dun_reb_title"><h1>Troubleshooting Connection: Restart Computer</h1></div>
   <div id="ss_gc_dun_reb_Content">
     <div id="ss_gc_dun_reb_restartpc"><p>An error is detected on your dialup connection. The best first course is to restart your computer.</p></div>
     <div id="ss_gc_dun_reb_pressrestart"><p>Make sure you have saved all your work, then click <b>Next</b> to restart your computer. %MACRO:PRODUCT% wizard will continue automatically after restart.</p></div>
   </div>
 </div>
 