 <div id="ss_gc_wp_PromptWrapper" class="clsPageWrapper">
    <h1>Troubleshooting Connection: Choose connection</h1>
    <div id="ss_gc_wp_PromptContent" class="clsPageContent">
      <div id="ss_gc_wp_Prompt_ChooseConnnection"><p>%MACRO:PRODUCT% wizard has determined that you have a wireless adapter in your machine.</p>
    </div>
      <p id="ss_gc_wp_Prompt_SelectStatement">Please choose one of the following options: </p>
      <div id="ss_gc_wp_dialogBubble" class="infoactionbox">
		      <p><strong>Would you like to repair your wireless network connection?</strong></p>
		      <table cellpadding="2" cellspacing="0" width="90%" border="0">
			      <tr>
				      <td width="1%"><input type="radio" name="decision" id="Wireless" value="true"/></td>
				      <td width="99%"><label for="Wireless">Yes, repair my wireless network connection</label></td>
			      </tr>
			      <tr>
				      <td><input type="radio" name="decision" id="NotWireless" value="false"/></td>
				      <td><label for="NotWireless">No, I want to repair my other connection</label></td>
			      </tr>
		      </table>
	      </div>


    </div>
  </div>
  
