<div id="ss_gc_rsre_selectras_Wrapper">
	<div id="ss_gc_rsre_selectras_Header"><h1>Select Dial-up Entry</h1></div>
	<div id="ss_gc_rsre_selectras_Content">
		<div id="ss_gc_rsre_selectras_Description" class="clsSelNicDesc">
			<p>%MACRO:PRODUCT% wizard detected multiple dial-up entries.</p>
		</div>
		<div class="infoactionbox">
			<p><strong>Dial-Up Entries:</strong></p>
			<p>Select an appropriate entry to proceed.:</p>
			<table cellpadding="2" cellspacing="0" width="90%" border="0">
				<tr>
					<td><select name="select" id="ss_gc_rsre_selectras_rasentry" class="bigdropdown">
							<%var sRasEntries = data["entryList"];
								var sPrevEntry = data["prevEntry"]; 
								for(var i=0; i<sRasEntries.length; i++){
									if(sRasEntries[i] == sPrevEntry){  %>
										<option value="<%= sRasEntries[i] %>" selected><%= sRasEntries[i] %></option>
								<%}else{%>
										<option value="<%= sRasEntries[i] %>"><%= sRasEntries[i] %></option>
								<%}
						   }%>
							</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>