<div id="ss_gc_hdn_Wrapper">
	<div id="ss_gc_hdn_Header"><h1>Troubleshooting Connection: Restore Dial-up Settings</h1></div>
	<div class="working">
		<div id="ss_gc_hdn_Progress">Restoring Dial-up networking settings...</div>
	</div>
</div>
