<div id="ss_gc_pcy_Wrapper">
	<div id="ss_gc_pcy_Header"><h1>Troubleshooting: Power Cycle Modem</h1></div>
	<div id="ss_gc_pcy_Content">
		To power cycle your modem:
		<ol>	
			<li><p>Turn the modem OFF.</p></li>
			<li><p>Wait for one minute.</p></li>
			<li><p>Turn the modem ON.</p></li>
			<li><p>Wait for one minute.</p></li>
			<li><p>Click <b>Next</b>.</p></li>
		</ol>
	</div>
	<div id="ss_gc_pcy_dialogBubble" class="infoactionbox">
	<p><strong>Did you power cycle your modem successfully?</strong></p>
			 <table cellpadding="2" cellspacing="0" width="90%" border="0">
    	<tr>
        	<td width="1%"><input type="radio" name="bubble" id="bubble_yes" value="yes" /></td>
          <td width="99%"><label for="bubble_yes">Yes</label></td>
      </tr>        
    	<tr>
        	<td><input type="radio" name="bubble" id="bubble_no"  value="no" /></td>
          <td><label for="bubble_no">No</label></td>
        </tr>
    </table>
</div>
</div>
