<div id="ss_gc_ckr_Wrapper">
  <h1>Troubleshooting Connection: Remove Router</h1>
  <div id="ss_gc_ckr_Content">
		<p>If using a home network or connecting to more than one computer through a network router,
      disconnect the router and connect the computer directly to the modem.</p><p> You can reconnect your router after installation is complete.</p>
	</div>	
	<div id="ss_gc_ckr_dialogBubble" class="infoactionbox">
		<p><strong>Did you disconnect any network router?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input id="bubble_yes" type="radio" name="bubble" value="yes"/></td>
				<td width="99%"><label for="bubble_yes">Yes</label></td>
			</tr>
			<tr>
				<td><input id="bubble_no" type="radio" name="bubble" value="no"/></td>
				<td><label for="bubble_no">No</label></td>
			</tr>
		</table>
	</div>
</div>
   