<div id="ss_gc_cfl_Wrapper">
  <h1>Network Connection: Check Filters</h1>
  <div id="ss_gc_cfl_Content"><p>
    Filters separate voice signals from DSL signals so you can talk on the phone and be 
    online at the same time. Connect a filter to the wall jack for all telephone 
    devices that are on the same line (same telephone number) as your DSL service. </p>
    <br/>
    <p>Devices could include:</p>
    <ul>
      <li>Phones</li> 
      <li>Fax machines</li> 
      <li>Caller ID boxes</li> 
      <li>Satellite TV receivers</li> 
      <li>TiVo boxs</li> 
      <li>Dial-up modems</li> 
      <li>Answering machines</li>
    </ul>
  </div>
  
	<div id="ss_gc_cad_dialogBubble" class="infoactionbox">
		<p><strong>Have you made any changes to your filter installation?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input type="radio" name="bubble" id="bubble_yes" value="yes"/></td>
				<td width="99%"><label for="bubble_yes">Yes, I made changes to the filter installation.</label></td>
			</tr>
			<tr>
				<td><input type="radio" name="bubble" id="bubble_no" value="no"/></td>
				<td><label for="bubble_no">No, I did not change the filter installation.</label></td>
			</tr>
		</table>
	</div>
</div>