<div id="ss_gc_wp_PromptWrapper">
	<div id="ss_gc_wp_PromptHeader"><h1>Troubleshooting Connection: Create Wireless Profile</h1></div>
	<div id="ss_gc_wp_PromptContent">
		<div id="ss_gc_wp_Prompt_CreateWirelessProfile">
			<p>
        %MACRO:PRODUCT% wizard has determined one or more wireless networks in your area. 
			</p>
		</div>
		<div id="ss_gc_wp_dialogBubble" class="infoactionbox">
			<p><strong>Do you want to view and select from the available networks?</strong></p>
			<% var bCreate = data['create']; if(bCreate) {  %>
				<table cellpadding="2" cellspacing="0" width="90%" border="0">
					<tr>
						<td width="1%"><input type="radio" name="decision" id="Create" value="true" checked /></td>
						<td width="99%"><label for="Create">Yes</label></td>
					</tr>
					<tr>
						<td><input type="radio" name="decision" id="DoNotCreate" value="false" /></td>
						<td><label for="DoNotCreate">No</label></td>
					</tr>
				</table>
			<%}else { %>
				<table cellpadding="2" cellspacing="0" width="90%" border="0">
					<tr>
						<td width="1%"><input type="radio" name="decision" id="Create" value="true" /></td>
						<td width="99%"><label for="Create">Yes</label></td>
					</tr>
					<tr>
						<td><input type="radio" name="decision" id="DoNotCreate" value="false" checked /></td>
						<td><label for="DoNotCreate">No</label>
						</td>
					</tr>
				</table>
			<%} %>
		</div>
	</div>
</div>
