<div id="ss_gc_dhc_Wrapper">
  <div id="ss_gc_dhc_Header"><h1>Troubleshooting Connection: DHCP</h1></div>
  <div class="working" id="ss_gc_dhc_progress_wrap">   
    <div id="ss_gc_dhc_Progress">Reconfiguring network device ...</div>
  </div>

  <div id="ss_gc_restartNetAdapter_reboot" style="display:none" class="infoactionbox"><strong>In order to resolve your problem %PRODUCT% needs to power down your computer.
   Please close all the applications and click <b>Next</b> to continue.</strong></div>
</div>
