<div id="ss_gc_rpc_Wrapper">
	<div id="ss_gc_rpc_Header"><h1>Troubleshooting Connection: Restart Computer</h1></div>
	<div id="ss_gc_rpc_tContent">
		<p>Click <b>Next</b> to restart your computer and restore network settings.</p>
	</div>
</div>