<div id="ss_gc_rcras_Wrapper>
  <div id="ss_gc_rcras_Header"><h1>Dial-up connection</h1></div>   
  <%
  if(data['updatecreds'] == "false"){
  %>   
		<div id="ss_gc_rcras_user1"><p>
			%MACRO:PRODUCT% wizard was unable to detect any dial-up connection. Create a new dial-up entry for this account.</p>
		</div>
	<%
	}else{
	%>
		<div id="ss_gc_rcras_userupdate"><p>%MACRO:PRODUCT% wizard was unable to detect any dial-up connection. Create a new dial-up entry for this account.
</p></div>
  <%}%>
  <div id="ss_gc_rcras_Prompt" class="infoactionbox">
		<div id="ss_gc_tc_enterpwd"><p>Enter username and password for a new dial-up setup.</p></div>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td>Username:</td>
				<td><input class="textbox" type="text" id="ss_gc_rcras_username_input" name="ss_gc_rcras_username_input"/></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input class="textbox" type="password" id="ss_gc_rcras_userpwd_input" name="ss_gc_rcras_userpwd_input"/></td>
			</tr>
			</table>
	</div>
  <div id="ss_gc_rcras_input_error" ></div>
  <div id="ss_gc_rcras_Working" style="display:none;">
    <div id="ss_gc_rcras_workingImg" class="working">          
			<div id="ss_gc_rcras_creating"><p>Creating dial-up connection entry <b>%1%</b>...</p></div> 
    </div>   
  </div>      
