<div id="ss_gc_rdras_Wrapper">
  <div id="ss_gc_rdras_Header"><h1>Dial-up connection: Initiating Connection</h1></div>
  <div id="ss_gc_rdras_Content" class="working">
    <%var sPlaceholderstr = data['SelectedRAS'];%> 
    <div id="ss_gc_rdras_dialing_placeholder"><%= sPlaceholderstr %></div>
	</div>
  <div id="ss_gc_rdras_dial_status" style="display:none"><p>Click <b>Retry</b> to redial or <b>Next</b> to proceed.</p></div>
</div>