<div id="ss_gc_ckma_Wrapper">
  <h1>Connection: Missing Network Adapters</h1>
  <div id="ss_gc_ckma_Description">
    <p>The following network adapters could not be detected. Ensure that they are properly connected.</p>
   </div><br />
  <div id="ss_gc_ckma_Content"><p>Missing adapter(s) from our network protection list:</p>
		<ul>
			<%var nics = data['missingNics']; for (var i=0;i < missingNics.length; i++) { %>
				<li><%=missingNics[i]%></li>
			<%}%>
    </ul>
  </div>
    
  <div id="ss_gc_ckma_dialogBubble" class="infoactionbox">
		<p><strong>Did you detect and connect to any missing adapter?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input id="bubble_yes" type="radio" name="bubble" value="yes"/></td>
				<td width="99%"><label for="bubble_yes">Yes</label></td>
			</tr>
			<tr>
				<td><input id="bubble_no" type="radio" name="bubble" value="no"/></td>
				<td><label for="bubble_no">No</label></td>
			</tr>
		</table>
	</div>
</div>
  