<div id="ss_gc_dp_Wrapper">
  <div id="ss_gc_dp_Header"><h1>Troubleshooting Internet Connection: Disable Proxy</h1></div>
  <div id="ss_gc_dp_Content">
   <P>The progress may be hampered as the browser has proxy enabled.</p>
   <p>Click <b>Next</b> to disable proxy. </p></div>
</div>
  