<div id="ss_gc_rcw_Wrapper">
	<div id="ss_gc_rcw_Header"><h1>Troubleshooting Internet Connection</h1></div>
	<div id="ss_gc_rcw_Content">
	 <p>%MACRO:PRODUCT% wizard was unable to fix your network connection problem.</p>
		<ul>
     <li>Click <b>Retry</b> to try connecting again.</li>
     <li>Click <b>Next</b> to receive customer support information.</li>
		<ul>	
	</div>
</div>   
