<div id="ss_gc_tsy">
	<div id="ss_gc_tsy_Header">
		<h1>Connection to Network</h1>
	</div>
	<div id="ss_gc_tsy_Content" class="working">
		<div id="ss_gc_tsy_testing" style="display: none;"></div>
		<div id="ss_gc_tsy_fixing" style="display: none;">Fixing network connection...</div>
	</div>
	<div id="ss_gc_tsy_admincreds" style="display: none;">
		<div id="ss_glb_admin1"><p>The admin name and password for the modem have been changed from the factory settings.</p></div>
		<div id="ss_glb_admin_box">
			<div class="infoactionbox">
				<div id="ss_glb_enterpwd">If you know the changed settings enter them below and click <b>Retry</b>.</div>
				<table cellpadding="2" cellspacing="0" width="90%" border="0">
					<tr>
						<td>Admin Name:</td>
						<td><input class="textbox" type="text" id="adminname" name="adminname" /></td>
					</tr>
					<tr>
						<td>Admin Password:</td>
						<td><input class="textbox" type="password" id="adminpass" name="adminpass" /></td>
					</tr>
				</table>
			</div>
			<div id="ss_glb_resetpwd"><p>If you do not know the admin name and password, do the following:</p></div>
			<ul>
				<li id="ss_glb_pboption1">Push the factory reset button on the back of the modem.</li>
				<li id="ss_glb_pboption2">Wait for all blinking lights to turn solid green.</li>
				<li id="ss_glb_pboption3">Click <b>Retry</b>.</li>
			</ul>
			<div id="ss_glb_getassistance"><p>If the problem persists, click <b>Next</b> for assistance.</p></div>			
		</div>
	</div>
</div>
