<div id="ss_gc_hff_PromptWrapper">
	<div id="ss_gc_hff_PromptHeader"><h1>Troubleshooting Connection: Restore Firefox Settings</h1></div>
	<div id="ss_gc_hff_PromptContent"></div>
	<div id="ss_gc_hff_dialogBubble1" class="infoactionbox">
		<p><strong>Do you want to restore Firefox to the last known good configuration?</strong></p>
		<% var bStore = data['restore']; if(bStore) {  %>
			<table cellpadding="2" cellspacing="0" width="90%" border="0">
				<tr>
					<td width="1%"><input type="radio" name="decision" id="Restore" value="true" checked/></td>
					<td width="99%"><label for="Restore">Yes</label></td>
				</tr>
				<tr>
					<td><input type="radio" name="decision" id="DoNotRestore" value="false"/></td>
					<td><label for="DoNotRestore">No</label></td>
				</tr>
			</table>
		<%}else { %>
			<table cellpadding="2" cellspacing="0" width="90%" border="0">
				<tr>
					<td width="1%"><input type="radio" name="decision" id="Restore" value="true"/></td>
					<td width="99%"><label for="Restore">Yes</label></td>
				</tr>
				<tr>
					<td><input type="radio" name="decision" id="DoNotRestore" value="false" checked/></td>
					<td><label for="DoNotRestore">No</label></td>
				</tr>
			</table>		
		<%} %>
	</div>
</div>