<div id="ss_gc_dns_Wrapper">
  <div id="ss_gc_dns_Header"><h1>Troubleshooting Internet Connection: DNS Spoofing</h1></div>
  <div id="ss_gc_dns_Content">  
    <p> Your browser is unable to connect to external Websites.</p>
    <ul>
    <li><p>If you are in a public area, ensure that you have logged into the local provider's domain. Click <a href="#" id="ss_gc_dns_openHomeURL" class="textlink">here</a> to proceed.</p></li>
    </ul>
    <p>Click <b>Next</b> to connect to the internet.</p>    
  </div>
</div>
  