<div id="ss_gc_ena_Wrapper">
  <div id="ss_gc_ena_Header"><h1>Troubleshooting Connection: Enable Network Adapter</h1></div>
  <div class="working">
    <div id="ss_gc_ena_progress">Enabling network adapter...</div>
  </div>
</div>
  