<div id="ss_gc_dun_rim_Wrapper">
	<div id="ss_gc_dun_rim_title"><h1>Troubleshooting Connection: Re-install Modem</h1></div>
  <div id="ss_gc_dun_rim_reinstallmodem">
		<div><p>An error was encountered in your modem setup. Re-install the modem software using the installation CD.</p></div>
		<div>
			Find your installation CD for your modem software,
			<ol>
				<li><p>Insert the CD in your computer.</p></li>
				<li><p>Follow the instructions to re-install the software.</p></li>
			</ol>		    
		</div>
	</div>
</div>
