<div id="ss_gc_dio_Wrapper">
  <div id="ss_gc_dio_Header"><h1>Troubleshooting Internet Connection: Disable Browser Offline Mode</h1></div>
  <div id="ss_gc_dio_Content">
   <p>Your browser is currently set to <b>"Work Offline"</b> mode.
      This setting can cause problems with some programs that require an Internet connection.</p>
    <p>%MACRO:PRODUCT% will automatically close all open Firefox/Known browser windows to facilitate these changes.</p><br/>
   <p>Click <b>Next</b> to correct this problem.</p></div>
</div>
 