    <div class="clsPageWrapper">
      <h1>Network Connection Detection</h1>
      <div id="ss_gc_dm_Content" class="clsPageContent cls500x255Frame">
        <div id="ss_gc_dm_workingImg" class="working">
					<div id="ss_gc_dm_testing" style="display:none;"></div>
					<div id="ss_gc_dm_fixing" style="display:none;">Fixing network connection...</div>
        </div>
				<br/>
      </div>
      <div id="ss_gc_dm_admincreds"  style="display: none;">
				<div class="clsPageContent">
					<div id="ss_glb_admin1">The admin name and password for the modem have been changed from the factory settings.</div>
					<div id="ss_glb_admin_box">						
						<div class="infoactionbox">
							<div id="ss_glb_enterpwd">If you know the changed settings enter them below and click <b>Retry</b>.</div>
							<table cellpadding="2" cellspacing="0" width="90%" border="0">
								<tr>
									<td>Admin Name:</td>
									<td><input class="textbox" type="text" id="Text1" name="adminname"/></td>
								</tr>
								<tr>
									<td>Admin Password:</td>
									<td><input class="textbox" type="password" id="Password1" name="adminpass"/>
									</td>
								</tr>
							</table>
						</div>											
						<div id="ss_glb_resetpwd"><p>If you do not know the admin name and password, do the following:</p></div>
						<ul>
							<li id="ss_glb_pboption1">Push the factory reset button on the back of the modem.</li>
							<li id="ss_glb_pboption2">Wait for all blinking lights to turn solid green.</li>
							<li id="ss_glb_pboption3">Click <b>Retry</b>.</li>
						</ul>
						<div id="ss_glb_getassistance"><p>If the problem persists, click <b>Next</b> for assistance.</p></div>
					</div>
				</div>
			</div>
      <div id="ss_gc_dm_Widgets"></div>
    </div>
  </body>
</html>




