<div id="ss_gc_crm_Wrapper">
  <div id="ss_gc_crm_Header"><h1>Troubleshooting Connection: Previously Used Modem</h1></div>
  <div id="ss_gc_crm_Description"></div>
  
  <%var sCont = data['modemStr'];%>
  <div id="ss_gc_crm_Content"><p><%= sCont%></p></div>
  
	<div id="ss_gc_crm_dialogBubble" class="infoactionbox">
	<p><strong>Do you want to connect using a previously used modem?</strong></p>
			 <table cellpadding="2" cellspacing="0" width="90%" border="0">
    	<tr>
        	<td width="1%"><input type="radio" name="bubble" id="bubble_yes" value="yes" /></td>
            <td width="99%"><label for="bubble_yes">Yes</label></td>
        </tr>
        
    	<tr>
        	<td><input type="radio" name="bubble" id="bubble_no"  value="no" /></td>
            <td><label for="bubble_no">No</label></td>
        </tr>
    </table>
</div>
</div>
