<div id="ss_gc_cad_Wrapper">
	<h1>Network Connection: Check Activation Date</h1>
	<div id="ss_gc_cad_Content"> 
		<p>Ensure that your DSL account has been activated. If not, exit the installation wizard and try after activation.</p>
	</div>
	<div id="ss_gc_trylater" style="display:none"></div>
	<div id="ss_gc_cad_dialogBubble" class="infoactionbox">
		<p><strong>When is your account activation date?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input type="radio" name="bubble" id="bubble_yes" value="yes" /></td>
				<td width="99%"><label for="bubble_yes">After Today.</label></td>
			</tr>
			<tr>
				<td><input type="radio" name="bubble" id="bubble_no" value="no" /></td>
				<td><label for="bubble_no">Before Today.</label></td>
			</tr>
		</table>
	</div>
</div>

