<div id="ss_gc_dio_Wrapper" class="clsPageWrapper">
  <div id="ss_gc_dio_Header"><h1>Troubleshooting Internet Connection: Disable IE Offline Mode</h1></div>
  <div id="ss_gc_dio_Content">
   <p>The progress may be hampered as your browser is currently set to the Work Offline mode.</p>
   <p>Click <b>Next</b> to  de-activate the Work Offline mode.</p></div>
</div>
 