<div id="ss_gc_hdv_Wrapper">
	<div id="ss_gc_hdv_Header"><h1>Troubleshooting Connection: Restore Modem Drivers</h1></div>
	<div class="working">		
		<div id="ss_gc_hdv_Progress">Restoring Modem drivers ...</div>
	</div>
</div>
