<div id="ss_gc_rm_Wrapper">
  <div id="ss_gc_rm_Header"><h1>Troubleshooting Connection: Restart Modem</h1></div>
  <div id="ss_gc_rm_Content" class="working">
    <div id="ss_gc_rm_Progress" style="display:none;"></div>
  </div>
</div>
