 <div id="ss_gc_dun_out_Wrapper">
   <div id="ss_gc_dun_out_title"><h1>Troubleshooting Connection: RAS Outage</h1></div>
   <div id="ss_gc_dun_out_outage">
		<p>There may be a network outage in your area.</p>
		<p><b> Try again in 30 minutes.</b></p>
		<p>If this is your next attempt, please contact <b>Customer Support</b> for assistance.</p></div>   
 </div>
 