<div id="ss_gc_suc_Wrapper">
	<div id="ss_gc_suc_Header"><h1>Troubleshooting Internet Connection: Success</h1></div>
	<div id="ss_gc_suc_Detail">
		<p>Congratulations! %MACRO:PRODUCT% wizard has successfully resolved your network problems.</p>
		<p>You are now connected to the network.</p>
	</div>	
</div>
