<div id="ss_gc_rlr_Wrapper">
	<div id="ss_gc_rlr_PromptHeader"><h1>Troubleshooting Connection: Refresh IP</h1></div>
	<div id="ss_gc_rlr_PromptContent">
	 <p>%MACRO:PRODUCT% wizard recommends resetting your network address.</p>
   <p>Click <b>Next</b> to reset your network address.</p>
	</div>
</div>