<div id="ss_gc_hna_Wrapper">
	<div id="ss_gc_hna_Header"><h1>Troubleshooting Connection: Restore Network Settings</h1></div>
	<div class="working">
		<div id="ss_gc_hna_Progress">Restoring Network settings ...</div>
	</div>
</div>
