<div id="ss_gc_dhc_Prompt">
  <div id="ss_gc_dhc_PromptHeader"><h1>Troubleshooting Connection: DHCP</h1></div>
  <div id="ss_gc_dhc_PromptContent">
   <p>%MACRO:PRODUCT% wizard has detected static IP assigned to your network. Changing to a dynamic IP is recommended.</p>
   <p>Click <b>Next</b> to reconfigure your network devices and verify network connectivity.</p></div>
</div>

