<div id="ss_gc_dp_Wrapper" class="clsPageWrapper">
   <h1>Troubleshooting Internet Connection: Disable Proxy</h1>
   <div id="ss_gc_dp_Content" class="clsPageContent">
   <P>%MACRO:PRODUCT% has detected that Firefox is not configured properly.</p> 
   <p>It will automatically close all open Firefox/Known browser windows to facilitate these changes.</p>
   <p>Click <b>Next</b> to correct this problem.</p></div>
</div>
