<div id="ss_gc_hdv_PromptWrapper">
	<div id="ss_gc_hdv_PromptHeader"><h1>Troubleshooting Connection: Restore Modem Drivers</h1></div>
	<div id="ss_gc_hdv_PromptContent"></div>	
	<div id="ss_gc_hdv_dialogBubble" class="infoactionbox">
		<p><strong>Do you want to restore your modem drivers to the last known good configuration?</strong></p>
		<% var bStore = data['restore']; if(bStore) {  %> 
			<table cellpadding="2" cellspacing="0" width="90%" border="0">
				<tr>
					<td width="1%"><input type="radio" name="decision" id="Restore" value="true" checked/></td>
					<td width="99%"><label for="Restore">Yes</label></td>
				</tr>
				<tr>
					<td><input type="radio" name="decision" id="DoNotRestore" value="no"/></td>
					<td><label for="DoNotRestore">No</label></td>
				</tr>
			</table>
		<%}else { %>		
			<table cellpadding="2" cellspacing="0" width="90%" border="0">
				<tr>
					<td width="1%"><input type="radio" name="decision" id="Restore" value="true"/></td>
					<td width="99%"><label for="Restore">Yes</label></td>
				</tr>
				<tr>
					<td><input type="radio" name="decision" id="DoNotRestore" value="false" checked/></td>
					<td><label for="DoNotRestore">No</label></td>
				</tr>
			</table>		
		<%} %>		
	</div>
</div>