<div id="ss_gc_rlr_Wrapper">
	<div id="ss_gc_rlr_Header"><h1>Troubleshooting Connection: Refresh IP</h1></div>
	<div id="ss_gc_rlr_Content" class="working">
	<div id="ss_gc_rlr_Progress">Refreshing IP...</div>
</div>
</div>
