<div id="ss_gc_ckf_Wrapper">
  <h1>Connection: Disable Firewall</h1>
  <div id="ss_gc_ckf_Content"><p>Ensure that all software and hardware firewalls are disabled to proceed with the installation. 
Refer to the firewall vendor documentation for instructions.</p>
  <div id="ss_gc_ckf_dialogBubble" class="infoactionbox">
		<p><strong>Did you disable a firewalls?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input type="radio" name="bubble" id="bubble_yes" value="yes"/></td>
				<td width="99%"><label for="bubble_yes">Yes</label></td>
			</tr>
			<tr>
				<td><input type="radio" name="bubble" id="bubble_no" value="no"/></td>
				<td><label for="bubble_no">No</label></td>
			</tr>
		</table>
	</div>
</div>
  