<div id="ss_gc_bda_Wrapper">
  <h1>Troubleshooting Connection: Bind Network Adapter to TCP/IP</h1>
  <div class="working">    
    <div id="ss_gc_bda_Progress">Assigning proper communication protocol to the network adapter...</div>
  </div> 
</div>
  