<div id="ss_gc_rgs_Wrapper">
  <div id="ss_gc_rgs_Header"><h1>Troubleshooting Network Connection</h1></div>
  <div id="ss_gc_rgs_Content">
   <p>%MACRO:PRODUCT% wizard was unable to fix your network connection problem.</p>
   <ul>
     <li>Click <b>Retry</b> to try connecting again.</li>
     <li>Click <b>Next</b> to receive customer support information.</li>
   <ul>  
  </div>
</div>   
