<div id="ss_gc_cdm_Wrapper">
	<h1>Troubleshooting Connection: Check Cable Connections</h1>
	<div id="ss_gc_cdm_Content">
		<p>Ensure that all the cables are connected properly.</p>
	</div>	
	<br/>
	<div id="ss_gc_cdm_dialogBubble" class="infoactionbox">
		<p><strong>Did you change any cable or network device connection?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input type="radio" name="bubble" id="bubble_yes" value="yes"/></td>
				<td width="99%"><label for="bubble_yes">Yes</label></td>
			</tr>
			<tr>
				<td><input type="radio" name="bubble" id="bubble_no" value="no"/></td>
				<td><label for="bubble_no">No</label></td>
			</tr>
		</table>
	</div>
</div>    
