<div id="ss_gc_ena_Prompt">
  <h1>Troubleshooting Connection: Enable Network Adapter</h1>
  <div id="ss_gc_ena_PromptContent">
		 <p>The network adapter is disabled.</p>
		 <p>Click <b>Next</b> to  enable the network adapter.</p>
		</div>
 </div>
 
  