<div id="ss_gc_ckc_Wrapper">
  <h1>Troubleshooting your connection: Check Cables</h1>
  <div id="ss_gc_ckc_Description"><p>Ensure that <b>all the cables are securely connected.</b> <p></div>
  <div id="ss_gc_ckc_Content"> 
		<ul>
			<li>In case the Ethernet cable is not connected to the computer or a loose connection, secure the cable connection</li>
			<li> For a network hub, verify that the cables are connected to the hub and the uplink button is switched on.
          Else, remove it from the network temporarily</li>
			
		</ul>
	</div>
  <div id="ss_gc_ckc_dialogBubble" class="infoactionbox">
		<p><strong>Did you modify any cable or network device connection?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input type="radio" name="bubble" id="bubble_yes" value="yes"/></td>
				<td width="99%"><label for="bubble_yes">Yes</label></td>
			</tr>
			<tr>
				<td><input type="radio" name="bubble" id="bubble_no" value="no"/></td>
				<td><label for="bubble_no">No</label></td>
			</tr>
		</table>
	</div>
</div>
  