<div id="ss_gc_bae_Prompt">
  <h1>Troubleshooting Connection: Bind Network Adapter to Nortel Networking Component</h1>
  <div id="ss_gc_bae_PromptContent">  
    <p>The network device and Nortel networking component are not bound. </p>
    <p>Click <b>next</b> to bind the network device and the Nortel networking component.</p>
  </div>
</div>
  