<div id="ss_gc_dun_fax_Wrapper">
    <div id="ss_gc_dun_fax_title"><h1>Troubleshooting Connection: Disable Fax Machine</h1></div>
    <div id="ss_gc_dun_fax_disablefax">
    <div><p> Disable any fax software installed on your computer as it can interfere with the installation.</p>
<p>Click <b>Next</b> to verify the network connection.
    </p>
    </div>
</div>           
