<div id="ss_gc_cks_Wrapper">
  <div id="ss_gc_cks_Header"><h1>Troubleshooting Connection: Check Wireless Signal</h1></div>
  <div id="ss_gc_cks_Content">
		<p>If using a wireless connection, ensure that the Ethernet or USB cables are connected directly to the computer. You can resume the wireless setup after successful installation.</p>
  </div>
  
  <div id="ss_gc_cks_dialogBubble" class="infoactionbox">
		<p><strong>Did you make any changes to your connection?</strong></p>
		<table cellpadding="2" cellspacing="0" width="90%" border="0">
			<tr>
				<td width="1%"><input id="bubble_yes" type="radio" name="bubble" value="yes"/></td>
				<td width="99%"><label for="bubble_yes">Yes</label></td>
			</tr>
			<tr>
				<td><input id="bubble_no" type="radio" name="bubble" value="no"/></td>
				<td><label for="bubble_no">No</label></td>
			</tr>
		</table>
	</div>
</div>
  