<div id="ss_gc_rm_Wrapper">
  <div id="ss_gc_rm_PromptHeader"><h1>Troubleshooting Connection: Restart Modem</h1></div>
  <div id="ss_gc_rm_PromptContent">
		<p>%MACRO:PRODUCT% wizard will now attempt to restart your modem.</p>
		<p>Click <b>Next</b> to restart your modem.</p>
	</div>
</div>
