<div id="ss_gc_dun_odf_Wrapper">
	<div id="ss_gc_dun_odf_title"><h1>Troubleshooting Connection: Check Dialup Networking Settings</h1></div>
	<div id="ss_gc_dun_odf_Content">
		<div id="ss_gc_dun_odf_failed">
			<p><strong>Instructions to recover your password:</strong></p>
			<p>If you lost the password of your internet connection, we can offer you a solution
			to recover it online. You just need to create a temporary connection with the following
			settings:</p>
			<ul>
				<li>Username (login): xxx@yyy</li>
				<li>Password: zzz</li>
			</ul>
			<p>As soon as the connection is established, open your browser and type this URL www.xxxyyyzz.com.</p>
			<p>Just follow the instructions step by step to recover your own settings and be capable to re-establish your internet connection.</p>			
			<p>If you prefer, you may also call us at 650-555-5555. Make sure you have your latest telephone bill at hand.</p>			
			<p>If you don't have your bill at hand, we invite you to go to one of the Point of Sales to get a new password in complete security.</p>
		</div>
	</div>
	<!-- content -->
</div>
<!-- wrapper -->
