<div id="ss_gc_bda_Prompt">
  <h1>Troubleshooting Connection: Bind Network Adapter to TCP/IP</h1>
 
  <div id="ss_gc_bda_PromptContent">
    <p>
You cannot access the internet as one or more of your network adapters are not assigned a proper communication protocol. </p>
    <p>Click <b>Next</b> to assign proper communication protocols to your network adapters.</p></div>
   
</div>
 