<div id="ss_gc_dp_Wrapper">
  <div id="ss_gc_dp_Header"><h1>Troubleshooting Internet Connection: Disable Proxy</h1></div>
  <div id="ss_gc_dp_Content">
   <P>%MACRO:PRODUCT% has detected that your browser is not configured properly.</p>
<p>It will automatically close all open Firefox/Known browser windows to facilitate these changes.</p>
 <br/>
   <p>Click <b>Next</b> to correct this problem.</p></div>
</div>
  