<div id="ss_gc_tc">
	<div id="ss_gc_tc_Header"><h1>Internet Connectivity</h1></div>
	<div id="ss_gc_tc_Content" class="working">		
		<div id="ss_gc_tc_testing" style="display:none;">Testing connection to Internet...</div>
		<div id="ss_gc_tc_fixing" style="display:none;">Fixing connection to Internet...</div>
	</div>
	<div id="ss_gc_tc_usercreds" style="display:none;">
		<div class="clsPageContent">
			<div id="ss_gc_tc_user1">
				<p>%MACRO:PRODUCT% was unable to fix internet connection. 
				Since you are connecting using a modem application could try setting username and password for this account.</p>
			</div>
			<div class="infoactionbox">
				<div id="ss_gc_tc_enterpwd"><p>If you know the credentials please enter them below and click <b>Retry</b>.</p></div>
				<table cellpadding="2" cellspacing="0" width="90%" border="0">
					<tr>
						<td>User Name:</td>
						<td><input class="textbox" type="text" id="username" name="adminname"/></td>
					</tr>
					<tr>
						<td>User Password:</td>
						<td><input class="textbox" type="password" id="userpass" name="adminpass"/>
						</td>
					</tr>
				</table>
			</div>			
			<div id="ss_gc_tc_getassistance"><p>If you do not know the user credentials click <b>Next</b> to proceed.</p></div>
		</div>
	</div>
	<div id="ss_gc_tc_Widgets"></div>
</div>
