<div id="ss_gc_fail_Wrapper">
	<div id="ss_gc_fail_Header">		
    <span id="ss_gc_fail_header_text"><h1>Troubleshooting Internet Connection: Could Not Connect</h1></span>
  </div>
	<div id="ss_gc_fail_Detail"><p>%MACRO:PRODUCT% wizard was unable to resolve your network problems.</p></div>
	<div id="ss_gc_fail_Content"></div>
</div>
