<div id="ss_gc_hie_Wrapper">
	<div id="ss_gc_hie_Header"><h1>Troubleshooting Connection: Restore Internet Explorer Settings</h1></div>
	<div class="working">
		<div id="ss_gc_hie_Progress">Restoring Internet Explorer settings ...</div>
	</div>
</div>