<h1>Installation Information</h1>
<p></p>
<%  var name= data["FlashPath"];  %>

<div class="frscrollarea" id="sa_fr_Content">
 <div id="sa_fi_flash">
  <object id="sa_flashintro" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
    width="99%" height="100%" id="flash" align="middle" VIEWASTEXT>
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="movie" value="<%= FlashPath %>/flash/subagent_intro.swf" />
    <param name="Play" value="true" />
    <param name="Loop" value="false" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />

  </object>
  </div>
</div>