<%  var name= data["SaveimgPath"];  %>

<iframe id="print_frame" width="0" height="0"></iframe>

<h1>License Agreement</h1>
<p>Please accept the following license agreement and press <b>Next</b> to continue.</p>

<div class="frscrollarea2" id="frscrollarea2">
    <p style="text-align:center; font-weight:bold;">END USER LICENSE AGREEMENT</p>
    <p style="text-align:center; font-weight:bold;">IMPORTANT NOTICE<br>READ THIS AGREEMENT CAREFULLY 
    BEFORE OPENING OR INSTALLING THIS SOFTWARE</p>

<P>THIS END USER LICENSE AGREEMENT IS A BINDING, CONTRACTUAL AGREEMENT (THE <b>"AGREEMENT"</b>) BETWEEN 
YOU (<b>"YOU"</b> OR <b>"LICENSEE"</b>) AND SUPPORTSOFT, INC. (<b>"LICENSOR"</b>). THE SOFTWARE PRODUCT (AS DEFINED BELOW) 
CONTAINS CERTAIN COMPUTER PROGRAMS, DOCUMENTATION, OR OTHER PROPRIETARY MATERIAL THAT BELONG TO LICENSOR 
AND ITS SUPPLIERS.  YOUR USE OF THE SOFTWARE PRODUCT IS SUBJECT TO YOUR ACCEPTANCE OF THE TERMS AND 
CONDITIONS OF THIS AGREEMENT. </P> 

<P>PLEASE READ THIS AGREEMENT CAREFULLY.  BY CLICKING ON THE <b>"ACCEPT"</b> BUTTON OR OTHERWISE INSTALLING OR 
USING THE SOFTWARE PRODUCT, YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT, UNDERSTAND IT, AND 
AGREE TO BE BOUND BY IT.  IF YOU DO NOT AGREE TO ANY OF THE TERMS BELOW, YOU SHOULD CLICK ON THE <b>"CANCEL"</b> 
BUTTON AND NOT INSTALL OR USE THE SOFTWARE PRODUCT. IF YOU ARE PROCURING THIS LICENSE ON BEHALF OF AN 
ENTITY OR ORGANIZATION, YOU REPRESENT AND WARRANT THAT YOU ARE AUTHORIZED TO ENTER INTO THIS AGREEMENT 
ON BEHALF OF SUCH ENTITY OR ORGANIZATION.</P>

<P>IN ADDITION, BY INSTALLING OR OTHERWISE USING ANY SOFTWARE PRODUCT UPDATES THAT YOU RECEIVE
 <B>("UPDATES")</B>, YOU AGREE TO BE BOUND BY ANY ADDITIONAL LICENSE TERMS THAT ACCOMPANY SUCH UPDATE.  
 IF YOU DO NOT AGREE TO SUCH ADDITIONAL LICENSE TERMS, DO NOT INSTALL OR USE SUCH UPDATES. </P> 

<p>The term <b>"Software Product"</b> means all copies of this computer program which you are accessing, 
installing, using, downloading, copying, or otherwise benefiting from, and any updates, modified versions, 
upgrades, updates, additions, and copies of such software, all of the foregoing in any format including, 
but not limited to, the format of a temporary plug-in, and all documentation provided to you related to 
any of the foregoing.</p>

<p>1. OWNERSHIP.<br> 

This Software Product is licensed (not sold) to you. Licensor and its suppliers retain all copyright, trade secret, trademark, patent and other proprietary rights in the Software Product.  Your license confers no title to, or ownership in, the Software Product and Licensor reserves all rights not expressly granted to you.</p>

<p>2. AUTHORIZED USE. <br> 

Subject to the terms of this Agreement, Licensor grants to you a nonexclusive, nontransferable, nonsublicensable, limited license to use the Software Product on a single computer only for your own, personal use.  You may make one (1) copy of the Software Product for back-up purposes only.  The Software Product may not be shared, installed, or used concurrently on different computers.</p>

<p>3. RESTRICTIONS.  <br>

Licensee shall not (and shall not allow any third party to) (i) decompile, disassemble, or otherwise reverse engineer or attempt to reconstruct or discover any source code, underlying ideas, or interoperability interfaces of the Software Product by any means whatsoever; (ii) remove any product identification, copyright or other notices; (iii) provide, lease, lend, use for timesharing, service bureau or hosting purposes or otherwise use the Software Product to or for the benefit of third parties; (iv) modify, adapt, alter, translate or incorporate into or with other software or create a derivative work of any part of the Software Product; (v) disclose information or analysis (including, without limitation, benchmarks) regarding the quality or performance of the Software Product; or (vi) resell, sublicense, distribute, or transfer the Software Product or any component thereof to any third party.   Notwithstanding the foregoing, decompiling the Software Product is permitted to the extent the laws of Licensee’s jurisdiction give Licensee such right; provided, however, that Licensee must first request such information from Licensor and Licensor may, in its discretion, provide such information and impose reasonable conditions on such use of the Software Product to ensure Licensor’s proprietary rights in the Software Product are protected.  Licensee must reproduce and include the copyright notice and other proprietary notices that appear on the original Software Product on any copies and any media thereof made in accordance with the terms of this Agreement.</p>

<p>4. NO WARRANTY.<br>

TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SOFTWARE PRODUCT IS PROVIDED "AS IS" WITH ALL FAULTS AND WITHOUT WARRANTY OF ANY KIND. LICENSEE AGREES THAT ALL RISK PERTAINING TO THE USE OF THE SOFTWARE PRODUCT IS ASSUMED BY LICENSEE.  LICENSOR AND ITS SUPPLIERS EXPRESSLY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING WITHOUT LIMITAITON, ANY IMPLIED WARRANTIES OF NONINFRINGEMENT, TITLE, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. LICENSOR DOES NOT WARRANT THAT THE SOFTWARE PRODUCT IS ERROR-FREE OR THAT OPERATION OF THE SOFTWARE PRODUCT WILL BE SECURE OR UNINTERRUPTED.  NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY LICENSOR OR SUPPLIER OR THEIR EMPLOYEES OR AGENTS WILL CREATE A WARRANTY OR IN ANY WAY INCREASE THE SCOPE OF ANY WARRANTY PROVIDED HEREIN. CERTAIN JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU. </p>

<p>5. TERM AND TERMINATION.<br>

The term of this Agreement will continue indefinitely until terminated pursuant to this Section 5.  This Agreement shall immediately terminate upon Licensee's breach of the Agreement. All provisions except Section 2 shall survive termination.  Upon termination, Licensee shall immediately cease all use of the Software Product and return or destroy all copies of the Software Product and all portions thereof. Termination is not an exclusive remedy and all other remedies will be available whether or not this Agreement is terminated.</p>

<p>6. LIMITATION OF LIABILITY. <br>

TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL LICENSOR OR ITS SUPPLIERS BE LIABLE TO YOU, OR ANY OTHER PERSON OR ENTITY, FOR ANY INDIRECT, INCIDENTAL, COVER, SPECIAL, STATUTORY, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF PROFITS OR DATA WHATSOEVER, ARISING FROM OR RELATED TO THIS AGREEMENT OR YOUR USE OR RELIANCE UPON THE SOFTWARE PRODUCT, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR IF SUCH DAMAGES ARE FORESEEABLE.  IN NO EVENT WILL LICENSOR OR ITS SUPPLIERS BE LIABLE TO YOU OR ANY OTHER PERSON OR ENTITY WHETHER UNDER CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR ANY OTHER LEGAL OR EQUITABLE THEORY FOR ANY AMOUNTS IN EXCESS OF  $150U.S.  SUCH LIMITATION SHALL APPLY NOTWITHSTANDING A FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY LAW. CERTAIN JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
 
<p>7. GENERAL PROVISIONS.<br>

7.1 Waiver and Remedies.  Any waiver or failure to enforce any provision of this Agreement on one occasion will not be deemed a waiver of any other provision or of such provision on any other occasion.  The remedies under this Agreement shall be cumulative and not alternative and the election of one remedy for a breach shall not preclude pursuit of other remedies unless as expressly provided in this Agreement. </p>

<p>7.2 Governing Law.  This Agreement shall be governed in all respects by the substantive laws of the State of California, United States of America, without reference to any conflicts of law principles that would require the application of the laws of any other jurisdiction.  The parties agree that the U.N. Convention on Contracts for the International Sale of Goods will not apply to this Agreement. Any action or proceeding arising from or relating to this Agreement shall be subject to the exclusive jurisdiction of the state or federal courts in San Francisco, California, and the parties agree to submit to the personal and exclusive jurisdiction and venue of these courts.  Notwithstanding the foregoing, Licensor may bring an action to protect or enforce its intellectual property rights in any applicable jurisdiction. </p>   

<p>7.3 No Export.  Licensee will not remove or export from the United States or reexport from anywhere any part of the Software Product or any direct product thereof except in full compliance with and with all applicable export laws and regulations, including without limitation, those of the U.S. Department of Commerce.  Licensee warrants that it is not on the United States’ prohibited party list and is not located in or a national resident of any country on the United States’ prohibited country list.  Licensee acknowledges that the Software Product contains encryption technology, export of which is restricted by the U.S. and certain foreign laws. </p> 
<p>7.4 U.S. Government Procurements.  The Software Product qualifies as “commercial computer software” and the associated documentation qualifies as “commercial computer software documentation” within the meaning of the 48 C.F.R. 2.101.  Consistent with 48 C.F.R. 12.212 and 48 C.F.R. 227.7202-1 through 227.7202-4, all U.S. Government end users acquire the Software Product and its documentation with only those rights set forth in this Agreement.  </p>
<p>7.5 Relationship. Neither party is, nor represents itself to be, an agent, employee, partner or joint venturer of the other, nor will either party transact any business on the other's behalf, nor in any form make promises, representations or warranties that incur any liability for or on behalf of the other party. </p>

<p>7.6 Severability.  If any covenant set forth in this Agreement is determined by any court to be unenforceable by reason of its extending for too great a period of time or by reason of it being too extensive in any other respect, such covenant shall be interpreted to extend only for the longest period of time and to otherwise have the broadest application as shall be enforceable.  The invalidity or unenforceability of any particular provision of this Agreement shall not affect the other provisions hereof, which shall continue in full force and effect.</p>

<p>7.7 Privacy.  One of the uses of the Software Product may be to collect information from, control and/or monitor computers running the Software Product in conjunction with services you may obtain from SupportSoft or one of its business partners.  Any information collected from your computer will be handled in accordance with the privacy policy applicable to the performance of those services.</p>

<p>7.8 Compliance with Laws.  Licensee shall comply with all laws and regulations applicable to this Agreement or the transactions contemplated hereby. </p>

<p>7.9 Assignment. You may not assign this Agreement without the prior written consent of Licensor.</p>

<p>7.10 Entire Agreement; Conflict.  This Agreement constitutes the complete, final and exclusive statement of the terms of the Agreement between the parties pertaining to the subject matter hereof and supersedes all prior agreements, understandings, negotiations and discussions of the parties.  No modification or rescission of this Agreement shall be binding unless executed in writing by an authorized person of the party to be bound thereby.  Any different or additional terms of any related purchase order, confirmation, invoice, or similar form shall have no force or effect.</p>

<p>--------------------------------------------------------------------------------------------</p>

<p>REMOTE CONTROL LICENSE</p>


<p>SupportSoft's Remote Assistant software product is aggregated with code that is available for general use under the terms and conditions of the GNU General Public License (such code shall be referred to as the "Program"). The Program has been modified by SupportSoft and is being provided in object code form. Machine-readable source code of the Program that is subject to the GNU General Public License will be provided at no charge (other than to perform the source distribution) upon written request to SupportSoft, Inc. no later than three (3) years after you have initially received the Program from SupportSoft. You may copy and distribute verbatim copies of the Program provided that you conspicuously and appropriately publish on each copy an appropriate copyright notice and disclaimer of warranty; keep intact all the notices that refer to the software license and to the absence of any warranty; and give any other recipients of the Program a copy of the software GNU General Public License along the program. For further details, please refer to the GNU General Public license provided with the software or online at http://www.gnu.org/licenses/gpl.html. </p>


<p>COPYRIGHT NOTICES AND ACKNOWLEDGEMENTS</p>


<p>This distribution is based on code generated from WinVNC by James Weatherall and includes contributions from the following authors:</p>


Copyright (C) 1999 AT&T Laboratories Cambridge.<br>

Copyright (C) 2000 Tridia Corp.<br>

Copyright (C) 2002 RealVNC Ltd.<br>

Copyright (C) 2000,2001,2002 Constantin Kaplinsky.<br>

Copyright (C) 2001,2002 HorizonLive.com, Inc.<br>

Copyright (C) 2003 SupportSoft, Inc.<br>

All rights reserved.<br>


<p>The Program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.</p>


<p>This Program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>


<p>This distribution contains code generated from the public domain DES Software by Richard Outerbridge. This is: Copyright (c) 1988,1989,1990,1991,1992 by Richard Outerbridge. (GEnie : OUTER; CIS : [71755,204]) Graven Imagery, 1992.</p>


<p>This distribution contains code generated from the Java DES software by Dave Zimmerman (dzimm@widget.com) and Jef Poskanzer (jef@acme.com). This is: Copyright (c) 1996 Widget Workshop, Inc. All Rights Reserved.</p>


<p>Permission to use, copy, modify, and distribute this software and its documentation for NON-COMMERCIAL or COMMERCIAL purposes and without fee is hereby granted, provided that this copyright notice is kept intact.</p>


<p>WIDGET WORKSHOP MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. WIDGET WORKSHOP SHALL NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.</p>


<p>THIS SOFTWARE IS NOT DESIGNED OR INTENDED FOR USE OR RESALE AS ON-LINE CONTROL EQUIPMENT IN HAZARDOUS ENVIRONMENTS REQUIRING FAIL-SAFE PERFORMANCE, SUCH AS IN THE OPERATION OF NUCLEAR FACILITIES, AIRCRAFT NAVIGATION OR COMMUNICATION SYSTEMS, AIR TRAFFIC CONTROL, DIRECT LIFE SUPPORT MACHINES, OR WEAPONS SYSTEMS, IN WHICH THE FAILURE OF THE SOFTWARE COULD LEAD DIRECTLY TO DEATH, PERSONAL INJURY, OR SEVERE PHYSICAL OR ENVIRONMENTAL DAMAGE ("HIGH RISK ACTIVITIES"). WIDGET WORKSHOP SPECIFICALLY DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTY OF FITNESS FOR HIGH RISK ACTIVITIES.</p>


<p>Copyright (C) 1996 by Jef Poskanzer <jef@acme.com>.All rights reserved.</p>


<p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:<br>

1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.<br>

2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</p>


<p>THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>


<p>Visit the ACME Labs Java page for up-to-date versions of this and other fine Java utilities: http://www.acme.com/java/</p>

--------------------------------------------------------------------------------------------<br>

<p>This software is based in part on the work of the Independent JPEG Group's libjpeg software. Copyright © 1991-1998, Thomas G. Lane.</p>


<p>Includes code from zlib 1.1.4. Copyright © 1995-2002 Jean-Ioup Gaily and Mark Adler.</p>


    </div><center>
<div class="popupfirstrun" id="popupfirstrun" style="display:none;">
  <p class="popupsuccess">The information has been saved to your desktop as <strong>EULA.html</strong></p>
</div>

    <div id="sta_eula">
      <input id="cl_fr_eula_accept" type="radio" name="HitYes" value="HitYes">
        <label id="cl_fr_eula_accept_txt" for="cl_fr_eula_accept" class="clsRadioButton">I Accept
        </label>
      </input>
      <input id="cl_fr_eula_decline" type="radio" name="HitNo" value="HitNo">
        <label id="cl_fr_eula_decline_txt" for="cl_fr_eula_decline" class="clsRadioButton">I Do Not Accept
        </label>
      </input>
        
    </center>
    </div>
