<div id="sta_perormflater">

  <div id="snap_firstrun_accountinfo_performlater_wrapper" class="clsPageWrapper">
    <div id="snap_firstrun_accountinfo_performlater_h1" class="clsPageHeader">Verify Account Information Later</div>
    <div id="snap_firstrun_accountinfo_performlater_msg" class="clsPageContent">Your account information must be verified later, after you have connected to the Internet.</div> 
    <div id="ContinueStatement" class="clsContinue"></div>
  </div>

</div>