<%  var name= data["AppName"];  %>

<h1><%= AppName %> Setup</h1>
<p></p>
<div class="frscrollarea" id="sa_fr_Content">    
  <p>Before you proceed with downloading and installing software, make sure you configure the following:</p>
  <UL>
    <LI>Accept the terms and conditions for using this software</LI>
    <LI>Modify your firewall settings to allow updates from the server </li>
    <LI>Start the Desktop Support Service</li>
    <LI>Enter your contact information and activate your account</li>
  </UL>
  <p>This process should only take a few minutes to unlock the powerful features of <%= AppName %>.</p></center>
</div>
