<h1>Congratulations</h1>
<p></p>
<div class="frscrollarea" id="sa_fr_Content">
You have successfully configured the %LOCG:glb_lbl_DM%.  You may now start to use the %LOCG:glb_lbl_DM% whenever you want to:
    <ul>
      <li>Delivers software to your computer over the internet, faster than a browser</li>
      <li>Resumes your download if your internet connection fails, instead of having to start your download all over again</li>
      <li>Installs prerequisite software required to run certain applications</li>
      <li>Installs mandatory software without user intervention</li>
      <li>Contact your support provider regarding your applications or service</li>        
    </ul>
</div>