/* 03 December 2008 */
#systemtools {
	overflow:hidden;
	height:324px;
	padding:0px;
	margin:0px;
}

#systemtools .pageheading {
	display:block;
	overflow:hidden;
	height:50px;
	margin-left:0px;
	margin-right:10px;
	margin-top:3px;
}

#systemtools .pageheading .icon {
	float:left;
}

#systemtools .pageheading .headcoltwo {
	float:left;
	margin:0px;
}

#systemtools .pageheading .headcoltwo h3 {
	padding-bottom:4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #015a98;
	margin:0px;
}

#systemtools .pageheading .headcoltwo p {
	margin:0px;
	color:#424242;
}


#systemtools .stcontent {
	height:240px;
	margin-left:20px;
	margin-right:10px;
	margin-top:10px;
	color:#595959;
}

#systemtools .stcontent p {
	margin:0px;
	padding-top:0px;
	padding-bottom:10px;
}

#systemtools .stcontent .working {
	color:#404040;
	background-color:#fcfcfc;
	border: 1px solid #d2d9de;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:30px;
	padding-right:8px;
	background-image: url(../images/loading_01.gif);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	margin-top:6px;
	margin-bottom:6px;
	height:15px;
}