/* SubscriberAgent getconnected Classes Start */
#snapin_getconnect #getconnectedmain {
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:0px;
	height:310px;
	overflow:hidden;
}

#snapin_getconnect #getconnectedmain form {
	margin:0px;
	padding:0px;
}

/* 20 December 2008 */
#snapin_getconnect #getconnectedmain #animarea {
	height:77px;
	padding-left:0px;
	overflow:hidden;
	margin-left:15px;
}

/* 20 December 2008 */
#snapin_getconnect #getconnectedmain #animarea .start {
	float:left;
}

/* 20 December 2008 */
#snapin_getconnect #getconnectedmain #animarea .gcanimicons {
	float:left;
	height:77px;
	width:76px;
}

/* 20 December 2008 */
#snapin_getconnect #getconnectedmain #animarea .gcanimconnectors {
	float:left;
	height:77px;
	width:60px;
}

/* 20 December 2008 */
#snapin_getconnect #getconnectedmain #animarea .gcanimconnectorsend {
	float:left;
	height:77px;
	width:6px;
}


#snapin_getconnect #getconnectedmain #gccontentarea {
	height:190px;
	padding-left:10px;
	padding-right:10px;
	overflow:auto;
	margin-top:18px;
	margin-bottom:4px;
  color: #646464;
}

/* 24 December 2008 */
#snapin_getconnect #getconnectedmain #gccontentarea .textlink {
	color:#015b99;
	font-weight:bold;
	text-decoration:underline;
}

/* 24 December 2008 */
#snapin_getconnect #getconnectedmain #gccontentarea .textlink:hover {
	text-decoration:none;
}



#snapin_getconnect #getconnectedmain #gccontentarea h1 {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #646464;
	padding-bottom:6px;
}

#snapin_getconnect #getconnectedmain #gccontentarea p {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #646464;
	padding-bottom:6px;
}

/* 20 December 2008 */
#snapin_getconnect #getconnectedmain #gccontentarea .success p {
	color:#404040;
}

#snapin_getconnect #getconnectedmain #gccontentarea ul {
	margin:0px;
	padding:0px;
	color: #515151;
}

#snapin_getconnect #getconnectedmain #gccontentarea ul li {
	padding-left:15px;
	background-image: url(../images/LinkFavorites_bull.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	padding-bottom:6px;
}

#snapin_getconnect #getconnectedmain #gccontentarea .working {
	color:#404040;
	background-color:#fcfcfc;
	border: 1px solid #d2d9de;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:30px;
	padding-right:8px;
	background-image: url(../images/loading_01.gif);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	margin-top:6px;
	margin-bottom:6px;
	height:15px;
}

#snapin_getconnect #getconnectedmain #gccontentarea .infoactionbox {
	color:#404040;
	background-color:#fcfcfc;
	border: 1px solid #d2d9de;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	margin-top:6px;
	margin-bottom:6px;
}


#snapin_getconnect #getconnectedmain #gccontentarea .infoactionbox .bullinstructions {
	background-image: url(../images/bull_arrow.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	padding-left:15px;
	white-space:pre;
}

#snapin_getconnect #getconnectedmain #gccontentarea .textbox {
	width:250px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	border: 1px solid #3b86ac;
}

#snapin_getconnect #getconnectedmain #gccontentarea .bigdropdown {
	width:450px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

#snapin_getconnect #getconnectedmain #gccontentarea .listtable th {
	background-color:#4d80ab;
	color:#fff;
}

#snapin_getconnect #getconnectedmain #gccontentarea .listtable td {
	background-color:#c9dced;
	color:#000000;
	border-bottom: 1px solid #93b7c9;
}

#snapin_getconnect #getconnectedmain #gccontentbuttonsarea {
	height:25px;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	text-align:right;
}

/* SubscriberAgent getconnected Right Column Classes Start */

#gcknowmoreright {
	padding:5px 5px 5px 5px;
}

#gcknowmoreright h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	margin:0px;
	background-image: url(../images/rtc_tab_bg_ck.gif);
	background-repeat: repeat-x;
	background-position: left top;
        height:18px;
	padding:5px 8px;
}

/* 20 December 2008 */
#gcknowmoreright h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #515151;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
	
}

#gcknowmoreright p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #515151;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
	padding-left:2px;
}

#gcknowmoreright p a {
	color:#015b99;
	text-decoration:underline;
	padding:0px;
}

#gcknowmoreright p a:hover {
	color:#000;
	text-decoration:none;
}

/* 07 Jan 09 */
#gcknowmoreright ul {
	margin:0px;
	padding:0px;
	padding-left:6px;
	color:#515151;
}

/* 07 Jan 09 */
#gcknowmoreright ul li {
	list-style-type: none;
	background-image: url(../images/bull_li.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	padding-left:10px;
}



#gcanimationright {
	padding:10px 10px 10px 10px;
}


#gcanimationright h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	margin:0px;
        padding-bottom:5px;
}

#gcanimationright p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #c5ecff;
	text-decoration: none;
	margin:0px;
	padding-bottom:5px;
        padding-left:2px;
}

#gcanimationright .animramegc {
	text-align:center;
}

#gccontentbuttonsarea img{
  height:20px;
  width:69px; 
  border:0px;
}