﻿@charset "utf-8";
/* CSS Document */

#snapin_trigger #triggerwindow form {
	margin: 0px;
	padding: 0px;
}

#snapin_trigger #triggerwindow #triggersubject {
	background-repeat: repeat-x;
	background-position: left top;
	padding-top:12px;
	padding-bottom:8px;
	padding-left:12px;
	padding-right:12px;
	text-decoration: none;
}

#snapin_trigger #triggerwindow #triggercontent {
	overflow:hidden;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:12px;
	padding-right:12px;
}

#snapin_trigger #triggerwindow #triggercontent p {
	margin:0px;
	padding-bottom:6px;
}

/* Similar to HR tag of Bootstrap but less of padding (border-top & border-bottom) */
#snapin_trigger #triggerwindow #triggercontent .hseparator {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
}

#snapin_trigger #triggerwindow .formdropdown {
  width: 150px;
  height: 28px;
}