<%
  var websiteURL = data["ootbURL"];
  var skinName = data["skinName"];
  var sChatUrl = $ss.agentcore.dal.config.GetConfigValue("preconfigured_snapin_url", "chat", "/chat");
  var bShowChat = NavigationController.IsUrlValid(sChatUrl);
  var lbl_UserPortalHead = _utils.LocalXLate("snapin_getassistance","snp_contact_lbl_UserPortalHead");
  var lbl_AssistHead = _utils.LocalXLate("snapin_getassistance","snp_contact_lbl_AssistHead");
%>
<div id="snapin_getassistance">
  <div class="cell-header"><span class="tab-menu-header">%LOCG:glb_lbl_get_assistance%</span></div>
  <!-- Online Resource: Start -->
  <div id="onlineResource" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
    <div class="panel-default-ss row-box-shadow ">
      <div class="panel-heading panel-dashboard-header-ss">
        <a hidefocus="true" href="#" class="contactusurl" displayurl="<%= websiteURL %>"><%= lbl_UserPortalHead %></a>
      </div>
      <div class="panel-tools-container-ss panel-widget-body-ss">
        <center>
          <a hidefocus="true" href="#" class="contactusurl" displayurl="<%= websiteURL %>"><i class="fa fa-laptop fa-5x"></i><br></a>
          <%= _utils.LocalXLate("snapin_getassistance","snp_contact_lbl_UserPortal_SpanDesc") %>
        </center>
      </div>
    </div>
  </div>
  <!-- Online Resource: End -->
  <!-- Online chat support: Start -->
  <%if(bShowChat){%>
  <div id="onlineChat" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
    <div class="panel-default-ss row-box-shadow ">
      <div class="panel-heading panel-dashboard-header-ss">
        <a hidefocus="true" href="#" class="navigate" onclick="chatOverlay.click();"><%= lbl_AssistHead %></a>
        
      </div>
      <div class="panel-tools-container-ss panel-widget-body-ss">
        <center>
          <a hidefocus="true" href="#" class="navigate" onclick="chatOverlay.click();"><img height="70" width="70" src="<%=$ss.GetLayoutSkinPath()%>\\icons\\chat_offline.png"><br></a>
          <%= _utils.LocalXLate("snapin_getassistance","snp_contact_lbl_AssistHead_SpanDesc") %>
        </center>
      </div>
    </div>
  </div>
  <%}%>
  <!-- Online chat support: End -->
  <!-- Voice Assist: Start -->
  <div id="voiceAssist" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
    <div class="panel-default-ss row-box-shadow ">
      <div class="panel-heading panel-dashboard-header-ss">
        <%= _utils.LocalXLate("snapin_getassistance","snp_contact_voiceassist_head") %>
      </div>
      <div class="panel-tools-container-ss panel-widget-body-ss">
        <center>
          <i class="fa fa-phone fa-5x"></i><br>
          <%= _utils.LocalXLate("snapin_getassistance","snp_contact_lbl_SiCodeHead_SpanDesc") %><br>
          <a hidefocus="hidefocus" id="voice_assist" class="btn btn-primary-ss btn-xs" href="#">
            <%= _utils.LocalXLate("snapin_getassistance","snp_contact_lbl_generate_code") %>
          </a>
          <div class="code">
            <div id="code_status" style="DISPLAY : none">
              <img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\loader.gif">&nbsp;
              <%= _utils.LocalXLate("snapin_getassistance","snp_contact_checking_conectivity") %>
            </div><br>
            <div id="code_display"></div><br>
          </div>
        </center>
      </div>
    </div>
  </div>
  <!-- Voice Assist: End -->
</div>