<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%
  var surveyData = data["surveyData"];
%>
<body onload="snp_survey_onload();" onunload="snp_survey_unload();">
  <div id="survey" class="surveydiv">
    <table class="alternatelisttable" id="dynamictable">
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="submitsection">
    <input id="btnSubmitSurvey" name="btnSubmitSurvey" class="brand_button" type="button" onclick="snp_survey_submit();" /><br />
    <label class="textstyle" id="lblTicketMsg"></label>
    <div class="ticketdiv">
      <label class="" id="ticketCreationMessage"></label>
    </div>
  </div>
</body>
<head title="Survey">
    <script src="..\resource\jquery-1.8.2.js"></script>
    <script src="..\resource\json2.js"></script>
    <script type="text/javascript">
      var data = window.opener.data;
      var $ = data.shell.$;
      var $ss = data.shell.$ss;
      var MVC = data.shell.MVC;
    //Survey Feature Starts
    var arrData = [];

    if ("object" === typeof (data.surveyData)) {
      arrData.push(data.surveyData);
    }

    //to disable Ctrl+F, Ctrl+O,Ctrl+P
    document.onkeydown = function () {
      var code = event.keyCode;
      if (((code == 70) || (code == 78) || (code == 79) || (code == 80)) && (event.ctrlKey) || (code > 111 && code < 124)) {
        event.cancelBubble = true;
        event.returnValue = false;
        event.keyCode = false;
        return false;
      }
    }
    var window_title = $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_TITLE");
    var snapinPath = $ss.GetSnapinAbsolutePath("snapin_survey");
    var linkPath = snapinPath + $ss.agentcore.dal.config.ExpandAllMacros("\\skins\\%SKINNAME%\\css\\popup_survey.css");
    
    //Survey Feature Starts
    var bMac = $ss.agentcore.utils.IsRunningInMacMachine();
    var needToClose = true;
    var rating = "";
    var submitButtonClicked = true;
    var dictRating = {};
    var dictSolved = {};
    var dictSurveySubmitButtonClicked = {};
    var solved = "1";
    var logged = false;
    var _SAStatus = {
      UNDEFINED_CODE: -1,
      iSASuccess: 0,
      iSAFailure: 1,
      iSAError: 2,
      iSAUnknown: 3,
      isAAbort: 4
    };
    document.title = window_title;
    $("head", this.document).append('<link rel="stylesheet" href="' + linkPath + '" id="layout_style_faq" type="text/css" media="screen" > ');

    function CreateDynamicTable() {
      var tableBody = document.getElementById("dynamictable").getElementsByTagName('tbody')[0];
      if (data.surveyData != null && data.surveyData.length > 0) {
        var solutionName = "";
        for (var i = data.surveyData.length - 1; i >= 0; i--) {
          solutionName = data.surveyData[i].title;
          var statusHTML = "";
          var row = tableBody.insertRow(0);
          row.className = "tablerow";
          var cell1 = row.insertCell(0); //No.
          var cell2 = row.insertCell(1); //Solutions
          var cell3 = row.insertCell(2); //Rating
          var cell4 = row.insertCell(3); //Status
          var cell5 = row.insertCell(4); //Solved
          cell1.innerHTML = i + 1;
          cell1.id = "surveyLength_" + i;

          var sImgPath = snapinPath + $ss.agentcore.dal.config.ExpandAllMacros("\\skins\\%SKINNAME%\\images\\");

          if (bMac) {  
            sImgPath =  sImgPath + "/";
   
          }
          var crossImagePath = sImgPath + "cross.png";
          var tickImagePath = sImgPath + "tick.png";
          var abortImagePath = sImgPath + "abort.png";
          statusHTML = '<img src="' + tickImagePath + '" height="40%" width="40%"/>';

          switch (parseInt(data.surveyData[i].result)) {
            case _SAStatus.iSAError:
              statusHTML = '<img src="' + crossImagePath + '" height="40%" width="40%"/>';
              break;
            case _SAStatus.iSASuccess:
              statusHTML = '<img src="' + tickImagePath + '" height="40%" width="40%"/>';
              break;
            case _SAStatus.UNDEFINED_CODE:
              statusHTML = '<img src="' + crossImagePath + '" height="40%" width="40%"/>';
              break;
            case _SAStatus.iSAFailure:
              statusHTML = '<img src="' + abortImagePath + '" height="40%" width="40%"/>';
              break;
            case _SAStatus.isAAbort:
              statusHTML = '<img src="' + abortImagePath + '" height="40%" width="40%"/>';
              break;
          }
          cell2.innerHTML = solutionName;
          cell2.id = "solution_" + data.surveyData[i].guidContent;

          //code for text aligned below radio button
          var htmlRatingStr = '<table><tr><span class="starRating" id=starratingSpan_' + i + '><td><input id="rating1_' + i + '" type="radio" name="rating_' + i + '"value="1"/><br/><label for="rating1_' + i + '">1</label></td><td><input id="rating2_' + i + '" type="radio" name="rating_' + i + '"value="2"></br><label class="inlineLabel" for="rating2_' + i + '">2</label></td><td><input id="rating3_' + i + '" type="radio" name="rating_' + i + '"value="3"><br/><label class="inlineLabel" for="rating3_' + i + '">3</label></td><td><input id="rating4_' + i + '" type="radio" name="rating_' + i + '" value="4"><br/><label  class="inlineLabel" for="rating4_' + i + '">4</label></td><td><input id="rating5_' + i + '" type="radio" name="rating_' + i + '"value="5" checked="checked"><br/><label class="inlineLabel" for="rating5_' + i + '">5</label></td></span></tr></table>';
          cell3.innerHTML = htmlRatingStr;
          cell1.className = "column1";
          cell2.className = "column2";
          cell3.className = "column3";
          cell4.innerHTML = statusHTML;
          cell4.className = "column4";

        if ((parseInt(data.surveyData[i].result) == _SAStatus.iSAFailure) || (parseInt(data.surveyData[i].result) == _SAStatus.isAAbort)) {
          cell5.innerHTML = '<input type="radio" name="solved' + i + '" value="1" style="visibility:hidden"/><input type="radio" name="solved' + i + '" value="0" style="visibility:hidden"/>';
        }
        else if ((parseInt(data.surveyData[i].result) == _SAStatus.UNDEFINED_CODE) || (parseInt(data.surveyData[i].result) == _SAStatus.iSAError)) {
          cell5.innerHTML = '<input type="radio" name="solved' + i + '" value="1" /> ' + $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_RADIO1") + ' <input type="radio" name="solved' + i + '" value="0" checked="checked"/> ' + $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_RADIO2");
        }
        else {
          cell5.innerHTML = '<input type="radio" name="solved' + i + '" value="1" checked="checked"/> ' + $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_RADIO1") + ' <input type="radio" name="solved' + i + '" value="0" /> ' + $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_RADIO2");
        }
        cell5.className = "column5";

        dictRating[data.surveyData[i].guidContent] = 0;
        dictSolved[data.surveyData[i].guidContent] = -1;
        dictSurveySubmitButtonClicked[data.surveyData[i].guidContent] = false;
      }
    }
    var tableHead = document.getElementById("dynamictable").getElementsByTagName('thead')[0];
    var row = tableHead.insertRow(0);
    var cellHeader1 = row.insertCell(0); //No
    var cellHeader2 = row.insertCell(1); //Solutions
    var cellHeader3 = row.insertCell(2); //Rating
    var cellHeader4 = row.insertCell(3); //Status
    var cellHeader5 = row.insertCell(4); //Solved
    row.className = "tableheader";
    cellHeader1.innerHTML = $ss.agentcore.utils.LocalXLate("snapin_survey", "SOLUTIONSNO");
    cellHeader2.innerHTML = $ss.agentcore.utils.LocalXLate("snapin_survey", "SOLUTIONS");
    cellHeader3.innerHTML = $ss.agentcore.utils.LocalXLate("snapin_survey", "RATING");
    cellHeader4.innerHTML = $ss.agentcore.utils.LocalXLate("snapin_survey", "STATUS");
    cellHeader5.innerHTML = $ss.agentcore.utils.LocalXLate("snapin_survey", "SOLVED");
    cellHeader1.className = "column1";
    cellHeader2.className = "column2";
    cellHeader3.className = "column3";
    cellHeader4.className = "column4";
    cellHeader5.className = "column5";
  }

  function snp_survey_onload() {
    CreateDynamicTable();
    var disableTicketButton = true;

    for (var i = 0; i < data.surveyData.length; i++) {
      if (data.surveyData[i].result == _SAStatus.iSAError ||
          data.surveyData[i].result == _SAStatus.UNDEFINED_CODE ||
          data.surveyData[i].result == _SAStatus.iSAFailure
        ) {
        disableTicketButton = false;
        break;
      }
    }

    if (disableTicketButton) {
      $("#btnCreateTicket", this.document).attr("disabled", true);
    }

    $("#surveyheaderline", this.document).text($ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_MESSAGE"));
    $("#snp_survey_question", this.document).text($ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_QUESTION"));
    $("#snp_survey_radio_1_text", this.document).html("&nbsp;<strong>" + $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_RADIO1") + "</strong>");
    $("#snp_survey_radio_2_text", this.document).html("&nbsp;<strong>" + $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_RADIO2") + "</strong>");
    $("#snp_survey_rate_question", this.document).html("<strong>" + $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_RATE_QUESTION") + "</strong>");
    $("#snp_survey_rating_help", this.document).html("<strong>" + $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_RATE_HELP") + "</strong>");
    $(".one-star", this.document).attr("title", $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_STAR1"));
    $(".two-stars", this.document).attr("title", $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_STAR2"));
    $(".three-stars", this.document).attr("title", $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_STAR3"));
    $(".four-stars", this.document).attr("title", $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_STAR4"));
    $(".five-stars", this.document).attr("title", $ss.agentcore.utils.LocalXLate("snapin_survey", "SURVEY_STAR5"));

    $("#lblTicketMsg", this.document).attr("innerText", $ss.agentcore.utils.LocalXLate("snapin_survey", "TICKET_MESSAGE"));
    $("#lblTicketMsg", this.document).attr("class", "textstyle");

    $("#btnSubmitSurvey", this.document).attr("value", $ss.agentcore.utils.LocalXLate("snapin_survey", "SUBMIT_SURVEY"));
    $("#btnCreateTicket", this.document).attr("class", "brand_button");

    $("#btnCreateTicket", this.document).attr("value", $ss.agentcore.utils.LocalXLate("snapin_survey", "CREATE_TICKET"));
    $("#btnCreateTicket", this.document).attr("class", "ticket_button");
  }

  function snp_survey_unload() {
    if (!logged) {
      submitButtonClicked = false;
            if (bMac) {
                needToClose = false;
            }
      snp_survey_submit();
    }
  }

  function snp_survey_submit() {
    try {
      var arrData = [];
      if ("object" === typeof (data.surveyData)) {
        arrData.push(data.surveyData);
      }
      else
        if ("array" === typeof (data.surveyData)) {
          arrData = data.surveyData;
        }
        getSolutionsReviewRating();
        var sFeed = $("#feedback", this.document).val() ? $("#feedback", this.document).val() : "";
        for (var i = 0; i < arrData.length; i++) {
          var surveyData = arrData[i];
          for (var j = 0; j < surveyData.length; j++) {
            var objSurveyData = surveyData[j];
            rating = dictRating[objSurveyData.guidContent];
          }
      }
      $ss.agentcore.dal.databag.SetValue("dictRating", JSON.stringify(dictRating));
      $ss.agentcore.dal.databag.SetValue("dictSolved", JSON.stringify(dictSolved));
      $ss.agentcore.dal.databag.SetValue("dictSurveySubmitButtonClicked", JSON.stringify(dictSurveySubmitButtonClicked));
      logged = true;
      submitButtonClicked = true;
    }
    catch (ex) {}
    finally {
            if (bMac) {
                if (needToClose) {
                    window.close();
                }
            }else {
      window.close();
    }
  }
}
  function getSolutionsReviewRating() {
      var table = document.getElementById("dynamictable");
      if (table) {
        for (var i = 0, row; row = table.rows[i]; i++) {
          //iterate through rows
          //rows would be accessed using the "row" variable assigned in the for loop
          //As row 0 is a header, we dont need to itterate through
          if (i != 0) {
            var solutionId = "";
            for (var j = 0, col; col = row.cells[j]; j++) {
              //iterate through columns
              //columns would be accessed using the "col" variable assigned in the for loop
              //solution name will be present in the first set of column and the 0 - for to avoid headers
              if (j == 1) {
                solutionId = col.id.replace('solution_', '');
                dictSurveySubmitButtonClicked[solutionId] = submitButtonClicked;
              }
              //find checked check box for finding rating and initialize it against the solution to log it
              if (j == 2) {
                var inputLength = col.getElementsByTagName("INPUT").length;
                for (var k = 0; k < inputLength; k++) {
                  //get the rating from checked radio
                  if (col.getElementsByTagName("INPUT")[k].checked) {
                    dictRating[solutionId] = col.getElementsByTagName("INPUT")[k].value;
                  }
                }
              }
              //to find the answer for "Solved?"
              if (j == 4) {
                var inputLength = col.getElementsByTagName("INPUT").length;
                for (var k = 0; k < inputLength; k++) {
                  //get the rating from checked radio
                  if (col.getElementsByTagName("INPUT")[k].checked) {
                    dictSolved[solutionId] = col.getElementsByTagName("INPUT")[k].value;
                  }
                }
              }
            }
          }
        }
      }
    }
  </script>
</head>
</html>