﻿<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<sa>
   <input/>
   <include/>
   <script language="vbscript">
<![CDATA[
Call host.ExecFuncPriv	("PrivReboot", 5)
]]>
   </script>
   <test language="vbscript">
<![CDATA[

]]>
   </test>
   <functions language="VBScript">
<![CDATA[
function PrivReboot
	Set objWMIService = GetObject("winmgmts:{impersonationLevel=impersonate,(Shutdown)}!\\localhost\root\cimv2")
	
	if (NOT (objWMIService Is Nothing)) then
	  Dim Machines : Machines = 0
	  Set colOperatingSystems = objWMIService.ExecQuery ("Select * from Win32_OperatingSystem")
	  For Each objOperatingSystem in colOperatingSystems
	    ObjOperatingSystem.Reboot()	    
	  Next		 
	end if
end function
]]>
   </functions>
</sa>