<div id="snapin_firstrun">
  <div id="frcolumnmain">

    <div id="snapin_firstrun_content">

    </div>

  <div id="snapin_firstrun_buttons" class="buttonarea">
    <input type="image" hidefocus=true  alt="<%= $ss.agentcore.utils.LocalXLate('snapin_firstrun','cl_fr_back_button') %>" src="%LSKINPATH%/buttons/%LANGCODE%/btn_back.gif" id="prevbutton">
    <input type="image" hidefocus=true alt="<%= $ss.agentcore.utils.LocalXLate('snapin_firstrun','cl_fr_next_button') %>" src="%LSKINPATH%/buttons/%LANGCODE%/btn_next.gif" id="nextbutton" class="nextbutton">
  </div>
  </div>
</div>
