@charset "utf-8";
/* CSS Document */

p {
  margin: 0 0 1.5em;
  padding: 0;
}

a {
  color: #9c3;
  text-decoration: none;
}

.starRating:not(old) {
  display: inline-block;
  width: 7.5em;
  height: 1.5em;
  overflow: hidden;
  vertical-align: bottom;
}

.starRating:not(old) > input {
  margin-right: -100%;
  opacity: 0;
}    

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before {
  opacity: 1;
}

.surveydiv {
  height: 390px;
  font-size: 11px;
  font-weight: normal;
  color: #282828;
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 10px;
  padding-top: 0px;
  overflow: auto;
}

.alternatelisttable {
  vertical-align: top;
  color: #282828;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 1%;
  margin-left: 1%;
  border-collapse: collapse;
}

.tableheader {
  text-align: center;
  font-weight:normal !important;
  background-color: #160C0C !important;
  color: #fff;
  height:20px;
  font-size: 13px;
  margin-top: 0px;
  font-weight: bold;
}

.tablerow {
    height: auto;
    font-size: 14px;
    border: 1px solid #D6DBDF;
}

.alternatelisttable .tablerow .column1 {
  width: 5%;
  border: 1px solid #D6DBDF;
  border-collapse: collapse;
  text-align: center;
}

.alternatelisttable .tablerow .column2 {
  width: 45%;
  border: 1px solid #D6DBDF;
  border-collapse: collapse;
  text-align: left;
  padding-left: 3px;
}

.alternatelisttable .tablerow .column3 {
  width: 20%;
  border: 1px solid #D6DBDF;
  border-collapse: collapse;
  text-align: center;
}

.alternatelisttable .tablerow .column4 {
  width: 10%;
  border: 1px solid #D6DBDF;
  border-collapse: collapse;
  text-align: center;
}

.alternatelisttable .tablerow .column5 {
  width: 20%;
  border: 1px solid #D6DBDF;
  border-collapse: collapse;
  text-align: center;
}

.submitsection {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 10px;
  padding-top: 0%;
}

.brand_button {
  background-color: #160C0C !important;
  font-family: Segoe UI, Arial;
  font-style: bold;
  color: #fff;
  width: 30%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 180px;
}

.textstyle {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom:5px;
}

.ticket_button {
  background-color: #160C0C !important;
  font-family: Segoe UI, Arial;
  font-style: bold;
  color: #fff;
  width: 30%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 150px;
}

.ticketsuccess {
  font-size: 14px;
  color: red;
  word-wrap: break-word;
  vertical-align: top;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 3%;
  margin-left: 2%;
  border-collapse: collapse;
}

.ticketdiv {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 10px;
  padding-top: 0px;
  height: 50px;
  overflow: auto;
}