﻿<%

  var _oConfig = $ss.agentcore.dal.config;

  var bMac = $ss.agentcore.utils.IsRunningInMacMachine();  

  var sPrefUrl = _oConfig.GetConfigValue("preconfigured_snapin_url", "preferences", "/pref");

  var sAbtUsUrl = _oConfig.GetConfigValue("preconfigured_snapin_url", "aboutus", "/about");

  var sChatUrl = _oConfig.GetConfigValue("preconfigured_snapin_url", "chat", "/chat");

  var sSearchUrl = _oConfig.GetConfigValue("preconfigured_snapin_url", "search", "/search");

  var sAgentBinPath = _oConfig.GetConfigValue("global", "product_path");

  var bDisableNav = data["disableNav"];

  //ToDo (Logesh): Fix below code of disabling and enabling the navigate class

  var sMenuClass = "navigate"; //(bDisableNav) ? "navigate" : "";

  //get config length to set maxlength for search text box

  var iSearchLength = _oConfig.GetConfigValue("searchconfig", "search_length");

  _oConfig = null;

%>

<nav id="idTopStaticNav" class="navbar navbar-default panel-widget-body-ss" role="navigation">

  <div class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-left">

      <li id="logo">

        <span>

          <img src="<%=$ss.GetLayoutSkinPath()%>\\layout\\images\\logo.png">

        </span>

      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">

       <div class="btn-group btn-group-sm" role="group" aria-label="Window Menu">

        <button id="idTitleMinimizeButton" type="button" title="%LOCG:glb_header_minimize%" class="btn btn-default"><strong>_</strong></button>

        <button id="idTitleCloseButton" type="button" title="%LOCG:glb_header_close%" class="btn btn-danger"><strong>x</strong></button>

      </div>

    </ul>

   

    <ul class="nav navbar-nav navbar-right">

      <% if(NavigationController.IsUrlValid(sSearchUrl)) { %>

        <li class="back2search">

          <div id="backToSearch">

            <button id="back-to-Search" class="btn btn-primary-ss" title="%LOCG:glb_tooltip_back2search%" type="button" >

              <i class="fa fa-history" aria-hidden="true"></i>

            </button>

          </div>

        </li>

              <% if(!bMac){%>

        <li id="custom-search-input" class="sidebar-search" style="padding:10px">

       <!--   NOTE : if "width:590px" of Search text box is updated with new value then we also need to update width property defined for ".autocomplete-suggestions" class in core.css file accordingly so that autocomplete div width will be proper in UI -->

          <div class="input-group" style="width:520px !important;">

           <input type="text" name="search-text" id="search-text" class="form-control" maxlength="<%=iSearchLength%>" placeholder="%LOCG:ss_glb_default_search-text%" />

           <div id="container"> </div>

           <span id="idClearIcon" class="hideClearIcon">&times;</span>

            <span class="input-group-btn">

              <button id="search-btn" class="btn btn-primary-ss navigate" title="%LOCG:glb_tooltip_search%" type="button">

                <i class="fa fa-search" aria-hidden="true"></i>

              </button>

            </span>

          </div> 

        </li> 

<% } %>

        &nbsp;&nbsp;

      <% } %>

<% if(!bMac){ %>
      <% if(NavigationController.IsUrlValid(sChatUrl)){%>

      <button type="button" id="chatOverlay" class="launch-modal chatWidget" data-toggle="popover" data-placement="bottom">

        <img height="30" width="30" id="chatImg" title="%LOCG:glb_tooltip_chat%" src="<%=$ss.GetLayoutSkinPath()%>\\icons\\chat_offline.png">

      </button>

      <% }%>
<% } %>
      &nbsp;&nbsp;&nbsp;

      <% if(NavigationController.IsUrlValid(sPrefUrl)) { %>

        <li id="idTitlePreferencesButton">

        <div id="prefIcon">

          <a href="#" class="<%= sMenuClass %>" data-tooltip url="/pref" id="menu_preference" title="%LOCG:glb_lbl_preference%">

            <i class="fa fa-gear" style="font-size:26px;color:grey;" aria-hidden="true"></i>

          </a>

        </div>

        </li>

      <% } %>

     

      <% if(NavigationController.IsUrlValid(sAbtUsUrl)) { %>

        <!-- ToDo (Logesh): seems to be this "idTitleContactButton" is wrong as it is about us not Contact us (Get Assistance snapin) -->

        <li id="idTitleContactButton"><a href="#" class="<%= sMenuClass %>" id="menu_about" title="%LOCG:glb_lbl_aboutus%"><span class="fa fa-question" aria-hidden="true"></a></li>

      <% } %>

    </ul>

  </div>

</nav>