<% 
  var navd = data["navdata"];
  var headerItems = data["header"];
  var currentPath = data["cUrl"];
  var disableNav = data["disableNav"];

  //This will modify the classes of Header Section Accordingly
  for(var headerItem in headerItems) {
    var x =0;
    var nodeId=headerItems[headerItem].nodeId;
    var MenuC=headerItems[headerItem].MenuCss;
    var urlPath=headerItems[headerItem].url;

    //ToDo: Optmize the below code
    if(disableNav === true) {
      //ToDo (Logesh): Need to disable links (may be hide it or remove anchor tag or Navigate class then add it accordingly later)
      //$("#" + nodeId).removeClass().addClass(MenuC+"Disable");
    } else if( urlPath === currentPath) {
      $("#" + nodeId).addClass("active");
    } else {
      $("#" + nodeId).removeClass("active");
      //ToDo (Logesh): May be add Navigate class to anchor tag of this child
    }
  }

  var navPowerdByclass = "";
  var buildSyncInfoclass = "";
  if (!isSideBarCollapsed) { 
    buildSyncInfoclass = "build-sync-info-visible"
    navPowerdByclass = "nav-powered-by-visible";
  }

//ToDo (Logesh): Need to implement logic for sub menu (Dropdown nav)

    var _oConfig = $ss.agentcore.dal.config;
    var sRegRoot, sRegKey, providerID, prodName, brandName, sBuild, sBuildVersion, sShowBuildInfo, sUser, sSyncStatus;

    sRegRoot = "HKLM";
    providerID = $ss.agentcore.dal.config.GetProviderID();
    prodName = $ss.agentcore.dal.config.ParseMacros("%PRODUCT%");
    brandName = $ss.agentcore.dal.config.ParseMacros("%BRANDNAME%");
    sUser = $ss.agentcore.dal.config.ExpandSysMacro("%USER%");
    sRegKey = "Software\\SupportSoft\\ProviderList\\" + providerID + "\\SubAgent\\" + prodName;

    sBuild = $ss.agentcore.dal.registry.GetRegValue(sRegRoot, sRegKey, "BuildInstalled");
    sShowBuildInfo = $ss.agentcore.dal.registry.GetRegValue(sRegRoot, sRegKey, "ShowBuildInfo");
    sRegKey="Software\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\" + brandName + "_is1";
    sBuildVersion = $ss.agentcore.dal.registry.GetRegValue(sRegRoot, sRegKey, "DisplayVersion");
    var sUrl = _oConfig.GetConfigValue("preconfigured_snapin_url", "preferences", "/pref");
    
    var bTempSyncStatus = "1";
    setTimeout("$ss.helper.CheckSync();", 5);
    var bSyncSuccessAndOnline = $ss.helper.CheckSyncStatus();
    var sSyncUpdate = "display:none;";
    var sSyncOffline = "display:none;";
    var sSyncError = "display:none;";
    if (bSyncSuccessAndOnline === "1")  sSyncUpdate = "display:block;";
    else if (bSyncSuccessAndOnline === "2") sSyncError = "display:block;";
    else  sSyncOffline = "display:block;";
    
    var maxLen = _oConfig.GetConfigValue("layout_layout1","maxStringLenToDisp");
%>

<div class="sidebar-nav nav-pills nav-stacked" id="menu">
  <li>
    <a href="#" id="idSideMenuToggle" title="%LOCG:glb_lbl_toggle_menu%"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bars fa-stack-1x" aria-hidden="true"></i></span>&nbsp;</a>
  </li>
    <% if(navd[0]) { %>
      <%
        var iNavLen = navd[0].length;
        for(var i=0; i < iNavLen; i++) {
      %>
        <% if(navd[0][i].selected) { %>
    <li class="active">
        <% } else { %>
    <li>
        <% } %>
        <a href="#" url="<%= navd[0][i].url %>" class="textlinks navigate" title="<%= navd[0][i].title %>"><span class="fa-stack fa-lg pull-left"><i class="<%= navd[0][i].cssClass %>" aria-hidden="true"></i></span><%= _utils.GetTruncatedString(navd[0][i].title, maxLen) %></a>
    </li>
      <% } %>
    <% } %>

    <!--GS Customization Start: Display sync and build details on Navigation page -->
    <div id="buildSyncInfo" class="navbar-fixed-bottom build-sync-info <%=buildSyncInfoclass%>">
      <span style="padding-left:35%;">
        <i class="fa fa-university fa-5x" aria-hidden="true"></i><br />
            <span style="padding-left:30%;">%LOCG:glb_lbl_redifined%</span>
      </span>
        <%
        if (sShowBuildInfo.toLowerCase() === "yes") { %>
          <div style="display:block;">
        <% } else { %>
            <div style="display:none;">
        <% } %>
                <div class="nav-version"><span title="%LOCG:ss_glb_build_version%">%LOCG:ss_glb_build_version% - <%= sBuildVersion %> (<%= sBuild %>)</span></div>
            </div>
            <div id="SyncStatus" class="nav-SyncStatus">
              <span style="<%= sSyncUpdate %>" id="TabOnline" style="cursor:pointer;" title="%LOCG:ss_glb_sync_status%" url="<%= sUrl %>" scategory="tab_snapin_sync_status" class="textlinks navigate">
                <span class="fa-stack" style="cursor:pointer;">
                  <i style="color:#xe221" class="icon-fa-check-circle-01 fa-2x" aria-hidden="true" align="absmiddle" title="%LOCG:ss_glb_sync_status_click%"></i>
                </span>
                &nbsp;&nbsp;<span style="cursor:pointer;">%LOCG:ss_glb_Update%</span>
              </span>
              <span style="<%= sSyncError %>" id="TabError" style="cursor:pointer;" title="%LOCG:ss_glb_sync_status%" url="<%= sUrl %>" scategory="tab_snapin_sync_status" class="textlinks navigate">
                <span class="fa-stack" style="cursor:pointer;">
                  <i style="color:#FF0000" class="icon-fa-times-circle fa-2x" aria-hidden="true" align="absmiddle" title="%LOCG:ss_glb_sync_status_click%"></i>
                </span>
                &nbsp;&nbsp;<span style="cursor:pointer;">%LOCG:ss_glb_Update%</span>
              </span>
              <span style="<%= sSyncOffline %>" id="TabOffline">
                <span class="fa-stack">
                  <i style="color:#xe221" class="icon-customeron fa-2x" aria-hidden="true"></i>
                </span>                    
                %LOCG:ss_glb_offline%
              </span>
            </div>
          </div>
        <!--GS Customization End -->

  <div id="poweredBy" class="navbar-fixed-bottom nav-powered-by <%=navPowerdByclass%>">   
      <span class="powered_By">%LOCG:ss_glb_PoweredBy%</span>  
      <img src="<%=$ss.GetLayoutSkinPath()%>\\icons\\powered_by.png">    
  </div>
</div>
<%
  var navd = null;
  var headerItems = null;
  var currentPath = null;
%>