<div id="snapin_alert">
  <% var _config = $ss.agentcore.dal.config;
     var _utils = $ss.agentcore.utils;
     var alertList = data["alerts"];
     var iMaxTitleLen = _config.GetConfigValue("snapin_alert", "max_title_len_for_detailpage", "40");
   var sUrl = $ss.agentcore.dal.config.GetConfigValue("preconfigured_snapin_url", "subagent_alerts", "/sa/alert");
  %>
  <div id="alertsContent">
    <div class="cell-header"><span class="tab-menu-header"><%= _utils.LocalXLate("snapin_alert","snp_alert_lbl_alert") %><br></span></div><br>
    <div class="panel-parent-header-ss-d">
      <i><%= _utils.LocalXLate("snapin_alert","snp_alert_lbl_alert_message") %></i>
    </div>
    <div id="alertBody" class="panel-widget-body-ss">
    <%
      if (alertList.length <= 0) {
    %>
      <span class="list-group-item"><%= _utils.LocalXLate("snapin_alert","snp_alert_lbl_no_alert")%></span>
    <%
      } else {
    %>
      <div class="panel-group scroll-auto" id="accordion" >
    <% for(var i=0; i < alertList.length; i++) { %>
        <div class="panel panel-default-ss" id="alertDiv">
          <div class="panel-heading" id="alert_title">
            <div class="panel-title" >
              <a data-toggle="collapse" data-parent="#accordion" href="#panelContent_<%= alertList[i].cid %>" class="aleartlinks<%= i==0 ? "CK" : "" %> snpAlertClass" id="<%= alertList[i].cid %>" ctype="<%= alertList[i].ctype %>" verid="<%= alertList[i].version %>">
                <%= TruncateExtraChars(alertList[i].title, iMaxTitleLen) %>
              </a>
            </div>
          </div> <!-- #panel-heading -->
          <div id="panelContent_<%= alertList[i].cid %>" class="collapse">
            <iframe id="snapin_alerts_content_<%= alertList[i].cid %>" style="width:100%" frameborder=0 ></iframe>
          </div> <!-- #panelContent -->
          <div id="alert_date" class="small-link-Font">
            <i><%= alertList[i].received %></i>
          </div>
        </div> <!-- #panel panel-default -->
    <% }
      }%>
      </div> <!-- #panel-group -->
    </div><!-- alertBody -->
    <br/>
    <a href="#" id="scriptActionViewAllAlert" url="<%= sUrl%>" class="btn btn-primary-ss btn-sm navigate pull-right"><%= _utils.LocalXLate("snapin_alert","snp_alert_view_all") %></a>
  </div> <!-- #alertsContent -->
</div> <!-- #snapin_alert -->