<div id="snapin_alert" class="col-sm-6 col-md-6 col-lg-6 col-6-ss">
  <% var _config = $ss.agentcore.dal.config;
     var _utils = $ss.agentcore.utils;
     var alertList = data["alerts"];
  %>
  <div class="panel-default-ss row-box-shadow">
    <div class="panel-heading panel-dashboard-header-ss">
      <span class="icon-bell"></span>
      <%= _utils.LocalXLate("snapin_alert","snp_alert_widget_lbl_alert")%>
      <span class="dashboardWidgetCount"> (<%=alertList.length%>)</span>  
    </div>
    <div class="panel-widget-body-ss alertcontainerbody">
      <div>
        <% var iMaxTitleLen = _config.GetConfigValue("snapin_alert", "maxStringLenToDispForWidget", "30");
          var rowcount = 0;
          if(alertList.length > 0){
            for(var i=0; i < alertList.length ; i++) { 
              rowcount = rowcount + 1;
              if(rowcount < 4){ %>
                <div class="row dashboardrow">
                  <span class="col-xs-2 icon-bell dashboardcontenticon"></span>
                  <span class="col-xs-9 dashboardcontenttitle" align="left"><a  hidefocus="true" href="#" class="navigate atitle" title="<%=alertList[i].title%>" id="<%= alertList[i].cid %>" url="<%= _config.GetConfigValue("preconfigured_snapin_url","subagent_alert") %>?snp_alertguid=<%= alertList[i].cid %>" verid="<%= alertList[i].version %>"><%= _utils.GetTruncatedString(alertList[i].title,iMaxTitleLen) %></a></span>                
                </div>
 <%             }%>
          <%}%>
        <%}else{ %>
          <div class="WidgetNoContentDiv">
            <span class="fa fa-bell WidgetNoContentIcon" style="font-size:80pt;"></span><br />
            <span class="WidgetNoContentText"><%= _utils.LocalXLate("snapin_alert","snp_alert_lbl_no_alert") %></span>
          </div>
        <% } %>
        <%if(rowcount >= 4){%>
          <%if(alertList.length > 0){ %>
              <a hidefocus="true" href="#" id="scriptActionViewAllAlert" class="more navigate" url="<%= _config.GetConfigValue("preconfigured_snapin_url", "subagent_alert", "") %>" data-tooltip title="%LOCL:snp_alert_more_txt%" >
              <span  style="margin-right:15px;" class="pull-right panel-widget-more-ss"><i class="fa fa-chevron-circle-down"></i></span>
            </a>
          <% }%> 
      <%}%>        
      </div>

    </div>
  </div>
</div>