.pactionlist{
  padding-top:10px;
  height:40px;
  border-bottom1:1px solid grey;
  text-align:left;
  align:left; color:#707070;
}

#snapin_manage_ticket .row{
  border-bottom: 1px solid #ccc;
}

.ellipsis {
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#manageticketsbg .content {
  padding:6px;
  padding-top: 0px;
	width:721px;
	height:420px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	background-color:#fff;
}

#manageticketsbg .content form {
	margin:0px;
	padding:0px;
}

#manageticketsbg .content .head {
  width:620px;
  display:inline;
  height: 35px;
  font-size:13px;
}

#manageticketsbg .content .head .left {
 float:left;
}

#manageticketsbg .content .head .right {
	float:right;
}

#manageticketsbg .content .head .right .createticket {
  padding:5px;
  margin:5px;
  background-color:#282828;
  color:#FFF;
  height: 25px;
}

#manageticketsbg .content .rowone {
	background-color  :#FFFFFF;
	padding-left:5px;
}

#manageticketsbg .content .rowtwo {
  width:70px;
  overflow:hidden;
  padding-top: 5px;
  background-color:#eee;
}
#manageticketsbg .content .listTableHeader {
	margin-top:14px;
	font-weight:bold;
	background-color:#282828;
	border:1px solid #000;
	height:25px;
  color:#FFF;
}

#manageticketsbg .content .listTableHeader .ticketid {
	text-align:left;
	text-align:center;
  width:170px;
}

#manageticketsbg .content .listTableHeader .ticketstatus {
	text-align:left;
  text-align:center;
	width:70px;
}

#manageticketsbg .content .listTableHeader .ticketAssignee {
	text-align:left;
  text-align:center;
	width:100px;
}

#manageticketsbg .content .listTableHeader .ticketdetails{
	text-align:left;
	padding-left:250px;
}

#manageticketsbg .content .listTableHeader .end {
	color:#3F3F3F;
}

#manageticketsbg .content .itemsareabg {
	height:385px;
	background-color:#FFF;
	border: 1px solid #282828;
	border-top:none;
}

#manageticketsbg .content .itemsscrollarea {
	height:382px;
	overflow:scroll;
	overflow-x: hidden;
	margin-right:0px;
}

#manageticketsbg .content .downloadsareabg {
	height:295px;
	margin-right:0px;
	margin-left:0px;
	background-color:#FFFFFF;
}

#manageticketsbg .content .downloadsscrollarea {
	height:320px;
	overflow:auto;
	margin-right:0px;
}

#manageticketsbg .content .listTable {
  width:710px;
  color: #282828;
}

#manageticketsbg .content .listTable .id {
  width:170px;
  overflow:hidden;
  text-align:center;
  padding-top: 5px;
}

#manageticketsbg .content .listTable .id a {
  color:#282828;
}

#manageticketsbg .content .listTable .Assignee {
  width:100px;
  overflow:hidden;
  text-align:center;
}

#manageticketsbg .content .listTable .status {
  width:70px;
  overflow:hidden;
  text-align:center;
  padding-top: 5px;
}

#manageticketsbg .content .listTable .detail {
	font-weight: normal;
	color: #282828;
	text-decoration: none;
}

#manageticketsbg .content .listTable .idnone {
  border-bottom:none;
}

#manageticketsbg .content .listTable .statusnone {
  border-bottom:none;
}

#manageticketsbg .content .listTable .detailnone {
  border-bottom:none;
}

#manageticketsbg .content .listTable .detail div {
	display:block;
	padding-bottom:2px;
	padding-right:2px;
}

#manageticketsbg .content .listTable .detail div span {
	float:left;
	font-weight: normal;
	color: #282828;
	text-decoration: none;
}

#manageticketsbg .content .listTable .detail div span a {
	float:left;
	font-size: 12px;
	font-weight: bold;
	color: #282828;
	text-decoration: none;
}

#manageticketsbg .content .listTable .detail div .more {
	width:49px;
	height:14px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	float:right;
	background-color:#282828;
	text-align:center;
	margin:2px;
}

#manageticketsbg .content .listTable .detail div .more:hover {
  color: #FFF;
}

#manageticketsbg .content .listTable .detail .display .entry {
	height: 20px; padding-left:15px;
}

#manageticketsbg .content .listTable .detail .display .entry span {
	font-weight: bold;
	width: 120px;
	float:left;
}

#manageticketsbg .content .listTable .detail .display .entry .logs {
	height: 50px;
}

#manageticketsbg .content .listTable .detail .display .entry .logdata {
	height: 50px;
	overflow:auto;
	overflow-x:hidden;
	border: 1px solid #282828;
}

#manageticketsbg .content .listTable .detail .form .entry {
	height: 30px;
}

#manageticketsbg .content .listTable .detail .form .entry span {
	font-weight: bold;
	width: 120px;
	float:left;
	padding-top:5px;
	padding-left:10px;
}

#manageticketsbg .content .listTable .detail div span a:hover {
	color: #000;
}

#manageticketsbg .content .listTable .detail p {
  padding-bottom: 0px;
}

#manageticketsbg .content .listTable .detail p .category {
  padding-bottom: 0px;
}

#manageticketsbg .content .listTable .detail a {
	color: #282828;
}

#manageticketsbg .content .listTable .detail a:hover
{
  color: #282828;
}

#manageticketsbg #idProcessing{
  top:45%;
  width:100%;
  position:absolute;
  text-align:center;
  font-size:x-Large;
  color:#282828;
}

#manageticketsbg #selectcategory,
#manageticketsbg input,
#manageticketsbg textarea
{
  border: 1px solid #282828;
}
#snapin_manage_ticket .icon-user{
font-size:2em !important;
color:#1284c7;
}

.icon-workstation
{
  font-size:2.2em;
  color:#1284c7;
}

.tickets_margin10{
  margin-left:10px;
}

.tickets_width{
  width:752px;
}

.tickets_activitylog{
  word-wrap: break-word;
  width:517px;
}

.tickets_divscrollarea_height{
  height:440px;
  overflow:auto;
}

.tickets_divscrollarea_overflow{
  overflow:auto;
}

.tickets_divscrollarea_width{
  width:440px;
}

.ticket_createform_dropdown{
  width:50%;
  border-radius:0px;
}
.ticket_createform_inputfields{
  width:100%;
  border-radius:0px;
}
.tickets_padding10{
  padding-top:10px;
}

.tickets_subheader{
  background-color:#EDEDED;
  color:#707070
}

.tickets_display_block{
  display:block;
}
.ticket_display_none{
  display:none;
}

.tickets_width100{
  width:100%;
}

.tickets_margin5{
  margin-left:5px !important;
}

.tickets_border_radius0{
  border-radius:0px;
}
.icon-plus{
  margin-left:5px !important;
}
.tickets_text_align{
  text-align:center;
}
.tickets_addicon_color{
 color:white; 
 padding-right:10px !important;
}
.alltickets_count{
  color:white;
}